﻿@model Reelae.Areas.Admin.Models.StudentAssignmentviewModel
@{
    string[] groupBackgrounds = { "bg-blue", "bg - green", " bg-red", "bg-orange", "bg-purple", "bg-blue-sky" };
}
<div class="modal" id="StudentAssignmentsModel" tabindex="-1" role="dialog" aria-labelledby="StudentAssignmentsModelLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="material-icons">clear</i></button>
                <h4 class="modal-title" id="StudentAssignmentsModelLabel">Student Assignments</h4>
            </div>
            <div class="modal-body">
                <div class="col-sm-10 col-sm-offset-1" style="margin: 0 auto; float: none;">
                    <div class="form-group">
                        <label for="">Select subject</label>
                        <div class="clearfix"></div>
                        <div id="Assignthumbcarousel" class="carousel slide" data-interval="false">
                            <div class="carousel-inner">
                                @if (Model.Subjects.Count() > 0)
                                {
                                <div class="item active">
                                    <div class="row">
                                        @for (int i = 0; i < Model.Subjects.Count(); i++)
                                            {
                                            <div class="col-xs-4 text-center">
                                                <img src="~/content/images/sub2.jpg" class="img-responsive dis-in-img">
                                                <div class="clearfix"></div>
                                                <span class="subject_txt">@Model.Subjects.ElementAt(i).SubjectName</span>
                                            </div>
                                            }
                                        <!-- /item -->
                                    </div>
                                </div>
                                }
                                <!-- /carousel-inner -->
                                <a class="left carousel-control" href="#thumbcarousel" role="button" data-slide="prev"> <span class="material-icons">keyboard_arrow_left</span> </a> <a class="right carousel-control" href="#thumbcarousel" role="button" data-slide="next"> <span class="material-icons">keyboard_arrow_right</span> </a>
                            </div>
                        </div>
                    </div>
                    <div class="gap_20"></div>
                    <div class="form-group">
                        <label for="">Select group</label>
                        <div class="clearfix"></div>
                        <select id="ddlSAssignGroups" class="selectpicker form-control">
                            @if (Model.Groups.Count() > 0)
                            {
                                int _index = 0;
                                foreach (var _Group in Model.Groups)
                                {
                                    if (groupBackgrounds.Length > 0)
                                    {
                                        if (_index == groupBackgrounds.Length - 1)
                                        {
                                            _index = 0;
                                        }
                                        else
                                        {
                                            _index++;
                                        }
                                        <option value="@_Group.GroupID" data-content="<span class='group_icn @groupBackgrounds[_index]'></span> @_Group.GroupName"></option>
                                    }
                                    else
                                    {
                                        <option value="@_Group.GroupID" data-content="<span class='group_icn @groupBackgrounds[_index]'></span> @_Group.GroupName"></option>
                                    }

                                }
                            }
                        </select>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <a href="#!" data-dismiss="modal" onclick="OnStudentAssignmentNext()" class="modal-footer close">
                Next Step
                <div class="clearfix"></div>
            </a>
        </div>
    </div>
</div>
<div class="modal" id="StudentAssignmentsModelStep2" tabindex="-1" role="dialog" aria-labelledby="StudentAssignmentsModelStep2Label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="material-icons">clear</i></button>
                <h4 class="modal-title" id="StudentAssignmentsModelStep2Label">Student Assignments</h4>
            </div>
            <div class="modal-body">
                <div id="assignlstContainer" class="mrg-lr_15">

                </div>
                <div class="clearfix"></div>
            </div>
            <a href="#!" data-toggle="modal" class="modal-footer">
                Finish
                <div class="clearfix"></div>
            </a>
        </div>
    </div>
</div>
