﻿@model IEnumerable<Reelae.Areas.Admin.Models.StudentAssignmentInfoViewModel>
@{
    string[] assignmentStatusClassess = { "btn_green", "btn_red", "btn_org", "btn_green" };

}
<table class="table">
    <thead>
        <tr>
            <th>Assignments</th>
            <th>Status</th>
            <th>Mark submission</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Count() > 0)
        {
            foreach (var assignmentInfo in Model)
            {
                <tr>
                    <td>
                        @assignmentInfo.Name
                        <div class="clearfix"></div>
                        <small class="txt_lgry">@assignmentInfo.Title</small>
                    </td>
                    <td class="pos-rel t-min-w_150"><a href="#!" class="sm_btn @assignmentStatusClassess[(int)assignmentInfo.Status] mrg_t-4">@Enum.GetName(typeof(Reelae.Areas.Admin.Models.AssignmentStatus), assignmentInfo.Status)</a></td>
                    <td>
                        <div class="form-group switch_green">
                            <label>
                                @if (assignmentInfo.IsSubmitted)
                                {
                                    <input type="checkbox" class="js-switch" checked />
                                }
                                else
                                {
                                    <input type="checkbox" class="js-switch" />
                                }
                            </label>
                        </div>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
