﻿@model Reelae.Areas.Admin.Models.StudentAttandanceViewModal
@{
    string[] groupBackgrounds = { "bg-blue", "bg-green", " bg-red", "bg-orange", "bg-purple", "bg-blue-sky" };
}
<div class="modal" id="StudentAttandanceModel" tabindex="-1" role="dialog" aria-labelledby="StudentAttandanceModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="material-icons">clear</i></button>
                <h4 class="modal-title" id="StudentAttandanceModalLabel">Student Attandance</h4>
            </div>
            @using (Ajax.BeginForm("AddStudentAttandance", "Assignments", new { area = "Admin" }, new AjaxOptions { HttpMethod = "Post", OnSuccess = "OnSuccessAddStudentAttandance", OnFailure = "OnFailureAddStudentAttandance", OnBegin = "OnBeginAddStudentAttandance", }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.SubjectID, new { id = "hdnSASubID" })
                @Html.HiddenFor(model => model.AttandanceDate, new { id = "hdnSADate" })
                @Html.HiddenFor(model => model.GroupID, new { id = "hdnSAGrpID" })
                <div class="modal-body">
                    <div class="col-sm-10 col-sm-offset-1" style="margin: 0 auto; float: none;">
                        <div class="form-group">
                            <label for="">Select subject</label>
                            <div class="clearfix"></div>
                            <div id="thumbcarousel" class="carousel slide" data-interval="false">
                                <div class="carousel-inner">
                                    @if (Model.Subjects.Count() > 0)
                                {
                                    <div class="item active">
                                        <div class="row">
                                            @for (int i = 0; i < Model.Subjects.Count(); i++)
                                            {
                                            <div class="col-xs-4 text-center">
                                                <img src="~/content/images/sub2.jpg" class="img-responsive dis-in-img">
                                                <div class="clearfix"></div>
                                                <span class="subject_txt">@Model.Subjects.ElementAt(i).SubjectName</span>
                                            </div>
                                            }
                                            <!-- /item -->
                                        </div>
                                    </div>
                                }
                                    <!-- /carousel-inner -->
                                    <a class="left carousel-control" href="#thumbcarousel" role="button" data-slide="prev"> <span class="material-icons">keyboard_arrow_left</span> </a> <a class="right carousel-control" href="#thumbcarousel" role="button" data-slide="next"> <span class="material-icons">keyboard_arrow_right</span> </a>
                                </div>
                            </div>
                        </div>
                        <div class="gap_20"></div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Select group</label>
                            <div class="clearfix"></div>
                            <select id="ddlSAGroups" class="selectpicker form-control">
                                @if (Model.Groups.Count() > 0)
                                    {
                                        int _index = 0;
                                        foreach (var _Group in Model.Groups)
                                        {
                                            if (groupBackgrounds.Length > 0)
                                            {
                                                if (_index == groupBackgrounds.Length - 1)
                                                {
                                                    _index = 0;
                                                }
                                                else {
                                                    _index++;
                                                }
                                <option value="@_Group.GroupID" data-content="<span class='group_icn @groupBackgrounds[_index]'></span> @_Group.GroupName"></option>
                                        }
                                        else
                                        {
                                <option value="@_Group.GroupID" data-content="<span class='group_icn @groupBackgrounds[_index]'></span> @_Group.GroupName"></option>
                                        }

                                    }
                                }
                            </select>
                        </div>
                        <div class="gap_20"></div>
                        <div class="form-group">
                            <label for="single_cal3">Select subject date and time</label>
                            <div class="clearfix"></div>
                            <div class="control-group">
                                <div class="controls">
                                    <div class="col-md-11 xdisplay_inputx form-group has-feedback">
                                        <input type="text" class="form-control has-feedback-left pop_date" id="stuAttandanceDate" placeholder="Select Date" aria-describedby="inputSuccess2Status3">
                                        <span class="fa fa-calendar form-control-feedback left" aria-hidden="true"></span> <span id="inputSuccess2Status3" class="sr-only">(success)</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>

                    <a href="#!" onclick="validateAddStudentAttandance()" class="modal-footer">
                        Finish
                        <div class="clearfix"></div>
                    </a>
                    <input id="submitAddStudentAttandance" style="display:none;" type="submit" data-toggle="modal" class="modal-footer" value="AddStudentAttandance" />
                </div>
            }
        </div>
    </div>
    <div class="modal" id="modalFinishStudentAttandance" tabindex="-1" role="dialog" aria-labelledby="StudentAttandanceModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="material-icons">clear</i></button>
                    <h4 class="modal-title" id="StudentAttandanceModalLabel">Student attendance</h4>
                </div>
                <div class="modal-body">
                    <div class="col-sm-10 col-sm-offset-1" style="margin: 0 auto; float: none;">
                        <p class="popup_txt">Perfect! Now teacher can interact with students attendance in his dashboard.</p>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

