﻿@model Reelae.Areas.Admin.Models.ViewSubmissionsAdminModel
@{
    ViewBag.Title = "StudentAssignments";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
@section head{
    <script>
        $(function(){
            $('#example').DataTable({
                "scrollY": "200px",
                "scrollCollapse": true,
                "paging": false
            });
        });
    </script>
}
@section InstitueName{
    <a href="#!" onclick="OpenDashboardStyleModal()">
        @if (Model.userInfo.Institution.Logo != null && Model.userInfo.Institution.Logo != "")
        {
            <img src="@Model.userInfo.Institution.Logo" alt="..." class="img-circle img-responsive img_setup">
        }
    </a>
    @if (Model.userInfo.Institution.InstitutionName != "")
    {
        <span id="lbl_instituteName">
            @Model.userInfo.Institution.InstitutionName
        </span>
    }
    else
    {
        <span id="lbl_instituteName">
            SETUP YOUR <br />
            DASHBOARD
        </span>
    }
}
@section userProfile{
    <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
        @if (Model.userInfo.UserPicUrl != null && Model.userInfo.UserPicUrl != "")
        {
            <img src="@Url.Content(Model.userInfo.UserPicUrl)" alt="photo" />
        }
        Hello, @Reelae.Utilities.CommonUtility.ToTitleCase(@Session["Name"].ToString().ToLower()) <span class="fa fa-angle-down"></span>
    </a>

}
<div class="right_col pd_l-0 height_vh t_view_sub" role="main">
    <div class="">
        <div class="col-md-12 col-xs-12 pull-right">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 mrg_t_10 mob-mrg">
                    <div class="dashboard_graph pd_b-0 brd_bottom">
                        <div class="row x_title mrb_b-0">
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="group select_2 tbl_select head_drop">
                                    <div class="mad-select">
                                        <ul>
                                            <li data-value="3 bar">All Groups</li>
                                            <li data-value="1">Group A</li>
                                            <li data-value="2 foo">Group B</li>

                                            <li data-value="4">Group C</li>
                                            <li data-value="6">Group D</li>
                                        </ul>
                                        <input type="hidden" name="myOptions" value="3 bar">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12 text-center lh_30 inn-lh_30 txt_l-blue xs-left"> 3 Submissions </div>
                            <div class="col-md-4 col-sm-4 col-xs-12 text-right xs-left">
                                <div class="search_top">
                                    <i class="material-icons">search</i>
                                    <input type="text" name="" placeholder="Search members...">
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="gap_30"></div>
                <div class="pad_lr-30">
                    <div class="x_panel" style="padding-bottom: 0px;">
                        <div class="x_content">
                            <div class="table-responsive">
                                <table id="example" class="display table table-striped" style="margin-bottom: 50px;">
                                    <thead>
                                        <tr>
                                            <th>Teacher</th>
                                            <th>Assignment</th>
                                            <th style="white-space: nowrap;">Open Date</th>
                                            <th style="white-space: nowrap;">Due Date</th>
                                            <th>Leader</th>
                                            <th>Group</th>
                                            <th>Status</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <ul class="list-unstyled top_profiles scroll-view">
                                                    <li class="media event">
                                                        <a href="javascript:;" class="user-profile pull-left"> <img src="images/im1.jpg" alt=""> </a>
                                                        <div class="media-body">
                                                            <a class="title" href="#" style="padding-top: 8px; display: inline-block;">Hester Morales</a>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </td>
                                            <td>
                                                Theme
                                                <div class="clearfix"></div>
                                                <small class="txt_lgry">Title</small>
                                            </td>
                                            <td style="white-space: nowrap;">29th Jan, 17</td>
                                            <td style="white-space: nowrap;">
                                                13th Nov, 17
                                                <div class="clearfix"></div>
                                                <small class="txt_red">Overdue</small>
                                            </td>
                                            <td>
                                                <ul class="list-unstyled top_profiles scroll-view">
                                                    <li class="media event">
                                                        <a href="javascript:;" class="user-profile pull-left"> <img src="images/img.jpg" alt=""> </a>
                                                        <div class="media-body">
                                                            <a class="title" href="#">Norman Hammond</a>
                                                            <p> <small class="txt_lgry">My Lovely Group</small> </p>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </td>
                                            <td class="t-min-w_205">
                                                <div id="thumbcarousel" class="carousel slide" data-interval="false">
                                                    <div class="carousel-inner" style="padding-left: 0px;">
                                                        <div class="item active">
                                                            <div class="thumb bg_green">ME</div><span style="padding-left: 10px;">My Lovely Group</span>
                                                        </div>
                                                        <!-- /item -->
                                                        <!-- /item -->
                                                    </div>
                                                    <!-- /carousel-inner -->
                                                </div>

                                            </td>
                                            <td class="pos-rel"><a href="#!" class="sm_btn btn_org mrg_t-4">Open</a> </td>
                                            <td>
                                                <a href="#!" class="btn_blue mml-0 min_w-155 text-center">Edit</a>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <ul class="list-unstyled top_profiles scroll-view">
                                                    <li class="media event">
                                                        <a href="javascript:;" class="user-profile pull-left"> <img src="images/im2.jpg" alt=""> </a>
                                                        <div class="media-body">
                                                            <a class="title" href="#" style="padding-top: 8px; display: inline-block;">Hunter Freeman</a>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </td>
                                            <td>
                                                Theme
                                                <div class="clearfix"></div>
                                                <small class="txt_lgry">Title</small>
                                            </td>
                                            <td style="white-space: nowrap;">29th Jan, 17</td>
                                            <td style="white-space: nowrap;">
                                                13th Nov, 17
                                                <div class="clearfix"></div>
                                                <small class="txt_red">Overdue</small>
                                            </td>
                                            <td>
                                                <ul class="list-unstyled top_profiles scroll-view">
                                                    <li class="media event">
                                                        <a href="javascript:;" class="user-profile pull-left"> <img src="images/im5.jpg" alt=""> </a>
                                                        <div class="media-body">
                                                            <a class="title" href="#">Carol Brentson</a>
                                                            <p> <small class="txt_lgry">Neards</small> </p>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </td>
                                            <td class="t-min-w_205">
                                                <div id="thumbcarousel" class="carousel slide" data-interval="false">
                                                    <div class="carousel-inner" style="padding-left: 0px;">
                                                        <div class="item active">
                                                            <div class="thumb bg_orange">N</div><span style="padding-left: 10px;">Neards</span>
                                                        </div>
                                                        <!-- /item -->
                                                        <!-- /item -->
                                                    </div>
                                                    <!-- /carousel-inner -->
                                                </div>

                                            </td>
                                            <td class="pos-rel"><a href="#!" class="sm_btn btn_org mrg_t-4">Open</a> </td>
                                            <td>
                                                <a href="#!" class="btn_blue mml-0 min_w-155 text-center">Edit</a>
                                            </td>
                                        </tr>


                                        <tr>
                                            <td>
                                                <ul class="list-unstyled top_profiles scroll-view">
                                                    <li class="media event">
                                                        <a href="javascript:;" class="user-profile pull-left"> <img src="images/im3.jpg" alt=""> </a>
                                                        <div class="media-body">
                                                            <a class="title" href="#" style="padding-top: 8px; display: inline-block;">Eleanor Jennings</a>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </td>
                                            <td>
                                                Theme
                                                <div class="clearfix"></div>
                                                <small class="txt_lgry">Title</small>
                                            </td>
                                            <td style="white-space: nowrap;">29th Jan, 17</td>
                                            <td style="white-space: nowrap;">
                                                13th Nov, 17
                                                <div class="clearfix"></div>
                                                <small class="txt_red">Overdue</small>
                                            </td>
                                            <td>
                                                <ul class="list-unstyled top_profiles scroll-view">
                                                    <li class="media event">
                                                        <a href="javascript:;" class="user-profile pull-left"> <img src="images/im4.jpg" alt=""> </a>
                                                        <div class="media-body">
                                                            <a class="title" href="#">Jake Ward</a>
                                                            <p> <small class="txt_lgry">Individual Man</small> </p>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </td>
                                            <td class="t-min-w_205">
                                                <div id="thumbcarousel" class="carousel slide" data-interval="false">
                                                    <div class="carousel-inner" style="padding-left: 0px;">
                                                        <div class="item active">
                                                            <div class="thumb bg_blue">IM</div><span style="padding-left: 10px;">Individual Man</span>
                                                        </div>
                                                        <!-- /item -->
                                                        <!-- /item -->
                                                    </div>
                                                    <!-- /carousel-inner -->
                                                </div>

                                            </td>
                                            <td class="pos-rel"><a href="#!" class="sm_btn btn_green mrg_t-4">Pending</a> </td>
                                            <td>
                                                <a href="#!" class="btn_blue mml-0 min_w-155 text-center">Edit</a>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <ul class="list-unstyled top_profiles scroll-view">
                                                    <li class="media event">
                                                        <a href="javascript:;" class="user-profile pull-left"> <img src="images/im3.jpg" alt=""> </a>
                                                        <div class="media-body">
                                                            <a class="title" href="#" style="padding-top: 8px; display: inline-block;">Eleanor Jennings</a>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </td>
                                            <td>
                                                Theme
                                                <div class="clearfix"></div>
                                                <small class="txt_lgry">Title</small>
                                            </td>
                                            <td style="white-space: nowrap;">29th Jan, 17</td>
                                            <td style="white-space: nowrap;">
                                                13th Nov, 17
                                                <div class="clearfix"></div>
                                                <small class="txt_red">Overdue</small>
                                            </td>
                                            <td>
                                                <ul class="list-unstyled top_profiles scroll-view">
                                                    <li class="media event">
                                                        <a href="javascript:;" class="user-profile pull-left"> <img src="images/im4.jpg" alt=""> </a>
                                                        <div class="media-body">
                                                            <a class="title" href="#">Jake Ward</a>
                                                            <p> <small class="txt_lgry">Individual Man</small> </p>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </td>
                                            <td class="t-min-w_205">
                                                <div id="thumbcarousel" class="carousel slide" data-interval="false">
                                                    <div class="carousel-inner" style="padding-left: 0px;">
                                                        <div class="item active">
                                                            <div class="thumb bg_blue">IM</div><span style="padding-left: 10px;">Individual Man</span>
                                                        </div>
                                                        <!-- /item -->
                                                        <!-- /item -->
                                                    </div>
                                                    <!-- /carousel-inner -->
                                                </div>

                                            </td>
                                            <td class="pos-rel"><a href="#!" class="sm_btn btn_green mrg_t-4">Pending</a> </td>
                                            <td>
                                                <a href="#!" class="btn_blue mml-0 min_w-155 text-center">Edit</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <ul class="list-unstyled top_profiles scroll-view">
                                                    <li class="media event">
                                                        <a href="javascript:;" class="user-profile pull-left"> <img src="images/im3.jpg" alt=""> </a>
                                                        <div class="media-body">
                                                            <a class="title" href="#" style="padding-top: 8px; display: inline-block;">Eleanor Jennings</a>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </td>
                                            <td>
                                                Theme
                                                <div class="clearfix"></div>
                                                <small class="txt_lgry">Title</small>
                                            </td>
                                            <td style="white-space: nowrap;">29th Jan, 17</td>
                                            <td style="white-space: nowrap;">
                                                13th Nov, 17
                                                <div class="clearfix"></div>
                                                <small class="txt_red">Overdue</small>
                                            </td>
                                            <td>
                                                <ul class="list-unstyled top_profiles scroll-view">
                                                    <li class="media event">
                                                        <a href="javascript:;" class="user-profile pull-left"> <img src="images/im4.jpg" alt=""> </a>
                                                        <div class="media-body">
                                                            <a class="title" href="#">Jake Ward</a>
                                                            <p> <small class="txt_lgry">Individual Man</small> </p>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </td>
                                            <td class="t-min-w_205">
                                                <div id="thumbcarousel" class="carousel slide" data-interval="false">
                                                    <div class="carousel-inner" style="padding-left: 0px;">
                                                        <div class="item active">
                                                            <div class="thumb bg_blue">IM</div><span style="padding-left: 10px;">Individual Man</span>
                                                        </div>
                                                        <!-- /item -->
                                                        <!-- /item -->
                                                    </div>
                                                    <!-- /carousel-inner -->
                                                </div>

                                            </td>
                                            <td class="pos-rel"><a href="#!" class="sm_btn btn_green mrg_t-4">Pending</a> </td>
                                            <td>
                                                <a href="#!" class="btn_blue mml-0 min_w-155 text-center">Edit</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <ul class="list-unstyled top_profiles scroll-view">
                                                    <li class="media event">
                                                        <a href="javascript:;" class="user-profile pull-left"> <img src="images/im3.jpg" alt=""> </a>
                                                        <div class="media-body">
                                                            <a class="title" href="#" style="padding-top: 8px; display: inline-block;">Eleanor Jennings</a>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </td>
                                            <td>
                                                Theme
                                                <div class="clearfix"></div>
                                                <small class="txt_lgry">Title</small>
                                            </td>
                                            <td style="white-space: nowrap;">29th Jan, 17</td>
                                            <td style="white-space: nowrap;">
                                                13th Nov, 17
                                                <div class="clearfix"></div>
                                                <small class="txt_red">Overdue</small>
                                            </td>
                                            <td>
                                                <ul class="list-unstyled top_profiles scroll-view">
                                                    <li class="media event">
                                                        <a href="javascript:;" class="user-profile pull-left"> <img src="images/im4.jpg" alt=""> </a>
                                                        <div class="media-body">
                                                            <a class="title" href="#">Jake Ward</a>
                                                            <p> <small class="txt_lgry">Individual Man</small> </p>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </td>
                                            <td class="t-min-w_205">
                                                <div id="thumbcarousel" class="carousel slide" data-interval="false">
                                                    <div class="carousel-inner" style="padding-left: 0px;">
                                                        <div class="item active">
                                                            <div class="thumb bg_blue">IM</div><span style="padding-left: 10px;">Individual Man</span>
                                                        </div>
                                                        <!-- /item -->
                                                        <!-- /item -->
                                                    </div>
                                                    <!-- /carousel-inner -->
                                                </div>

                                            </td>
                                            <td class="pos-rel"><a href="#!" class="sm_btn btn_green mrg_t-4">Pending</a> </td>
                                            <td>
                                                <a href="#!" class="btn_blue mml-0 min_w-155 text-center">Edit</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <ul class="list-unstyled top_profiles scroll-view">
                                                    <li class="media event">
                                                        <a href="javascript:;" class="user-profile pull-left"> <img src="images/im3.jpg" alt=""> </a>
                                                        <div class="media-body">
                                                            <a class="title" href="#" style="padding-top: 8px; display: inline-block;">Eleanor Jennings</a>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </td>
                                            <td>
                                                Theme
                                                <div class="clearfix"></div>
                                                <small class="txt_lgry">Title</small>
                                            </td>
                                            <td style="white-space: nowrap;">29th Jan, 17</td>
                                            <td style="white-space: nowrap;">
                                                13th Nov, 17
                                                <div class="clearfix"></div>
                                                <small class="txt_red">Overdue</small>
                                            </td>
                                            <td>
                                                <ul class="list-unstyled top_profiles scroll-view">
                                                    <li class="media event">
                                                        <a href="javascript:;" class="user-profile pull-left"> <img src="images/im4.jpg" alt=""> </a>
                                                        <div class="media-body">
                                                            <a class="title" href="#">Jake Ward</a>
                                                            <p> <small class="txt_lgry">Individual Man</small> </p>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </td>
                                            <td class="t-min-w_205">
                                                <div id="thumbcarousel" class="carousel slide" data-interval="false">
                                                    <div class="carousel-inner" style="padding-left: 0px;">
                                                        <div class="item active">
                                                            <div class="thumb bg_blue">IM</div><span style="padding-left: 10px;">Individual Man</span>
                                                        </div>
                                                        <!-- /item -->
                                                        <!-- /item -->
                                                    </div>
                                                    <!-- /carousel-inner -->
                                                </div>

                                            </td>
                                            <td class="pos-rel"><a href="#!" class="sm_btn btn_green mrg_t-4">Pending</a> </td>
                                            <td>
                                                <a href="#!" class="btn_blue mml-0 min_w-155 text-center">Edit</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <ul class="list-unstyled top_profiles scroll-view">
                                                    <li class="media event">
                                                        <a href="javascript:;" class="user-profile pull-left"> <img src="images/im3.jpg" alt=""> </a>
                                                        <div class="media-body">
                                                            <a class="title" href="#" style="padding-top: 8px; display: inline-block;">Eleanor Jennings</a>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </td>
                                            <td>
                                                Theme
                                                <div class="clearfix"></div>
                                                <small class="txt_lgry">Title</small>
                                            </td>
                                            <td style="white-space: nowrap;">29th Jan, 17</td>
                                            <td style="white-space: nowrap;">
                                                13th Nov, 17
                                                <div class="clearfix"></div>
                                                <small class="txt_red">Overdue</small>
                                            </td>
                                            <td>
                                                <ul class="list-unstyled top_profiles scroll-view">
                                                    <li class="media event">
                                                        <a href="javascript:;" class="user-profile pull-left"> <img src="images/im4.jpg" alt=""> </a>
                                                        <div class="media-body">
                                                            <a class="title" href="#">Jake Ward</a>
                                                            <p> <small class="txt_lgry">Individual Man</small> </p>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </td>
                                            <td class="t-min-w_205">
                                                <div id="thumbcarousel" class="carousel slide" data-interval="false">
                                                    <div class="carousel-inner" style="padding-left: 0px;">
                                                        <div class="item active">
                                                            <div class="thumb bg_blue">IM</div><span style="padding-left: 10px;">Individual Man</span>
                                                        </div>
                                                        <!-- /item -->
                                                        <!-- /item -->
                                                    </div>
                                                    <!-- /carousel-inner -->
                                                </div>

                                            </td>
                                            <td class="pos-rel"><a href="#!" class="sm_btn btn_green mrg_t-4">Pending</a> </td>
                                            <td>
                                                <a href="#!" class="btn_blue mml-0 min_w-155 text-center">Edit</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <ul class="list-unstyled top_profiles scroll-view">
                                                    <li class="media event">
                                                        <a href="javascript:;" class="user-profile pull-left"> <img src="images/im3.jpg" alt=""> </a>
                                                        <div class="media-body">
                                                            <a class="title" href="#" style="padding-top: 8px; display: inline-block;">Eleanor Jennings</a>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </td>
                                            <td>
                                                Theme
                                                <div class="clearfix"></div>
                                                <small class="txt_lgry">Title</small>
                                            </td>
                                            <td style="white-space: nowrap;">29th Jan, 17</td>
                                            <td style="white-space: nowrap;">
                                                13th Nov, 17
                                                <div class="clearfix"></div>
                                                <small class="txt_red">Overdue</small>
                                            </td>
                                            <td>
                                                <ul class="list-unstyled top_profiles scroll-view">
                                                    <li class="media event">
                                                        <a href="javascript:;" class="user-profile pull-left"> <img src="images/im4.jpg" alt=""> </a>
                                                        <div class="media-body">
                                                            <a class="title" href="#">Jake Ward</a>
                                                            <p> <small class="txt_lgry">Individual Man</small> </p>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </td>
                                            <td class="t-min-w_205">
                                                <div id="thumbcarousel" class="carousel slide" data-interval="false">
                                                    <div class="carousel-inner" style="padding-left: 0px;">
                                                        <div class="item active">
                                                            <div class="thumb bg_blue">IM</div><span style="padding-left: 10px;">Individual Man</span>
                                                        </div>
                                                        <!-- /item -->
                                                        <!-- /item -->
                                                    </div>
                                                    <!-- /carousel-inner -->
                                                </div>

                                            </td>
                                            <td class="pos-rel"><a href="#!" class="sm_btn btn_green mrg_t-4">Pending</a> </td>
                                            <td>
                                                <a href="#!" class="btn_blue mml-0 min_w-155 text-center">Edit</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <ul class="list-unstyled top_profiles scroll-view">
                                                    <li class="media event">
                                                        <a href="javascript:;" class="user-profile pull-left"> <img src="images/im3.jpg" alt=""> </a>
                                                        <div class="media-body">
                                                            <a class="title" href="#" style="padding-top: 8px; display: inline-block;">Eleanor Jennings</a>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </td>
                                            <td>
                                                Theme
                                                <div class="clearfix"></div>
                                                <small class="txt_lgry">Title</small>
                                            </td>
                                            <td style="white-space: nowrap;">29th Jan, 17</td>
                                            <td style="white-space: nowrap;">
                                                13th Nov, 17
                                                <div class="clearfix"></div>
                                                <small class="txt_red">Overdue</small>
                                            </td>
                                            <td>
                                                <ul class="list-unstyled top_profiles scroll-view">
                                                    <li class="media event">
                                                        <a href="javascript:;" class="user-profile pull-left"> <img src="images/im4.jpg" alt=""> </a>
                                                        <div class="media-body">
                                                            <a class="title" href="#">Jake Ward</a>
                                                            <p> <small class="txt_lgry">Individual Man</small> </p>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </td>
                                            <td class="t-min-w_205">
                                                <div id="thumbcarousel" class="carousel slide" data-interval="false">
                                                    <div class="carousel-inner" style="padding-left: 0px;">
                                                        <div class="item active">
                                                            <div class="thumb bg_blue">IM</div><span style="padding-left: 10px;">Individual Man</span>
                                                        </div>
                                                        <!-- /item -->
                                                        <!-- /item -->
                                                    </div>
                                                    <!-- /carousel-inner -->
                                                </div>

                                            </td>
                                            <td class="pos-rel"><a href="#!" class="sm_btn btn_green mrg_t-4">Pending</a> </td>
                                            <td>
                                                <a href="#!" class="btn_blue mml-0 min_w-155 text-center">Edit</a>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>

