﻿@model ReelaeDataAccessLayer.User
@{
    ViewBag.Title = "Profile Setup";
    if (Session["Role"].ToString().ToLower() == "admin")
    {
        Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    }
    else if (Session["Role"].ToString().ToLower() == "teacher")
    {
        Layout = "~/Areas/Teacher/Views/Shared/_TeachersLayout.cshtml";
    }
    else if (Session["Role"].ToString().ToLower() == "student")
    {
        Layout = "~/Areas/Student/Views/Shared/_StudentLayout.cshtml";
    }

}
@section head{
    <script src="@Url.Content("~/Content/Home/js/ProfileSetup.js")"></script>
    <script src="@Url.Content("~/Content/Home/js/changePassword.js")"></script>
    <script src="@Url.Content("~/Content/Admin/js/dashbordStyle.js")"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            OpenProfileSetupView();

            if ($('#Website').val().trim() == "") {
                $('#Website').val('http://');
            }

        })
    </script>
}

@section InstitueName{
    @Html.Partial("~/Areas/Admin/Views/Shared/_InstituteSetupHeader.cshtml", Model)
}

@section userProfile{
    <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
        @if (Model.UserPicUrl != null && Model.UserPicUrl != "")
        {
            <img src="@Url.Content(Model.UserPicUrl)" alt="" />
        }
        Hello, @Reelae.Utilities.CommonUtility.ToTitleCase(@Session["Name"].ToString().ToLower()) <span class="fa fa-angle-down"></span>
    </a>

}
<div class="right_col pd_l-0 height_vh" role="main">
    @*@if (Session["Role"].ToString().ToLower() == "admin")
        {*@
    <div class="col-md-12 col-sm-12 col-xs-12">
        <a href="javascript:void(0)" style="cursor: default;"> <h3>Profile Setting</h3></a>
    </div>
    @*  *@
    <div class="col-md-6 col-sm-8 col-md-offset-3 col-sm-offset-2 col-xs-12">
        <div class="gap_30"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 mrg_t-40">
                <div class="user_box user_product text-center bg_whitebrd profile_wrap">

                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab" onclick="OpenProfileSetupView(); ">Profile</a></li>
                        <li role="presentation"><a href="#ChangePassword" aria-controls="ChangePassword" role="tab" data-toggle="tab" onclick="OpenChangePasswordView();">Password</a></li>
                        @*<li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Email Notifications</a></li>*@
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content pad-a-20 text-left pad_bottom_0">
                        <div role="tabpanel" class="tab-pane active" id="profile"></div>
                        <div role="tabpanel" class="tab-pane" id="ChangePassword"></div>
                        @*<div role="tabpanel" class="tab-pane" id="messages">Content coming soon</div>*@
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
</div>
