﻿@model ReelaeDataAccessLayer.Resource
@{
    var result = Model;
}
<h3 class="heading_blu">@result.Title<i class="material-icons pull-right cls_btn">clear</i></h3>
@{
    var fileExtension = result.Title.Split('.').Last().ToString().ToLower();
    var modifiedDate = result.ModifiedDate == null ? "" : Convert.ToDateTime(result.ModifiedDate).ToString("dd MMM yyyy");


    var sizeInMB = String.Format("{0:0.00}", (Convert.ToInt32(result.FileSize) / (1024 * 1024)));
    var size = sizeInMB + " MB (" + result.FileSize + " bytes)";
}
<div>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active col-xs-12 text-left"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Details</a></li>
        @*<li role="presentation" class="col-xs-6 text-center"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab"  onclick="getActivityContent(@result.ResourceID)">Activity</a></li>*@
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="home">
            @{
                switch (result.fileType)
                {
                    case "video":
                        <video id="resourceItem" class="image_wrap">
                            <source src="~/Resource/@result.URL">
                        </video>
                        break;
                    case "image":
                        <div id="resourceItem" class="image_wrap"><img src="~/Resource/@result.URL" alt="..." class="img-responsive"></div>
                        break;
                    case "document":
                        if (fileExtension == "doc" || fileExtension == "docx")
                        {
                            <div id="resourceItem" class="prod_wrap bg_m-green slide"> <i class="material-icons file_icn">insert_drive_file</i><span class="file_type-txt">.@fileExtension</span> </div>
                        }
                        else if (fileExtension == "xls" || fileExtension == "xlsx")
                        {
                            <div id="resourceItem" class="prod_wrap bg_org slide"> <i class="material-icons file_icn">insert_drive_file</i><span class="file_type-txt">.@fileExtension</span> </div>
                        }
                        else
                        {
                            <div id="resourceItem" class="prod_wrap bg_m-green slide"> <i class="material-icons file_icn">insert_drive_file</i><span class="file_type-txt">.@fileExtension</span> </div>
                        }
                        break;
                    case "compressed":
                        <div id="resourceItem" class="prod_wrap bg_perp slide"> <i class="material-icons file_icn">insert_drive_file</i><span class="file_type-txt">.@fileExtension</span> </div>

                        break;
                    case "audio":
                        <audio controls class="image_wrap" id="resourceItem">
                            <source src="~/Resource/@result.URL">
                        </audio>
                        break;
                    default:
                        <div id="resourceItem" class="prod_wrap bg_m-green slide"> <i class="material-icons file_icn">insert_drive_file</i><span class="file_type-txt">.@fileExtension</span> </div>
                        break;
                }
            }

            <div class="clearfix"></div>
            <div class="detail_wrap">

                <div class="col-xs-4 lbl">Type</div>
                <div class="col-xs-8 dtl">@result.fileType</div>
                <div class="clearfix"></div>
                <div class="col-xs-4 lbl">Size</div>
                <div class="col-xs-8 dtl">@size</div>
                <div class="clearfix"></div>
                <div class="col-xs-4 lbl">Storage used</div>
                <div class="col-xs-8 dtl">@size</div>
                <div class="clearfix"></div>
                @*<div class="col-xs-4 lbl">Location</div>
                <div class="col-xs-8 dtl">@result.fileType</div>*@
                <div class="clearfix"></div>
                <div class="col-xs-4 lbl">Owner</div>
                <div class="col-xs-8 dtl">@result.CreatedBy</div>
                <div class="clearfix"></div>
                <div class="col-xs-4 lbl">Modified</div>
                <div class="col-xs-8 dtl">@modifiedDate</div>
                <div class="clearfix"></div>
                <div class="col-xs-4 lbl">Created</div>
                <div class="col-xs-8 dtl">@Convert.ToDateTime(result.CreatedDate).ToString("dd MMM yyyy")</div>
                <div class="clearfix"></div>

            </div>
            <div class="clearfix"></div>
            <div class="add_description">
                <span class="heading_blu">View Description</span><a href="#!"><i class="material-icons txt_perp" onclick="viewDescription(@result.ResourceID)">visibility</i></a>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="profile">
            <div class="detail_wrap">
                @*<div class="col-xs-12 lbl">Content</div>*@
                <div id="activityDetails"></div>
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="resourceId" value="@result.ResourceID" />
<input type="hidden" id="URL" value="@result.URL" />

<script>
    $(function () {
        $(".cls_btn").click(function () {
            $('.prod_box').removeClass('active');
            $(".side_panel ").hide();
        });
    });

    var timer = 0;
    var delay = 200;
    var prevent = false;
    $("#resourceItem")
      .on("click", function () {
          timer = setTimeout(function () {
              if (!prevent) {
                  updateViewActivity($('#resourceId').val());
                  window.open("../Resource/" + $('#URL').val(), '_blank');
              }
              prevent = false;
          }, delay);
      })
      .on("dblclick", function () {
          clearTimeout(timer);
          prevent = true;
          downloadFilesStudent($('#resourceId').val());
      });

</script>