﻿@model ReelaeDataAccessLayer.Resource
<div class="modal in" id="viewResourceDescription" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="padding-right: 17px;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="material-icons">clear</i></button>
                <h4 class="modal-title" id="myModalLabel">View Description</h4>
            </div>
            <div class="modal-body">
                <div class="col-sm-10 col-sm-offset-1" style="margin: 0 auto; float: none;">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Description </label>                      
                        <div class="form-control brd_radius-4" style="max-height:120px; height:120px;">
                            @Model.Description
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>            
            <div class="clearfix"></div>
        </div>
    </div>
</div>