﻿@model Reelae.Models.StudentResourceViewModal
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Student/Views/Shared/_StudentLayout.cshtml";
    var userinfo = Model.userInfo;
    var subjects = ViewBag.Subjects;
}


@section InstitueName{
    @Html.Partial("~/Areas/Admin/Views/Shared/_InstituteSetupHeader.cshtml", userinfo)
}
@section head{
    <script src="~/Content/Resource/js/Resource.js"></script>
    <style>
        #fileDetails.fixed {
            display: block;
            position: fixed;
            top: 0;
            width: 100%;
        }
    </style>
}

@section UserProfile{
    <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
        @if (userinfo != null && userinfo.UserPicUrl != null)
        {
            <img src="@Url.Content(userinfo.UserPicUrl)" alt="" />
        }
        Hello, @Reelae.Utilities.CommonUtility.ToTitleCase(Session["Name"].ToString().ToLower()) <span class="fa fa-angle-down"></span>
    </a>
}

<div class="right_col pd_l-0 height_vh small_left_col" role="main">
    <i class="fa fa-chevron-left  s_col hide_cl" aria-hidden="true" style="cursor:pointer"></i>
    <i class="fa fa-chevron-right s_col show_cl" aria-hidden="true" style="cursor:pointer"></i>
    <div class="col-md-3 left_col wdt_200 brd-lr-gry dis_pan" id="pan_show">
        <div class="left_col scroll-view">
            <div class="clearfix"></div>
            <!-- menu profile quick info -->
            <div class="profile profile2 profile_2 clearfix"> &nbsp; </div>
            <!-- /menu profile quick info -->
            <br />
            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu main_menu2">
                <div class="menu_section" id="resourceLeftMenu">
                    <div class="subject_top-heading clearfix">
                        <a href="javascript:void(0)" style="cursor: default;"> <h3>Resource</h3></a>
                    </div>
                    <ul class="nav side-menu mg_t_0">
                        <li class="active">
                            <a href="#!" onclick="onClickTeamFiles(this)"><i class="fa fa-folder-o" aria-hidden="true"></i> My Files </a>
                            <ul class="nav child_menu" style="display: block; background-color:#fff;" id="docList">
                                <li onclick="setDocType('image',this)"><a href="#!">Photos</a></li>
                                <li onclick="setDocType('document', this)"><a href="#!">Docs</a></li>
                                <li onclick="setDocType('video,audio', this)"><a href="#!">Video &amp; Audio</a></li>
                                <li onclick="setDocType('compressed', this)"><a href="#!">Compressed</a></li>
                            </ul>
                        </li>
                        @*<li onclick="onClickTeamFiles(this)"><a href="#!"><i class="material-icons">group</i> Team files</a></li>*@
                        <li onclick="otherFilter('Recent',this)"><a href="#!"><i class="material-icons">access_time</i> Recent</a></li>
                        <li onclick="otherFilter('Flaged',this)"><a href="#!"><i class="material-icons">favorite</i> Flagged</a></li>
                        @*<li><a href="#!" onclick="otherFilter('Trash')"><i class="material-icons">delete</i> Trash</a></li>*@
                    </ul>
                </div>
                <div class="menu_section" id="resourceTags">
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-9 wdt_m_200 pull-right" id="pan_hide">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 mrg_t_10 mob-mrg">
                <div class="dashboard_graph pd_b-0 brd_bottom">
                    <div class="row x_title mrb_b-0">
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="group select_2 tbl_select head_drop">
                                <div class="mad-select resource_select" style="width:250px;">
                                    <ul id="ddlGroup">
                                        @if (subjects != null)
                                        {
                                            int index = 0;
                                            foreach (var item in subjects)
                                            {
                                                if (index == 0)
                                                {
                                                    <li data-value="@item.SubjectID" class="selected" onclick="callSubjectFilter(@item.SubjectID)" title="@item.SubjectName">@item.SubjectName</li>
                                                }
                                                else
                                                {
                                                    <li data-value="@item.SubjectID" onclick="callSubjectFilter(@item.SubjectID)" title="@item.SubjectName">@item.SubjectName</li>
                                                }
                                                index++;
                                            }
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="pad_lr-30 col-md-8 col-md-offset-1">        
            <div class="col-sm-12 resource_acco" id="containerDiv">
                <div class="row">
                    <div class="col-sm-3 col-xs-12 nav_left">
                        <!-- Nav tabs -->
                        <div id="resourceLabelList">
                        </div>
                    </div>
                    <div class="col-sm-9 col-xs-12">
                        <!-- Tab panes -->
                        <div class="tab-content demo-height">
                            <div class="tab-pane active" id="home" style="display:none;">
                                <div class="col-xs-12 col-sm-6">
                                </div>
                                <div class="col-xs-12 col-sm-6 re_filter"> <div class="mrg_t-10">Sort by <a href="#" onclick="nameSortingClickStudent('name_asc')"><span>name</span> </a> <i class="material-icons short_icon">import_export</i></div></div>
                                <div class="clearfix"></div>
                                <div class="resourceparent">
                                    <div id="resourceList">
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12" id="emptyMessage" style="display:none; text-align:center;"><i>No Label Found.</i></div>
            </div>
        <div class="clearfix"></div>
        <div class="side_panel" id="fileDetails" style="display:none;">
        </div>
    </div>
    <div class="clearfix"></div>
    <input type="hidden" id="subjectId" value="" />
    <input type="hidden" id="currentSort" value="" />
    <input type="hidden" id="docType" value="" />
    <input type="hidden" id="otherFilterType" value="" />
    <input type="hidden" id="selectedTag" value="" />
    <input type="hidden" id="labelId" value="" />
    <input type="hidden" id="userType" value="S" />
</div>

<script>
    $(function () {
        $('#ddlGroup').children().first().trigger('click');
        bindStudentResourceTags(null);
    });

    $('.s_col').on('click', function (e) {
        $('.dis_pan').toggleClass("none_pan");
        $('#pan_hide').toggleClass("col-md-12");
        $('.show_cl').toggleClass("dis_icn");
        $('.hide_cl').toggleClass("none_icn");
        e.preventDefault();
    });

    function callSubjectFilter(subjectId) {
        $('#resourceLeftMenu ul li').removeClass('active');
        $('#resourceLeftMenu ul li').first('a').addClass('active');
        $('#resourceTags ul li').removeClass('active');

        $('#selectedTag').val('');
        $('#otherFilterType').val('');
        $('#docType').val('');
        $('#labelId').val('')
        $('#subjectId').val(subjectId);
        resourceLabelList(subjectId, 'S');
    }
    function nameSortingClickStudent(sortOrder) {
        if ($('#currentSort').val() != sortOrder) {
            $('#currentSort').val(sortOrder);
            getResourcesGridViewStudent('name_asc');
        }
        else {
            $('#currentSort').val('name_desc');
            getResourcesGridViewStudent('name_desc');
        }
    }

    function tagFilter(id, _this) {
        $('#resourceLeftMenu ul li').removeClass('active');
        $('#resourceLeftMenu ul li a').removeClass('active');
        $('#resourceTags ul li').removeClass('active');
        $(_this).addClass('active');

        $('#selectedTag').val(id);
        reSetFilter('tag')
    }

    function setDocType(type, _this) {
        $("#resourceLeftMenu").find("li").removeClass('active');
        $(_this).parent().parent().find("li").removeClass('active');
        $("#resourceLeftMenu ul li").find("a").removeClass('active');
        $(_this).parent().find("li").removeClass('active');
        $('#resourceTags ul li').removeClass('active');

        $(_this).addClass('active');
        $('#docType').val(type);
        reSetFilter('docType')
    }

    //for trash
    function otherFilter(filterType, _this) {
        $("#resourceLeftMenu ul li").find("a").removeClass('active');
        $(_this).parent().parent().find("li").removeClass('active');
        $(_this).parent().parent().removeClass('active');
        $(_this).parent().find("li").removeClass('active');
        $('#resourceTags ul li').removeClass('active');

        $(_this).addClass('active');
        $('#otherFilterType').val(filterType);
        reSetFilter('other')
    }
    function reSetFilter(currentFilter) {
        switch (currentFilter) {
            case "tag":
                $('#resourceLeftMenu ul li').removeClass('active');
                $('#otherFilterType').val('');
                $('#docType').val('');
                break;
            case "docType":
                $('#selectedTag').val('');
                $('#otherFilterType').val('');
                break;
            case "other":
                $('#selectedTag').val('');
                $('#docType').val('');
                break;
            default:
                $('#selectedTag').val('');
                $('#otherFilterType').val('');
                $('#docType').val('');
                $('#subjectId').val(null);
                $('#docList li').removeClass('active');
                break;
        }
        getResourcesGridViewStudent("");
    }

    function onClickTeamFiles(_this) {
        $("#resourceLeftMenu ul li").find("a").removeClass('active');
        $("#resourceLeftMenu").find("li").removeClass('active');
        $(_this).parent().find("li").removeClass('active');
        $('#resourceTags ul li').removeClass('active');
        $(_this).addClass('active');
        reSetFilter('');
    }

    $(document).ready(function () {
        var start = new Date($.now());
        $(window).unload(function () {
            var end = new Date($.now());
            updateVisitTime(start, end)
        });
    });
</script>