﻿@model IEnumerable<ReelaeDataAccessLayer.re_select_attendence_participatingrating_sp_Result>
@{
    string className = "";
    var _students = Model.ToList();

}
<input type="hidden" value="@_students.Count()" id="hdnStudentcount" />
<table class="table jambo_table bulk_action mb_0" id="tblAttendance">
    <thead>
        <tr class="headings">
            @*<th class="column-title"> </th>*@
            <th class="column-title">Name </th>
            <th class="column-title">Attendence Rate</th>
            <th class="column-title">Participation Rating</th>
            @*<th class="column-title text-right pdt-r-20"><i class="fa fa-cog" aria-hidden="true"></i></th>*@
            @*<th class="bulk-actions" colspan="5"> <a class="antoo" style="color:#7f8fa4; font-weight:400;">Bulk Actions ( <span class="action-cnt"> </span> ) </a> </th>*@
        </tr>
    </thead>
    <tbody>
        @if (_students.Count() > 0)
        {
            foreach (var _student in _students)
            {
                string rateId = "rate_" + _student.MemberID;
                decimal _attePer = 0;
                if (_student.attendenceperct != null)
                {
                    _attePer = _student.attendenceperct.Value;
                }
                string width = "width:" + _student.attendenceperct + "%";
                string progressClass = "progress-bar-success";
                if (_student.attendenceperct >= 70)
                {
                    progressClass = "progress-bar-success";
                }
                else if (_student.attendenceperct >= 50)
                {
                    progressClass = "progress-bar-warning";
                }
                else
                {
                    progressClass = "progress-bar-danger";

                }
                <tr class="@className">
                    <td class="name">
                        <a href="javascript:;" class="user-profile pull-left">
                            @if (_student.UserPicUrl == null)
                    {
                                <img src=@Url.Content("~/Content/images/student.jpg") alt="..." class="img-circle img-responsive">

                            }
                            else
                            {
                                <img src="@Url.Content(_student.UserPicUrl)" alt="..." class="img-circle img-responsive">
                            }
                        </a>
                        @_student.Name
                    </td>
                    <td>
                        <div class="progress">
                            <div class="progress-bar @progressClass" role="progressbar" aria-valuenow="@_attePer"
                                 aria-valuemin="0" aria-valuemax="100" style="@width">
                                @Convert.ToInt32(_attePer) %
                            </div>
                        </div>
                    </td>
                    <td>
                        <div id="@rateId"></div><span style="display:none"> @_student.Avgrating </span>
                    </td>
                </tr>
                <script type="text/javascript">
                    setRating('@rateId', '@_student.Avgrating');
                </script>

            }
        }
        else
        {
            <tr>
                <td colspan="4">
                    Attendance not marked yet.
                </td>
            </tr>
        }

    </tbody>
</table>
<script src="@Url.Content("~/content/js/switchery.min.js")"></script>