﻿@model ReelaeDataAccessLayer.Group
@{
    var subjects = ((IEnumerable<ReelaeDataAccessLayer.re_getTeacherSubject_sp_Result>)ViewBag.Subjects).ToList();
}
<div class="modal" id="createeditGroupModalStep1" style="z-index:111111 !important" tabindex="-1" role="dialog" aria-labelledby="createeditGroupModalStep1Label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="material-icons">clear</i></button>
                <h4 class="modal-title" from="@ViewBag.From" id="createeditGroupModalStep1Label">New Group</h4>
            </div>
            @using (Ajax.BeginForm("CreateGroup", "GroupMembers", new AjaxOptions() { HttpMethod = "POST", OnSuccess = "OnSuccessCreateGroup", OnFailure = "OnFailureCreateGroup" }))
            {
                <div class="modal-body">
                    @Html.HiddenFor(model => model.GroupID, new { @id = "hdn_GroupID" })
                    @Html.HiddenFor(model => model.SubjectID, new { @id = "hdn_SubjectID" })
                    <div class="col-md-10 col-md-offset-1">
                        <div class="form-group">
                            <label for="txt_GroupName">Name</label><span style="color:red;font-size: 12px;">*</span>
                            <div class="clearfix"></div>
                            @*<input type="email" class="form-control brd_radius-4" id="txt_AssignmentName" placeholder="Add title for your assignment">*@
                            @Html.TextBoxFor(model => model.GroupName, new { maxlength = "50", @class = "form-control brd_radius-4", id = "txt_GroupName", placeholder = "Type group name here", onchange = "onChangeValidate(this)" })
                        </div>
                        <div class="gap_20"></div>
                        <div class="form-group">
                            <label for="txt_GroupDescription">Description</label>
                            <div class="clearfix"></div>
                            @*<textarea class="form-control brd_radius-4" rows="6" placeholder="Textarea for assignment"></textarea>*@
                            @Html.TextAreaFor(model => model.Description, new { maxlength = "150", @class = "form-control brd_radius-4", id = "txt_GroupDescription", placeholder = "Type group description here", onchange = "onChangeValidate(this)" })
                        </div>
                        <div class="gap_20"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <a href="#!" onclick="validateCreateEditGroup();" class="modal-footer" data-toggle="modal">
                    Continue
                    <div class="clearfix"></div>
                </a>
                <input id="submitCreateGroup" style="display:none;" type="submit" />
            }
        </div>
    </div>
</div>
<div class="modal" id="createeditGroupModalStep2" style="z-index:111111 !important" tabindex="-1" role="dialog" aria-labelledby="createeditGroupModalStep2Label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="material-icons">clear</i></button>
                <h4 class="modal-title" id="createeditGroupModalStep2Label">New Group</h4>
            </div>
            <div class="modal-body">
                <div class="col-md-10 col-md-offset-1">
                    <div class="form-group">
                        <label for="ddlSubjects">Select Subject</label>
                        <div class="clearfix"></div>
                        <div class="mad-select" style="width:100%">
                            <ul id="ddlSubjects">
                                <li data-value="">Please Select</li>
                                @if (subjects != null && subjects.Count > 0)
                                {
                                    int _index = 0;
                                    foreach (var subject in subjects)
                                    {
                                        if (string.IsNullOrEmpty(ViewBag.SubjectId))
                                        {
                                            <li data-value="@subject.SubjectID">@subject.SubjectName</li>
                                        }
                                        else
                                        {
                                            if (subject.SubjectID.ToString() == ViewBag.SubjectId)
                                            {
                                                <li data-value="@subject.SubjectID">@subject.SubjectName</li>
                                            }
                                        }
                                        _index++;
                                    }
                                }
                            </ul>
                            <input type="hidden" name="myOptions" value="@((!Model.SubjectID.HasValue)?((ViewBag.SubjectId=="")?"":ViewBag.SubjectId.ToString()): Model.SubjectID.Value)" id="ddlSubjectsSelValue">
                        </div>
                    </div>
                    <div class="gap_20"></div>
                    <div class="form-group">
                        <p class="text-center">You can back to <a style="color:#33a9f1;" onclick="javascript: $('#createeditGroupModalStep2').modal('hide');" href="#!" class="preStep" data-toggle="modal" data-target="#createeditGroupModalStep1">previous page</a></p>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <a href="#!" onclick="validateCreateEditGroupStep2()" class="modal-footer" data-toggle="modal">
                Finish
                <div class="clearfix"></div>
            </a>
        </div>
    </div>
</div>