﻿@using Reelae.Areas.Teacher.Models
@model AssignmentCreationViewModel

@{
    string[] GroupColorsClassess = { "bg-blue", "bg-green", "bg-red", "bg-orange", "bg-purple", "bg-blue-sky" };
    var assignmentType = ViewBag.AsignmentTypes;
    var institutionKeywords = (IEnumerable<DropdownViewModal>)ViewBag.Keywords;
    bool isEditMode = Model.AssignmentID > 0;
    string ModalHeader = (!isEditMode) ? "New Assignment" : "Edit Assignment";

}
<style>
    .dataTables_wrapper, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate {
        display: block;
    }
</style>


<script>
    keywordArray = @Html.Raw(Json.Encode(institutionKeywords.ToList().Select(r => new { value = r.Value, data = r.Id })));
    if('@ViewBag.existingKeywordsData'){
        _existingKeywordsData=@Html.Raw(Json.Encode(ViewBag.existingKeywordsData));
    }
</script>
<div class="modal" id="createAssignmentModalStep1" tabindex="-1" role="dialog" aria-labelledby="createAssignmentModalStep1Label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="material-icons">clear</i></button>
                <h4 class="modal-title" id="createAssignmentModalStep1Label">@ModalHeader</h4>
            </div>
            <div class="modal-body">
                <div class="col-md-10 col-md-offset-1">
                    <div class="form-group" style="display:none;">
                        <label for="ddlAssignmentType">Assignment Type</label>
                        <div class="clearfix"></div>
                        <div class="mad-select" style="width:100%">
                            <ul id="ddlAssignmentType">
                                <li data-value="0">Please Select</li>
                                @if (assignmentType != null && assignmentType.Count > 0)
                                {
                                    foreach (var item in assignmentType)
                                    {
                                        <li data-value="@item.Id">@item.Value</li>
                                    }
                                }
                            </ul>
                            <input type="hidden" name="myOptions" value="1" id="ddlAssignmentTypeValue">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="txt_AssignmentName">Title</label><span style="color:red;font-size: 12px;">*</span>
                        <div class="clearfix"></div>
                        @*<input type="email" class="form-control brd_radius-4" id="txt_AssignmentName" placeholder="Add title for your assignment">*@
                        @Html.TextBoxFor(model => model.AssignmentName, new { @class = "form-control brd_radius-4", id = "txt_AssignmentName", placeholder = "Type Assignment Name Here", onchange = "onChangeValidate(this)", maxlength = "50" })
                    </div>
                    <div class="gap_20"></div>
                    <div class="form-group">
                        <label for="txt_AssignmentDescription">Notes</label><span style="color:red;font-size: 12px;">*</span>
                        <div class="clearfix"></div>
                        @*<textarea class="form-control brd_radius-4" rows="6" placeholder="Textarea for assignment"></textarea>*@
                        @Html.TextAreaFor(model => model.AssignmentDescription, new { @class = "form-control brd_radius-4", id = "txt_AssignmentDescription", placeholder = "Type Assignment Description Here", onchange = "onChangeValidate(this)", maxlength = "150", rows = "5" })
                    </div>
                    <div class="gap_20"></div>
                    <div class="form-group">
                        <label>Open &amp; Close Date</label>
                        <div class="clearfix"></div>
                        <div id="assignmentdateRange" class="pull-right brd_radius-4 form-control " style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #969696;">
                            <div class="clearfix"></div>
                            <i class="glyphicon glyphicon-calendar fa fa-calendar" style="color:#9a9fa8"></i> <span style="width: 90%; display: inline-block; color: #354052; padding-left: 10px;">December 30, 2014 - January 28, 2015</span> <b class="caret"></b>
                        </div>
                    </div>
                    <div class="gap_20"></div>
                    <div class="form-group">
                        <label class="small_txt"><i class="fa fa-info-circle" aria-hidden="true"></i> All fields are required</label>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            @*@Html.HiddenFor(model => model.StartDate);
                @Html.HiddenFor(model => model.EndDate);
                @Html.HiddenFor(model => model.AssigneeID);
                @Html.HiddenFor(model => model.LeaderID);
                @Html.HiddenFor(model => model.Keywords);*@
            <a href="#!" onclick="validateCreateAssignmentStep1();" class="modal-footer">
                Next Step - Assign To Group
                <div class="clearfix"></div>
            </a>
        </div>
    </div>
</div>
<div class="modal" id="createAssignmentModalStep2" tabindex="-1" role="dialog" aria-labelledby="createAssignmentModalStep2Label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="material-icons">clear</i></button>
                <h4 class="modal-title" id="createAssignmentModalStep2Label">@ModalHeader</h4>
            </div>
            <div class="modal-body">
                <div class="col-md-10 col-md-offset-1">
                    <div class="text-center assignedfor">
                        <div class="radio dis_in" onclick="OnAssignneTypeChange('1')" assignedFor="1">
                            <label>
                                @*<input type="radio" class="flat" @((Model.AssigneeID == 0) ? "checked" : "") name="iCheck" value="1"> Group*@
                                <input type="radio" class="flat" @(((Model.AssigneeID > 0 && isEditMode) || !isEditMode) ? "checked" : "" ) name="iCheck" value="1"> Group
                            </label>
                        </div>
                        <div class="radio dis_in" onclick="OnAssignneTypeChange('2')">
                            <label>
                                @*<input type="radio" class="flat" @((Model.AssigneeID == 0) ? "" : "checked") name="iCheck" value="2"> Individual*@
                                <input type="radio" class="flat" @(((Model.AssigneeID > 0 && isEditMode) || !isEditMode) ? "" : "checked" ) name="iCheck" value="2"> Individual
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="ddlGroups_Assignment">Select group</label><span style="color:red;font-size: 12px;">*</span>
                        <div class="clearfix"></div>
                        <select id="ddlGroups_Assignment" class="form-control" onchange="OnGroupChange(this)">
                            <option value="0" data-content="<span class='group_icn @GroupColorsClassess[0]'></span> Please Select">Please Select</option>
                            @if (ViewBag.Groups != null && ViewBag.Groups.Count > 0)
                            {
                                int _index = 0;
                                foreach (var group in ViewBag.Groups)
                                {
                                    if (GroupColorsClassess.Length > 0)
                                    {
                                        if (_index == GroupColorsClassess.Length - 1)
                                        {
                                            _index = 0;
                                        }
                                        else
                                        {
                                            _index++;
                                        }
                                        @*<option value="@group.Id">@group.Value</option>*@
                                        <option value="@group.Id" data-content="<span class='group_icn @GroupColorsClassess[_index]'></span> @group.Value">@group.Value</option>
                                    }
                                    else
                                    {
                                        @*<option value="@group.Id">@group.Value</option>*@
                                        <option value="@group.Id" data-content="<span class='group_icn @GroupColorsClassess[_index]'></span> @group.Value">@group.Value</option>
                                    }
                                }
                            }
                        </select>
                    </div>
                    <div class="form-group" id="leaderGroup">
                        <label>Select Leader</label>
                    </div>
                    <table id="example" class="table table-striped" style="margin-bottom: 10px;height:60%">
                        <thead>
                            <tr>
                                <th class="tbl_w-50">&nbsp;</th>
                                <th>Name</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                    <div class="gap_20"></div>
                    <div class="form-group">
                        <p class="text-center">You can back to <a style="color:#33a9f1;" onclick="javascript: $('#createAssignmentModalStep2').modal('hide');" href="#!" class="preStep" data-toggle="modal" data-target="#createAssignmentModalStep1">previous page</a></p>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <a href="#!" onclick="validateCreateAssignmentStep2()" class="modal-footer">
                @if (isEditMode)
                {
                    @:     Next Step - Edit Keywords
                }
                else
                {
                    @:    Next Step - Add Keywords
                }
                <div class="clearfix"></div>
            </a>
        </div>
    </div>
</div>
<div class="modal" id="createAssignmentModalStep3" tabindex="-1" role="dialog" aria-labelledby="createAssignmentModalStep3Label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="material-icons">clear</i></button>
                <h4 class="modal-title" id="createAssignmentModalStep3Label">@ModalHeader</h4>
            </div>
            @using (Ajax.BeginForm("CreateAssignment", "Assignment", new { area = "Teacher" }, new AjaxOptions { HttpMethod = "Post", OnSuccess = "OnSuccessCreateAssignment", OnFailure = "OnFailureCreateAssignment", OnBegin = "OnBeginCreateAssignment", }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.AssignmentID, new { id = "hdnAssignmentId" })
                @Html.HiddenFor(model => model.AssignmentType, new { id = "hdnAssignmentType" })
                @Html.HiddenFor(model => model.AssignmentName, new { id = "hdnAssignmentName" })
                @Html.HiddenFor(model => model.AssignmentDescription, new { id = "hdnAssignmentDesc" })
                @Html.HiddenFor(model => model.StartDate, new { id = "txtStartDate" })
                @Html.HiddenFor(model => model.EndDate, new { id = "txtEndDate" })
                @Html.HiddenFor(model => model.AssigneeID, new { id = "txtAssigneeID", value = (Model.AssigneeID == 0 ? Model.AssigneeID.ToString() : "") })
                @Html.HiddenFor(model => model.Keywords, new { id = "txtKeywordsID" })
                @Html.HiddenFor(model => model.newKeyword, new { id = "txtNewKeywords" })
                @Html.HiddenFor(model => model.LeaderID, new { id = "txtLeaderID" })
                @Html.HiddenFor(model => model.delKeywords, new { id = "txtdelKeywords" })
                @Html.HiddenFor(model => model.ExpectedWordCountGoal, new { id = "hdnAssignmentWordCount" })
                <div class="modal-body">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="form-group">
                            <label>Add keyword to assingment</label>
                            <div class="clearfix"></div>
                            <span class="pos_rel">
                                <i class="material-icons pos_abs">search</i>
                                <input type="text" class="form-control form-with-button pad_left-30" id="txtAddKeyWord" placeholder="Find your keywords" maxlength="25">
                                <a href="#!" onclick="AddKeywordsCustom($('#txtAddKeyWord'),$('#txtAssinmentKeys'))" class="btn_w-form addAssignmentKeyword">ADD</a>
                            </span>
                        </div>
                        <div class="gap_20"></div>
                        <div class="form-group control-group">
                            <label>Added Keywords</label>
                            <div class="clearfix"></div>
                            @*<input id="tags_1" type="text" class="tags form-control" value="social, adverts, sales" />*@
                            @*@Html.TextBoxFor(model => model.Keywords, new { id = "txtAssinmentKeys", @class = "tags form-control" })*@
                            <div class="tagsinput" id="txtAssinmentKeys" style="width: auto; height: 100px; min-height: 100px;">
                                <div class="tags_clear"></div>
                            </div>
                        </div>
                        <div class="gap_20"></div>
                        <div class="form-group">
                            <label for="txt_AssignmentWordCount">Expected Words Count</label><span style="color:red;font-size: 12px;">*</span>
                            <div class="clearfix"></div>
                            @*<input type="email" class="form-control brd_radius-4" id="txt_AssignmentName" placeholder="Add title for your assignment">*@
                            @Html.TextBoxFor(model => model.ExpectedWordCountGoal, new { @class = "form-control brd_radius-4", id = "txt_AssignmentWordCount", placeholder = "Type Assignment Expected Words COunt", onchange = "onChangeValidate(this)", maxlength = "50" })
                        </div>
                        <div class="gap_20"></div>
                        <div class="form-group">
                            <p class="text-center">You can back to <a style="color:#33a9f1;" onclick="javascript: $('#createAssignmentModalStep3').modal('hide');" class="preStep" href="#!" data-toggle="modal" data-target="#createAssignmentModalStep2">previous page</a></p>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <a href="#!" onclick="validateAddAssignment();" class="modal-footer">
                    @if (isEditMode)
                    {
                        @:     Finish - Edit Assignment
                    }
                    else
                    {
                        @:    Finish - Create Assignment
                    }
                    <div class="clearfix"></div>
                </a>
                <input id="submitAddAssignment" style="display:none;" type="submit" data-toggle="modal" class="modal-footer" value="Create" />
            }
        </div>
    </div>
</div>
