﻿@model Reelae.Areas.Teacher.Models.keywordMasterViewModal
 @{ 
     var _keywords = string.Join(",", Model.exitingKeywords.ToList().Select(r => r.KeywordName).ToArray());

 }
<div class="modal fade" id="keywordMasterModalBox" tabindex="-1" role="dialog" aria-labelledby="keywordMasterModalLabel">
    <div class="modal-dialog" role="document" style="width:500px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="closeKeywordModal()"><i class="material-icons">clear</i></button>
                <h4 class="modal-title" id="keywordMasterModalLabel">Keyword Master</h4>
            </div>
            <div class="modal-body">
                <div class="col-md-10 col-md-offset-1">
                    <div class="form-group">
                        @*@using (Ajax.BeginForm("AddNewKeyord", "KeywordMaster", new { area = "Teacher" }, new AjaxOptions { HttpMethod = "Post", OnSuccess = "onKeywordSucess", OnFailure = "onKeywordFailure", OnBegin = "onkeywordBegin" }))
                        {*@
                            <label for="newKeyword_KeywordName">New Keyword</label>
                            <div class="clearfix"></div>
                            @Html.TextBoxFor(model => model.newKeyword.KeywordName, new { @class = "form-control form-with-button", placeholder = "Type your keyword here",maxLength=25 })
                            <a href="#!" class="btn_w-form" onclick="AddKeyword()">ADD</a>
                            @*<input type="submit" class="btn_w-form" value="Add" />*@
                        @*}*@
                    </div>
                    <div class="gap_20"></div>
                    <div class="form-group control-group">
                        <label>Existing Keywords</label>
                        <div class="clearfix"></div>
                        <input id="tags_1" type="text" class="tags form-control" value="@_keywords" />
                        <div id="suggestions-container" style="position: relative; float: left; width: 250px; margin: 10px; "></div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <a href="#!" class="modal-footer" onclick="SaveKeywords()">
                Save and Continue
                <div class="clearfix"></div>
            </a>
        </div>
    </div>
</div>