﻿@model ReelaeDataAccessLayer.User
<div class="modal" id="studentProfileModalBox" tabindex="-1" role="dialog" aria-labelledby="studentProfileModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="material-icons">clear</i></button>
                <h4 class="modal-title" id="studentProfileModalLabel">Student Information</h4>
            </div>
            @*<div class="modal-body">
                </div>*@
            <div class="col-sm-12 text-center" style="margin: 0 auto; float: none;">
                <div class="user_img col-xs-12 col-sm-4" style="margin-top: 0px;">

                    @if (Model.UserPicUrl != null && Model.UserPicUrl != "")
                    {
                        <img src="@Url.Content(Model.UserPicUrl)" alt="photo" class="img-circle img-responsive" />
                    }
                    else
                    {
                        <img src="@Url.Content("~/Content/images/student.jpg")" alt="photo" class="img-circle img-responsive" />
                    }
                </div>
                <div class="user_name text-left col-xs-12 col-sm-8">
                    <h3 style="min-height: 10px;"><strong style="display: inline-block; float: left;width: 18%;">Name:</strong> <span style="padding-left: 10px;display: inline-block;float: left;width: 78%;">@Html.DisplayFor(modal => modal.Name) &nbsp; @Html.DisplayFor(modal => modal.Surname)</span></h3>
                    <div class="clearfix"></div>
                    <div class="detail_wrp">
                        <strong style="display: inline-block; float: left;width: 18%;">Email:</strong> <span style="padding-left: 10px;display: inline-block;float: left;width: 78%;">@Html.DisplayFor(modal => modal.Email)</span>
                        <div class="clearfix"></div>
                    </div>

                    <div class="detail_wrp">
                        <strong style="display: inline-block; float: left;width: 18%;">Location:</strong> <span style="padding-left: 10px;display: inline-block;float: left;width: 78%;">
                            @Html.DisplayFor(modal => modal.Location)
                        </span>
                        <div class="clearfix"></div>
                    </div>
                    <div class="detail_wrp">
                        <strong style="display: inline-block; float: left;width: 18%;">BIO:</strong> <span style="padding-left: 10px;display: inline-block;float: left;width: 78%;">
                            @Html.DisplayFor(modal => modal.Bio)
                        </span>
                        <div class="clearfix"></div>
                    </div>
                </div>

                <div class="clearfix"></div>




                <div id="exampleAccordion" data-children=".item">
                    <div class="item text-left detail_link">
                        <a data-toggle="collapse" data-parent="#exampleAccordion" href="#exampleAccordion1" aria-expanded="true" aria-controls="exampleAccordion1">
                            Assignment Theme A <small class="pull-right">Open Date: 29th Jan, 17</small>
                        </a>
                        <div id="exampleAccordion1" class="collapse in" role="tabpanel">
                            <div class="mb-3">
                                <div class="table-responsive">
                                    <table class="table table-striped" style="margin-bottom: 10px;">
                                        <thead>
                                            <tr>
                                                <th>Teacher</th>
                                                <th>Group</th>
                                                <th>Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <ul class="list-unstyled top_profiles scroll-view">
                                                        <li class="media event">
                                                            <span class="user-profile pull-left"> <img src="images/im1.jpg" style="width:50px; height: 50px;" class="img-circle" alt=""> </span>
                                                            <div class="media-body">
                                                                <span class="title" href="#" style="padding-top: 8px; display: inline-block;">Hester Morales</span>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </td>

                                                <td class="t-min-w_205">
                                                    <div id="thumbcarousel" class="carousel slide" data-interval="false">
                                                        <div class="carousel-inner" style="padding-left: 0px;">
                                                            <div class="item active">
                                                                <div class="thumb bg_green">ME</div><span style="padding-left: 10px;">My Lovely Group</span>
                                                            </div>
                                                            <!-- /item -->
                                                            <!-- /item -->
                                                        </div>
                                                        <!-- /carousel-inner -->
                                                    </div>

                                                </td>
                                                <td class="pos-rel"><a href="#!" class="sm_btn btn_org mrg_t-4">Open</a> </td>

                                            </tr>

                                            <tr>
                                                <td>
                                                    <ul class="list-unstyled top_profiles scroll-view">
                                                        <li class="media event">
                                                            <span class="user-profile pull-left"> <img src="images/im2.jpg" style="width:50px; height: 50px;" class="img-circle" alt=""> </span>
                                                            <div class="media-body">
                                                                <spanclass ="title" style="padding-top: 8px; display: inline-block;">
                                                                    Hunter Freeman
                                                                </spanclass>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </td>

                                                <td class="t-min-w_205">
                                                    <div id="thumbcarousel" class="carousel slide" data-interval="false">
                                                        <div class="carousel-inner" style="padding-left: 0px;">
                                                            <div class="item active">
                                                                <div class="thumb bg_orange">N</div><span style="padding-left: 10px;">Neards</span>
                                                            </div>
                                                            <!-- /item -->
                                                            <!-- /item -->
                                                        </div>
                                                        <!-- /carousel-inner -->
                                                    </div>

                                                </td>
                                                <td class="pos-rel"><a href="#!" class="sm_btn btn_org mrg_t-4">Open</a> </td>

                                            </tr>


                                            <tr>
                                                <td>
                                                    <ul class="list-unstyled top_profiles scroll-view">
                                                        <li class="media event">
                                                            <span href="javascript:;" class="user-profile pull-left"> <img src="images/im3.jpg" style="width:50px; height: 50px;" class="img-circle" alt=""> </span>
                                                            <div class="media-body">
                                                                <span class="title" style="padding-top: 8px; display: inline-block;">Eleanor Jennings</span>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </td>

                                                <td class="t-min-w_205">
                                                    <div id="thumbcarousel" class="carousel slide" data-interval="false">
                                                        <div class="carousel-inner" style="padding-left: 0px;">
                                                            <div class="item active">
                                                                <div class="thumb bg_blue">IM</div><span style="padding-left: 10px;">Individual Man</span>
                                                            </div>
                                                            <!-- /item -->
                                                            <!-- /item -->
                                                        </div>
                                                        <!-- /carousel-inner -->
                                                    </div>

                                                </td>
                                                <td class="pos-rel"><a href="#!" class="sm_btn btn_green mrg_t-4">Pending</a> </td>

                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <small class="pull-right">Due Date: 29th Jan, 17</small>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="item text-left detail_link">
                        <a data-toggle="collapse" data-parent="#exampleAccordion" href="#exampleAccordion2" aria-expanded="false" aria-controls="exampleAccordion2">
                            Assignment Theme B <small class="pull-right">Open Date: 29th Jan, 17</small>
                        </a>
                        <div id="exampleAccordion2" class="collapse" role="tabpanel">
                            <div class="mb-3">
                                <div class="table-responsive">
                                    <table class="table table-striped" style="margin-bottom: 10px;">
                                        <thead>
                                            <tr>
                                                <th>Teacher</th>
                                                <th>Group</th>
                                                <th>Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <ul class="list-unstyled top_profiles scroll-view">
                                                        <li class="media event">
                                                            <span class="user-profile pull-left"> <img src="images/im1.jpg" style="width:50px; height: 50px;" class="img-circle" alt=""> </span>
                                                            <div class="media-body">
                                                                <span class="title" href="#" style="padding-top: 8px; display: inline-block;">Hester Morales</span>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </td>

                                                <td class="t-min-w_205">
                                                    <div id="thumbcarousel" class="carousel slide" data-interval="false">
                                                        <div class="carousel-inner" style="padding-left: 0px;">
                                                            <div class="item active">
                                                                <div class="thumb bg_green">ME</div><span style="padding-left: 10px;">My Lovely Group</span>
                                                            </div>
                                                            <!-- /item -->
                                                            <!-- /item -->
                                                        </div>
                                                        <!-- /carousel-inner -->
                                                    </div>

                                                </td>
                                                <td class="pos-rel"><a href="#!" class="sm_btn btn_org mrg_t-4">Open</a> </td>

                                            </tr>

                                            <tr>
                                                <td>
                                                    <ul class="list-unstyled top_profiles scroll-view">
                                                        <li class="media event">
                                                            <span class="user-profile pull-left"> <img src="images/im2.jpg" style="width:50px; height: 50px;" class="img-circle" alt=""> </span>
                                                            <div class="media-body">
                                                                <spanclass ="title" style="padding-top: 8px; display: inline-block;">
                                                                    Hunter Freeman
                                                                </spanclass>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </td>

                                                <td class="t-min-w_205">
                                                    <div id="thumbcarousel" class="carousel slide" data-interval="false">
                                                        <div class="carousel-inner" style="padding-left: 0px;">
                                                            <div class="item active">
                                                                <div class="thumb bg_orange">N</div><span style="padding-left: 10px;">Neards</span>
                                                            </div>
                                                            <!-- /item -->
                                                            <!-- /item -->
                                                        </div>
                                                        <!-- /carousel-inner -->
                                                    </div>

                                                </td>
                                                <td class="pos-rel"><a href="#!" class="sm_btn btn_org mrg_t-4">Open</a> </td>

                                            </tr>


                                            <tr>
                                                <td>
                                                    <ul class="list-unstyled top_profiles scroll-view">
                                                        <li class="media event">
                                                            <span href="javascript:;" class="user-profile pull-left"> <img src="images/im3.jpg" style="width:50px; height: 50px;" class="img-circle" alt=""> </span>
                                                            <div class="media-body">
                                                                <span class="title" style="padding-top: 8px; display: inline-block;">Eleanor Jennings</span>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </td>

                                                <td class="t-min-w_205">
                                                    <div id="thumbcarousel" class="carousel slide" data-interval="false">
                                                        <div class="carousel-inner" style="padding-left: 0px;">
                                                            <div class="item active">
                                                                <div class="thumb bg_blue">IM</div><span style="padding-left: 10px;">Individual Man</span>
                                                            </div>
                                                            <!-- /item -->
                                                            <!-- /item -->
                                                        </div>
                                                        <!-- /carousel-inner -->
                                                    </div>

                                                </td>
                                                <td class="pos-rel"><a href="#!" class="sm_btn btn_green mrg_t-4">Pending</a> </td>

                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <small class="pull-right">Due Date: 29th Jan, 17</small>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="item text-left detail_link">
                        <a data-toggle="collapse" data-parent="#exampleAccordion" href="#exampleAccordion3" aria-expanded="false" aria-controls="exampleAccordion2">
                            Assignment Theme C <small class="pull-right">Open Date: 29th Jan, 17</small>
                        </a>
                        <div id="exampleAccordion3" class="collapse" role="tabpanel">
                            <div class="mb-3">
                                <div class="table-responsive">
                                    <table class="table table-striped" style="margin-bottom: 10px;">
                                        <thead>
                                            <tr>
                                                <th>Teacher</th>
                                                <th>Group</th>
                                                <th>Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <ul class="list-unstyled top_profiles scroll-view">
                                                        <li class="media event">
                                                            <span class="user-profile pull-left"> <img src="images/im1.jpg" style="width:50px; height: 50px;" class="img-circle" alt=""> </span>
                                                            <div class="media-body">
                                                                <span class="title" href="#" style="padding-top: 8px; display: inline-block;">Hester Morales</span>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </td>

                                                <td class="t-min-w_205">
                                                    <div id="thumbcarousel" class="carousel slide" data-interval="false">
                                                        <div class="carousel-inner" style="padding-left: 0px;">
                                                            <div class="item active">
                                                                <div class="thumb bg_green">ME</div><span style="padding-left: 10px;">My Lovely Group</span>
                                                            </div>
                                                            <!-- /item -->
                                                            <!-- /item -->
                                                        </div>
                                                        <!-- /carousel-inner -->
                                                    </div>

                                                </td>
                                                <td class="pos-rel"><a href="#!" class="sm_btn btn_org mrg_t-4">Open</a> </td>

                                            </tr>

                                            <tr>
                                                <td>
                                                    <ul class="list-unstyled top_profiles scroll-view">
                                                        <li class="media event">
                                                            <span class="user-profile pull-left"> <img src="images/im2.jpg" style="width:50px; height: 50px;" class="img-circle" alt=""> </span>
                                                            <div class="media-body">
                                                                <spanclass ="title" style="padding-top: 8px; display: inline-block;">
                                                                    Hunter Freeman
                                                                </spanclass>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </td>

                                                <td class="t-min-w_205">
                                                    <div id="thumbcarousel" class="carousel slide" data-interval="false">
                                                        <div class="carousel-inner" style="padding-left: 0px;">
                                                            <div class="item active">
                                                                <div class="thumb bg_orange">N</div><span style="padding-left: 10px;">Neards</span>
                                                            </div>
                                                            <!-- /item -->
                                                            <!-- /item -->
                                                        </div>
                                                        <!-- /carousel-inner -->
                                                    </div>

                                                </td>
                                                <td class="pos-rel"><a href="#!" class="sm_btn btn_org mrg_t-4">Open</a> </td>

                                            </tr>


                                            <tr>
                                                <td>
                                                    <ul class="list-unstyled top_profiles scroll-view">
                                                        <li class="media event">
                                                            <span href="javascript:;" class="user-profile pull-left"> <img src="images/im3.jpg" style="width:50px; height: 50px;" class="img-circle" alt=""> </span>
                                                            <div class="media-body">
                                                                <span class="title" style="padding-top: 8px; display: inline-block;">Eleanor Jennings</span>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </td>

                                                <td class="t-min-w_205">
                                                    <div id="thumbcarousel" class="carousel slide" data-interval="false">
                                                        <div class="carousel-inner" style="padding-left: 0px;">
                                                            <div class="item active">
                                                                <div class="thumb bg_blue">IM</div><span style="padding-left: 10px;">Individual Man</span>
                                                            </div>
                                                            <!-- /item -->
                                                            <!-- /item -->
                                                        </div>
                                                        <!-- /carousel-inner -->
                                                    </div>

                                                </td>
                                                <td class="pos-rel"><a href="#!" class="sm_btn btn_green mrg_t-4">Pending</a> </td>

                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <small class="pull-right">Due Date: 29th Jan, 17</small>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
            <a href="#!" data-dismiss="modal" class="modal-footer">
                Close
                <div class="clearfix"></div>
            </a>
        </div>
    </div>
</div>

