﻿
@{
    Layout = null;
    string Themeclass = "nav-md inner-dashboard " + Session["Theme"].ToString();
    string _curPage = ViewBag.PageHeading;

}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Teacher Dashboard - @_curPage</title>
    <link rel="shortcut icon" type="image/png" href="~/favicon.png" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
    <!--New Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i" rel="stylesheet">
    <!-- Bootstrap -->
    <link href="~/content/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/content/css/bootstrap-select.min.css" rel="stylesheet">

    <!-- Font Awesome -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- NProgress -->
    <link href="~/content/css/nprogress.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="~/content/css/green.css" rel="stylesheet">

    <!-- bootstrap-progressbar -->
    <link href="~/content/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
    <link href="~/content/css/switchery.min.css" rel="stylesheet">
    <!-- bootstrap-daterangepicker -->
    <link href="~/content/css/daterangepicker.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.5.1/fullcalendar.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.css">

    <!-- Custom Theme Style -->
    <link href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.8/summernote.css" rel="stylesheet" />
    <link href="@Url.Content("~/Content/css/jquery.mCustomScrollbar.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/css/style-dash.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/css/media.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/css/Loader.css")" rel="stylesheet" />
    <link href="~/content/css/dropzone.min.css" rel="stylesheet">
    <style>
        .user_img .img-circle {
            max-height: 100px !important;
            height: 100%;
            min-height: 100%;
            width: 100%;
        }

        .autocomplete-suggestions {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            border: 1px solid #999;
            background: #FFF;
            cursor: default;
            overflow: auto;
            -webkit-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64);
            -moz-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64);
            box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64);
        }

        .autocomplete-suggestion {
            padding: 2px 5px;
            white-space: nowrap;
            overflow: hidden;
        }

        .autocomplete-no-suggestion {
            padding: 2px 5px;
        }

        .autocomplete-selected {
            background: #F0F0F0;
        }

        .autocomplete-suggestions strong {
            font-weight: bold;
            color: #000;
        }

        .autocomplete-group {
            padding: 2px 5px;
            font-weight: bold;
            font-size: 16px;
            color: #000;
            display: block;
            border-bottom: 1px solid #000;
        }

        .theme-sel-b .setup_icon {
            border: 0;
        }

        .setup_icon {
            border: 0;
        }
    </style>
    @Scripts.Render("~/bundles/ajaxJS")
    <script src="@Url.Content("~/Content/Teacher/js/keywordMaster.js")"></script>
    @RenderSection("head", false)

</head>
<body class="@Themeclass">
    <div class="container body pageContainer">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title">
                        <a href="@Url.Action("Dashboard", "Teacher", new { area = "Teacher" })">
                            @if (Session["Theme"].ToString() == "theme-sel-w")
                            {
                                <img src=@Url.Content("~/Content/images/logo-white.jpg")>
                            }
                            else
                            {
                                <img src=@Url.Content("~/Content/images/logo-theme.png")>
                            }
                        </a>
                    </div>
                    <div class="clearfix"></div>

                    <!-- menu profile quick info -->
                    <div class="profile clearfix"> &nbsp; </div>
                    <!-- /menu profile quick info -->

                    <br />

                    <!-- sidebar menu -->
                    <div class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
                            <h3>Menu</h3>
                            <ul class="nav side-menu">
                                @if (_curPage == "Main")
                                {
                                    <li class="active">
                                        <a href="@Url.Action("Dashboard", "Teacher", new { area = "Teacher" })"><i class="fa fa-home"></i> Main</a>
                                    </li>
                                }
                                else
                                {
                                    <li>
                                        <a href="@Url.Action("Dashboard", "Teacher", new { area = "Teacher" })"><i class="fa fa-home"></i> Main</a>
                                    </li>
                                }

                                @if (_curPage == "Group Members")
                                {
                                    <li class="active">
                                        <a href="@Url.Action("Index", "GroupMembers", new { area = "Teacher" })"><i class="fa fa-users" aria-hidden="true"></i> Group Members</a>
                                    </li>
                                }
                                else
                                {
                                    <li>
                                        <a href="@Url.Action("Index", "GroupMembers", new { area = "Teacher" })"><i class="fa fa-users" aria-hidden="true"></i> Group Members</a>
                                    </li>
                                }
                                @*<li><a><i class="fa fa-suitcase" aria-hidden="true"></i> Assignments</a></li>*@
                                @if (_curPage == "Assignments")
                                {
                                    <li class="active">
                                        <a href="@Url.Action("TeacherAssignmentView", "Assignment", new { area = "Teacher" })"><i class="fa fa-suitcase" aria-hidden="true"></i> Assignments</a>
                                    </li>
                                }
                                else
                                {
                                    <li>
                                        <a href="@Url.Action("TeacherAssignmentView", "Assignment", new { area = "Teacher" })"><i class="fa fa-suitcase" aria-hidden="true"></i> Assignments</a>
                                    </li>
                                }
                                @if (_curPage == "View Submissions")
                                {
                                    <li class="active">
                                        <a href="@Url.Action("TeacherAssignmentView", "Submissions", new { area = "Teacher" })"><i class="material-icons">equalizer</i> View Submissions</a>
                                    </li>
                                }
                                else
                                {
                                    <li>
                                        <a href="@Url.Action("TeacherAssignmentView", "Submissions", new { area = "Teacher" })"><i class="material-icons">equalizer</i> View Submissions</a>
                                    </li>
                                }
                                <li><a onclick="getKeywordMasterView()"><i class="material-icons">star</i> Keyword Master</a></li>
                                @if (_curPage == "Resource")
                                {
                                    <li class="active"><a href="@Url.Action("ResourceView", "Resource", new { area = "" })"><i class="fa fa-file" aria-hidden="true"></i> Resource</a></li>
                                }
                                else
                                {
                                    <li><a href="@Url.Action("ResourceView", "Resource", new { area = "" })"><i class="fa fa-file" aria-hidden="true"></i> Resource</a></li>
                                }
                                @if (_curPage == "Notice Board")
                                {
                                    <li class="active"><a href="@Url.Action("Index", "NoticeBoard", new { area = "Teacher" })"><i class="material-icons">desktop_mac</i> Notice Board</a></li>
                                }
                                else
                                {
                                    <li><a href="@Url.Action("Index", "NoticeBoard", new { area = "Teacher" })"><i class="material-icons">desktop_mac</i> Notice Board</a></li>
                                }
                                @*<li><a><i class="material-icons">desktop_mac</i> Notice Board</a></li>*@
                                @if (_curPage == "Attendance")
                                {
                                    <li class="active">
                                        <a href="@Url.Action("Index", "Attendance" , new { area="Teacher" })">
                                            <i class="material-icons">date_range</i> Mark Attendance
                                        </a>
                                    </li>
                                }
                                else
                                {
                                    <li>
                                        <a href="@Url.Action("Index", "Attendance" , new { area="Teacher" })">
                                            <i class="material-icons">date_range</i> Mark Attendance
                                        </a>
                                    </li>

                                }
                                <li class="@(_curPage=="Forum"?"active":"")">
                                    <a href="@Url.Action("Index", "Forum", new { area = "" })"><i class="material-icons">chat</i>Forum</a>
                                </li>
                                <li class="@(_curPage=="Message"?"active":"")">
                                    <a href="@Url.Action("Index", "Message", new { area = "Teacher" })"><i class="fa fa-comments-o"></i> Message</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- /sidebar menu -->

                </div>
            </div>

            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <nav>
                        <div class="nav toggle"> <a id="menu_toggle"><i class="fa fa-bars"></i></a> </div>
                        @*<div class="dis_in mrg_l-15 mrg_t-10 txt_dblue">
                                <h2>@ViewBag.PageHeading</h2>
                            </div>*@

                        @*<div class="logo_main">
                                <a href="javascript:void(0);">
                                    @if (Session["Theme"].ToString() == "theme-sel-w")
                                    {
                                        <img src=@Url.Content("~/Content/images/logo-white.jpg")>
                                    }
                                    else
                                    {
                                        <img src=@Url.Content("~/Content/images/logo-theme.png")>
                                    }
                                </a>
                            </div>*@
                        <div id="dashboardClickEle" class="setup_icon" data-toggle="modal" data-target="#myModal">

                            @RenderSection("InstitueName", true)

                        </div>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="">
                                @RenderSection("UserProfile", true)
                                <ul class="dropdown-menu dropdown-usermenu pull-right">
                                    <li>@Html.ActionLink("Profile", "ProfileSetup", "UserProfile", new { area = "" }, null)</li>
                                    <li><a href="@Url.Action("LogOff","Home",new { area="" })"><i class="fa fa-sign-out pull-right"></i>Log Out</a></li>
                                </ul>
                            </li>
                            <li role="presentation" class="dropdown"> <a href="javascript:;" class="dropdown-toggle info-number"> <i class="fa fa-bell-o" aria-hidden="true"></i> <span class="badge bg-noti">4</span> </a> </li>
                            <li role="presentation" class="dropdown"> <a href="javascript:;" class="dropdown-toggle info-number"> <i class="fa fa-comments-o" aria-hidden="true"></i> <span class="badge bg-chat">6</span> </a> </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- /top navigation -->
            <!-- page content -->
            @RenderBody()
            <!-- /page content -->

        </div>
    </div>

    <div class="circle_loader" id="divLoader" style="display:none;">
        <div class="circle__item">
            <svg class="circle__spinner" viewBox="0 0 50 50">
                <circle class="path" cx="25" cy="25" r="20" fill="none" stroke="#93bfec" stroke-width="1"></circle>
            </svg>
        </div>
    </div>


    <!-- jQuery -->
    <script src="~/content/js/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="~/content/js/bootstrap.min.js"></script>
    <script src="~/content/js/bootstrap-select.min.js"></script>
    <!-- FastClick -->
    <!-- NProgress -->
    <script src="~/content/js/nprogress.js"></script>
    <!-- bootstrap-progressbar -->
    <script src="~/content/js/bootstrap-progressbar.min.js"></script>
    <!-- iCheck -->
    <script src="~/content/js/icheck.min.js"></script>
    <script src="~/content/js/jquery.tagsinput.js"></script>

    <!-- DateJS -->
    <script src="~/content/js/date.js"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="~/content/js/moment.min.js"></script>
    <script src="~/content/js/daterangepicker.js"></script>

    <!-- Custom Theme Scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.5.1/fullcalendar.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/js/bootstrap-multiselect.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.8/summernote.js"></script>
    <script src="~/content/js/dropzone.min.js"></script>
    <script src="~/content/js/custom.min.js"></script>
    <script src="@Url.Content("~/Content/Teacher/js/teacherUtility.js")"></script>
    <script src="@Url.Content("~/Content/Teacher/js/assignment.js")"></script>
    <script src="~/Content/js/jquery.autocomplete.js"></script>
    <!--DataTable-->
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <!--Heigh Chart-->
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    @RenderSection("ChattingJs", false)
    <script type="text/javascript">
        jQuery(function ($) {
            // /////
            // MAD-SELECT
            var madSelectHover = 0;
            $(".mad-select").each(function () {
                var $input = $(this).find("input"),
                    $ul = $(this).find("> ul"),
                    $ulDrop = $ul.clone().addClass("mad-select-drop");
                $(this)
                  .append('<i class="fa fa-chevron-down" aria-hidden="true"></i>', $ulDrop)
                  .on({
                      hover: function () { madSelectHover ^= 1; },
                      click: function () { $ulDrop.toggleClass("show"); }
                  });
                // PRESELECT
                $ul.add($ulDrop).find("li[data-value='" + $input.val() + "']").addClass("selected");
                // MAKE SELECTED
                $ulDrop.on("click", "li", function (evt) {
                    evt.stopPropagation();
                    $input.val($(this).data("value")); // Update hidden input value
                    $ul.find("li").eq($(this).index()).add(this).addClass("selected")
                      .siblings("li").removeClass("selected");
                });
                // UPDATE LIST SCROLL POSITION
                $ul.on("click", function () {
                    var liTop = $ulDrop.find("li.selected").position().top;
                    $ulDrop.scrollTop(liTop + $ulDrop[0].scrollTop);
                });
            });;
            // CLOSE ALL OPNED
            $(document).on("mouseup", function () {
                if (!madSelectHover) $(".mad-select-drop").removeClass("show");
            });

            if (gInfo) {
                gInfo.LogoutUrl = '@Url.Action("LogOff","Home",new { area="" })';
            }
            //onresize
            window.onresize = setContainersHeight;
        });
        // MAD-SELECT
        function initMadSelect(containerEle, putDisable) {
            containerEle.each(function () {
                var $input = $(this).find("input"),
                    $ul = $(this).find("> ul"),
                    $ulDrop = $ul.clone().addClass("mad-select-drop");
                $(this)
                  .append('<i class="fa fa-chevron-down" aria-hidden="true" style="cursor:pointer"></i>', $ulDrop)
                  .on({
                      hover: function () { madSelectHover ^= 1; },
                      click: function () {
                          if (!putDisable)
                              $ulDrop.toggleClass("show");
                      }
                  });
                // PRESELECT
                $ul.add($ulDrop).find("li[data-value='" + $input.val() + "']").addClass("selected");
                // MAKE SELECTED
                $ulDrop.on("click", "li", function (evt) {
                    evt.stopPropagation();
                    $input.val($(this).data("value")); // Update hidden input value
                    $ul.find("li").eq($(this).index()).add(this).addClass("selected")
                      .siblings("li").removeClass("selected");
                });
                // UPDATE LIST SCROLL POSITION
                if (!putDisable) {
                    $ul.on("click", function () {
                        var liTop = $ulDrop.find("li.selected").position().top;
                        $ulDrop.scrollTop(liTop + $ulDrop[0].scrollTop);
                    });
                }
            });
        }
    </script>
    <script type="text/javascript">
        $('.s_col').on('click', function (e) {
            $('.dis_pan').toggleClass("none_pan"); //you can list several class names
            $('#pan_hide').toggleClass("col-md-12");
            $('.show_cl').toggleClass("dis_icn");
            $('.hide_cl').toggleClass("none_icn");
            e.preventDefault();
        });
    </script>
    @RenderSection("PageScript", false)
    @RenderSection("modelbox", false)
    <!--Modals Container Divs -->
    <div id="studentProfileDiv"></div>
    <div id="addSubjectDiv"></div>
    <div id="createGroupContainer"></div>
    <div id="addToGroupContainer"></div>
    <div id="keywordMasterDiv"></div>
    <div id="divAddStudents"></div>
    <div id="assignMemberGroupModalContainer"></div>
    <div id="addAssignmentContainer"></div>
    <div id="addNewNoticeDiv"></div>
    <div id="noticeCommentdiv"></div>
    <div id="divAddSubjectResource"></div>
    <div id="divEditSubjectResource"></div>
    <div id="newtopicDiv"></div>
    <div id="divAddTagResource"></div>
    <div id="divAddDescriptionResource"></div>

    <div class="modal" id="genericAlertBox" tabindex="-1" role="dialog" aria-labelledby="genericAlertBoxModalLabel" style="z-index:1111111111 !important">
        <div class="modal-dialog" role="document" style="width:420px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="btnCloseModal"><i class="material-icons">clear</i></button>
                    <h4 class="modal-title" style="color:#fff" id="genericAlertBoxModalLabel">Alert Message</h4>
                </div>
                <div class="modal-body">
                    <div class="col-sm-10 col-sm-offset-1" style="margin: 0 auto; float: none;">
                        <p class="popup_txt" style="text-align: center;font-weight: 600;">Perfect! Now teacher can interact with students attendance in his dashboard.</p>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <!--Remove from Group Confirm Box-->
    <div class="modal" id="modalDeactivationMemberAlert" tabindex="-1" role="dialog" aria-labelledby="DeactivationMemberAlertModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="material-icons">clear</i></button>
                    <h4 class="modal-title" id="DeactivationMemberAlertModalLabel">Alert Message</h4>
                </div>
                <div class="modal-body">
                    <div class="col-sm-10 col-sm-offset-1" style="margin: 0 auto; float: none;">
                        <p class="popup_txt" style="text-align: center;font-weight: 600;word-break: break-all;">Perfect! Now teacher can interact with students attendance in his dashboard.</p>
                    </div>
                </div>
                <div class="clearfix"></div>
                <a href="#!" id="submitLink" class="modal-footer">
                    Yes
                    <div class="clearfix"></div>
                </a>
            </div>
        </div>
    </div>

    <!--Remove student from subject Confirm Box-->
    <div class="modal" id="removeConfirmationModalBox" tabindex="-1" role="dialog" aria-labelledby="removeConfirmationModalBoxLabel">
        <div class="modal-dialog" role="document" style="width:500px;">
            <div class="modal-content" style="width:500px;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="material-icons">clear</i></button>
                    <h4 class="modal-title" id="removeConfirmationModalBoxLabel">Alert Message</h4>
                </div>
                <div class="modal-body">
                    <div class="col-sm-10 col-sm-offset-1" style="margin: 0 auto; float: none;">
                        <p class="popup_txt" style="text-align: center;font-weight: 600;word-wrap: break-word;"><span id="message"></span></p>
                    </div>
                </div>
                <div class="clearfix"></div>
                <a href="#!" id="submitAlert" class="modal-footer">
                    Yes
                    <div class="clearfix"></div>
                </a>
            </div>
        </div>
    </div>

</body>
</html>
