﻿
@{
    Layout = null;
    string Themeclass = "nav-md admin-page " + Session["Theme"].ToString();
    string _curPage = ViewBag.PageHeading;

}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Admin Dashboard</title>
    <link rel="shortcut icon" type="image/png" href="~/favicon.png" />

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
    <!--New Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i" rel="stylesheet">
    <!-- Bootstrap -->
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/css/bootstrap-select.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- NProgress -->
    <link href="@Url.Content("~/Content/css/nprogress.css")" rel="stylesheet">
    <!-- iCheck -->
    <link href="~/Content/css/green.css" rel="stylesheet">

    <!-- bootstrap-progressbar -->
    <link href="@Url.Content("~/Content/css/bootstrap-progressbar-3.3.4.min.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/css/switchery.min.css")" rel="stylesheet">
    <!-- bootstrap-daterangepicker -->
    <link href="@Url.Content("~/Content/css/daterangepicker.css")" rel="stylesheet">
    <link rel="stylesheet" href="@Url.Content("~/Content/css/jquery.mCustomScrollbar.min.css")">
    <link href="@Url.Content("~/Content/css/style-dash.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/css/media.css")" rel="stylesheet">
    <!-- Custom Theme Style -->
    <link href="@Url.Content("~/Content/css/jquery.dataTables.min.css")" rel="stylesheet">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/jquery-bootgrid/1.3.1/jquery.bootgrid.min.css" rel="stylesheet" />
    <!--JQUERYDatePickerCss-->
    @*<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />*@
    <link href="@Url.Content("~/Content/css/Loader.css")" rel="stylesheet" />
    <style>
        .user_img .img-circle {
            max-height: 100px !important;
            height: 100%;
            min-height: 100%;
            /*width: 100%;*/
        }
    </style>
    @Scripts.Render("~/bundles/ajaxJS")
    @RenderSection("head", false)
</head>

<body class="@Themeclass">
    <div class="container body pageContainer">
        <div class="main_container">
            <div class="col-md-3 left_col pd_t-10">
                <div class="left_col scroll-view">
                    <div class="clearfix"></div>

                    <!-- menu profile quick info -->
                    <div class="profile clearfix"> &nbsp; </div>
                    <!-- /menu profile quick info -->

                    <br />

                    <!-- sidebar menu -->
                    <div class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
                            <h3>Menu</h3>
                            <ul class="nav side-menu">
                                <li class="@(_curPage=="Main"?"active":"")"><a href="/Admin/Admin/Dashboard"><i class="fa fa-home"></i> Main</a></li>
                                <li class="@(_curPage=="Message"?"active":"")">
                                    <a href="@Url.Action("Index", "Message", new { area = "Admin" })"><i class="fa fa-comments-o"></i> Message</a>
                                </li>
                                <li class="@(_curPage=="Forum"?"active":"")">
                                    <a href="@Url.Action("Index", "Forum", new { area = "Admin" })"><i class="material-icons">chat</i>Forum</a>
                                </li>
                                <li class="@(_curPage=="PinupBoard"?"active":"")">
                                    <a href="@Url.Action("Index", "PinUpBoard", new { area = "Admin" })">
                                        <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                             width="18px" height="18px" viewBox="0 0 984 984" style="enable-background:new 0 0 984 984;" xml:space="preserve">
<g>
<path d="M532.5,40c0-22.1-17.899-40-40-40c-22.1,0-40,17.9-40,40v32.7h80V40z" />
<path d="M971.1,189.6c0-33.1-26.9-60-60-60H72.9c-33.1,0-60,26.9-60,60v442.5c0,33.101,26.9,60,60,60h838.2c33.1,0,60-26.899,60-60
    V189.6z" />
<path d="M887,792c0-21-16.1-38.2-36.7-39.9c-1.1-0.1-2.199-0.1-3.3-0.1H721h-90.8h-97.7h-80h-98.7H262.9H137
    c-1.1,0-2.2,0.1-3.3,0.1C113.2,753.8,97,771,97,792c0,22.1,17.9,40,40,40h82.9l-50.1,93c-10.5,19.5-3.2,43.7,16.3,54.2
    c6,3.199,12.5,4.8,18.9,4.8c14.2,0,28-7.601,35.3-21l70.5-131H452.6v112c0,22.1,17.899,40,40,40c22.1,0,40-17.9,40-40V832h140.8
    l70.5,131c7.2,13.399,21,21,35.3,21c6.4,0,12.9-1.5,18.9-4.8c19.5-10.5,26.699-34.7,16.3-54.2l-50.101-93h82.9
    C869.1,832,887,814,887,792z" /></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g>
</svg>
                                        Pin-Up Board
                                    </a>
                                </li>
                                <li class="@(_curPage=="NoticeBoard"?"active":"")"><a href="@Url.Action("Index", "NoticeBoard", new { area = "Admin" })"><i class="material-icons">desktop_mac</i> Notice Board</a></li>

                            </ul>
                        </div>
                    </div>
                    <!-- /sidebar menu -->
                </div>
            </div>

            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <nav>
                        <div class="nav toggle"> <a id="menu_toggle"><i class="fa fa-bars"></i></a> </div>
                        <div class="logo_main">
                            <a href="javascript:void(0);">
                                @if (Session["Theme"].ToString() == "theme-sel-w")
                                {
                                    <img src=@Url.Content("~/Content/images/logo-white.jpg")>
                                }
                                else
                                {
                                    <img src=@Url.Content("~/Content/images/logo-theme.png")>
                                }
                            </a>
                        </div>
                        <div id="dashboardClickEle" class="setup_icon" data-toggle="modal" data-target="#myModal">

                            @RenderSection("InstitueName", true)

                        </div>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="">
                                @RenderSection("UserProfile", true)
                                <ul class="dropdown-menu dropdown-usermenu pull-right">
                                    <li>@Html.ActionLink("Profile", "ProfileSetup", "UserProfile", new { area = "" }, null)</li>
                                    <li><a href="@Url.Action("LogOff","Home", new { area="" })"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
                                </ul>
                            </li>
                            <li role="presentation" class="dropdown"> <a href="javascript:;" class="dropdown-toggle info-number"> <i class="fa fa-bell-o" aria-hidden="true"></i> <span class="badge bg-noti">4</span> </a> </li>
                            <li role="presentation" class="dropdown"> <a href="javascript:;" class="dropdown-toggle info-number"> <i class="fa fa-comments-o" aria-hidden="true"></i> <span class="badge bg-chat">6</span> </a> </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- /top navigation -->
            <!-- page content -->
            @RenderBody()
            <!-- /page content -->

        </div>
    </div>

    <div class="circle_loader" id="divLoader" style="display:none;">
        <div class="circle__item">
            <svg class="circle__spinner" viewBox="0 0 50 50">
                <circle class="path" cx="25" cy="25" r="20" fill="none" stroke="#93bfec" stroke-width="1"></circle>
            </svg>
        </div>
    </div>


    <!-- jQuery -->
    <script src="@Url.Content("~/Content/js/jquery.min.js")"></script>
    <!--JQUERYDatePickerJS-->
    @*<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>*@
    <!-- Bootstrap -->
    <script src="@Url.Content("~/Content/js/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Content/js/bootstrap-select.min.js")"></script>
    <!-- FastClick -->
    <!-- NProgress -->
    <script src="@Url.Content("~/Content/js/nprogress.js")"></script>
    <!-- bootstrap-progressbar -->
    <script src="@Url.Content("~/Content/js/bootstrap-progressbar.min.js")"></script>
    <!-- iCheck -->
    <script src="@Url.Content("~/Content/js/icheck.min.js")"></script>

    <!-- DateJS -->
    <script src="@Url.Content("~/Content/js/date.js")"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="@Url.Content("~/Content/js/moment.min.js")"></script>
    <script src="@Url.Content("~/Content/js/daterangepicker.js")"></script>
    <script src="@Url.Content("~/Content/js/switchery.min.js")"></script>

    <!-- Custom Theme Scripts -->
    <script src="@Url.Content("~/Content/js/custom.min.js")"></script>
    <!--DataTable-->
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-bootgrid/1.3.1/jquery.bootgrid.min.js"></script>
    <!--Common Utility-->
    <script src="@Url.Content("~/Content/admin/js/adminutility.js")"></script>
    <script src="~/Content/js/jquery.autocomplete.js"></script>
    <script src="~/Content/js/jquery.mCustomScrollbar.concat.min.js"></script>
    @RenderSection("ChattingJs", false)
    <script type="text/javascript">
        jQuery(function ($) {

            //$(document).on("click", "#ddlAddUser>li", function () {
            //    var userRole = $(this).data('value');
            //    if (userRole) {
            //        OpenaddUserModal(userRole);
            //    }
            //    else {
            //        alert("Some Problem Occur");
            //    }
            //});
            // /////
            var madSelectHover = 0;
            initMadSelect();
            // CLOSE ALL OPNED
            $(document).on("mouseup", function () {
                if (!madSelectHover) $(".mad-select-drop").removeClass("show");
            });
            //set common global variables
            if (gInfo) {
                gInfo.LogoutUrl = '@Url.Action("LogOff","Home",new { area="" })';
            }
            //enable date picker for date fields

        });
        // MAD-SELECT
        function initMadSelect() {
            $(".mad-select").each(function () {
                var $input = $(this).find("input"),
                    $ul = $(this).find("> ul"),
                    $ulDrop = $ul.clone().addClass("mad-select-drop");
                $(this)
                  .append('<i class="fa fa-chevron-down" aria-hidden="true" style="cursor:pointer"></i>', $ulDrop)
                  .on({
                      hover: function () { madSelectHover ^= 1; },
                      click: function () { $ulDrop.toggleClass("show"); }
                  });
                // PRESELECT
                $ul.add($ulDrop).find("li[data-value='" + $input.val() + "']").addClass("selected");
                // MAKE SELECTED
                $ulDrop.on("click", "li", function (evt) {
                    evt.stopPropagation();
                    $input.val($(this).data("value")); // Update hidden input value
                    $ul.find("li").eq($(this).index()).add(this).addClass("selected")
                      .siblings("li").removeClass("selected");
                });
                // UPDATE LIST SCROLL POSITION
                $ul.on("click", function () {
                    var liTop = $ulDrop.find("li.selected").position().top;
                    $ulDrop.scrollTop(liTop + $ulDrop[0].scrollTop);
                });
            });
        }

    </script>


    <script type="text/javascript">
        $('.s_col').on('click', function (e) {
            $('.dis_pan').toggleClass("none_pan"); //you can list several class names
            $('#pan_hide').toggleClass("col-md-12");
            $('.show_cl').toggleClass("dis_icn");
            $('.hide_cl').toggleClass("none_icn");
            e.preventDefault();
        });
    </script>
    @RenderSection("modelbox", false)
    <div id="addUserContainer"></div>
    <div id="divChangePassword"></div>
    <div id="divDashboardStyle"></div>
    <div id="studentAttadanceContainer"></div>
    <div id="studentAssignmentsContainer"></div>
    <div id="divAsignMember"></div>
    <div id="studentAttandanceContainer"></div>
    <div id="teacherInfoContainer"></div>
    <div id="divEditMember"></div>
    <div id="notieFilesDiv"></div>
    <div id="noticeCommentdiv"></div>
    <div id="newtopicDiv"></div>

    <div class="modal" id="modalDeactivationMemberAlert" tabindex="-1" role="dialog" aria-labelledby="DeactivationMemberAlertModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="material-icons">clear</i></button>
                    <h4 class="modal-title" id="DeactivationMemberAlertModalLabel">Alert Message</h4>
                </div>
                <div class="modal-body">
                    <div class="col-sm-10 col-sm-offset-1" style="margin: 0 auto; float: none;">
                        <p class="popup_txt" style="text-align: center;font-weight: 600;">Perfect! Now teacher can interact with students attendance in his dashboard.</p>
                    </div>
                </div>
                <div class="clearfix"></div>
                <a href="#!" id="submitLink" class="modal-footer">
                    Yes
                    <div class="clearfix"></div>
                </a>

                @*<a href="#!" id="submitLink" class="modal-footer col-xs-6" style="bottom: -1px;background-color:#14c673;">
                        YES
                        <div class="clearfix"></div>
                    </a>
                    <a href="#!" class="modal-footer col-xs-6 btn_no" style="bottom: -1px;background-color:#f44336" data-dismiss="modal" aria-label="Close">
                        NO
                        <div class="clearfix"></div>
                    </a>
                    <div class="clearfix"></div>*@
            </div>
        </div>
    </div>
    <!--Generic Alert Box-->
    <div class="modal" id="genericAlertBox" tabindex="-1" role="dialog" aria-labelledby="genericAlertBoxModalLabel">
        <div class="modal-dialog" role="document" style="width:420px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="btnCloseModal"><i class="material-icons">clear</i></button>
                    <h4 class="modal-title" style="color:#fff" id="genericAlertBoxModalLabel">Alert Message</h4>
                </div>
                <div class="modal-body">
                    <div class="col-sm-10 col-sm-offset-1" style="margin: 0 auto; float: none;">
                        <p class="popup_txt" style="text-align: center;font-weight: 600;">Perfect! Now teacher can interact with students attendance in his dashboard.</p>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>




    <div class="modal" id="removeConfirmationModalBox" tabindex="-1" role="dialog" aria-labelledby="removeConfirmationModalBoxLabel">
        <div class="modal-dialog" role="document" align="center" style="width:500px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="material-icons">clear</i></button>
                    <h4 class="modal-title" id="removeConfirmationModalBoxLabel">Alert Message</h4>
                </div>
                <div class="modal-body">
                    <div class="col-sm-10 col-sm-offset-1" style="margin: 0 auto; float: none;">
                        <p class="popup_txt" style="text-align: center;font-weight: 600;"><span id="message"></span></p>
                    </div>
                </div>
                <div class="clearfix"></div>
                <a href="#!" id="submitAlert" class="modal-footer">
                    Yes
                    <div class="clearfix"></div>
                </a>
            </div>
        </div>
    </div>

</body>
</html>
