﻿@model IEnumerable<ReelaeDataAccessLayer.re_GetChatMembers_sp_Result>
@{
    var members = Model.ToList();
    var uEmail = User.Identity.Name;
    var usersUnreadMessages = ((List<ReelaeDataAccessLayer.re_getUserSingleChatUnreadMessagesCount_sp_Result>)ViewBag.UesrsUnreadMessagesWithCount);
}
@helper GetUserPic(string _userType, string picUrl)
{
if (!string.IsNullOrEmpty(picUrl))
{
        <img src="@Url.Content(picUrl)" class="img-responsive">
}
else
{
    if (string.IsNullOrEmpty(_userType))
    {
            <img src="@Url.Content("~/content/images/user.png")" class="img-responsive">
    }
    else
    {
        if (_userType.ToLower() == "t")
        {
                <img src="@Url.Content("~/content/images/teacher.jpg")" class="img-responsive">

        }
        else if (_userType.ToLower() == "s")
        {
                <img src="@Url.Content("~/content/images/student.jpg")" class="img-responsive">
        }
        else
        {
                <img src="@Url.Content("~/content/images/user.png")" class="img-responsive">
        }
    }
}

}

@helper GetUserUnreadNotification(int UserId, IEnumerable<ReelaeDataAccessLayer.re_getUserSingleChatUnreadMessagesCount_sp_Result> _usersUnreadMessagesLists)
{

    if (_usersUnreadMessagesLists.Any(n => n.FromUserID == UserId))
    {
        int? _count = _usersUnreadMessagesLists.Where(n => n.FromUserID == UserId).First().UnreadMsgCount;
        if (_count.HasValue && _count.Value > 0)
        {
                <span class="chat_icn-wrap bg-noti">@_count</span>
        }
        else
        {
                <span style="display:none" class="chat_icn-wrap bg-noti"></span>

        }

    }
    else
    {
            <span style="display:none" class="chat_icn-wrap bg-noti"></span>

    }

}

@foreach (var item in members)
{
    string userName = (item.Name.Length > 15) ? item.Name.Substring(0, 12) + ".." : item.Name;
    if (uEmail == item.Email)
    {
        continue;
    }
    <div class="user_chat-detail" style="cursor:pointer;" uEId="@item.Email" userToken="@item.UserID" cT="single">
        <div class="user_pic">@GetUserPic(item.UserType, item.UserPicUrl)@GetUserUnreadNotification(item.UserID, usersUnreadMessages)</div>
        <div class="chat-user_name">
            <h2 class="name" title="@item.Name">
                @userName
                @*<div class="clearfix"></div>
                    <small>@item.ChatStatus</small>*@
            </h2>
        </div>
        <div class="user_status"><i class="fa fa-circle @((item.IsOnline==1) ?"txt_on":"txt_off") aria-hidden=" true"></i></div>
        <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
}




