﻿@model Reelae.Areas.Admin.Models.DashboardStyleViewModel
<div class="modal" id="dashboardSetupModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        @using (Ajax.BeginForm("SetupDashboard", "Admin", new AjaxOptions { OnComplete = "onSetupComplete", OnBegin = "onSetupBegin", HttpMethod = "POST" }))
        {
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="material-icons">clear</i></button>
                    <h4 class="modal-title" id="myModalLabel">Dashboard Style</h4>
                </div>
                <div class="modal-body" style="overflow-y:hidden">
                    <div class="col-md-10 col-md-offset-1">                       
                        <div class="form-group">
                            <label for="exampleInputEmail1">Institution Name</label><span style="color:red;font-size: 12px;">*</span>
                            <div class="clearfix"></div>
                            @*<input type="email" class="form-control brd_radius-4" id="exampleInputEmail1" placeholder="Type your institution name here" value="@Model.InstitutionName">*@
                            @Html.TextBoxFor(model => model._institution.InstitutionName, new { @class = "form-control brd_radius-4", placeholder = "Type your institution name here", id = "InstitutionName", onchange = "onChangeValidate(this)", maxlength = "120" })
                            @Html.HiddenFor(model => model._institution.InstitutionID)
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Institution Initial Name</label><span style="color:red;font-size: 12px;">*</span>
                            <div class="clearfix"></div>
                            @if (string.IsNullOrEmpty(Model._institution.IntialName))
                            {
                                @Html.TextBoxFor(model => model._institution.IntialName, new { maxlength = "6", @class = "form-control brd_radius-4", placeholder = "Type your institution's initial name here(maxlength is 6 characters)", id = "InitialName", onchange = "onChangeValidate(this)" })
                            }
                            else
                            {
                                @Html.TextBoxFor(model => model._institution.IntialName, new { @readonly = "readonly", @class = "form-control brd_radius-4", placeholder = "Type your institution's initial name here", id = "InitialName", style = "font-weight:bold;", onchange = "onChangeValidate(this)" })
                            }
                        </div>
                        <div class="gap_20"></div>
                        <div class="form-group" id="divColors">
                            <label for="exampleInputEmail1">Select dashboard style</label>
                            <div class="clearfix"></div>
                            @foreach (var _th in Model._themes)
                            {
                                string c = _th.ThemeName.ToString().Substring((_th.ThemeName.LastIndexOf("-") + 1));
                                string ThemeClass = "sel_color-box sel_color-" + c;
                                if (_th.ThemeName == Model._institution.Theme.ThemeName)
                                {
                                    <a href="#" class="@ThemeClass" onclick='setThemeColor("@_th.ColorCode", "@_th.ThemeName", "@c", this)' style="border: 1px solid blue;"></a>
                                }
                                else
                                {
                                    <a href="#" class="@ThemeClass" onclick='setThemeColor("@_th.ColorCode", "@_th.ThemeName", "@c", this)'></a>

                                }

                            }
                            @Html.HiddenFor(model => model._institution.ThemeID)
                            @Html.HiddenFor(model => model._institution.Theme.ColorCode, new { id = "Theme_ColorCode" })
                            @Html.HiddenFor(model => model._institution.Theme.ThemeName, new { id = "heme_ThemeName" })
                            <input type="hidden" value="w" id="bodythemeClass" />
                        </div>
                        <div class="gap_20"></div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Add logo</label>
                            <div class="clearfix"></div>
                            <div class="logo_wrapper">
                                <div class="upload_logo">
                                    @if (Model._institution.Logo == null)
                                    {
                                        <span>L</span>
                                        <img id="imgLogo" src="" />

                                    }
                                    else
                                    {
                                        <img src="@Model._institution.Logo" id="imgLogo" />
                                    }
                                    @Html.HiddenFor(model => model._institution.Logo, new { id = "hdnLogoPath" })
                                </div>
                                <a href="#!" class="gr_btn brd_radius-4" id="btnLogoupload" onclick="triggerFileUpload();">Upload New</a>
                                <a href="#!" class="red_btn brd_radius-4" onclick="DeleteLogo()" id="btnDelete" style="display:none">Delete</a>
                                <div class="hiddenfile">
                                    <input name="upload" type="file" id="FileUpload1" onchange="UploadLogo();" />
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="clearfix"></div>
                </div>
                @*<a href="#!" data-toggle="modal" data-target="#myModal2" class="modal-footer">
                    Save and Continue</a>*@
                <input type="submit" value="Save and Continue" class="button_blue button_100">
                <div class="clearfix"></div>
            </div>

        }
    </div>
</div>