﻿@model ReelaeDataAccessLayer.User
<a href="#!" onclick="OpenDashboardStyleModal()">
    @if (Model.Institution.Logo != null && Model.Institution.Logo != "")
    {
        <img src="@Model.Institution.Logo" alt=".." class="img-circle img-responsive img_setup" style="background:white">
    }
</a>


@if (Model.Institution.InstitutionName != "")
{
    if (Model.Institution.InstitutionName.Length > 50)
    {
        string name = @Model.Institution.InstitutionName.Substring(0, 45) + "...";
        <span id="lbl_instituteName" title="@Model.Institution.InstitutionName" onclick="OpenDashboardStyleModal()">
            @name.Trim()
        </span>
    }
    @*else if (Model.Institution.InstitutionName.Length > 10)
        {
            <span id="lbl_instituteName" style="width:120px;">
                @Model.Institution.InstitutionName
            </span>
        }*@

else
{
    <span id="lbl_instituteName" onclick="OpenDashboardStyleModal()">
        @Model.Institution.InstitutionName
    </span>
  }
}
else
{
    <span id="lbl_instituteName" onclick="OpenDashboardStyleModal()">
        SETUP YOUR <br />
        DASHBOARD
    </span>
}

