﻿@model Reelae.Areas.Admin.Models.StudentAttandanceAdminView
    <div class="modal" id="stuAttandanceViewModal" tabindex="-1" role="dialog" aria-labelledby="stuAttandanceViewModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="material-icons">clear</i></button>
                    <h4 class="modal-title" id="stuAttandanceViewModalLabel">Student Attandance Info</h4>
                </div>
                <div class="modal-body">
                    <div class="mrg_t-40">
                        <div class="user_box user_product text-center bg_white tbl_left">
                            <div class="table-responsive">
                                <table class="table jambo_table bulk_action mb_0">
                                    <thead>
                                        <tr class="headings">
                                            <th class="column-title"></th>
                                            <th class="column-title">Name</th>
                                            <th class="column-title">Attendance Rate</th>
                                            <th class="column-title text-right pdt-r-20"><i class="fa fa-cog" aria-hidden="true"></i></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="even pointer">
                                            <td class="a-center "><input type="checkbox" class="flat" name="table_records"></td>
                                            <td class="name">@Model.userInfo.Name</td>
                                        <td class=" "><i class="fa fa-star select" aria-hidden="true"></i> <i class="fa fa-star select" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i></td>
                                        <td class=" "><a href="#!" class="btn_tbl-green">In Class</a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a href="#!" data-dismiss="modal" class="modal-footer">
            Close
            <div class="clearfix"></div>
        </a>
    </div>
</div>
