﻿@model Reelae.Areas.Admin.Models.TeacherInfoAdminView
@using Humanizer;
@{
    var assignments = Model.Assignments.ToList().OrderByDescending(r => r.CreatedDate);
    var subjects = Model.Subjects.ToList();

}
<div class="modal" id="teacherInfoModal" tabindex="-1" role="dialog" aria-labelledby="teacherInfoModalLabel">
    <div class="modal-dialog" role="document" style="width:100vh">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="material-icons">clear</i></button>
                <h4 class="modal-title" id="teacherInfoModalLabel">Member Information</h4>
            </div>
            @*<div class="modal-body">
                </div>*@
            <div class="col-sm-12 text-center" style="margin: 0 auto; float: none;">
                <div class="user_img col-xs-12 col-sm-4" style="margin-top: 0px;">

                    @if (Model.userInfo.UserPicUrl != null && Model.userInfo.UserPicUrl != "")
                    {
                        <img src="@Url.Content(Model.userInfo.UserPicUrl)" alt="photo" class="img-circle img-responsive" />
                    }
                    else
                    {
                        <img src="@Url.Content("~/content/images/teacher.jpg")" alt="photo" class="img-circle img-responsive" id="MemberPic" />
                    }
                </div>
                <div class="user_name text-left col-xs-12 col-sm-8">
                    <h3 style="min-height: 10px;"><strong style="display: inline-block; float: left;width: 18%;">Name:</strong> <span style="padding-left: 10px;display: inline-block;float: left;width: 78%;">@Html.DisplayFor(modal => modal.userInfo.Name) &nbsp; @Html.DisplayFor(modal => modal.userInfo.Surname)</span></h3>
                    <div class="clearfix"></div>
                    <div class="detail_wrp">
                        <strong style="display: inline-block; float: left;width: 22%;">Member Code:</strong> <span style="padding-left: 10px;display: inline-block;float: left;width: 78%;">@Html.DisplayFor(modal => modal.userInfo.UserCode)</span>
                        <div class="clearfix"></div>
                    </div>
                    <div class="detail_wrp">
                        <strong style="display: inline-block; float: left;width: 18%;">Email:</strong> <span style="padding-left: 10px;display: inline-block;float: left;width: 78%;">@Html.DisplayFor(modal => modal.userInfo.Email)</span>
                        <div class="clearfix"></div>
                    </div>

                    <div class="detail_wrp">
                        <strong style="display: inline-block; float: left;width: 18%;">Location:</strong> <span style="padding-left: 10px;display: inline-block;float: left;width: 78%;">
                            @Html.DisplayFor(modal => modal.userInfo.Location)
                        </span>
                        <div class="clearfix"></div>
                    </div>
                    <div class="detail_wrp">
                        <strong style="display: inline-block; float: left;width: 18%;">BIO:</strong> <span style="padding-left: 10px;display: inline-block;float: left;width: 78%;">
                            @Html.DisplayFor(modal => modal.userInfo.Bio)
                        </span>
                        <div class="clearfix"></div>
                    </div>
                </div>

                <div class="clearfix"></div>
                <div style="text-align: left;font-weight: 700;margin-top: 10px">Subjects</div>
                <div id="exampleAccordion" data-children=".item" style="height: 50vh;overflow-y: auto;">
                    @foreach (var _subject in subjects)
                    {
                        string accordianId = "Accordion" + _subject.SubjectID;
                        var _assignments = assignments.Where(r => r.SubjectID == _subject.SubjectID).ToList();
                        <div class="item text-left detail_link">
                            <a data-toggle="collapse" data-parent="#@accordianId" href="#@accordianId" aria-expanded="false" aria-controls="@accordianId">
                                @_subject.Subject.SubjectName <small class="pull-right">Open Date: @string.Format("{0} {1}", _subject.Subject.CreatedDate.Day.Ordinalize(), _subject.Subject.CreatedDate.ToString("MMM yyyy hh:mm tt"))</small>
                            </a>
                            <div id="@accordianId" class="collapse" role="tabpanel">
                                <div class="mb-3">
                                    <div class="table-responsive">
                                        @if (_assignments.Count() > 0)
                                        {
                                            <table class="table table-striped" style="margin-bottom: 10px;">
                                                <thead>
                                                    <tr>
                                                        <td>Name</td>
                                                        <th>Leader</th>
                                                        <th>Group</th>
                                                        <th>Date</th>
                                                        <th>Status</th>
                                                    </tr>
                                                </thead>
                                                <tbody>

                                                    @foreach (var _assignment in _assignments)
                                                    {
                                                        string btnclass = "";
                                                        if (_assignment.AssignmentStatus == 4 || _assignment.AssignmentStatus == 5)
                                                        {
                                                            btnclass = "btn_red";
                                                        }
                                                        else if (_assignment.AssignmentStatus == 3 || _assignment.AssignmentStatus == 2)
                                                        {
                                                            btnclass = "btn_green";
                                                        }
                                                        else if (_assignment.AssignmentStatus == 1)
                                                        {
                                                            btnclass = "btn_org";
                                                        }
                                                        <tr>
                                                            <td class="t-min-w_205">
                                                                @_assignment.AssignmentName
                                                            </td>
                                                            <td>
                                                                <ul class="list-unstyled top_profiles scroll-view">
                                                                    <li class="media event">
                                                                        @if (_assignment.User1 != null)
                                                                        {
                                                                            <span class="user-profile pull-left"> <img src="@(_assignment.User1.UserPicUrl != null ? Url.Content(_assignment.User1.UserPicUrl) : Url.Content("~/content/images/student.jpg"))" style="width:50px; height: 50px;" class="img-circle" alt=""> </span>
                                                                            <div class="media-body">
                                                                                <span class="title" href="#" style="padding-top: 8px; display: inline-block;">@_assignment.User1.Name</span>
                                                                            </div>
                                                                        }
                                                                    </li>
                                                                </ul>
                                                            </td>

                                                            <td class="t-min-w_205">
                                                                <div id="thumbcarousel" class="carousel slide" data-interval="false">
                                                                    @if (_assignment.GroupID != null)
                                                                    {
                                                                        <div class="carousel-inner" style="padding-left: 0px;">
                                                                            <div class="item active">
                                                                                <div class="thumb bg_green">@_assignment.Group.GroupIntialName</div><span style="padding-left: 10px;">@_assignment.Group.GroupName</span>
                                                                            </div>
                                                                            <!-- /item -->
                                                                            <!-- /item -->
                                                                        </div>
                                                                    }
                                                                    else
                                                                    {
                                                                        <span class="user-profile pull-left"> <img src="@(_assignment.User1.UserPicUrl != null ? Url.Content(_assignment.User1.UserPicUrl) : Url.Content("~/content/images/student.jpg"))" style="width:50px; height: 50px;" class="img-circle" alt=""> </span>
                                                                        <div class="media-body">
                                                                            <span class="title" href="#" style="padding-top: 8px; display: inline-block;">Individual</span>
                                                                        </div>
                                                                    }
                                                                    <!-- /carousel-inner -->
                                                                </div>

                                                            </td>
                                                            <td class="t-min-w_205">
                                                                <small>
                                                                    @string.Format("{0} {1}", _assignment.CreatedDate.Day.Ordinalize(), _assignment.CreatedDate.ToString("MMM yyyy hh:mm tt"))
                                                                </small>
                                                                -
                                                                <small>
                                                                    @string.Format("{0} {1}", _assignment.DueDate.Value.Day.Ordinalize(), _assignment.DueDate.Value.ToString("MMM yyyy hh:mm tt"))
                                                                </small>
                                                            </td>
                                                            <td class="pos-rel">
                                                                <a href="#!" class="sm_btn @btnclass mrg_t-4">
                                                                    @_assignment.AssignmentStatu.AssignmentStatus
                                                                </a>
                                                            </td>

                                                        </tr>
                                                    }

                                                </tbody>
                                            </table>
                                        }
                                        else
                                        {

                                            <span>No assignments</span>

                                        }
                                    </div>
                                </div>
                                <small class="pull-right">Due Date: @string.Format("{0} {1}", _subject.Subject.CreatedDate.Day.Ordinalize(), _subject.Subject.CreatedDate.ToString("MMM yyyy hh:mm tt"))</small>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    }


                </div>
            </div>
            <a href="#!" data-dismiss="modal" class="modal-footer">
                Close
                <div class="clearfix"></div>
            </a>
        </div>
    </div>
</div>
