﻿@model Reelae.Areas.Teacher.Models.newNoticeViewModel
@using Reelae.Utilities
@{
    var _noticeFiles = Model._noticeBoardFiles.ToList();
    var _newNotice = Model._noticeBoard;
    string[] groupBGC = { "bg_orange", "bg-blue", "bg_green", "bg_dblue" };
}
@if (Model._noticeBoardFiles != null && Model._noticeBoardFiles.Count() > 0)
{
    @*<script>
            $(document).ready(function (e) {
                setUploadedNoticePreview('@Model._noticeBoardFiles[0].FileType', '@Url.Content(Model._noticeBoardFiles[0].FileUrl)');
            })
        </script>*@
}
<div class="modal" id="newNoticeModelBox" tabindex="-1" role="dialog" aria-labelledby="newNoticeLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="OnSubjectModalReset();"><i class="material-icons">clear</i></button>
                <h4 class="modal-title" id="newNoticeLabel">New Notice</h4>
            </div>
            @using (Ajax.BeginForm("addNewNotice", "NoticeBoard", new { area = "Teacher" }, new AjaxOptions { HttpMethod = "Post", OnSuccess = "onNoticeSucess", OnFailure = "onNoticeFailure", OnBegin = "onNoticeBegin" }))
            {
                <div class="modal-body" style="max-height:70vh;overflow-y:auto">
                    @Html.HiddenFor(model => Model._noticeBoard.NoticeBoardID, new { id = "hdnNoticeId" })
                    <div class="col-sm-10 col-sm-offset-1" style="margin: 0 auto; float: none;">
                        @if (ViewBag.GroupName != null && ViewBag.GroupName != "")
                        {
                            string[] _gName = ViewBag.GroupName.ToString().Split(',');
                            <div class="form-group item">
                                <label for="exampleInputEmail1"> Selected Group </label>
                                <div class="clearfix"></div>
                                @if (_gName.Length > 0)
                                {
                                    int ind = 0;
                                    foreach (string _name in _gName)
                                    {
                                        <div class="thumb @groupBGC[ind]" title="@_name">@CommonUtility.GetGroupInitialName(_name)</div>
                                        ind = ind + 1;
                                        if (ind >= groupBGC.Length)
                                        {
                                            ind = 0;
                                        }
                                    }
                                }
                            </div>
                            <div class="gap_20"></div>

                        }
                        <div class="form-group">
                            <label for="exampleInputEmail1">Title</label><span style="color:red;font-size: 12px;">*</span>
                            <div class="clearfix"></div>
                            @Html.TextBoxFor(model => Model._noticeBoard.Subject, new { maxlength = "50", @class = "form-control brd_radius-4", id = "txt_title", placeholder = "Add title for your notice" })
                        </div>
                        <div class="gap_20"></div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Inactive Date</label>
                            <div class="clearfix"></div>
                            <div class="xdisplay_inputx form-group has-feedback" style="display:inline-block;">
                                @*@Html.TextBoxFor(model => model.PublishedDate, new { @class = "form-control has-feedback-left pop_date", style = "padding-left:55px;", id = "noticeDate", aria - describedby = "inputSuccess2Status3" })*@
                                <input type="text" class="form-control has-feedback-left pop_date" style="padding-left:55px;" id="noticeDate" aria-describedby="inputSuccess2Status3">
                                <span class="fa fa-calendar form-control-feedback left" aria-hidden="true"></span> <span id="inputSuccess2Status3" class="sr-only">(success)</span>
                                @Html.HiddenFor(model => Model._noticeBoard.PublishedDate, new { id = "hdn_Date" })
                            </div>
                        </div>
                        <div class="gap_20"></div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">URL</label>
                            <div class="clearfix"></div>
                            @Html.TextBoxFor(model => Model._noticeBoard.url, new { maxlength = "150", @class = "tags form-control brd_radius-4", placeholder = "Add URLs", id = "urls" })
                        </div>
                        <div class="gap_20"></div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Choose notice file</label>
                            <div id="FilesDiv">
                                @Html.Partial("_newNoticeFiles", Model)
                            </div>
                        </div>
                        <div class="gap_20"></div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Description</label>
                            <div class="clearfix"></div>
                            @Html.TextAreaFor(model => Model._noticeBoard.Content, new { @class = "form-control brd_radius-4", id = "txt_descr", placeholder = "Add description here" })
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                @Html.HiddenFor(model => Model._noticeBoard.GroupID)
                <input type="submit" value="SAVE" class="button_blue button_100">
            }
        </div>
    </div>
</div>
