﻿@model Reelae.Areas.Teacher.Models.newNoticeViewModel
<div class="multi-select-wrapper">
    @if (Model._noticeBoardFiles != null && Model._noticeBoardFiles.Count() > 0)
    {

        for (int i = 0; i < Model._noticeBoardFiles.Count(); i++)
        {
            string _divId = "file_" + i;
            <div class="col-md-4" id="@_divId">
                <i class="material-icons" onclick="DeleteNoticeFile(@Model._noticeBoardFiles[i].NoticeBoardFileId,'@Model._noticeBoardFiles[i].FileUrl','@_divId',@Model._noticeBoardFiles[i].NoticeBoardId)">clear</i>
                <a href="javascript:;" class="user-profile">
                    @if (Model._noticeBoardFiles[i].FileType.Contains("octet-stream"))
                    {
                        <i class="fa fa-file-archive-o file-icon" aria-hidden="true"></i>
                    }
                    else if (Model._noticeBoardFiles[i].FileType.Contains("image"))
                    {
                        <img src="@Url.Content(Model._noticeBoardFiles[i].FileUrl)" alt="">

                    }
                    else if (Model._noticeBoardFiles[i].FileType.Contains("sheet"))
                    {
                        <i class="fa fa-file-excel-o file-icon" aria-hidden="true"></i>
                    }
                    else if (Model._noticeBoardFiles[i].FileType.Contains("document"))
                    {
                        <i class="fa fa-file-word-o file-icon" aria-hidden="true"></i>
                    }
                    else if (Model._noticeBoardFiles[i].FileType.Contains("pdf"))
                    {
                        <i class="fa fa-file-pdf-o file-icon" aria-hidden="true"></i>
                    }
                    else if (Model._noticeBoardFiles[i].FileType.Contains("video"))
                    {
                        <i class="fa fa-file-video-o file-icon" aria-hidden="true"></i>
                    }
                    else if (Model._noticeBoardFiles[i].FileType.Contains("audio"))
                    {
                        <i class="fa fa-file-audio-o file-icon" aria-hidden="true"></i>
                    }
                    else
                    {
                        <i class="fa fa-file file-icon" aria-hidden="true"></i>
                    }
                </a>
                <span class="file_name">
                    @Model._noticeBoardFiles[i].FileName
                </span>
            </div>
            @Html.HiddenFor(model => Model._noticeBoardFiles[i].FileUrl)
            @Html.HiddenFor(model => Model._noticeBoardFiles[i].FileName)
            @Html.HiddenFor(model => Model._noticeBoardFiles[i].FileSize)
            @Html.HiddenFor(model => Model._noticeBoardFiles[i].FileType)
            @Html.HiddenFor(model => Model._noticeBoardFiles[i].NoticeBoardFileId)
            @Html.HiddenFor(model => Model._noticeBoardFiles[i].NoticeBoardId)
        }
        <div class="clearfix"></div>
        @*for (int i = 0; i < Model._noticeBoardFiles.Count(); i++)
            {
                string _divId = "file_" + i;
                <div class="logo_wrapper" id="@_divId">
                    <div class="upload_logo">
                        @if (Model._noticeBoardFiles[i].FileType.Contains("octet-stream"))
                        {
                            <div class='prod_wrap_add text-center'>
                                <i class='material-icons file_icn'>archive</i>
                            </div>
                        }
                        else if (Model._noticeBoardFiles[i].FileType.Contains("image"))
                        {
                            <img src="@Url.Content(Model._noticeBoardFiles[i].FileUrl)" />
                        }
                        else if (Model._noticeBoardFiles[i].FileType.Contains("application"))
                        {
                            <div class='prod_wrap_add text-center'>
                                <i class='material-icons file_icn'>insert_drive_file</i>
                            </div>
                        }
                        else if (Model._noticeBoardFiles[i].FileType.Contains("video"))
                        {
                            <video id='thumb' heght='50px' width='50px'><source heght='50px' width='50px' src='@Url.Content(Model._noticeBoardFiles[i].FileUrl)' /> </video>
                        }
                        else if (Model._noticeBoardFiles[i].FileType.Contains("audio"))
                        {
                            <audio controls heght='50px' width='50px'> <source src='@Url.Content(Model._noticeBoardFiles[i].FileUrl)' /> </audio>
                        }
                    </div>
                    <a href="#!" class="red_btn brd_radius-4" onclick="DeleteNoticeFile(@Model._noticeBoardFiles[i].NoticeBoardFileId,'@Model._noticeBoardFiles[i].FileUrl','@_divId')">Delete @Model._noticeBoardFiles[i].FileName</a>
                </div>

            }*@
    }
</div>

<a href="#!" class="btn_w-form" onclick="triggerFileUpload();">Upload New Files</a>
<div class="hiddenfile">
    <input name="upload" type="file" id="_HttpPostedNoticeFile" onchange="UploadNoticeFile();" multiple />
</div>
@*<div class="logo_wrapper">
        <div class="upload_logo">
        </div>
        <a href="#!" class="gr_btn brd_radius-4" id="btnNoticeupload" onclick="triggerFileUpload();">Upload New Files</a>
        <div class="hiddenfile">
            <input name="upload" type="file" id="_HttpPostedNoticeFile" onchange="UploadNoticeFile();" multiple />
        </div>
    </div>*@

