﻿@model IEnumerable<ReelaeDataAccessLayer.re_getAllStudentNoticeComment_sp_Result>
@using Reelae.Utilities
@{
    var _allComments = Model.ToList();

}

<div class="modal" id="comment" tabindex="-1" role="dialog" aria-labelledby="commentLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="material-icons">clear</i></button>
                <h4 class="modal-title" id="commentLabel">All Comments</h4>
            </div>
            <div class="modal-body">
                @if (_allComments != null && _allComments.Count > 0)
                {
                    foreach (var _comment in _allComments)
                    {
                        string picSrc = Url.Content("~/Content/images/student.jpg");
                        string _time = CommonUtility.getTimeDuration(_comment.TimeDuration);
                        if (_comment.UserPicUrl != null && _comment.UserPicUrl != "")
                        {
                            picSrc = Url.Content(_comment.UserPicUrl);
                        }
                        <div class="notice_bottom">
                            <ul class="list-unstyled top_profiles scroll-view">
                                <li class="media event">
                                    <a href="javascript:;" class="user-profile pull-left">
                                        <img src="@picSrc" alt="">
                                    </a>
                                    <div class="media-body">
                                        <a class="title" href="#">@_comment.Name</a>
                                        <p> <small class="txt_lgry">@_time Ago</small> </p>
                                    </div>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                            <p>@_comment.Content</p>

                        </div>
                    }
                }
                <div class="clearfix"></div>
            </div>
            <a href="#!" class="modal-footer">
                Close
                <div class="clearfix"></div>
            </a>
        </div>
    </div>
</div>
