﻿@model Reelae.Areas.Teacher.Models.NoticeViewModel
@using Humanizer;
@using Reelae.Utilities
@{
    var _notices = Model.notices.ToList();
    var _AllComments = Model.noticeComments.Where(r => r.Content != "" && r.Content != null).ToList();
    var _files = Model.noticeFiles.ToList();
    int i = 0;
    string count = _notices.Count().ToString();
    string[] groupBGC = { "bg_orange", "bg-blue", "bg_green", "bg_dblue" };

}
<script>
    $(document).ready(function () {
        var _count = '@count';
        updateCount(_count);
    });
</script>
@if (_notices.Count() > 0)
{
    foreach (var _notice in _notices)
    {
        i = i + 1;
        string linkDivId = "linkdiv_" + i;
        string fileDivId = "filediv_" + i;
        string commentDivId = "commentdiv_" + i;
        var _noticeComments = _AllComments.Where(r => r.NoticeBoardID == _notice.NoticeBoardID).ToList();
        var _noticeFiles = _files.Where(r => r.NoticeBoardId == _notice.NoticeBoardID).ToList();
        string[] URLs = null;
        if (_notice.url != null && _notice.url != "")
        {
            URLs = _notice.url.Split(',');
        }
        <div class="col-md-4 column-count-item pad_lr-0">
            <div class="notice_board noticecollaps">
                <div class="brd-t-green"></div>
                <div class="notice_top">
                    <div class="left-col right-col col-xs-12 pad_lr-0 item">
                        <span class="text_wrapper"> @_notice.Subject</span>
                        <i class="material-icons delete_icn" onclick="RemoveNoticeConfirmation (@_notice.NoticeBoardID,'@_notice.Subject')" title="Remove Notice">delete</i>
                        <i class="material-icons edit_icn" title="Edit Notice" onclick="editNotice(@_notice.NoticeBoardID)">mode_edit</i>
                        <div class="clearfix"></div>
                        <div>
                            @if (_notice.ModifiedDate != null)
                    {

                                <small class="txt_lgry">Modified - @string.Format("{0} {1}", _notice.ModifiedDate.Value.Day.Ordinalize(), _notice.ModifiedDate.Value.ToString("MMM yyyy hh:mm tt"))</small>

                            }
                            <div class="clearfix"></div>
                            <small class="txt_lgry">Created - @string.Format("{0} {1}", _notice.CreatedDate.Day.Ordinalize(), _notice.CreatedDate.ToString("MMM yyyy hh:mm tt"))</small>
                        </div>                        @*<div class="thumb bg_green">G3</div>*@
                        @*Analitycs &nbsp; &nbsp; <i class="fa fa-bar-chart" aria-hidden="true"></i>*@
                        <div class="clearfix gap_20"></div>
                        @if (_notice.GroupName != null)
                        {
                            string[] splitName = _notice.GroupName.Split(',');
                            int ind = 0;
                            foreach (string _gName in splitName)
                            {
                                <div class="thumb @groupBGC[ind]" title="@_gName">@CommonUtility.GetGroupInitialName(_gName)</div>
                                ind = ind + 1;
                                if (ind >= groupBGC.Length)
                                {
                                    ind = 0;
                                }
                            }
                            <div class="clearfix gap_20"></div>
                        }
                    </div>
                    <div>@_notice.Content</div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
                <div class="notice_gry trigger">
                    <i class="material-icons" data-toggle="collapse" data-parent=".noticecollaps" href="#@linkDivId" aria-expanded="true" aria-controls="@linkDivId" title="links" onclick="setActive(this)">link</i>
                    <i class="material-icons" data-toggle="collapse" data-parent=".noticecollaps" href="#@fileDivId" aria-expanded="true" aria-controls="@fileDivId" title="attachments" onclick="setActive(this)">attachment</i>
                    <i class="material-icons" data-toggle="collapse" data-parent=".noticecollaps" href="#@commentDivId" aria-expanded="true" aria-controls="@commentDivId" title="comment" onclick="setActive(this)">comment</i>
                </div>
                @if (URLs != null && URLs.Length > 0)
                {
                    <div id="@linkDivId" class="notice_video panel-collapse collapse" role="tabpanel">

                        @for (int ind = 0; ind < URLs.Length; ind++)
                        {
                            string LinkText = "Link " + (ind + 1) + " :";
                        <div class="notice_board">
                            <div class="">
                                <p>
                                    @LinkText
                                    <a class="break_txt" href="@URLs[ind].ToString()" target="_blank">@URLs[ind].ToString()</a>


                                </p>
                            </div>
                        </div>
                            if (URLs[ind].ToString().ToLower().Contains("youtube"))
                            {
                        <iframe src="@URLs[ind].ToString()" width="100%" height="300" frameborder="0" allowfullscreen></iframe>
                            }
                        }
                    </div>
                }
                else
                {
                    <p id="@linkDivId" role="tabpanel" class="nodata_p panel-collapse collapse">No links</p>

                }

                @if (_noticeFiles != null && _noticeFiles.Count > 0)
                {
                    <div id="@fileDivId" class="notice_attach panel-collapse collapse" role="tabpanel">
                        @foreach (var _file in _noticeFiles)
                        {
                            string _fileType = _file.FileType;
                            if (_file.FileType.Contains("octet-stream"))
                            {
                                _fileType = ".zip";
                            }
                            else if (_file.FileType.Contains("sheet"))
                            {
                                _fileType = "sheet";
                            }
                            else if (_file.FileType.Contains("application"))
                            {
                                _fileType = "document";
                            }
                            string fileSize = Convert.ToString(Math.Round(Convert.ToDouble(_file.FileSize) / 1024 / 1024, 2));
                            <div class="col-xs-6"><a href="@Url.Content(_file.FileUrl)" target="_blank"> <i class="fa fa-paperclip" aria-hidden="true"></i> &nbsp; &nbsp;<span>@_file.FileName</span></a></div>
                            <div class="col-xs-6 text-right txt_lgry">@fileSize MB - @_fileType file</div>
                            <div class="clearfix"></div>
                        }
                    </div>
                }
                else
                {
                    <p class="nodata_p panel-collapse collapse" id="@fileDivId"  role="tabpanel">No files</p>
                }


                @if (_noticeComments != null && _noticeComments.Count() > 0)
                {
                    int _count = _noticeComments.Count() - 2;

                    <div id="@commentDivId" class="panel-collapse collapse" role="tabpanel">
                        @if (_count > 0)
                        {
                            <div class="notice_gry" onclick="getMoreComments(@_notice.NoticeBoardID)" style="cursor:pointer"> View @_count more comments</div>
                        }
                        else
                        {
                            <div class="notice_gry">Comment</div>

                        }
                        <div class="notice_bottom">
                            <ul class="list-unstyled top_profiles scroll-view">
                                @if (_noticeComments.Count() >= 2)
                                {
                                    for (int index = 0; index < 2; index++)
                                    {
                                        string _time = CommonUtility.getTimeDuration(_noticeComments[index].TimeDuration);

                                        <li class="media event">
                                            <a href="javascript:;" class="user-profile pull-left">
                                                @if (_noticeComments[index].UserPicUrl != null)
                                                {
                                                    <img src="@Url.Content(_noticeComments[index].UserPicUrl)" alt="">

                                                }
                                                else
                                                {
                                                    <img src=@Url.Content("~/Content/images/student.jpg") alt="">

                                                }
                                            </a>
                                            <div class="media-body">
                                                <a class="title" href="#">@_noticeComments[index].Name</a>
                                                <p> <small class="txt_lgry">@_time Ago</small> </p>
                                            </div>
                                            <div class="clearfix"></div>
                                            <p>@_noticeComments[index].Content</p>
                                        </li>

                                    }
                                }
                                else
                                {
                                    string _time = CommonUtility.getTimeDuration(_noticeComments.First().TimeDuration);

                                    <li class="media event">
                                        <a href="javascript:;" class="user-profile pull-left">
                                            @if (_noticeComments.First().UserPicUrl != null)
                                            {
                                                <img src="@Url.Content(_noticeComments.First().UserPicUrl)" alt="">

                                            }
                                            else
                                            {
                                                <img src=@Url.Content("~/Content/images/student.jpg") alt="">

                                            }
                                        </a>
                                        <div class="media-body">
                                            <a class="title" href="#">@_noticeComments.First().Name</a>
                                            <p> <small class="txt_lgry"> @_time Ago</small> </p>
                                        </div>
                                        <div class="clearfix"></div>
                                        <p>@_noticeComments.First().Content</p>
                                    </li>
                                }
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                }
                else
                {
                    <p id="@commentDivId" role="tabpanel" class="nodata_p  panel-collapse collapse">No comments</p>

                }

            </div>
        </div>
    }
}

