﻿@model Reelae.Areas.Teacher.Models.NoticeBoardViewModel
@using Humanizer;
@using System.IO;
@{
    ViewBag.Title = "Notice Board";
    Layout = "~/Areas/Teacher/Views/Shared/_TeachersLayout.cshtml";
    var _user = Model._userinfo;
    var groups = Model._groups.ToList();
    string _firstGroup = "0";
    if (groups != null && groups.Count() > 0)
    {
        _firstGroup = groups[0].GroupID.ToString();
    }
}
@section head{
    <script src="@Url.Content("~/content/teacher/js/noticeBoard.js")"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/css/bootstrap-multiselect.css" rel="stylesheet" />
    <style type="text/css">
        .notice_top .right-col .delete_icn, .notice_top .right-col .edit_icn {
            border-radius: 50%;
            border: 0px solid #3984e8;
            color: #3984e8;
            display: block;
            float: right !important;
            position: relative;
            top: 2px;
            padding: 0px !important;
            width: 18px !important;
            height: 20px;
            line-height: 18px;
            font-size: 16px !important;
            margin: 0px;
            cursor: pointer;
        }

        .notice_top .right-col .text_wrapper {
            display: inline-block;
            float: left;
            max-width: -webkit-calc(100% - 40px);
            max-width: -moz-calc(100% - 40px);
            max-width: calc(100% - 40px);
            word-break: break-all;
            line-height: 18px;
        }

        .delete_icn {
            color: #eb4e61 !important;
        }

        .edit_icn {
            color: #0294ee !important;
        }

        .col-xs-6.text-right.txt_lgry {
            font-size: 12px;
        }

        .logo_wrapper {
            clear: both;
        }
        .item .thumb{
            margin-left:3px;
        }
    </style>


}
@section InstitueName{
    @Html.Partial("~/Areas/Admin/Views/Shared/_InstituteSetupHeader.cshtml", _user)
}
@section UserProfile{
    <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
        @if (Model._userinfo.UserPicUrl != null && Model._userinfo.UserPicUrl != "")
        {
            <img src="@Url.Content(Model._userinfo.UserPicUrl)" alt="" />
        }
        Hello, @Reelae.Utilities.CommonUtility.ToTitleCase(Session["Name"].ToString().ToLower()) <span class="fa fa-angle-down"></span>
    </a>

}
<div class="right_col pd_l-0 height_vh t_view_sub" role="main">
    <div class="">
        <div class="col-md-12 col-xs-12 pull-right">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 mrg_t_10 mob-mrg">
                    <div class="dashboard_graph pd_b-0 brd_bottom">
                        <div class="row x_title mrb_b-0">
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <h3 id="noticecount">@ViewBag.NoticeCount Notices</h3>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12 text-right xs-left pad_r25">
                                <select class="form-control" data-width="100px" multiple="multiple" id="ddlGroup_notice">
                                    @foreach (var item in groups)
                                    {
                                        string _groupName = item.GroupName.Trim();
                                        if (_groupName.Length > 20)
                                        {
                                            _groupName = _groupName.Substring(0, 17) + "...";
                                        }
                                        <option value="@item.GroupID" title="@item.GroupName">@_groupName</option>
                                    }
                                </select>
                                <input type="hidden" name="selGroupId" value="0" id="selGroupId">
                                <a href="#!" class="btn_blue mml-0 min_w-155 text-center" onclick="getNewNoticeView()">+ Add Notice</a>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="gap_30"></div>
                <div class="pad_lr-30 column-count notice_count" id="divNoticeList"></div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
