﻿@model IEnumerable<ReelaeDataAccessLayer.re_select_download_resource_list_sp_Result>
@{
    var result = Model.ToList()[0];
}
<h3 class="heading_blu">@result.Title<i class="material-icons pull-right cls_btn">clear</i></h3>
@{
    var fileExtension = result.Title.Split('.').Last().ToString().ToLower();
    var modifiedDate = result.ModifiedDate == null ? "" : Convert.ToDateTime(result.ModifiedDate).ToString("dd MMM yyyy");

    var sizeInMB = String.Format("{0:0.00}", (Convert.ToInt32(result.FileSize) / (1024 * 1024))); //.ToString("0.##");
    var size = sizeInMB + " MB (" + result.FileSize + " bytes)";
}
<div>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active col-xs-6 text-center"><a href="#home" aria-controls="home" role="tab" data-toggle="tab" onclick="showActiveFileDetail()">Details</a></li>
        <li role="presentation" class="col-xs-4 text-center"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab" onclick="getActivityContent(@result.ResourceID)">Activity</a></li>
        <li role="presentation" class="col-xs-2 text-center" title="Student Resource Activity Grapgh"> <a href="#!" onclick="showResourceActivityGraph()"><i class="fa fa-bar-chart pull-right pull-right txt_light_blue resource_top" aria-hidden="true"></i></a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content activity_scroll">
        <div role="tabpanel" class="tab-pane active" id="homeFileDetails">
            @{
                switch (result.fileType)
                {
                    case "video":
                        <video id="resourceItem" class="image_wrap">
                            <source src="@result.URL">
                        </video>
                        break;
                    case "image":
                        <div class="image_wrap" id="resourceItem"><img src="@result.URL" alt="..." class="img-responsive"></div>
                        break;
                    case "document":
                        if (fileExtension == "doc" || fileExtension == "docx")
                        {
                            <div class="prod_wrap bg_m-green slide" id="resourceItem"> <i class="material-icons file_icn">insert_drive_file</i><span class="file_type-txt">.@fileExtension</span> </div>
                        }
                        else if (fileExtension == "xls" || fileExtension == "xlsx")
                        {
                            <div class="prod_wrap bg_org slide" id="resourceItem"> <i class="material-icons file_icn">insert_drive_file</i><span class="file_type-txt">.@fileExtension</span> </div>
                        }
                        else
                        {
                            <div class="prod_wrap bg_m-green slide" id="resourceItem"> <i class="material-icons file_icn">insert_drive_file</i><span class="file_type-txt">.@fileExtension</span> </div>
                        }
                        break;
                    case "compressed":
                        <div class="prod_wrap bg_perp slide" id="resourceItem"> <i class="material-icons file_icn">insert_drive_file</i><span class="file_type-txt">.@fileExtension</span> </div>
                        break;
                    case "audio":
                        <audio controls class="image_wrap" id="resourceItem">
                            <source src="@result.URL">
                        </audio>
                        break;
                    default:
                        <div class="prod_wrap bg_m-green slide" id="resourceItem"> <i class="material-icons file_icn">insert_drive_file</i><span class="file_type-txt">.@fileExtension</span> </div>
                        break;
                }
            }

            <div class="download">
                <span class="line_h-40">DOWNLOAD BY</span> <span class="pull-right">
                    @{
                        string[] UserNames = null;
                        if (!string.IsNullOrEmpty(result.Name))
                        {
                            var userName = result.Name;
                            var userPicUrl = result.UserPicUrl;
                            if (userName.Contains(","))
                            {
                                UserNames = userName.Split(',');
                            }

                            if (userPicUrl.Contains(","))
                            {
                                string[] userPicUrls = userPicUrl.Split(',');
                                int i = 0;

                                foreach (var items in userPicUrls)
                                {
                                    if (i <= 2)
                                    {
                                        string imgSRC = items == "NA" ? "/Content/images/student.jpg" : items;
                                        <div class="tbl_image default_img"><img src="@Url.Content(imgSRC)" alt="..." class="img-responsive" title="@UserNames[i].ToString()"></div>
                                        i++;
                                    }
                                }
                            }
                            else
                            {
                                string imgSRC = userPicUrl == "NA" ? "/Content/images/student.jpg" : userPicUrl;
                                <div class="tbl_image default_img"><img src="@Url.Content(imgSRC)" alt="..." class="img-responsive" title="@userName"></div>
                            }
                            if (UserNames != null)
                            {
                                if (UserNames.Length > 3)
                                {
                                    <div class="tbl_image mrg_btm_0 bg_m-green">+ @Convert.ToInt32(UserNames.Length - 3)</div>
                                }
                            }                          
                        }
                        else
                        {
                            <div style="text-align:left;"><i>NOT DOWNLOADED</i></div>
                        }
                    }
                </span>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
            <div class="detail_wrap">

                <div class="col-xs-4 lbl">Type</div>
                <div class="col-xs-8 dtl">@result.fileType</div>
                <div class="clearfix"></div>
                <div class="col-xs-4 lbl">Size</div>
                <div class="col-xs-8 dtl">@size</div>
                <div class="clearfix"></div>
                <div class="col-xs-4 lbl">Storage used</div>
                <div class="col-xs-8 dtl">@size</div>
                <div class="clearfix"></div>
                @*<div class="col-xs-4 lbl">Location</div>
                <div class="col-xs-8 dtl">@result.fileType</div>*@
                <div class="clearfix"></div>
                <div class="col-xs-4 lbl">Owner</div>
                <div class="col-xs-8 dtl">@result.CreatedBy</div>
                <div class="clearfix"></div>
                <div class="col-xs-4 lbl">Modified</div>
                <div class="col-xs-8 dtl">@modifiedDate.ToString()</div>
                <div class="clearfix"></div>
                <div class="col-xs-4 lbl">Created</div>
                <div class="col-xs-8 dtl">@Convert.ToDateTime(result.CreatedDate).ToString("dd MMM yyyy")</div>
                <div class="clearfix"></div>

            </div>
            <div class="clearfix"></div>
            <div class="add_description">
                <span class="heading_blu">Add Description</span> <a href="#!"><i class="material-icons txt_perp" onclick="addDescription(@result.ResourceID)">mode_edit</i></a>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="profile">
            <div class="detail_wrap">
                @*<div class="col-xs-12 lbl" id="activityDetails"></div>*@
                <div id="activityDetails">


                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="resourceId" value="@result.ResourceID" />
<input type="hidden" id="URL" value="@result.URL" />

<script>
    $(function () {
        $(".cls_btn").click(function () {
            //$(".side_panel ").toggleClass("block_side");
            $('.prod_box').removeClass('active');
            $(".side_panel ").hide();
        });
    });

    var timer = 0;
    var delay = 200;
    var prevent = false;
    $("#resourceItem")
      .on("click", function () {
          timer = setTimeout(function () {
              if (!prevent) {
                  window.open($('#URL').val(), '_blank');
              }
              prevent = false;
          }, delay);
      })
      .on("dblclick", function () {
          clearTimeout(timer);
          prevent = true;
          downloadFilesTeacher($('#resourceId').val());
      });

</script>