﻿
<div class="modal in" id="addResourceLabel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="padding-right: 17px;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="material-icons">clear</i></button>
                <h4 class="modal-title" id="myModalLabel">Add Label</h4>
            </div>
            <div class="modal-body">
                <div class="col-sm-10 col-sm-offset-1" style="margin: 0 auto; float: none;">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Label </label><span style="color:red;font-size: 12px;">*</span>
                        <input type="text" class="form-control brd_radius-4" id="txtLabel" maxlength="30" />
                        <div class="clearfix"></div>
                    </div>
                    <div class="form-group">
                        <label>Open &amp; Close Date</label>
                        <div class="clearfix"></div>
                        <div id="labeldateRange" class="pull-right brd_radius-4 form-control " style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #969696;">
                            <div class="clearfix"></div>
                            <i class="glyphicon glyphicon-calendar fa fa-calendar" style="color:#9a9fa8"></i> <span style="width: 90%; display: inline-block; color: #354052; padding-left: 10px;">November 8, 2017 - December 7, 2017</span> <b class="caret"></b>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <button type="button" data-toggle="modal" class="modal-footer" onclick="saveLabel('')">
                SAVE
                <div class="clearfix"></div>
            </button>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<script>
    $(function () {
        init_daterangepicker_rangeCustomForAssignment($('#labeldateRange'));
    });
</script>