﻿@model ReelaeDataAccessLayer.Resource

<div class="modal in" id="addResourceDescription" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="padding-right: 17px;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="material-icons">clear</i></button>
                <h4 class="modal-title" id="myModalLabel">Update Description</h4>
            </div>
            <div class="modal-body">
                <div class="col-sm-10 col-sm-offset-1" style="margin: 0 auto; float: none;">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Description </label><span style="color:red;font-size: 12px;">*</span>
                        @Html.TextAreaFor(m => m.Description, new { autocomplete = "off", @class = "form-control brd_radius-4", maxlength = 500,rows=4 })
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <button type="button" data-toggle="modal" class="modal-footer" onclick="updateResourceDescription(@Model.ResourceID)">
                SAVE
                <div class="clearfix"></div>
            </button>
            <div class="clearfix"></div>
        </div>
    </div>
</div>



