﻿@model IEnumerable<ReelaeDataAccessLayer.re_select_download_resource_list_sp_Result>
@{
    var result = Model.ToList();
    string resourceId = string.Empty;
}
<div class="col-xs-12">
    <div class=" bg-white brd_gry">
        <div class="table-responsive">
            <table id="example" class="display table resource_tbl">
                <thead>
                    <tr>
                        <th>FILE NAME &nbsp;&nbsp;<i class="fa fa-long-arrow-up" aria-hidden="true"></i></th>
                        <th style="width:80px;">FILE TYPE</th>
                        <th>DOWNLOAD ACTIVITY</th>
                        <th style="width:215px;">VIEW ACTIVITY</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        if (result != null && result.Count > 0)
                        {
                            foreach (var item in result)
                            {
                                if (resourceId != item.ResourceID.ToString())
                                {
                                    var userPicUrl = item.UserPicUrl;
                                    <tr>
                                        <td>@item.Title</td>
                                        <td>@item.fileType</td>
                                        <td>
                                            @if (item.Name != null)
                                            {
                                                string[] UserNames = null;
                                                var userName = item.Name;
                                                if (userName.Contains(","))
                                                {
                                                    UserNames = userName.Split(',');
                                                }
                                                if (userPicUrl.Contains(","))
                                                {
                                                    string[] userPicUrls = item.UserPicUrl.Split(',');
                                                    int i = 0;
                                                    foreach (var items in userPicUrls)
                                                    {
                                                        string imgSRC = items == "NA" ? "/Content/images/student.jpg" : items;
                                                        <div class="tbl_image default_img"><img src="@Url.Content(imgSRC)" alt="..." class="img-responsive" title="@UserNames[i].ToString()"></div>
                                                        i++;
                                                    }
                                                }
                                                else
                                                {
                                                    string imgSRC = userPicUrl == "NA" ? "/Content/images/student.jpg" : userPicUrl;
                                                    <div class="tbl_image default_img"><img src="@Url.Content(imgSRC)" alt="..." class="img-responsive" title="@userName"></div>
                                                }
                                            }
                                        </td>
                                        <td>
                                            @if (item.viewName != null)
                                            {
                                                userPicUrl = item.ViewUserPicUrl;
                                                string[] UserNames = null;
                                                var userName = item.viewName;
                                                if (userName.Contains(","))
                                                {
                                                    UserNames = userName.Split(',');
                                                }
                                                if (userPicUrl.Contains(","))
                                                {
                                                    string[] userPicUrls = item.UserPicUrl.Split(',');
                                                    int i = 0;
                                                    foreach (var items in userPicUrls)
                                                    {
                                                        string imgSRC = items == "NA" ? "/Content/images/student.jpg" : items;
                                                        <div class="tbl_image default_img"><img src="@Url.Content(imgSRC)" alt="..." class="img-responsive" title="@UserNames[i].ToString()"></div>
                                                        i++;
                                                    }
                                                }
                                                else
                                                {
                                                    string imgSRC = userPicUrl == "NA" ? "/Content/images/student.jpg" : userPicUrl;
                                                    <div class="tbl_image default_img"><img src="@Url.Content(imgSRC)" alt="..." class="img-responsive" title="@userName"></div>
                                                }
                                            }
                                        </td>
                                    </tr>

                                    resourceId = item.ResourceID.ToString();
                                }
                            }
                        }
                        else
                        {
                            <tr><td colspan="4" align="center">No Activity Found</td></tr>
                        }
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    function nameSortingActivityClick(sortOrder) {
        if ($('#currentSortActivity').val() != sortOrder) {
            $('#currentSortActivity').val(sortOrder);
            getDownloadResourceActivityList('name_asc');
        }
        else {
            $('#currentSortActivity').val('name_desc');
            getDownloadResourceActivityList('name_desc');
        }
    }
</script>