﻿@model IEnumerable<ReelaeDataAccessLayer.re_getResourceLabel_sp_Result>
@{
    var result = Model.ToList();
}

<div class="clearfix"></div>
<a href="#!" class="material-icons btn_res-up" id="upClick">keyboard_arrow_up</a>
<a href="#!" class="material-icons btn_res-up" id="downClick">keyboard_arrow_down</a>
<div class="cover">


    @{
        if (result.Count > 0)
        {
            <ul class="nav nav-tabs tabs-left" id="labelList">
                @for (int i = 0; i < result.Count; i++)
                {
                    var startDate = Convert.ToDateTime(result[i].StartDate).ToString("dd MMM yyyy");
                    var enddate = Convert.ToDateTime(result[i].EndDate).ToString("dd MMM yyyy");

                    if (i == 0)
                    {
                        <li class="active" title="@result[i].LabelName">
                            <a href="#home" onclick="callLabelFilter(@result[i].ResourceLabelId)" data-toggle="tab">@result[i].LabelName <br /><span class="weekDateText">@startDate-@enddate</span></a>
                        </li>
                    }
                    else
                    {
                        <li title="@result[i].LabelName">
                            <a href="#home" onclick="callLabelFilter(@result[i].ResourceLabelId)" data-toggle="tab">@result[i].LabelName <br /><span class="weekDateText">@startDate-@enddate</span></a>
                        </li>
                    }
                }
            </ul>
        }
    }
</div>


<script>
    var scrolled = 0;
    $(document).ready(function () {
        $("#downClick").on("click", function () {
            scrolled = scrolled + 300;
            $(".cover").animate({
                scrollTop: scrolled
            });
        });

        $("#upClick").on("click", function () {
            scrolled = scrolled - 300;

            $(".cover").animate({
                scrollTop: scrolled
            });
        });
    });
</script>