﻿@model  IEnumerable<ReelaeDataAccessLayer.re_getResourceTags_sp_Result>
@{
    var bulletsArrsy = new string[] { "fa fa-circle txt_li_green if-13", "fa fa-circle txt_org if-13", "fa fa-circle txt_perp if-13", "fa fa-circle txt_green if-13" };
    var result = Model.ToList();
}

<h3><small>TAG</small></h3>
<ul class="nav side-menu">
    @{
        if (result.Count > 0)
        {
            var index = 0;
            for (int i = 0; i < result.Count; i++)
            {
                index = index > 3 == true ? 0 : index;
                <li onclick="tagFilter(@result[i].TagId,this)"> <a><i class="@bulletsArrsy[index]" aria-hidden="true" ></i>@result[i].TagName</a></li>
                index++;
            }
        }
    }
</ul>

