﻿@model  IEnumerable<ReelaeDataAccessLayer.re_select_teacher_resource_sp_Result>
@{
    if (Model.Count() > 0)
    {
        foreach (var item in Model)
        {
            var createdDate = Convert.ToDateTime(item.CreatedDate).ToString("d  MMM , yyyy");
            var fileName = item.Title.Length > 17 ? item.Title.Substring(0, 17) : item.Title;
            var fileType = item.fileType;
            var fileExtension = item.Title.Split('.').Last().ToString().ToLower();
            var displayTitle = item.Title.ToString().Replace(" ", "&nbsp;");

            string dynamicHtml = string.Empty;
            dynamicHtml += @"<span>" + fileName + "<div class='clearfix'></div><small>Added " + createdDate + "</small></span>";
            dynamicHtml += "<span class='dropdown pull-right'><a href='#!' id='dLabel1' class='material-icons pull-right' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>more_vert</a>";
            dynamicHtml += "<div class='dropdown-menu' aria-labelledby='dLabel'><ul>";
            if (item.Isdeleted != 1)
            {
                dynamicHtml += "<li><a href='#!' onclick='downloadFilesTeacher(" + item.ResourceID + ")'><i class='material-icons'>file_download</i> <span>Download</span></a></li>";
                dynamicHtml += "<li><a href='#!' onclick='editSubjectResource(" + item.ResourceID + ",this);'><i class='material-icons'>mode_edit</i> <span>Edit</span></a></li>";
                dynamicHtml += "<li><a href='#!' onclick=deleteSubjectResourceConfirmation(" + item.ResourceID + ",'" + displayTitle + "')><i class='material-icons'>delete</i> <span>Delete</span></a></li>";

                if (item.IsFlagged == true)
                {
                    dynamicHtml += "<li><a href='#!' onclick=flagResource(" + item.ResourceID + ",'" + item.IsFlagged.ToString() + "')><i class='material-icons red'>favorite</i> <span>Flagged</span></a></li>";
                }
                else
                {
                    dynamicHtml += "<li><a href='#!' onclick=flagResource(" + item.ResourceID + ",'" + item.IsFlagged.ToString() + "')><i class='material-icons'>favorite</i> <span>Flagged</span></a></li>";
                }
                dynamicHtml += "<li><a href='#!' onclick=tagResource(" + item.ResourceID + ",'" + displayTitle + "')><i class='fa fa-tags' aria-hidden='true'></i><span>Tag</span></a></li>";
            }
            else
            {
                dynamicHtml += "<li><a href='#!' onclick=confirmationToResourceFile(" + item.ResourceID + ",'" + displayTitle + "')><i class='material-icons'>restore</i> <span>Restore</span></a></li>";
            }
            dynamicHtml += "</ul></div></span>";

            switch (fileType)
            {
                case "document":
                    if (fileExtension == "doc" || fileExtension == "docx")
                    {
                        <div class="col-md-6 col-sm-6 col-xs-12" title="@item.Title">
                            <div class="prod_box text-center">
                                <div class="prod_wrap bg_m-green slide" id="itemId" onclick="showFileDetails(@item.ResourceID,this);"> <i class="material-icons file_icn">insert_drive_file</i><span class="file_type-txt">.@fileExtension</span> </div>
                                <div class="prod_detail">
                                    @Html.Raw(dynamicHtml)
                                </div>
                            </div>
                        </div>
                    }
                    else if (fileExtension == "xls" || fileExtension == "xlsx")
                    {
                        <div class="col-md-6 col-sm-6 col-xs-12" title="@item.Title">
                            <div class="prod_box text-center">
                                <div class="prod_wrap bg_org slide" id="itemId" onclick="showFileDetails(@item.ResourceID,this);"> <i class="material-icons file_icn">insert_drive_file</i><span class="file_type-txt">.@fileExtension</span> </div>
                                <div class="prod_detail">
                                    @Html.Raw(dynamicHtml)
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="col-md-6 col-sm-6 col-xs-12" title="@item.Title">
                            <div class="prod_box text-center">
                                <div class="prod_wrap bg_m-green slide" id="itemId" onclick="showFileDetails(@item.ResourceID,this);"> <i class="material-icons file_icn">insert_drive_file</i><span class="file_type-txt">.@fileExtension</span> </div>
                                <div class="prod_detail">
                                    @Html.Raw(dynamicHtml)
                                </div>
                            </div>
                        </div>
                    }
                    break;
                case "image":
                    <div class="col-md-6 col-sm-6 col-xs-12" title="@item.Title">
                        <div class="prod_box text-center">
                            <a href="#!" class="image_wrapper slide" id="itemId" onclick="showFileDetails(@item.ResourceID,this);"> <img src="@item.URL" alt="..." class="img-responsive"> </a>
                            <div class="prod_detail img_datial">
                                @Html.Raw(dynamicHtml)
                            </div>
                        </div>
                    </div>
                    break;
                case "video":
                    <div class="col-md-6 col-sm-6 col-xs-12" title="@item.Title">
                        <div class="prod_box text-center">
                            <a href="#!" class="image_wrapper slide" id="itemId" onclick="showFileDetails(@item.ResourceID,this);">
                                <video id="thumb">
                                    <source src="@item.URL" />
                                </video>
                            </a>
                            <div class="prod_detail img_datial">
                                @Html.Raw(dynamicHtml)
                            </div>
                        </div>
                    </div>
                    break;
                case "audio":
                    <div class="col-md-6 col-sm-6 col-xs-12" title="@item.Title">
                        <div class="prod_box text-center">
                            <a href="#!" class="image_wrapper slide" id="itemId" onclick="showFileDetails(@item.ResourceID,this);">
                                <audio controls>
                                    <source src="@item.URL" />
                                </audio>
                            </a>
                            <div class="prod_detail img_datial">
                                @Html.Raw(dynamicHtml)
                            </div>
                        </div>
                    </div>
                    break;
                case "compressed":
                    <div class="col-md-6 col-sm-6 col-xs-12" title="@item.Title">
                        <div class="prod_box text-center">
                            <div class="prod_wrap bg_perp slide" id="itemId" onclick="showFileDetails(@item.ResourceID,this);"> <i class="material-icons file_icn">archive</i><span class="file_type-txt">.@fileExtension</span> </div>
                            <div class="prod_detail">
                                @Html.Raw(dynamicHtml)                
                            </div>
                        </div>
                    </div>
                    break;
            }
        }
    }
    else
    {
        <div class="col-xs-12 mrg_t-40">
            <h3 style="width:100%;text-align:center">No Resource Found</h3>
        </div>
    }
}
<script>
    function confirmationToResourceFile(id, title) {
        $('#removeConfirmationModalBox').modal('show');
        var message = "Are you sure, Do you want restore <strong>" + title + "</strong> resource.";
        $('#message').html(message);
        $('#submitAlert').attr('onclick', 'restoreResourceFile(' + id + ')');
    }
</script>