﻿@model Reelae.Models.AddTagResourceViewModel
@{
    var getAllTags = Model.ResourceTags;
}
<script type="text/javascript">
    var arrayResourceTag = @Html.Raw(Json.Encode(getAllTags.Select(r => new { value = r.TagName, data = r.TagId }).ToList()));
</script>
<div class="modal in" id="addResourceTag" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="padding-right: 17px;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="material-icons">clear</i></button>
                <h4 class="modal-title" id="myModalLabel">Add Tag</h4>
            </div>
            <div class="modal-body">
                <div class="col-sm-8 col-sm-offset-2 form-inline" style="margin: 0 auto; float: none;">
                    <div class="form-group wdt_100">
                        <label for="exampleInputEmail1" class="add_tag-label">Tag<span style="color:red;font-size: 12px;">*</span></label>
                        @Html.TextBoxFor(m => m.TagName, new { autocomplete = "off", @class = "form-control brd_radius-4 add_tag-input", maxlength = 50 })
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <button type="button" data-toggle="modal" class="modal-footer" onclick="addTagToResource(@Model.ResourceId)">
                SAVE
                <div class="clearfix"></div>
            </button>
            <div class="clearfix"></div>
        </div>
    </div>
    <input type="hidden" id="selectedTagId" value="" />
    <input type="hidden" id="selectedTagName" value="" />
</div>

<script>
    $(function()
    {
        initAutoComplete_tags()
    });
</script>