﻿<script src="@Url.Content("~/Content/Teacher/js/chartUtility.js")"></script>

<div class="modal in" id="resourceVisitGraph" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="padding-right: 17px;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="material-icons">clear</i></button>
                <h4 class="modal-title" id="myModalLabel">Student Resource Visit Grapgh</h4>
            </div>
            <div class="modal-body">
                <div class="col-md-12 col-sm-12 col-xs-12 mrg_t-10">
                    <div class="user_box user_product text-center bg_white">
                        <div class="table-responsive">
                            <div id="container" style="min-width: 500px; height: 300px; margin: 0 auto"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12 mrg_t-20"></div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

<script>
    $(function () {
        getResourceVisitByStudentGraphData($('#subjectId').val());
    });
</script>






















