﻿@model Reelae.Models.AddResourceViewModal
@{
    //var Subjects = ViewBag.Subjects;
}
<script src="~/Content/Resource/js/Resource.js"></script>
<style>
    .prod_wrap_add {
        position: relative;
        height: 30px;
    }
</style>
<div class="modal in" id="addResourceModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="padding-right: 17px;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="OnAddResourceModalReset();"><i class="material-icons">clear</i></button>
                <h4 class="modal-title" id="myModalLabel">Add Resource</h4>
            </div>
            @using (Ajax.BeginForm("AddResource", "Resource", new { area = "" }, new AjaxOptions { HttpMethod = "Post", OnSuccess = "onAddResourceSucess", OnFailure = "onAddResourceFailure", OnBegin = "onAddResourceBegin" }))
            {
                <div class="modal-body">
                    <div class="col-sm-10 col-sm-offset-1" style="margin: 0 auto; float: none;">
                        @*<div class="form-group">
                            <label for="exampleInputEmail1">Subject Name</label><span style="color:red;font-size: 12px;">*</span>                                      
                            <div class="form-group">                               
                                <div class="mad-select" style="width:100%" id="subjectDDl">
                                    <ul class="ddlAddSubject">
                                        <li data-value=""  class="selected">Please Select</li>
                                        @if (Subjects != null && Subjects.Count > 0)
                                        {
                                            foreach (var subject in Subjects)
                                            {
                                                <li data-value="@subject.Id" onclick="callSubjectFilter(@subject.Id)">@subject.Value</li>
                                            }
                                        }
                                    </ul>
                                    <input type="hidden" name="myOptions" value="" id="ddlSubjectsSelValue">
                                </div>
                            </div>
                        </div>
                        <div class="gap_20"></div>*@

                        @Html.HiddenFor(m => m.resourceInfo.SubjectID)
                        @Html.HiddenFor(m => m.resourceInfo.URL)
                        @Html.HiddenFor(m => m.resourceInfo.fileType)
                        @Html.HiddenFor(m => m.resourceInfo.FileSize)
                        @Html.HiddenFor(m => m.resourceInfo.Title)
                        @Html.HiddenFor(m => m.resourceInfo.LabelId)

                        <div class="form-group">
                            <label for="exampleInputEmail1">Description</label><span style="color:red;font-size: 12px;">*</span>
                            <div class="clearfix"></div>
                            @Html.TextAreaFor(model => model.resourceInfo.Description, new { maxlength = "250", @class = "form-control brd_radius-4", id = "txt_subjectDescription", onchange = "onChangeValidate(this)" })
                        </div>
                        <div class="gap_20"></div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Choose file</label><span style="color:red;font-size: 12px;">*</span>

                            <div class="clearfix"></div>
                            <div class="logo_wrapper">
                                <div class="upload_logo">
                                </div>
                                <a href="#!" class="gr_btn brd_radius-4" id="btnResourceupload" onclick="triggerFileUpload();">Upload Resource</a>
                                <a href="#!" class="red_btn brd_radius-4" onclick="DeleteResourceFile()" id="btnDelete" style="display:none">Delete</a>
                            </div>
                        </div>
                        <div class="upload_resource">
                            <span id="fileResource"></span>
                            <input id="hdnFilePath" name="resource" type="hidden" value="">
                        </div>

                        <div class="hiddenfile">
                            <input name="upload" type="file" id="_HttpPostedResourceFile" onchange="UploadResourceFile();" />
                        </div>
                    </div>
                </div>
                <button type="submit" data-toggle="modal" class="modal-footer">
                    SAVE
                    <div class="clearfix"></div>
                </button>
                <div class="clearfix"></div>
            }
        </div>
    </div>
</div>

<script>
  
    function callSubjectFilter(id)
    {
        $('#resourceInfo_SubjectID').val(id);
    }
</script>



