﻿@model IEnumerable<ReelaeDataAccessLayer.re_getResourceActivityList_sp_Result>
@{
    var result = Model.ToList();
}
@{
    if (result.Count > 0)
    {
        <div class="detail_wrap">
            <div class="col-xs-12 lbl">
                @foreach (var item in result)
                {
                    var imageUrl = string.IsNullOrEmpty(item.UserPicUrl) == true ? "/Content/images/student_small.jpg" : item.UserPicUrl;
                    <div class="reply_box-wrap">
                        <div class="col-md-12 col-xs-12">
                            <div class="theme_bx bg_dblue"><img src="@Url.Content(imageUrl)"> </div>
                            <div class="title">
                                @item.Name
                                <div class="clearfix"></div>
                                @*<span>Torry Likewise</span>*@
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="activity_wrap">
                            <div class="col-xs-12">
                                @if (item.IsDownloaded == 1)
                                {
                                    var downloadTime = item.DownloadTime == null ? "" : Convert.ToDateTime(item.DownloadTime).ToString("dd MMM yyyy hh:mm:ss tt");
                                    <div class="download_detail">
                                        <div class="dw_heading" style=""><i class="material-icons">file_download</i></div>
                                        <span class="data_load">@downloadTime</span>
                                    </div>
                                }
                                @if (item.isViewed == true)
                                {
                                    var viewTime = item.ViewTime == null ? "" : Convert.ToDateTime(item.ViewTime).ToString("dd MMM yyyy hh:mm:ss tt");
                                    <div class="download_detail">
                                        <div class="dw_heading" style=""><i class="material-icons">remove_red_eye</i></div>
                                        <span class="data_load">@viewTime</span>
                                    </div>
                                }
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <hr>
                }
            </div>
            <div class="clearfix"></div>
        </div>
    }
    else
    {
        <div style="text-align:center;"><i>No Activity Found.</i></div>
    }
}
