﻿@model Reelae.Models.ResourceViewModal
@{
    ViewBag.Title = "StudentAssignments";
    Layout = "~/Areas/Teacher/Views/Shared/_TeachersLayout.cshtml";
    var _user = Model.userInfo;
    var subjects = ViewBag.Subjects;
}

@section head{
    <script src="~/content/teacher/js/teachergroupmembers.js"></script>
    <script src="~/Content/Resource/js/Resource.js"></script>
    <style>
        #fileDetails.fixed {
            display: block;
            position: fixed;
            top: 0;
            width: 100%;
        }

        .resource_top {
        font-size: 15px;
       }
    </style>
}
@section InstitueName{
    @Html.Partial("~/Areas/Admin/Views/Shared/_InstituteSetupHeader.cshtml", _user)
}
@section UserProfile{
    <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
        @if (Model.userInfo.UserPicUrl != null && Model.userInfo.UserPicUrl != "")
        {
            <img src="@Url.Content(Model.userInfo.UserPicUrl)" alt="photo" />
        }
        Hello, @Reelae.Utilities.CommonUtility.ToTitleCase(@Session["Name"].ToString().ToLower()) <span class="fa fa-angle-down"></span>
    </a>

}
<div class="right_col pd_l-0 height_vh small_left_col" role="main">

    <i class="fa fa-chevron-left  s_col hide_cl" aria-hidden="true" style="cursor:pointer"></i>
    <i class="fa fa-chevron-right s_col show_cl" aria-hidden="true" style="cursor:pointer"></i>

    <div class="col-md-3 left_col wdt_200 brd-lr-gry dis_pan" id="pan_show">
        <div class="left_col scroll-view">
            <div class="clearfix"></div>
            <!-- menu profile quick info -->
            <div class="profile profile2 profile_2 clearfix"> &nbsp; </div>
            <!-- /menu profile quick info -->
            <br />
            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu main_menu2">
                <div class="menu_section" id="resourceLeftMenu">
                    <div class="subject_top-heading clearfix">
                        <a href="javascript:void(0)" style="cursor: default;"> <h3>Resource</h3></a>
                    </div>
                    <ul class="nav side-menu mg_t_0">
                        <li class="active">
                            <a href="#!" onclick="reSetFilter('')"><i class="fa fa-folder-o" aria-hidden="true"></i> My Files </a>
                            <ul class="nav child_menu dis_block" style="display: block; background-color:#fff;" id="docList">
                                <li onclick="setDocType('image',this)"><a href="#!">Photos</a></li>
                                <li onclick="setDocType('document', this)"><a href="#!">Docs</a></li>
                                <li onclick="setDocType('video,audio', this)"><a href="#!">Video &amp; Audio</a></li>
                                <li onclick="setDocType('compressed', this)"><a href="#!">Compressed</a></li>
                            </ul>
                        </li>
                        <li onclick="otherFilter('Recent',this)"><a href="#!"><i class="material-icons">access_time</i> Recent</a></li>
                        <li onclick="otherFilter('Flaged',this)"><a href="#!"><i class="material-icons">favorite</i> Flagged</a></li>
                        <li onclick="otherFilter('Trash',this)"><a href="#!"><i class="material-icons">delete</i> Trash</a></li>
                    </ul>

                </div>
                <div class="menu_section" id="resourceTags">
                </div>             
            </div>
        </div>
    </div>
    <div class="col-md-9 wdt_m_200 pull-right" id="pan_hide">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 mrg_t_10 mob-mrg">
                <div class="dashboard_graph pd_b-0 brd_bottom">
                    <div class="row x_title mrb_b-0">
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="group select_2 tbl_select head_drop">
                                <div class="mad-select resource_select" style="width:250px;">
                                    <ul id="ddlGroup">
                                        @if (subjects != null && subjects.Count > 0)
                                        {
                                            int index = 0;
                                            foreach (var item in subjects)
                                            {
                                                if (index == 0)
                                                {
                                                    <li data-value="@item.Id" class="selected" onclick="callSubjectFilter(@item.Id)" title="@item.Value">@item.Value</li>
                                                }
                                                else
                                                {
                                                    <li data-value="@item.Id" onclick="callSubjectFilter(@item.Id)" title="@item.Value">@item.Value</li>
                                                }
                                                index++;
                                            }
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="right-col pad_lr-0 text-right"><a href="#!" onclick="showResourceVisitGraph()"> Analitycs &nbsp; &nbsp; <i class="fa fa-bar-chart resource_top txt_light_blue" aria-hidden="true"></i></a></div>
                        </div>
                        </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        @*<div class="resource_scroll-body" id="scrollBody">*@
        <div id="scrollBody">
            <div class="pad_lr-30 col-md-8 col-md-offset-1">
                <div class="col-xs-12 col-sm-6">
                    <h3 class="heading_blu mrg_b-20">Latest Activity</h3>
                </div>
                <div class="col-xs-12 col-sm-6 re_filter"> Sort by <a href="#" onclick="nameSortingActivityClick('name_asc')"><span>name</span> </a> <i class="material-icons short_icon">import_export</i></div>

                <div class="clearfix"></div>
                <div class="parentActivity" style="overflow-y: auto; max-height:250px;">
                    <div id="downloadActivity">
                    </div>
                </div>             
                <div class="col-sm-12 resource_acco">
                    <div class="row">
                        <div class="col-sm-3 col-xs-12 nav_left">
                            <h3 class="heading_blu mrg_t-20"><span class="pull-left">Add New</span> <span class="add_btn add_file"><a href="#!" onclick="addLabel('')" data-toggle="modal" data-target="#myModal7" style="background-color: #33a9f1;"></a></span></h3>
                            <!-- required for floating -->
                            <!-- Nav tabs -->
                            <div id="resourceLabelList">
                            </div>
                        </div>
                        <div class="col-sm-9 col-xs-12">
                            <!-- Tab panes -->
                            <div class="tab-content demo-height">
                                <div class="tab-pane active" id="home" style="display:none;">
                                    <div class="col-xs-12 col-sm-6">
                                        <h3 class="heading_blu mrg_t-20"><span class="pull-left">Your files</span> <span class="add_btn add_file"><a href="#!" onclick="addSubjectResource();"></a></span></h3>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 re_filter"> <div class="mrg_t-10">Sort by <a href="#" onclick="nameSortingClick('name_asc')"><span>name</span> </a> <i class="material-icons short_icon">import_export</i></div></div>
                                    <div class="clearfix"></div>

                                    <div class="resourceparent">
                                        <div id="resourceList">
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12" id="emptyMessage" style="display:none; text-align:center;">No Label Found</div>
            </div>
        </div>
        <div class="clearfix"></div>
        @*<div class="side_panel block_side" id="fileDetails">*@
        <div class="side_panel " id="fileDetails" style="display:none;">
        </div>
    </div>
    <div class="clearfix"></div>
    <input type="hidden" id="subjectId" value="" />
    <input type="hidden" id="currentSort" value="" />
    <input type="hidden" id="currentSortActivity" value="" />
    <input type="hidden" id="docType" value="" />
    <input type="hidden" id="otherFilterType" value="" />
    <input type="hidden" id="selectedTag" value="" />
    <input type="hidden" id="labelId" value="" />
    <input type="hidden" id="userType" value="T" />
</div>

<script>
    $(function () {
        bindTags(null);
        $('#ddlGroup').children().first().trigger('click');
    });

    function callSubjectFilter(subjectId) {
        $('#resourceLeftMenu ul li').removeClass('active');
        $('#resourceLeftMenu ul li').first('a').addClass('active');
        $('#resourceTags ul li').removeClass('active');

        $('#selectedTag').val('');
        $('#otherFilterType').val('');
        $('#docType').val('');
        $('#labelId').val('')

        $('#subjectId').val(subjectId);
        getDownloadResourceActivityList("");
        resourceLabelList(subjectId, 'T');
    }

    function nameSortingClick(sortOrder) {      
        if ($('#currentSort').val() != sortOrder) {
            $('#currentSort').val(sortOrder);
            getResourcesGridView('name_asc');
        }
        else {
            $('#currentSort').val('name_desc');
            getResourcesGridView('name_desc');
        }
    }

    function setDocType(type, _this) {
        $("#resourceLeftMenu").find("li").removeClass('active');
        $(_this).parent().find("li").removeClass('active');
        $('#resourceTags ul li').removeClass('active');
        $(_this).addClass('active');
        $('#docType').val(type);
        reSetFilter('docType')
    }
    //for trash
    function otherFilter(filterType, _this) {
        $(_this).parent().parent().removeClass('active');
        $(_this).parent().find("li").removeClass('active');
        $(_this).addClass('active');

        $('#otherFilterType').val(filterType);
        reSetFilter('other')
    }

    function tagFilter(id, _this) {
        $('#resourceLeftMenu ul li').removeClass('active');
        $('#resourceTags ul li').removeClass('active');
        $(_this).addClass('active');

        $('#selectedTag').val(id);
        reSetFilter('tag')
    }
    function reSetFilter(currentFilter) {
        switch (currentFilter) {
            case "tag":           
                $('#otherFilterType').val('');
                $('#docType').val('');
                break;
            case "docType":
                $('#selectedTag').val('');
                $('#otherFilterType').val('');
                break;
            case "other":
                $('#selectedTag').val('');
                $('#docType').val('');
                break;
            default:
                $('#selectedTag').val('');
                $('#otherFilterType').val('');
                $('#docType').val('');
                $('#subjectId').val(null);
                $('#docList li').removeClass('active');
                break;
        }
        getResourcesGridView("");
    }

    function nameSortingActivityClick(sortOrder) {
        if ($('#currentSortActivity').val() != sortOrder) {
            $('#currentSortActivity').val(sortOrder);
            getDownloadResourceActivityList("name_asc");
        }
        else {
            $('#currentSortActivity').val('name_desc');
            getDownloadResourceActivityList("name_desc");
        }
    }
</script>




