﻿@model IEnumerable<ReelaeDataAccessLayer.re_getForum_sp_Result>
@using Humanizer;
@{
    var _forumTopics = Model.ToList();
}
@if (_forumTopics.Count() > 0)
{
    foreach (var _topic in _forumTopics)
    {

        <div class="col-md-4 col-xs-12 column-count-item pad_lr-0">
            <div class="forum_box">
                <div class="forum-header">
                    <div class="row">
                        <div class="col-md-9 col-xs-12">
                            <div class="theme_bx bg_dblue">
                                @if (_topic.UserPicUrl != null)
                                {
                                    <img src="@Url.Content(_topic.UserPicUrl)" alt="">
                                }
                                else
                                {
                                    if (_topic.RoleName == "Teacher")
                                    {
                                        <img src="/Content/images/teacher_small.jpg" alt="">

                                    }
                                    else
                                    {
                                        <img src="/Content/images/student_small.jpg" alt="">

                                    }
                                }
                            </div>
                            <div class="title">
                                @_topic.Topic
                                <div class="clearfix"></div>
                                <span>
                                    @_topic.Name
                                    <div class="clearfix"></div>
                                    <small>
                                        Created - @string.Format("{0} {1} at {2}", _topic.CreatedDate.Day.Ordinalize(), _topic.CreatedDate.ToString("MMM yyyy"), _topic.CreatedDate.ToString("hh:mm tt"))
                                    </small>
                                    @if (_topic.ModifiedDate != null)
                                    {
                                        <div class="clearfix"></div>

                                        <small>
                                            Modified - @string.Format("{0} {1} at {2}", _topic.ModifiedDate.Value.Day.Ordinalize(), _topic.ModifiedDate.Value.ToString("MMM yyyy"), _topic.ModifiedDate.Value.ToString("hh:mm tt"))
                                        </small>
                                    }
                                </span>
                            </div>
                        </div>
                        <div class="col-md-3 col-xs-12 action_btn-wrap">
                            @if (_topic.UserID != Session["UserId"] as int?)
                            {
                                <a href="#!" class="small_btn bg-blue pull-right brd_radius-4" onclick="Reply(@_topic.ForumID)">Reply</a>
                                <div class="clearfix"></div>
                            }
                            else
                            {
                                <div class="row">
                                    <div class="col-xs-4 text-center"><a href="#!" onclick="editForumTopic(@_topic.ForumID)" title="Edit"><i class="material-icons blue">mode_edit</i></a></div>
                                    <div class="col-xs-4 text-center">
                                        <a href="#!" onclick="RemoveForumTopicConfirmation (@_topic.ForumID,'@_topic.Topic')" title="Remove">
                                            <i class="material-icons red">delete</i>
                                        </a>
                                    </div>
                                </div>
                            }
                            <div class="clearfix"></div>
                            <div class="row">
                                <span class="col-xs-6 text-left detail_view">
                                    @if (_topic.ReplyCount > 0)
                                    {
                                        <a onclick="getAllReply(@_topic.ForumID)">
                                            <i class="fa fa-reply" aria-hidden="true"></i>
                                            <div class="clearfix"></div>
                                            @_topic.ReplyCount
                                        </a>
                                    }
                                    else
                                    {
                                        <a style="cursor:default">
                                            <i class="fa fa-reply" aria-hidden="true"></i>
                                            <div class="clearfix"></div>
                                            @_topic.ReplyCount
                                        </a>
                                    }
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
                <div class="content_body">
                    <div class="clearfix"></div>
                    @if (_topic.SubjectName.Length > 30)
                    {
                        string _sub = _topic.SubjectName.Substring(0, 28) + "...";
                        @:Subject -  _sub
                    }
                    else
                    {
                        @:Subject -  @_topic.SubjectName
                    }
                    <div class="title">@_topic.Title</div>
                    <div class="clearfix"></div>
                    <div class="fourm_txt">
                        @Html.Raw(_topic.Content)
                    </div>
                    <a href="#!" class="pull-left" onclick="ReadMore(@_topic.ForumID)">Read More</a>
                    @if (_topic.ForumUserName != null && _topic.LastPostDate != null)
                    {
                        <small class="pull-right">
                            <span class="txt_black">LAST POST</span>
                            <div class="clearfix"></div>
                            <a href="javascript:;" class="user-profile pull-left">
                                @if (_topic.ForumUserURL != null)
                                {
                                    <img src="@_topic.ForumUserURL" alt="">
                                }
                                else
                                {
                                    if (_topic.ForumUserRole == "Teacher")
                                    {
                                        <img src="/Content/images/teacher.jpg" alt="">

                                    }
                                    else
                                    {
                                        <img src="/Content/images/student.jpg" alt="">

                                    }
                                }
                            </a>
                            <span>
                                By @_topic.ForumUserName: @string.Format("{0} {1} at {2}", _topic.LastPostDate.Value.Day.Ordinalize(), _topic.LastPostDate.Value.ToString("MMM yyyy"), _topic.LastPostDate.Value.ToString("hh:mm tt"))
                            </span>
                        </small>
                    }
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    }
}
else
{
    <span>No topics found</span>
}
