﻿@model Reelae.Models.newTopicViewModel
@{
    var subjects = Model.SubjectList.ToList();
    string _firstSubject = "0";
    if (subjects != null && subjects.Count() > 0)
    {
        _firstSubject = subjects[0].SubjectID.ToString();
    }
}
<div class="modal" id="newTopicModelBox" tabindex="-1" role="dialog" aria-labelledby="newTopicLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="OnSubjectModalReset();">
                    <i class="material-icons">clear</i>
                </button>
                <h4 class="modal-title" id="newTopicLabel">New Topic</h4>
            </div>
            @using (Ajax.BeginForm("addNewTopic", "Forum", new { area = "" }, new AjaxOptions { HttpMethod = "Post", OnSuccess = "onTopicSucess", OnFailure = "onTopicFailure", OnBegin = "onTopicBegin" }))
            {
                <div class="modal-body" style="max-height:65vh;overflow-y:auto">
                    @Html.HiddenFor(model => Model.forum.ForumID, new { id = "hdnForumId" })
                    <div class="col-sm-10 col-sm-offset-1" style="margin: 0 auto; float: none;">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Topic</label><span style="color:red;font-size: 12px;">*</span>
                            <div class="clearfix"></div>
                            @Html.TextBoxFor(model => Model.forum.Topic, new { maxlength = "50", @class = "form-control brd_radius-4", id = "txt_topic", placeholder = "Add topic here" })
                        </div>

                        <div class="gap_20"></div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Inactive Date</label>
                            <div class="clearfix"></div>
                            <div class="xdisplay_inputx form-group has-feedback" style="display:inline-block;">
                                @*@Html.TextBoxFor(model => model.PublishedDate, new { @class = "form-control has-feedback-left pop_date", style = "padding-left:55px;", id = "noticeDate", aria - describedby = "inputSuccess2Status3" })*@
                                <input type="text" class="form-control has-feedback-left pop_date" style="padding-left:55px;" id="forumTopicDate" aria-describedby="inputSuccess2Status3">
                                <span class="fa fa-calendar form-control-feedback left" aria-hidden="true"></span> <span id="inputSuccess2Status3" class="sr-only">(success)</span>
                                @Html.HiddenFor(model => Model.forum.PublishedDate, new { id = "hdn_Date" })
                            </div>
                        </div>
                        <div class="gap_20"></div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Title</label><span style="color:red;font-size: 12px;">*</span>
                            <div class="clearfix"></div>
                            @Html.TextBoxFor(model => Model.forum.Title, new { maxlength = "50", @class = "form-control brd_radius-4", id = "txt_title", placeholder = "Add title here" })
                        </div>
                        <div class="gap_20"></div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Content</label><span style="color:red;font-size: 12px;">*</span>
                            <div class="clearfix"></div>
                            @Html.TextAreaFor(model => Model.forum.Content, new { @class = "form-control brd_radius-4", id = "txt_descr", placeholder = "Add content here" })
                        </div>

                        <div class="gap_20"></div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Subject</label>
                            <div class="clearfix"></div>
                            <div class="mad-select" style="margin-left:0px;width:200px;">
                                <ul id="ddlSubject">
                                    @if (subjects != null && subjects.Count() > 0)
                                    {
                                        foreach (var item in subjects)
                                        {
                                            <li data-value="@item.SubjectID" onclick="setSubjectId('@item.SubjectID')" title="@item.SubjectName">@item.SubjectName</li>
                                        }
                                    }
                                    else
                                    {
                                        <li data-value="0">No Subjects Yet</li>

                                    }
                                </ul>
                                <input type="hidden" name="forum.SubjectId" value="@_firstSubject" id="selSubjectID">
                            </div>
                        </div>
                        <div class="gap_20"></div>
                        <div class="gap_20"></div>

                        <div class="clearfix"></div>
                    </div>
                </div>
                <input type="submit" value="SAVE" class="button_blue button_100">


            }
        </div>
    </div>
</div>
