﻿@model ReelaeDataAccessLayer.Forum
<div class="modal" id="ReadMoreModelBox" tabindex="-1" role="dialog" aria-labelledby="ReadMoreLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="OnSubjectModalReset();">
                    <i class="material-icons">clear</i>
                </button>
                <h4 class="modal-title" id="ReadMoreLabel">@Model.Topic</h4>
            </div>
            <div class="modal-body" style="max-height:90vh;overflow-y:auto">
                <div class="col-sm-10 col-sm-offset-1" style="margin: 0 auto; float: none;">
                    <div class="form-group">
                        <h4>@Model.Title</h4>
                        <div class="clearfix"></div>
                    </div>
                    @Html.Raw(Model.Content)
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>
