﻿@model ReelaeDataAccessLayer.ForumUserAction

<div class="modal" id="replyModelBox" tabindex="-1" role="dialog" aria-labelledby="replyLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="OnSubjectModalReset();">
                    <i class="material-icons">clear</i>
                </button>
                <h4 class="modal-title" id="replyLabel">Reply</h4>
            </div>
            @using (Ajax.BeginForm("saveReply", "Forum", new { area = "" }, new AjaxOptions { HttpMethod = "Post", OnSuccess = "onReplySucess", OnFailure = "onReplyFailure", OnBegin = "onReplyBegin" }))
            {
                <div class="modal-body" style="max-height:65vh;overflow-y:auto">
                    @Html.HiddenFor(model => Model.ForumUserActionID, new { id = "hdnReplyId" })
                    @Html.HiddenFor(model => Model.ForumID, new { id="hdnForumId"})
                    <div class="col-sm-10 col-sm-offset-1" style="margin: 0 auto; float: none;">
                       
                            @Html.TextAreaFor(model => Model.ResponseDescription, new { @class = "form-control brd_radius-4", id = "txt_descr", placeholder = "Add content here" })
                       
                    </div>
                </div>
                <input type="submit" value="SAVE" class="button_blue button_100">
            }
        </div>
    </div>
</div>
