﻿@model Reelae.Models.ForumViewModel

@{
    ViewBag.Title = "Forum";
    if (Session["Role"].ToString() == "Teacher")
    {
        Layout = "~/Areas/Teacher/Views/Shared/_TeachersLayout.cshtml";

    }
    else
    {
        Layout = "~/Areas/Student/Views/Shared/_StudentLayout.cshtml";

    }
    var _user = Model._userinfo;
    var _forumTopics = Model._forumTopics.ToList();
    var subjects = Model._subjects.ToList();


}
@section head{
    <script src="@Url.Content("~/Content/Forum/forum.js")"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/css/bootstrap-multiselect.css" rel="stylesheet" />

}
@section InstitueName{
    @Html.Partial("~/Areas/Admin/Views/Shared/_InstituteSetupHeader.cshtml", _user)
}
@section UserProfile{
    <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
        @if (Model._userinfo.UserPicUrl != null && Model._userinfo.UserPicUrl != "")
        {
            <img src="@Url.Content(Model._userinfo.UserPicUrl)" alt="" />
        }
        Hello, @Reelae.Utilities.CommonUtility.ToTitleCase(Session["Name"].ToString().ToLower()) <span class="fa fa-angle-down"></span>
    </a>

}

<div class="right_col pd_l-0 height_vh t_view_sub" role="main">
    <div class="">
        <div class="col-md-12 col-xs-12 pull-right">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 mrg_t_10 mob-mrg">
                    <div class="dashboard_graph pd_b-0 brd_bottom">
                        <div class="row x_title mrb_b-0">
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <h3>Forum - @_forumTopics.Count() Topics</h3>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12 text-right xs-left">
                                <select class="form-control" data-width="100px" multiple="multiple" id="ddlSubjects">
                                    @foreach (var item in subjects)
                                    {
                                        string _subName = item.SubjectName.Trim();
                                        if (_subName.Length > 20)
                                        {
                                            _subName = _subName.Substring(0, 17) + "...";
                                        }
                                        <option value="@item.SubjectID" title="@item.SubjectName">@_subName</option>
                                    }
                                </select>
                                <input type="hidden" value="0" id="selSubjectId">
                                <a href="#!" class="btn_blue mml-0 0 mrg-l_0 mrg-r_15" onclick="getNewTopicView(@subjects.Count)">Create New Topic</a>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="gap_30"></div>
                <div class="pad_lr-30 fourm_wrapper column-count" id="divTopics">
                    @Html.Partial("_forumTopicsList", _forumTopics)
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
