﻿@model ReelaeDataAccessLayer.StudentNoticeBoardAction
<div class="modal" id="editCommentModelBox" tabindex="-1" role="dialog" aria-labelledby="editCommentLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="material-icons">clear</i></button>
                <h4 class="modal-title" id="editCommentLabel">Comment</h4>
            </div>
            @using (Ajax.BeginForm("UpdateComment", "NoticeBoard", new { area = "Student" }, new AjaxOptions { HttpMethod = "Post", OnSuccess = "oneditSucess", OnFailure = "oneditFailure", OnBegin = "oneditBegin" }))
            {
                <div class="modal-body" style="max-height:70vh;overflow-y:auto">
                    @Html.HiddenFor(model => Model.NoticeBoardActionID)
                    <div class="col-sm-10 col-sm-offset-1" style="margin: 0 auto; float: none;">
                        <div class="gap_20"></div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Edit Comment</label>
                            <div class="clearfix"></div>
                            @Html.TextAreaFor(model => Model.Content, new {  @class = "tags form-control brd_radius-4", placeholder = "Add URLs", id = "txt_content" })
                        </div>
                        <div class="gap_20"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <input type="submit" value="SAVE" class="button_blue button_100">
            }
        </div>
    </div>
</div>
