﻿@model Reelae.Areas.Student.Models.NoticeBoardViewModel
@using Humanizer;
@using System.IO;
@{
    ViewBag.Title = "Notice Board";
    Layout = "~/Areas/Student/Views/Shared/_StudentLayout.cshtml";
    var _user = Model._userinfo;

}
@section head{
    <script src="@Url.Content("~/content/Student/js/noticeBoard.js")"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/css/bootstrap-multiselect.css" rel="stylesheet" />
    <style type="text/css">
        .notice_top .right-col .text_wrapper {
            display: inline-block;
            float: left;
            max-width: -webkit-calc(100% - 40px);
            max-width: -moz-calc(100% - 40px);
            max-width: calc(100% - 40px);
            word-break: break-all;
            line-height: 18px;
        }

        .col-xs-6.text-right.txt_lgry {
            font-size: 12px;
        }

        .user-profile.pull-left {
            text-decoration: none;
        }
          .item .thumb{
            margin-left:3px;
        }
    </style>

}

@section InstitueName{
    @Html.Partial("~/Areas/Admin/Views/Shared/_InstituteSetupHeader.cshtml", _user)
}
@section UserProfile{
    <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
        @if (Model._userinfo.UserPicUrl != null && Model._userinfo.UserPicUrl != "")
        {
            <img src="@Url.Content(Model._userinfo.UserPicUrl)" alt="" />
        }
        Hello, @Reelae.Utilities.CommonUtility.ToTitleCase(Session["Name"].ToString().ToLower()) <span class="fa fa-angle-down"></span>
    </a>

}
<div class="right_col pd_l-0 height_vh t_view_sub" role="main">
    <div class="">
        <div class="col-md-12 col-xs-12 pull-right">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 mrg_t_10 mob-mrg">
                    <div class="dashboard_graph pd_b-0 brd_bottom">
                        <div class="row x_title mrb_b-0">
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <h3>@ViewBag.NoticeCount Notices</h3>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12 text-right xs-left pad_r25">

                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="gap_30"></div>
                <div class="pad_lr-30 column-count" id="divNoticeList"></div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
