﻿@model  Reelae.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="login_wrap">
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active" style="width:100%"><a href="#" class="log" aria-controls="home" role="tab" data-toggle="tab" style="cursor:default"><span>Forget Password</span></a></li>
    </ul>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="home">
            <div class="col-md-12 pad_30-20">
                @using (Html.BeginForm("ForgotPassword", "Home", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <label class="message">@ViewBag.Message</label>
                    <div class="form-group">
                        <label for="Email">Email</label>
                        @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                    </div>
                    <button type="submit" class="btn btn-block btn_login">Submit</button>
                }
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
</div>