﻿@model  Reelae.Models.LoginRegisterComplexModel
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<div class="text-center">
    <h1>Welcome back!</h1>
    <p class="lead">Login to continue</p>
</div>

<div class="login_wrap">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="@ViewBag.tab1"><a href="#home" class="log" aria-controls="home" role="tab" data-toggle="tab" onclick="cleanSummary()"><span>Login</span></a></li>
        <li role="presentation" class="@ViewBag.tab2"><a href="#profile" class="n_account" aria-controls="profile" role="tab" data-toggle="tab" onclick="cleanSummary()"><span>New Account</span></a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane @ViewBag.tab1" id="home">
            <div class="col-md-12 pad_30-20">
                @using (Html.BeginForm("Login", "Home", FormMethod.Post, new { role = "form" }))
                {
                    if (ViewBag.Tab1 == "active")
                    {
                    <span class="message"> @ViewBag.Message </span>
                        if (ViewBag.Visible != null)
                        {
                    <a href="/Home/LogOff">Log Out</a>
                        }
                    }
                    if (ViewBag.Tab1 == "active")
                    {
                    @Html.ValidationSummary("", new { @class = "text-danger", id = "LoginSummry" })
                    }
                    <div class="form-group">
                        <label for="Email">Email</label><span style="color:red;font-size: 12px;">*</span>
                        @Html.TextBoxFor(model => model.LoginUser.Email, new { maxlength = "256", @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label for="Password">Password</label><span style="color:red;font-size: 12px;">*</span>
                        @Html.PasswordFor(model => model.LoginUser.Password, new { maxlength = "30", @class = "form-control" })
                    </div>
                    <button type="submit" class="btn btn-block btn_login">Login to reelae</button>
                    <div class="text-center">
                        @Html.ActionLink("Forgot password?", "ForgotPassword", "Home", null, new { @class = "f-password" })
                    </div>
                }
            </div>
            <div class="clearfix"></div>
        </div>
        <div role="tabpanel" class="tab-pane @ViewBag.tab2" id="profile">
            <div class="col-md-12 pad_30-20">
                @using (Html.BeginForm("SignUp", "Home", FormMethod.Post, new { role = "form" }))
                {
                    if (ViewBag.Tab2 == "active")
                    {
                    @Html.ValidationSummary("", new { @class = "text-danger", id = "RegSummary" })
                    }
                    <span class="message"> @ViewBag.Message </span>
                    <div class="form-group">
                        <label for="Email">Email</label><span style="color:red;font-size: 12px;">*</span>
                        @Html.TextBoxFor(model => model.RegisterUser.Email, new { maxlength = "256", @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label for="Name">Your Name</label><span style="color:red;font-size: 12px;">*</span>
                        @Html.TextBoxFor(model => model.RegisterUser.Name, new { maxlength = "25", @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label for="Password">Password</label><span style="color:red;font-size: 12px;">*</span>
                        @Html.PasswordFor(model => model.RegisterUser.Password, new { maxlength = "30", @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label for="ConfirmPassword">Confirm Password</label><span style="color:red;font-size: 12px;">*</span>
                        @Html.PasswordFor(model => model.RegisterUser.ConfirmPassword, new { maxlength = "30", @class = "form-control" })
                    </div>
                    <button type="submit" class="btn btn-block btn_login">Next Step - Choose Institution</button>
                    <div class="text-center f-10 txt-gry">
                        By signing up you agree to our <a href="#!" class="sm_link">Terms of Service</a> and <a href="#!" class="sm_link">Privacy Policy</a>
                    </div>
                }

            </div>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
</div>
@section custom_scripts{
    <script type="text/javascript">
        function cleanSummary() {
            $("#LoginSummry").find("ul").empty().append("<li style='display:none'></li>");
            $("#RegSummary").find("ul").empty().append("<li style='display:none'></li>");

        }
        function displayLoader()
        {
            $("#divLoader").show();
        }
    </script>
}
