﻿
@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Reelae</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="@Url.Content("~/Content/css/bootstrap.min.css")">
    <!-- Font Awesome -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="@Url.Content("~/Content/css/style-dash.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/css/style.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/css/media.css")">
    <style>
        .disableCursor {
            cursor: default;
        }
    </style>
    <!-- FOR IE9 below -->
    <!--[if lt IE 9]>
      <script src="js/respond.min.js"></script>
      <![endif]-->

</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="col-md-12 wrap">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                <a class="navbar-brand" href="#"><img src="@Url.Content("~/Content/images/logo.jpg")" alt="Logo"></a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav pull-right">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#!">Pricing</a></li>
                    <li><a href="#!">About Us</a></li>
                    <li>@Html.ActionLink("Login", "login", new { id = "l" }, null)</li>
                    <li>@Html.ActionLink("Sign Up", "login", new { id = "s" }, null)</li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>
    <div class="container wrap mt-50">
        <div class="text-center">
            <div id="wizard" class="form_wizard wizard_horizontal col-sm-8 col-sm-offset-2  col-xs-12">
                <ul class="wizard_steps">
                    <li>
                        <a href="#step-1" class="disableCursor">
                            <span class="step_no">&nbsp;</span>
                            <span class="step_descr">
                                Choose Your <br>Institution
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#step-2" class="disableCursor">
                            <span class="step_no">&nbsp;</span>
                            <span class="step_descr">
                                Select Package
                            </span>
                        </a>
                    </li>

                </ul>
                <div id="step-1">
                    <div class="row">
                        <div class="col-sm-4 col-xs-12 pad_lr-30">
                            <a class="col-xs-12 new_acc" onclick="setSelected(this)">
                                <i class="material-icons">query_builder</i>
                                <div class="clearfix"></div>
                                <span> High School </span>
                            </a>
                        </div>

                        <div class="col-sm-4 col-xs-12 pad_lr-30">
                            <a class="col-xs-12 new_acc" onclick="setSelected(this)">

                                <i class="material-icons">import_contacts</i>
                                <div class="clearfix"></div>
                                <span>Tafe</span>
                            </a>
                        </div>

                        <div class="col-sm-4 col-xs-12 pad_lr-30">
                            <a class="col-xs-12 new_acc" onclick="setSelected(this)">

                                <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                                <div class="clearfix"></div>
                                <span>University</span>
                            </a>
                        </div>
                        <input type="hidden" id="hdn_InsTyp" value="" />
                    </div>

                </div>
                <div id="step-2">
                    <div class="pad_lr-15">
                        <div id="gender2" class="btn-group mrg_btm-35" data-toggle="buttons">
                            <label class="btn btn-default">
                                <input type="radio" name="gender" value="male" checked=""> &nbsp; Billed Monthly &nbsp;
                            </label>
                            <label class="btn btn-default">
                                <input type="radio" name="gender" value="female"> Billed Annually
                            </label>
                        </div>
                        <div class="clearfix"></div>

                        <!-- item -->
                        <div class="col-md-4 text-center pad_lr-0">
                            <div class="panel panel-pricing">
                                <div class="panel-body text-center">
                                    <small>Small</small>
                                    <div class="clearfix"></div>
                                    $49
                                </div>
                                <ul class="list-group text-center">
                                    <li class="list-group-item">200 Student Accounts</li>
                                    <li class="list-group-item">5 Admin Accounts</li>
                                    <li class="list-group-item">20 Teacher Accounts</li>
                                </ul>
                                <div class="panel-footer">
                                    <a class="btn_tr" onclick="displayMessage();" href="javascript:void(0);">Start Small</a>
                                </div>
                            </div>
                        </div>
                        <!-- /item -->
                        <!-- item -->
                        <div class="col-md-4 text-center pad_lr-0 ">
                            <div class="panel panel-pricing mid_price">
                                <div class="panel-body text-center">
                                    <small>Medium</small>
                                    <div class="clearfix"></div>
                                    $499
                                </div>
                                <ul class="list-group text-center">
                                    <li class="list-group-item">200 Student Accounts</li>
                                    <li class="list-group-item">5 Admin Accounts</li>
                                    <li class="list-group-item">20 Teacher Accounts</li>
                                </ul>
                                <div class="panel-footer">
                                    <a class="btn_tr" onclick="displayMessage();" href="javascript:void(0);">Start Medium</a>
                                </div>
                            </div>
                        </div>
                        <!-- /item -->
                        <!-- item -->
                        <div class="col-md-4 text-center pad_lr-0">
                            <div class="panel panel-pricing">
                                <div class="panel-body text-center">
                                    <small>Large</small>
                                    <div class="clearfix"></div>
                                    $4999
                                </div>
                                <ul class="list-group text-center">
                                    <li class="list-group-item">500 Student Accounts</li>
                                    <li class="list-group-item">20 Admin Accounts</li>
                                    <li class="list-group-item">50 Teacher Accounts</li>
                                </ul>
                                <div class="panel-footer">
                                    <a class="btn_tr" onclick="displayMessage();" href="javascript:void(0);">Start Large</a>
                                </div>
                            </div>
                        </div>
                        <!-- /item -->
                        <div class="clearfix"></div>
                    </div>
                </div>


            </div>
        </div>
    </div>

    <div class="circle_loader" id="divLoader" style="display:none;">
        <div class="circle__item">
            <svg class="circle__spinner" viewBox="0 0 50 50">
                <circle class="path" cx="25" cy="25" r="20" fill="none" stroke="#93bfec" stroke-width="1"></circle>
            </svg>
        </div>
    </div>
    <!--Generic Alert Box-->
    <div class="modal" id="genericAlertBox" tabindex="-1" role="dialog" aria-labelledby="genericAlertBoxModalLabel">
        <div class="modal-dialog" role="document" style="width:420px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="btnCloseModal"><i class="material-icons">clear</i></button>
                    <h4 class="modal-title" style="color:#fff" id="genericAlertBoxModalLabel">Alert Message</h4>
                </div>
                <div class="modal-body">
                    <div class="col-sm-10 col-sm-offset-1" style="margin: 0 auto; float: none;">
                        <p class="popup_txt" style="text-align: center;font-weight: 600;">Perfect! Now teacher can interact with students attendance in his dashboard.</p>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!-- jQuery -->
    <script src="@Url.Content("~/Content/js/jquery.min.js")"></script>
    <!-- Bootstrap -->
    <script src="@Url.Content("~/Content/js/bootstrap.min.js")"></script>
    <!-- FastClick -->
    <script src="@Url.Content("~/Content/js/fastclick.js")"></script>
    <!-- NProgress -->
    <script src="@Url.Content("~/Content/js/nprogress.js")"></script>
    <!-- jQuery Smart Wizard -->
    <script src="@Url.Content("~/Content/js/jquery.smartWizard.js")"></script>
    <!-- Custom Theme Scripts -->
    <script src="@Url.Content("~/Content/js/custom.min.js")"></script>

    <script type="text/javascript">
        /*global Variable*/
        var gInfo = {};
        gInfo.alertMsgType = { success: "success", failure: "failure", information: "info" };
        function setSelected(_this) {
            var elements = $(".row").find(".col-sm-4").find("a");
            elements.removeClass("selected");
            $(_this).addClass("selected");
            $("#hdn_InsTyp").val($(_this).find("span").html());
        }
        function setInstitutionType() {
            if ($("#hdn_InsTyp").val().trim() != "") {
                $.ajax({
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    url: "/Home/setInstitutionType/",
                    dataType: "html",
                    data: JSON.stringify({ "type": $("#hdn_InsTyp").val() }),
                    async: true,
                    success: function (result) {
                        if (result) {

                        }
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        return false;
                    }
                });
            }
            else {
                //alert("Please choose your institution type.");
                showAlertBox("Information Alert Message", "Please choose your institution type.", gInfo.alertMsgType.information)
                return false;
            }
        }
        function displayMessage() {
            $("#divLoader").show();
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: "/Home/sendMailToAdmin/",
                dataType: "html",
                async: true,
                success: function (result) {
                    $("#divLoader").hide();
                    var callbackFunc = function () {
                        window.location.href = "/Home/Login";
                    }
                    showAlertBox("Success Alert Message", "Sign-Up process has been completed, your request has been sent to the admin.",gInfo.alertMsgType.success,callbackFunc)
                    return true;
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    $("#divLoader").hide();
                    return false;
                }
            });
        }
        /*Generic Popup Alert Functionality*/
        function showAlertBox(HeaderMsg, BodyMsg, alertType, callback) {
            var alertEle = $('#genericAlertBox');
            if (!alertEle.length) {
                alert("Sorry! Generic Alert Box is not available");
                return false;
            }
            switch (alertType) {
                case "success":
                    alertType = "alert-success";
                    break;
                case "failure":
                    alertType = "alert-danger";
                    break;
                case "info":
                    alertType = "alert-info"
                    break;
                default:
                    alertType = "alert-info";
                    break;
            }
            $('.modal-header', alertEle).removeClass("alert-success alert-danger alert-info");
            $('.modal-header', alertEle).addClass(alertType);
            HeaderMsg = HeaderMsg || "Alert Message";
            BodyMsg = BodyMsg || "No messages to show";
            $('#genericAlertBoxModalLabel', alertEle).html(HeaderMsg);
            $('.popup_txt', alertEle).html(BodyMsg);
            if (callback && $.isFunction(callback))
                $("#btnCloseModal").one('click', callback);
            alertEle.modal('show');
        }
    </script>

</body>
</html>
