﻿@model  Reelae.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="login_wrap">
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active" style="width:100%"><a href="#" class="log" aria-controls="home" role="tab" data-toggle="tab" style="cursor:default"><span>Reset Password</span></a></li>
    </ul>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="home">
            <div class="col-md-12 pad_30-20">
                @using (Html.BeginForm("ResetPassword", "Home", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <label class="message">@ViewBag.Message</label>
                    <div class="form-group">
                        <label for="Email">Email</label>
                        @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label for="Email">New Password</label>
                        @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label for="Email">Confirm Password</label>
                        @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control" })
                    </div>
                    @Html.HiddenFor(model => model.Code)
                    <button type="submit" class="btn btn-block btn_login">Reset</button>
                }
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
</div>

