﻿@model IEnumerable<ReelaeDataAccessLayer.re_getForumUsersReply_sp_Result>
@using Humanizer;
@{
    var _allReply = Model.ToList();
}
<div class="modal" id="allReplyModelBox" tabindex="-1" role="dialog" aria-labelledby="allReplyLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">


            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="material-icons">clear</i>
                </button>
                <h4 class="modal-title" id="allReplyLabel">
                    @if (_allReply != null && _allReply.Count() > 0)
                    {
                        @_allReply.First().Topic
                    }
                    else
                    {
                        @ViewBag.Topic
                    }
                </h4>
            </div>

            <div class="modal-body" style="max-height:70vh;overflow-y:auto">
                @if (_allReply != null && _allReply.Count() > 0)
                {
                    foreach (var _reply in _allReply)
                    {
                        <div class="reply_box-wrap">
                            <div class="col-md-9 col-xs-12">
                                <div class="theme_bx bg_dblue">
                                    @if (_reply.UserPicUrl != null)
                                    {
                                        <img src="@Url.Content(_reply.UserPicUrl)" alt="">
                                    }
                                    else
                                    {
                                        if (_reply.Role == "Teacher")
                                        {
                                            <img src="/Content/images/teacher_small.jpg" alt="">

                                        }
                                        else
                                        {
                                            <img src="/Content/images/student_small.jpg" alt="">

                                        }
                                    }
                                </div>
                                <div class="title">
                                    @_reply.Name
                                    <div class="clearfix"></div>
                                    <span>
                                        <small class="txt_lgry">@string.Format("{0} {1}", _reply.CreatedDate.Day.Ordinalize(), _reply.CreatedDate.ToString("MMM yyyy hh:mm tt"))</small>
                                    </span>
                                </div>
                            </div>

                            <div class="col-md-3 col-xs-12 action_btn-wrap">
                                <div class="row">
                                    <div class="col-xs-4 text-center">
                                        <a href="#!" onclick="removeReplyConfirmation(@_reply.ForumUserActionID,@_reply.ForumID)">
                                            <i class="material-icons red">delete</i>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="clearfix"></div>
                            <div class="col-md-12 mrg_t-10 reply_txt">
                                @Html.Raw(_reply.ResponseDescription)
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <hr />
                    }
                }
                else
                {
                    <div class="col-sm-10 col-sm-offset-1" style="margin: 0 auto; float: none;">
                        <p class="popup_txt" style="text-align: center;font-weight: 600;">No reply</p>
                    </div>
                }
            </div>

        </div>
    </div>
</div>
