﻿@model Reelae.Areas.Admin.Models.ForumVewModel
@using Humanizer;
@{
    ViewBag.Title = "Forum";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    var _forumList = Model._forumTopics.ToList();
    var _user = Model._userinfo;
}
@section head{
    <script src="@Url.Content("~/Content/Admin/js/Forum.js")"></script>
    <style type="text/css">
        #tblForum .dataTables_scrollHeadInner table tr th:nth-child(1), #tblMemberGrid_wrapper .dataTables_scrollBody table tr td:nth-child(1) {
            width: 20% !important;
            max-width: 20% !important;
            box-sizing: border-box;
        }

        #tblForum .dataTables_scrollHeadInner table tr th:nth-child(2), #tblMemberGrid_wrapper .dataTables_scrollBody table tr td:nth-child(2) {
            width: 20% !important;
            max-width: 20% !important;
            box-sizing: border-box;
        }

        #tblForum .dataTables_scrollHeadInner table tr th:nth-child(3), #tblMemberGrid_wrapper .dataTables_scrollBody table tr td:nth-child(3) {
            width: 40% !important;
            max-width: 40% !important;
            box-sizing: border-box;
        }

        #tblForum .dataTables_scrollHeadInner table tr th:nth-child(4), #tblMemberGrid_wrapper .dataTables_scrollBody table tr td:nth-child(4) {
            width: 10% !important;
            max-width: 10% !important;
            box-sizing: border-box;
        }

        #tblForum .dataTables_scrollHeadInner table tr th:nth-child(5), #tblMemberGrid_wrapper .dataTables_scrollBody table tr td:nth-child(5) {
            width: 10% !important;
            max-width: 10% !important;
            box-sizing: border-box;
        }

        .dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate {
            display: block;
        }

        #tblForum_filter input {
            border: none;
            font-weight: 400;
        }
    </style>
}
@section InstitueName{

    @Html.Partial("_InstituteSetupHeader", _user)

}
@section userProfile{
    <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
        @if (Model._userinfo.UserPicUrl != null && Model._userinfo.UserPicUrl != "")
        {
            <img src="@Url.Content(Model._userinfo.UserPicUrl)" alt="" />
        }
        Hello, @Reelae.Utilities.CommonUtility.ToTitleCase(@Session["Name"].ToString().ToLower().Trim()) <span class="fa fa-angle-down"></span>
    </a>

}

<div class="right_col pd_l-0 height_vh t_view_sub" role="main">
    <div class="">
        <div class="col-md-12 col-xs-12 pull-right">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 mrg_t_10 mob-mrg">
                    <div class="dashboard_graph pd_b-0 brd_bottom">
                        <div class="row x_title mrb_b-0">
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <h3>Forum</h3>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12 text-center lh_30 inn-lh_30 txt_l-blue xs-left">
                                <i class="material-icons fourm_heading-icon">chat</i>
                                @if (_forumList != null)
                                {
                                    @_forumList.Count()
                                }
                                else
                                {
                                    @: 0
                                }
                                
                                </div>
                            <div class="col-md-4 col-sm-4 col-xs-12 text-right xs-left">
                                @*<div class="search_top">
                                        <i class="material-icons">search</i>
                                        <input type="text" name="" placeholder="Search members...">
                                    </div>*@
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="gap_30"></div>
                <div class="pad_lr-30">
                    <div class="x_panel" style="padding-bottom: 0px;">
                        <div class="x_content">
                            <div class="forum">
                                <table class="table table-striped" style="margin-bottom: 10px;" id="tblForum">
                                    <thead>
                                        <tr>
                                            <th style="vertical-align:top;width:20%">User</th>
                                            <th style="vertical-align:top;width:20%">Topic</th>
                                            <th style="vertical-align:top;width:40%">Content</th>
                                            <th style="vertical-align:top;width:10%"></th>
                                            <th style="vertical-align:top;width:10%"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (_forumList != null && _forumList.Count() > 0)
                                        {

                                            foreach (var _topic in _forumList)
                                            {
                                                <tr onclick="getEditMembersView(@_topic.UserID)">
                                                    <td>
                                                        @if (_topic.User != null)
                                                        {
                                                            <ul class="list-unstyled top_profiles scroll-view">
                                                                <li class="media event">
                                                                    <a href="javascript:;" class="user-profile pull-left" style="cursor:default">
                                                                        @if (_topic.User.UserPicUrl != null && _topic.User.UserPicUrl != "")
                                                                        {
                                                                            <img src="@Url.Content(_topic.User.UserPicUrl)" alt="...">
                                                                        }
                                                                        else
                                                                        {
                                                                            if (_topic.User.AspNetUser.AspNetRoles.First().Name == "Teacher")
                                                                            {
                                                                                <img src="@Url.Content("~/Content/images/teacher_small.jpg")" alt="">
                                                                            }
                                                                            else
                                                                            {
                                                                                <img src="@Url.Content("~/Content/images/student_small.jpg")" alt="">
                                                                            }
                                                                        }
                                                                    </a>
                                                                    <div class="media-body">
                                                                        <a class="title" href="#!" data-toggle="modal" data-target="#myModal11" style="display: inline-block;cursor:default">
                                                                            @_topic.User.Name
                                                                            <div class="clearfix"></div>
                                                                            <small class="txt_lgry">Created - @string.Format("{0} {1}", _topic.CreatedDate.Day.Ordinalize(), _topic.CreatedDate.ToString("MMM yyyy hh:mm tt"))</small>
                                                                            @if (_topic.ModifiedDate != null)
                                                                            {
                                                                                <div class="clearfix"></div>
                                                                                <small class="txt_lgry">Modified - @string.Format("{0} {1}", _topic.ModifiedDate.Value.Day.Ordinalize(), _topic.ModifiedDate.Value.ToString("MMM yyyy hh:mm tt"))</small>
                                                                            }
                                                                        </a>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                        }
                                                    </td>
                                                    <td>@_topic.Topic</td>
                                                    <td>@Html.Raw(_topic.Content)</td>
                                                    <td class="text-right">
                                                        <a href="#!" data-toggle="modal" data-target="#" class="btn_blue mml-0 min_w-155 text-center" onclick="RemoveForumTopicConfirmation (@_topic.ForumID,'@_topic.Topic')">
                                                            <span>Remove</span> <i class="material-icons fourm_heading-icon">delete</i>
                                                        </a>
                                                    </td>
                                                    <td class="text-right">
                                                        <a href="#!" data-toggle="modal" data-target="#" class="btn_blue mml-0 min_w-155 text-center" onclick="getAllReply(@_topic.ForumID)">
                                                            View Reply
                                                            <i class="fa fa-reply" aria-hidden="true"></i>
                                                        </a>
                                                    </td>
                                                </tr>

                                            }
                                        }
                                        else
                                        {
                                            <tr>
                                                <td colspan="4">
                                                    <label>No topics found.</label>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
