﻿@model Reelae.Models.AddMemberNViewModal
<div class="modal" id="addUserModal" tabindex="-1" role="dialog" aria-labelledby="addUserModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="material-icons">clear</i></button>
                <h4 class="modal-title" id="addUserModalLabel"></h4>
            </div>
            @using (Ajax.BeginForm("AddUserByInstitution", "Home", new { area = "" }, new AjaxOptions { HttpMethod = "Post", OnSuccess = "OnSuccessAddUser", OnFailure = "OnFailureAddUser", OnBegin = "return validateAddUser();" }))
            {
                @Html.AntiForgeryToken()
                <div class="modal-body" style="max-height:350px !important;">
                    <div class="col-sm-10 col-sm-offset-1" style="margin: 0 auto; float: none;">
                        <div class="form-group">
                            <label for="userName">Name</label><span style="color:red;font-size: 12px;">*</span>
                            <div class="clearfix"></div>
                            @Html.TextBoxFor(model => model.Name, new { maxlength = "25", @class = "form-control brd_radius-4", id = "userName", placeholder = "Type Name here" })
                        </div>
                        <div class="gap_20"></div>

                        <div class="form-group">
                            <label for="userEmail">Email</label><span style="color:red;font-size: 12px;">*</span>
                            <div class="clearfix"></div>
                            @Html.TextBoxFor(model => model.Email, new { maxlength = "256", @class = "form-control brd_radius-4", id = "userEmail", placeholder = "Type Email here" })
                        </div>
                        @Html.HiddenFor(model=>model.Role)
                        @*<div class="form-group">
                            <label>Member Type</label>
                            <div class="clearfix"></div>
                            <select class="form-control brd_radius-4" name="Role">
                                <option value="Teacher">Teacher</option>
                                <option value="Student">Student</option>
                            </select>
                        </div>*@
                        <div class="gap_20"></div>
                        <div class="form-group">
                            <label for="userPassword">Password for login</label><span style="color:red;font-size: 12px;">*</span>
                            <div class="clearfix"></div>
                            @Html.PasswordFor(model => model.Password, new { maxlength = "30", @class = "form-control brd_radius-4", id = "userPassword", placeholder = "Type Password here" })
                        </div>
                        <div class="gap_20"></div>
                        <div class="form-group">
                            <label for="userConPassword">Confirm Password</label><span style="color:red;font-size: 12px;">*</span>
                            <div class="clearfix"></div>
                            @Html.PasswordFor(model => model.ConfirmPassword, new { maxlength = "30", @class = "form-control brd_radius-4", id = "userConPassword", placeholder = "Confirm Your Password" })
                        </div>
                        <div class="gap_20"></div>
                    </div>
                </div>
                    <input value="SAVE" class="button_blue button_100" type="submit" />
                    <div class="clearfix"></div>
            }
            <div class="clearfix"></div>
        </div>
    </div>
</div>
