﻿@model List<Reelae.Areas.Admin.Models.AssignMemberViewModel>
@{
    var members = Model.ToList();
}
<script type="text/javascript">
    var arrayMembers = @Html.Raw(Json.Encode(members.Select(r => new { value =  r.Name, data = r.userId}).ToList()))
</script>
<div class="modal" id="assignMemberModal" tabindex="-1" role="dialog" aria-labelledby="addUserModalLabel">
    <div class="modal-dialog" role="document">
        @using (Ajax.BeginForm("SaveAssignMembers", "Admin", new AjaxOptions { OnSuccess = "onAssignsuccess", OnFailure = "onAssignFailure" }))
        {
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="resetDropdown()"><i class="material-icons">clear</i></button>
                    <h4 class="modal-title" id="addUserModalLabel">Add Member</h4>
                </div>
                <div class="modal-body" style="padding:0px !important">
                    <div class="col-sm-12" style="margin: 0 auto; float: none;">
                        <div class="x_panel" style="padding-bottom: 0px; border:0px;padding-left:0px !important;padding-right:0px !important">
                            <div class="x_content">
                                @*<div class="search_top">
                                        <a onclick="getsearchMember()" style="cursor:pointer;"><i class="material-icons">search</i></a>
                                        <input type="text" name="" placeholder="Search members..." id="autocomplete" autocomplete="off" onkeypress="searchMember(event)">
                                    </div>*@
                                <div class="" id="divMembers">
                                    @Html.Partial("_MembersList", Model)
                                </div>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" name="userRole" id="hdn_userRole" value="" />
                    <input type="hidden" name="subjectId" id="hdn_subjectId" value="" />
                    <input type="hidden" name="selectedItem" id="hdn_selectedItem" value="" />
                </div>
                <div class="gap_20"></div>
                @if (Model.Count > 0)
                {
                    <input id="btnAssignMemberSubmit" style="display:none;" value="Save" class="button_blue button_100" type="submit" />
                    @*<input value="Save" class="button_blue button_100" type="button" onclick="onValidateAssignMember(this);" />*@
                    <input value="Save" class="button_blue button_100" onclick="onClickSubmitButton(event);" type="submit" />
                    <div class="clearfix"></div>
                    <div class="clearfix"></div>
                }
            </div>
        }
    </div>
</div>



