﻿@model IEnumerable<ReelaeDataAccessLayer.re_select_studenttecher_subject_sp_Result>
@{
    string _subjectName = ViewBag.SubjectName;
    if (_subjectName.Length > 34)
    {
        _subjectName = _subjectName.Substring(0, 30) + "...";
    }
}
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12 mrg_t_10 pad_lr-0">
        <div class="dashboard_graph pd_b-0">
            <div class="row x_title mrb_b-0">
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <a id="ActiveSubjectName" onclick="openSubjectModal();" href="javascript:void(0)"> <h3 class="subjectname" title="@ViewBag.SubjectName">@_subjectName</h3></a>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 text-center lh_30 txt_l-blue xs-left"> <i class="fa fa-user-o" aria-hidden="true"></i> @ViewBag.TotalStudent Students and @ViewBag.TotalTeacher Teachers </div>
                <div class="col-md-4 col-sm-4 col-xs-12 text-right xs-left">
                    <div class="group">
                        <div class="mad-select">
                            <ul id="ddlAddUser">
                                <li data-value="1 sel" class="selected">Please Select</li>
                                <li data-value="Student" onclick="OpenAssignMemberModal('Student')">+ Add Student</li>
                                <li data-value="Teacher" onclick="OpenAssignMemberModal('Teacher')">+ Add Teacher</li>
                            </ul>
                            <input type="hidden" name="myOptions" value="1 sel" id="ddlOption">
                        </div>
                        @Html.Hidden("SubjectId")
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="pad_lr-30" id="divSubjectMembers" data-simplebar="init" style="height: 320px;max-width: 100%;">
        <div class="simplebar-track vertical" style="visibility: visible;"><div class="simplebar-scrollbar" style="top: 2px; height: 68px;"></div></div>
        <div class="simplebar-track horizontal" style="visibility: hidden;"><div class="simplebar-scrollbar"></div></div>
        <div class="simplebar-scroll-content" style="margin-right: -20px;padding-right: 20px">
            <div class="simplebar-content">
                @foreach (var members in Model)
                {
                    string staticImgUrl = "";
                    string _memberName = members.Name;
                    if (_memberName != null && members.Name.Length > 40)
                    {
                        _memberName = members.Name.Substring(0, 38) + "...";
                    }
                    if (members.usertype.ToLower() == "t")
                    {
                        staticImgUrl = "~/Content/images/teacher.jpg";
                    }
                    else if (members.usertype.ToLower() == "l")
                    {
                        staticImgUrl = "~/Content/images/leader.jpg";
                    }
                    else
                    {
                        staticImgUrl = "~/Content/images/student.jpg";
                    }
                    <div class="col-md-3 col-sm-6 col-xs-12 mrg_t-40">
                        <div class="user_box text-center">
                            @if (members.usertype.ToLower() != "s")
                            {
                                <div class="tag_t"><span>@members.usertype.ToUpper()</span></div>
                            }
                            <div class="user_img profile_pic" onclick="OpenMemberInfoView('@members.UserID','@members.usertype');" title="Profile Info" style="cursor:pointer">
                                @if (members.UserPicUrl == null || members.UserPicUrl == "")
                                {
                                    <img src=@Url.Content(staticImgUrl) alt="..." class="img-circle img-responsive">

                                }
                                else
                                {
                                    <img src=@Url.Content(members.UserPicUrl) alt="..." class="img-circle img-responsive">
                                }
                            </div>
                            <div class="clearfix"></div>
                            <div class="user_name">
                                <a href="#!" onclick="OpenMemberInfoView('@members.UserID','@members.usertype');">
                                    @if (members.isEnabled)
                                    {
                                        <h3 class="memberName" title="@members.Name">@_memberName</h3>
                                    }
                                    else
                                    {
                                        <h3 class="memberName" style="color:#7f8fa4" title="@members.Name">@_memberName</h3>

                                    }
                                </a>

                            </div>
                            <div class="user_btn t_group">
                                <a href="#!" onclick="getMemberGroupAssociation('@members.UserID','@members.usertype.ToLower()',this);"><i class="material-icons">delete</i> Remove</a>

                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>

<script>
    $(function () {
        removeButnHide();
    })
</script>