﻿@model Reelae.Areas.Admin.Models.AdminViewModel
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    var _user = Model._userinfo;
    var _curEvent = "";
    if (Request.QueryString["id"] != null)
    {
        _curEvent = Request.QueryString["id"].ToString();
    }

}
@section head{
    <script src="@Url.Content("~/Content/Admin/js/Admin.js")"></script>
    <script src="@Url.Content("~/Content/Admin/js/user.js")"></script>
    <script src="@Url.Content("~/Content/Admin/js/dashbordStyle.js")"></script>
    <script src="@Url.Content("~/Content/Admin/js/assginMember.js")"></script>
    <script src="@Url.Content("~/Content/Admin/js/Members.js")"></script>
    <script>
        $(function () {
            debugger;
            var _curEvent = '@_curEvent';
            setContainersHeight();
            initDatePickers();
            if (_curEvent == 't') {
                getMembersGridView(1, $(".menu_section2").find("ul li:first").find("a"));
            }
            else if (_curEvent == 's') {
                getMembersGridView(2, $(".menu_section2").find("ul li:nth-child(2)").find("a"));
            }
            else {
                latestAndArchiveBtnClick();
            }
            gInfo._institutionCode = '@ViewBag.InstitutionInitialCode';
            checkforCode();

        });
        function checkforCode() {
            if (!gInfo._institutionCode) {
                showAlertBox("Information Alert Message", "You have to first add Initial Name for the Institution.After that you will be authorized to create Student/Teacher/Subject for your Institution.", gInfo.alertMsgType.information, OpenDashboardStyleModal);
                return false;
            }
            return true;
        }
    </script>
    <style>
        #divSubjectMembers .user_name {
            word-wrap: break-word;
        }

        [data-simplebar] {
            position: relative;
            z-index: 0;
            overflow: auto;
            -webkit-overflow-scrolling: touch;
        }

        [data-simplebar=init] {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            overflow: hidden;
        }

        .simplebar-scroll-content {
            overflow-x: hidden;
            overflow-y: auto;
            max-width: 100%;
            width: 100%;
            box-sizing: content-box;
        }

        .simplebar-content {
            overflow-x: hidden;
            overflow-y: hidden;
            box-sizing: border-box;
            display:block;
            width:100%;

        }

        .simplebar-track {
            z-index: 1;
            position: absolute;
            right: 0;
            bottom: 0;
            width: 11px;
        }

        .simplebar-scrollbar {
            position: absolute;
            right: 2px;
            border-radius: 7px;
            min-height: 10px;
            width: 7px;
            opacity: 0;
            -webkit-transition: opacity .2s linear;
            transition: opacity .2s linear;
            background: #000;
            background-clip: padding-box;
        }

        .simplebar-track:hover .simplebar-scrollbar {
            opacity: .5;
            -webkit-transition: opacity 0 linear;
            transition: opacity 0 linear;
        }

        .simplebar-track .simplebar-scrollbar.visible {
            opacity: .5;
        }

        .simplebar-track.horizontal {
            left: 0;
            width: auto;
            height: 11px;
        }

        .simplebar-track.vertical {
            top: 0;
        }

        .horizontal.simplebar-track .simplebar-scrollbar {
            right: auto;
            top: 2px;
            height: 7px;
            min-height: 0;
            min-width: 10px;
            width: auto;
        }
    </style>

}
@section InstitueName{

    @Html.Partial("_InstituteSetupHeader", _user)

}
@section userProfile{
    <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
        @if (Model._userinfo.UserPicUrl != null && Model._userinfo.UserPicUrl != "")
        {
            <img src="@Url.Content(Model._userinfo.UserPicUrl)" alt="" />
        }
        Hello, @Reelae.Utilities.CommonUtility.ToTitleCase(@Session["Name"].ToString().ToLower().Trim()) <span class="fa fa-angle-down"></span>
    </a>

}
<div class="right_col pd_l-0 height_vh" role="main">
    @*<i class="fa fa-compress" id="expnd" aria-hidden="true"></i>*@
    <i class="fa fa-chevron-left  s_col hide_cl" aria-hidden="true" style="cursor:pointer"></i>
    <i class="fa fa-chevron-right s_col show_cl" aria-hidden="true" style="cursor:pointer"></i>
    <div class="col-md-3 left_col wdt_25 brd-lr-gry dis_pan" id="pan_show">

        <div class="left_col scroll-view">
            <div class="clearfix"></div>

            <!-- menu profile quick info -->
            <div class="profile profile_2 clearfix"> &nbsp; </div>
            <!-- /menu profile quick info -->

            <br />
            <div class="main_menu_side hidden-print main_menu main_menu2" id="mainHeaderSection">
                <div class="menu_section  menu_section2">
                    <h3>Your Members</h3>
                    <ul class="nav side-menu">
                        <li>
                            <a onclick="getMembersGridView(1,this)">
                                <i class="fa fa-folder-o" aria-hidden="true"></i> Teachers

                                <span class="badge bg_light pull-right">@Model.TeachersCount</span>
                            </a>

                            <span class="add_btn pull-right">
                                <a href="#!" data-toggle="modal" data-target="#" onclick="OpenaddUserModal('Teacher')"></a>
                            </span>
                        </li>
                        <li>
                            <a onclick="getMembersGridView(2,this)">
                                <i class="fa fa-folder-o" aria-hidden="true"></i> Students

                                <span class="badge bg_light pull-right">@Model.StudentsCount</span>
                            </a>
                            <span class="add_btn pull-right">
                                <a href="#!" data-toggle="modal" data-target="#" onclick="OpenaddUserModal('Student')"></a>
                            </span>
                        </li>
                    </ul>
                </div>
                <div class="menu_section">
                    <h3>Subject <span class="add_btn pull-right"><a href="#!" onclick="openModalForAddSubject()"></a></span></h3>
                    <div data-simplebar="init" style="height: 320px;max-width: 100%;margin-top:10px;">
                        <div class="simplebar-track vertical" style="visibility: visible;"><div class="simplebar-scrollbar" style="top: 2px; height: 68px;"></div></div>
                        <div class="simplebar-track horizontal" style="visibility: hidden;"><div class="simplebar-scrollbar"></div></div>
                        <div class="simplebar-scroll-content" style="margin-right: -20px;padding-right: 20px">
                            <div class="simplebar-content simplebar-content-100">

                                @*<div id="sidebar-menu" class="main_menu_side hidden-print main_menu main_menu2">
                                        <div class="menu_section">
                                            <ul class="nav side-menu mg_t_0">
                                                <li class="active">
                                                    <a><i class="fa fa-folder-o" aria-hidden="true"></i> Latest </a>
                                                    <ul id="allSublst" class="nav child_menu inner_nav" style="display:block">
                                                        @{
                                                            if (Model.Subjects != null)
                                                            {
                                                                foreach (var _subject in Model.Subjects)
                                                                {
                                                                    string activeItem = "";
                                                                    string spanClass = "bg_light";
                                                                    if (_subject.SubjectID == Convert.ToInt32(ViewBag.SubjectId))
                                                                    {
                                                                        activeItem = "active";
                                                                        spanClass = "bg_active";
                                                                    }
                                                                    string link = "/Admin/Admin/GetSubjectMembers/" + _subject.SubjectID;
                                                                    <li>
                                                                        <a class="@activeItem" data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#pan_hide" data-ajax-begin="CleanDivHtml(this)" data-ajax-success="OnSuccessSelectSubject" href=@link>
                                                                            <i class="fa fa-folder-o" aria-hidden="true"></i> @_subject.SubjectName <span class="badge @spanClass pull-right">@_subject.TotalMemberCount</span>
                                                                        </a>
                                                                    </li>
                                                                }
                                                            }
                                                            else
                                                            {
                                                                <spsn>No Latest Subject Found</spsn>
                                                            }
                                                        }

                                                    </ul>
                                                </li>
                                                <li>
                                                    <a><i class="fa fa-folder-o" aria-hidden="true"></i> Archive</a>
                                                    <ul id="allSublst" class="nav child_menu inner_nav" style="display: none;">
                                                        @{
                                                            if (Model.ArchiveSubjects != null)
                                                            {
                                                                foreach (var _subject in Model.ArchiveSubjects)
                                                                {
                                                                    string activeItem = "";
                                                                    string spanClass = "bg_light";
                                                                    if (_subject.SubjectID == Convert.ToInt32(ViewBag.SubjectId))
                                                                    {
                                                                        activeItem = "active";
                                                                        spanClass = "bg_active";
                                                                    }
                                                                    string link = "/Admin/Admin/GetSubjectMembers/" + _subject.SubjectID;
                                                                    <li>
                                                                        <a class="@activeItem" data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#pan_hide" data-ajax-begin="CleanDivHtml(this)" data-ajax-success="OnSuccessSelectArchiveSubject" href=@link>
                                                                            <i class="fa fa-folder-o" aria-hidden="true"></i> @_subject.SubjectName <span class="badge @spanClass pull-right">@_subject.TotalMemberCount</span>
                                                                        </a>
                                                                    </li>
                                                                }
                                                            }
                                                            else
                                                            {
                                                                <spsn>No Archive Subject Found</spsn>
                                                            }
                                                        }

                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>*@
                                <div id="sidebar-menu" class="main_menu_side hidden-print main_menu main_menu2">
                                    <div class="menu_section">
                                        <ul class="nav side-menu mg_t_0">
                                            <li class="active">
                                                <a id="latest"><i class="fa fa-folder-o" aria-hidden="true"></i> Latest </a>
                                                <ul id="allSublst" class="nav child_menu inner_nav" style="display:block">
                                                    @{
                                                        if (Model.Subjects != null)
                                                        {
                                                            foreach (var _subject in Model.Subjects)
                                                            {
                                                                var modifiedSubjectName = _subject.SubjectName.Trim().Length > 20 ? _subject.SubjectName.Substring(0, 20) + "..." : _subject.SubjectName.Trim();
                                                                string activeItem = "";
                                                                string spanClass = "bg_light";
                                                                if (_subject.SubjectID == Convert.ToInt32(ViewBag.SubjectId))
                                                                {
                                                                    activeItem = "active";
                                                                    spanClass = "bg_active";
                                                                }
                                                                string link = "/Admin/Admin/GetSubjectMembers/" + _subject.SubjectID;
                                                                <li>
                                                                    <a class="@activeItem" data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#pan_hide" data-ajax-begin="CleanDivHtml(this)" data-ajax-success="OnSuccessSelectSubject" href=@link title="@_subject.SubjectName">
                                                                        <i class="fa fa-folder-o" aria-hidden="true"></i> @modifiedSubjectName
                                                                        <i class="material-icons delete_icn" onclick="deleteSubjectConfirmation(@_subject.SubjectID,'@_subject.SubjectName')" title="Remove subject">delete</i>
                                                                        <span class="badge @spanClass pull-right">@_subject.TotalMemberCount</span>
                                                                    </a>
                                                                </li>
                                                            }
                                                        }
                                                        else
                                                        {
                                                            <li>
                                                                <a href="#!">No latest subject found</a>
                                                            </li>
                                                        }
                                                    }

                                                </ul>
                                            </li>
                                            <li>
                                                <a id="archive"><i class="fa fa-folder-o" aria-hidden="true"></i> Archive</a>
                                                <ul id="allSublst" class="nav child_menu inner_nav" style="display: none;">
                                                    @{
                                                        if (Model.ArchiveSubjects != null)
                                                        {
                                                            foreach (var _subject in Model.ArchiveSubjects)
                                                            {
                                                                var modifiedSubjectName = _subject.SubjectName.Trim().Length > 20 ? _subject.SubjectName.Substring(0, 20) + "..." : _subject.SubjectName.Trim();
                                                                string activeItem = "";
                                                                string spanClass = "bg_light";
                                                                if (_subject.SubjectID == Convert.ToInt32(ViewBag.SubjectId))
                                                                {
                                                                    activeItem = "active";
                                                                    spanClass = "bg_active";
                                                                }
                                                                string link = "/Admin/Admin/GetSubjectMembers/" + _subject.SubjectID;
                                                                <li>
                                                                    <a class="@activeItem" data-ajax="true" data-ajax-method="GET" data-ajax-mode="replace" data-ajax-update="#pan_hide" data-ajax-begin="CleanDivHtml(this)" data-ajax-success="OnSuccessSelectArchiveSubject" href=@link title="@_subject.SubjectName">
                                                                        <i class="fa fa-folder-o" aria-hidden="true"></i> @modifiedSubjectName <span class="badge @spanClass pull-right">@_subject.TotalMemberCount</span>
                                                                    </a>
                                                                </li>
                                                            }
                                                        }
                                                        else
                                                        {
                                                            <li>
                                                                <a href="#!">No archive subject found</a>
                                                            </li>
                                                        }
                                                    }

                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @*<div class="bottom_btn_wrap">*@
            @*<a href="#!" data-toggle="modal" data-target="#myModal3" class="gr_btn">Students Assignments</a>*@
            @*@Ajax.ActionLink("Students Assignments", "GetStudentAssignmentView", "Assignments", new
                {
                    area = "Admin"
                }, new AjaxOptions
                {
                    HttpMethod = "POST",
                    OnSuccess = "OnSuccessGetStudentAssignmentView",
                    UpdateTargetId = "studentAssignmentsContainer",
                    OnFailure = "OnFailureGetStudentAssignmentView"
                }, new { @class = "gr_btn" })*@
            @*<div class="clearfix"></div>*@
            @*<a href="#!" data-toggle="modal" data-target="#myModal5" class="bl_btn">Add student attendance</a>*@
            @*@Ajax.ActionLink("Add student attendance", "GetStudentAttandanceView", "Assignments", new
                {
                    area = "Admin"
                }, new AjaxOptions
                {
                    HttpMethod = "POST",
                    OnSuccess = "OnSuccessGetStudentAttandanceView",
                    UpdateTargetId = "studentAttadanceContainer",
                    OnFailure = "OnFailureGetStudentAttandanceView"
                }, new { @class = "bl_btn" })*@
            @*</div>*@
        </div>
    </div>
    <div class="col-md-9 pull-right" id="pan_hide">
        @if (Model._subjectMembers != null)
        {
            @Html.Partial("_SubjectMembers", Model._subjectMembers)
        }
    </div>
</div>

@section modelbox{
    <div id="divAddSubject">
        @Html.Partial("_addSubject", Model)
    </div>

}
