@media (min-width:1600px) {
    .attendance_connect .table-responsive {
    overflow-y: auto;
    max-height: 385px;
}
}
@media (min-width:480px) {
    .nav_menu {
        position: static;
    }
}

@media (max-width:991px) {
    .nav-md .container.body .right_col, .nav-md .container.body .top_nav {
        width: 100%;
        margin: 0;
    }

    .mob-mrg {
        margin-left: -20px;
        margin-right: -20px;
    }

    .left_col {
        position: relative;
        padding-bottom: 106px;
    }

    .nav-md .container.body .col-md-3.left_col {
        display: none;
    }

    .nav-md .container.body .right_col {
        width: 100%;
        padding-right: 0;
        min-height: 100vh !important;
    }

    .right_col {
        padding: 10px !important;
    }

    .nav-md .container.body .right_col .col-md-3.left_col {
        position: static;
        width: -webkit-calc(100% - 20px) !important;
        width: -moz-calc(100% - 20px) !important;
        width: calc(100% - 20px) !important;
        display: block;
        margin-left: 11px;
        border: 0px;
        margin-bottom: 25px;
    }

    .nav-sm .container.body .right_col .col-md-3.left_col {
        position: static;
        width: -webkit-calc(100% - 20px) !important;
        width: -moz-calc(100% - 20px) !important;
        width: calc(100% - 20px) !important;
        display: block;
        margin-left: 11px;
        border: 0px;
        margin-bottom: 25px;
    }

    .mrg_t-40 {
        margin-top: 20px;
    }

    .nav.toggle {
        display: block !important;
    }

    .height_vh {
        min-height: 100px !important;
    }

    .toggle a i {
        font-size: 26px;
        color: #3993ee !important;
    }

    .top_nav .navbar-right {
        width: 40% !important;
    }

    .pad_lr-0 {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }

    .left_col .profile_2 {
        display: none;
    }

    .nav-sm .right_col .profile_2 {
        display: none;
    }

    .simplebar-scroll-content .simplebar-content {
        width: 100%;
    }
    .s_col.hide_cl{
        display: none;
    }
    .chat_width.wdt_m_250{ width:100% !important; }
    .chat_bottom-wrap{ border-bottom: 1px solid #d4d4d4; }
}

@media (min-width:768px) {
    .modal.in .modal-dialog {
        -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        -o-transform: translate(0, -50%);
        transform: translate(0, -50%);
        top: 50%;
    }
}

@media (max-width:1200px) {
    .x_title h2 {
        width: 62%;
        font-size: 17px;
    }

    .graph, .tile {
        zoom: 85%;
        height: inherit;
    }
    .column-count{
    -moz-column-gap: 15px;
    -webkit-column-gap: 15px;
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
}
}

@media (max-width:1270px) and (min-width:192px) {
    .x_title h2 small {
        display: none;
    }
}

@media (max-width:1100px) {
    .profile_wrap .upload_logo {
        width: 100px;
        height: 100px;
        margin-right: 10px;
    }

    .profile_wrap .logo_wrapper .gr_btn, .profile_wrap .logo_wrapper .red_btn {
        padding: 6px 12px;
        top: 40px;
    }

    .profile_wrap .logo_wrapper .gr_btn {
        margin-right: 10px;
    }
}

@media (min-width:768px) {
    .col-md-55 {
        width: 20%;
    }
}

@media (min-width:992px) {
    .col-md-55 {
        width: 20%;
    }
}

@media (min-width:1200px) {
    .col-md-55 {
        width: 20%;
    }
}

@media (min-width:192px) and (max-width:1270px) {
    table.tile_info span.right {
        margin-right: 7px;
        float: left;
    }
}

@media (min-width:480px) {
    .top_nav .navbar-right li {
        position: relative;
    }
}

@media (min-width:768px) {
    .footer_fixed .nav-sm footer, .footer_fixed footer {
        margin-left: 0;
    }
}

@media (min-width:992px) {
    footer {
        margin-left: 230px;
    }

    .tile_count .tile_stats_count {
        margin-bottom: 10px;
        border-bottom: 0;
        padding-bottom: 10px;
    }

        .tile_count .tile_stats_count:first-child:before {
            border-left: 0;
        }
}

@media (min-width:768px) {
    .tile_count .tile_stats_count .count {
        font-size: 40px;
    }
}

@media (min-width:992px) and (max-width:1100px) {
    .tile_count .tile_stats_count .count {
        font-size: 30px;
    }
}

.tile_count .tile_stats_count span {
    font-size: 12px;
}

@media (min-width:768px) {
    .tile_count .tile_stats_count span {
        font-size: 13px;
    }
}

@media (max-width:767px) {
    .mail_list {
        margin-bottom: 5px;
        display: inline-block;
    }

    .mmt-20 {
        margin-top: 20px;
    }

    .mml-0 {
        margin-left: 0px !important;
    }

    .user_student {
        margin-bottom: 30px;
    }

    #reportrange {
        float: left !important;
    }

    .xs-left {
        text-align: left;
    }

    .dataTables_length {
        float: none;
    }

    .main_menu2 .fa {
        width: 26px;
    }

    .nav-sm .right_col.height_vh .nav.side-menu li a i {
        width: 26px !important;
    }

    .nav-sm .nav.side-menu li a i {
        font-size: 18px !important;
    }

    .wdt_m_200 .table-responsive {
        margin-bottom: 0px;
    }

    .re_filter {
        text-align: left;
        margin-bottom: 16px;
    }

    .side_panel {
        height: 90%;
        padding-bottom: 0px;
        border-radius: 5px;
        right: -10px;
        min-height: 200px;
        position: fixed;
        overflow-y: auto;
        border: 1px solid #c5d9e8;
        z-index: 556;
        top: 10px;
        height: -webkit-calc(100% - 15px);
        height: -moz-calc(100% - 15px);
        height: calc(100% - 15px);
    }

        .side_panel .add_description {
            position: static;
        }

            .side_panel .add_description span {
                font-size: 14px;
            }

    .col-md-12.col-xs-12.pad_l15 {
        margin-left: -5px;
        margin-top: 20px;
    }
    .workingnow{text-align: left; padding: 0px 10px}
    .assignment_bottom-wrap{ position: static; margin-top: 15px; }
}

@media (max-width:1600px) {
    .dashboard_graph .x_title h3, .user_name h3 {
        font-size: 18px;
    }

    .user_btn a {
        font-size: 15px;
    }
    .attendance_connect .table-responsive{
 
    overflow-y:auto;
    max-height:250px;
    min-height:240px;
}
}
@media (max-width:1500px) {
    .side_panel {
        max-width:270px;
    }
    .wdt_200 {
    width:170px !important;
    }
    .wdt_m_200 {
    width: -webkit-calc(100% - 170px) !important;
    width: -moz-calc(100% - 170px) !important;
    width: calc(100% - 170px) !important;
}

.wdt_250 {
    width:210px !important;
    }
    .wdt_m_250 {
    width: -webkit-calc(100% - 210px) !important;
    width: -moz-calc(100% - 210px) !important;
    width: calc(100% - 210px) !important;
}
    .small_left_col .s_col {
    left: -webkit-calc(170px - 14px);
    left: -moz-calc(170px - 14px);
    left: calc(170px - 14px);
}
    .mx-w-325 {
        max-width: 300px;
min-width: 200px;
    }
    .chat_box-heading{height: 66px; padding-top: 10px;}
}

@media (max-width:1370px) {
    body, .menu_section h3, .profile_info h2, .panel_toolbox > li > a, .daily-weather .day, .dataTables_processing, .chat .status, .dashboard_graph .x_title h3 small, .widget_tally_box ul.legend li .icon, .widget_tally_box ul.legend li .name, ul.stats-overview li, ul.stats-overview li .value, .nav-sm .right_col .nav.side-menu li a, .add_student-btn, .date_lbl, .mad-select, .mad-select li, .btn_tbl-green, .btn_tbl-orange, .btn_tbl-red, .gr_btn, .red_btn, .dropdown-menu > li > a, .btn_ {
        font-size: 12px;
    }

    span.right {
        font-size: 12px !important;
    }

    .btn {
        font-size: 12px;
    }

    .nav > li > a {
        padding: 8px 15px 6px;
        margin-bottom: 0px;
    }

    .dashboard_graph .x_title h3, .user_name h3 {
        font-size: 15px;
    }

    .user_btn .material-icons {
        vertical-align: bottom;
        font-size: 17px;
    }

    .user_btn a {
        font-size: 12px;
    }

    .setup_icon {
        margin-top: 7px;
    }

    .logo_main {
        margin-top: 12px;
    }

    .lh_30 {
        line-height: 37px;
    }

    .user_img .img-responsive {
        max-width: 100px;
    }

    .user_name h3 {
        min-height: 32px;
    }

    .left_col .profile {
        min-height: 45px;
    }

    .setup_icon span {
        font-size: 10px;
    }

    #expnd {
        top: 70px;
        left: -webkit-calc(25% - 5px);
        left: -moz-calc(25% - 5px);
        left: calc(25% - 5px);
        font-size: 13px;
        width: 20px;
        height: 20px;
        line-height: 16px;
    }

    .nav_title {
        height: 47px;
        min-height: 20px;
    }

    h2 {
        font-size: 15px;
        font-weight: 500;
    }

    h3 {
        font-size: 15px;
    }

    .mad-select > ul:first-of-type li.selected {
        font-size: 13px;
    }

    .inn-lh_30 {
        line-height: 30px;
    }

    .head_drop .mad-select li {
        font-size: 13px;
    }

    th {
        color: #7f8fa4;
        font-size: 13px;
    }

    .modal-title {
        font-size: 15px;
        font-weight: 500;
    }

    .prod_detail {
        font-size: 14px;
        padding: 10px;
    }

    .file_type-txt {
        line-height: 120px;
        color: #fff;
        font-size: 35px;
    }

    .prod_wrap {
        height: 120px;
    }

    .prod_box {
        height: 190px;
    }

    .nav.child_menu > li > a {
        font-size: 13px;
        color: #92a1b2;
    }

        .nav.child_menu > li > a.active {
            color: #354052;
        }

        .nav.child_menu > li > a i {
            color: #92a1b2;
        }

        .nav.child_menu > li > a.active i {
            color: #14c673;
        }

    .s_col img {
        width: 20px;
    }

    .attendance_header .btn-group.bootstrap-select.form-control {
        min-width: 120px;
        margin-left: 15px;
        width: auto;
    }
}

@media (min-width:768px) {
    .bs-glyphicons {
        margin-right: 0;
        margin-left: 0;
    }

        .bs-glyphicons li {
            width: 12.5%;
            font-size: 12px;
        }

    a.modal-footer, button.modal-footer {
        font-size: 16px;
    }

    .x_content h4 {
        font-size: 14px;
    }

    .profile_details .profile_view .ratings, .timeline h2.title, .wizard_horizontal ul.wizard_steps li a .step_no, .wizard_verticle ul.wizard_steps li a .step_no, .bottom_btn_wrap .gr_btn, .bottom_btn_wrap .bl_btn, .popup_txt, .bottom_btn, .forum_box .forum-header .title, .button_blue {
        font-size: 14px;
    }

    .form-control {
        font-size: 12px;
    }

    .modal-header {
        padding-top: 15px;
        padding-bottom: 15px;
    }
}

@media (min-width:991px) and (max-width:1370px) {
    .nav-md .container.body .col-md-3.left_col {
        width: 165px;
    }

    .nav-md .container.body .right_col {
        margin-left: 165px;
    }

    .inner-dashboard .main_container .top_nav {
        margin-left: 165px;
    }

    .nav_title {
        width: 165px;
    }
}

@media (min-width:991px) {
    .main_menu.main_menu2 .add_btn a {
        width: 20px;
        height: 20px;
        line-height: 18px;
    }
}

@media (max-width:1280px) {
    .attendance_header .btn-group.bootstrap-select.form-control {
        margin-left: 0px;
    }

    .attendance_header .form-group label {
        margin-right: 15px;
    }
}

@media (max-width:1024px) {
    .wdt_m_200 .pad_lr-30 {
        width: 100%;
        margin-left: 0px;
        width: 100%;
    }
}

@media (max-width:990px) {
    #expnd {
        display: none;
    }

    .left_col.scroll-view {
        height: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
    }

    .height_vh .left_col.scroll-view {
        padding-bottom: 0px;
        position: static;
    }

    .height_vh .left_col.scroll-view {
        border-right: 0px solid #D9DEE4;
    }

    .nav-sm .right_col .nav.side-menu li a i {
        font-size: 18px !important;
        margin-right: 8px;
    }

    .wdt_m_200 {
        width: 100% !important;
    }

        .wdt_m_200 .pad_lr-30 {
            width: 100%;
            padding-left: 0px;
            padding-right: 0px;
        }
}

@media (min-width:768px) {
    .cropper .img-container {
        min-height: 516px;
    }
}

@media (max-width:400px) {
    .cropper .btn-group-crop {
        margin-right: -15px !important;
    }

        .cropper .btn-group-crop > .btn {
            padding-left: 5px;
            padding-right: 5px;
        }

        .cropper .btn-group-crop .docs-tooltip {
            margin-left: -5px;
            margin-right: -5px;
            padding-left: 5px;
            padding-right: 5px;
        }
}

@media (max-width:766px) {
    .head_drop .mad-select {
        margin-left: 0px;
        padding-left: 0px;
    }

    .modal-header {
        padding: 15px;
    }
    .column-count{
    -moz-column-gap: 15px;
    -webkit-column-gap: 15px;
    -webkit-column-count: 1; /* Chrome, Safari, Opera */
    -moz-column-count: 1; /* Firefox */
    column-count: 1;
}
}

@media (max-width:650px) {
    .top_nav .navbar-right {
        width: 70% !important;
    }
}

@media (max-width:610px) {
    .top_nav .navbar-right {
        width: 63% !important;
    }
    .workingnow{text-align: left; padding: 0px;}
.as-left i{padding: 15px 25px 15px 0;}
.workingnow ul li{height: 40px;width: 40px;}
.workingnow ul li a{    padding: 10px;}
.workingnow ul{ padding-left: 0px; }
.user1 .userName{ font-size: 14px;}
.user2 .userName{font-size: 14px;}
.user3 .userName{font-size: 14px;}
.user4 .userName{font-size: 14px;}
.user_default .userName{font-size: 14px;}
.pad_lr-30 {
    padding-left: 10px;
    padding-right: 10px;
}
}

@media (max-width:480px) {
    .dataTables_wrapper .col-sm-6 {
        width: 100%;
        margin-bottom: 5px;
    }

    .nav_menu .mrg_l-15 {
        margin-left: 0px;
    }

    .btn_login {
        text-align: center;
        font-size: 12px;
    }

    .dataTables_wrapper .col-sm-6 .dataTables_filter {
        float: none;
    }

    .top_nav .navbar-right {
        width: 78% !important;
    }
    .nav-sm .top_nav .navbar-right{width: 77% !important;}

    .subject_sl {
        width: 60px;
        height: 60px;
        line-height: 60px;
    }

        .subject_sl.active {
            line-height: 56px;
        }

    .carousel-control.left {
        left: -17px;
    }

    .carousel-control.right {
        right: -17px;
    }

    .subject_txt {
        font-size: 1.3rem;
    }

    .resource_tbl th {
        font-size: 10px;
    }
    .pad_lr-30.column-count{ padding-left: 15px; padding-right: 15px;}
}

@media (max-width:430px) {
    .profile_wrap .logo_wrapper .gr_btn {
        margin-right: 10px;
        margin-bottom: 15px;
    }

    .profile_wrap .logo_wrapper .gr_btn, .profile_wrap .logo_wrapper .red_btn {
        top: 15px;
    }

    .nav-sm .setup_icon {
        border-left: 0px;
    }
    .workRight h3{ padding: 10px 15px; }
    .group_edit{    width: 50%; padding: 5px 15px; text-align: right;}
    .you{    width: 50%; padding: 5px 15px;}
}

@media (max-width:340px) {
    .setup_icon a, .setup_icon {
        margin-left: 10px;
    }

    .logo_main {
        margin-left: -15px;
    }
    .nav-sm .top_nav .navbar-right{width: 100% !important;}
}
@media (min-width:991px) and (max-width:1050px) {
.top_nav .navbar-right{ width:60%; }
}