body {
    padding: 0px;
    margin: 0px;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #fafafa;
    color: #000;
    font-weight: 400;
}

.navbar-inverse {
    background-color: #fff;
    border: 0px;
}

    .navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover {
        background-color: transparent;
        color: #000;
    }

    .navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:hover {
        color: #000;
    }

.navbar-nav > li > a {
    font-size: 14px;
    font-weight: 600;
}

.navbar-inverse .navbar-nav > li > a {
    color: #000;
}

.wrap {
    max-width: 1600px;
    float: none;
    display: block;
    margin: 0 auto;
}

.navbar-brand img {
    height: 23px;
    margin-top: -2px;
}

.h1, h1 {
    font-size: 26px;
    font-weight: 400;
}

.lead {
    font-weight: 400;
    font-size: 18px;
}

.login_wrap {
    width: 90%;
    max-width: 480px;
    background-color: #fff;
    box-shadow: 0 0px 20px rgba(0,0,0,0.19), 0 0px 6px rgba(0,0,0,0.19);
    display: block;
    box-sizing: border-box;
    float: none;
    margin: 0 auto;
    border-radius: 5px;
    margin-top: 50px;
    margin-bottom: 30px;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    color: #000;
    border: 0px !important;
    background-color: #fff;
}

.nav-tabs > li > a {
    color: #9b9b9b;
    border: 0px;
    font-weight: 400;
    font-size: 16px;
    padding: 20px 15px;
}

.nav > li > a:focus, .nav > li > a:hover {
    background-color: #fff;
    color: #000;
    border: 0px;
}

.nav-tabs {
    border: 0px;
}

.login_wrap .nav-tabs > li {
    width: 50%;
    text-align: center;
    box-sizing: border-box;
    background-color: #f5f5f5;
}

label {
    color: #454545;
    font-weight: 400;
}

.btn_login {
    background-color: #418af0;
    text-transform: uppercase;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 20px;
}

    .btn_login:hover, .btn_login:focus {
        color: #fff;
        opacity: 0.8;
    }

.pad_30-20 {
    padding: 30px 20px;
}

.form-control {
    border: 1px solid #9c9c9c;
}

li .log:before {
    content: '';
    background-image: url(../images/log.png);
    background-repeat: no-repeat;
    display: inline-block;
    width: 25px;
    height: 26px;
    margin-right: 15px;
    background-size: auto 25px;
    background-position: center bottom;
}

li .log:hover:before {
    content: '';
    background-image: url(../images/log-h.png);
}

li.active .log:before {
    content: '';
    background-image: url(../images/log-h.png);
}

li .log span {
    position: relative;
    display: inline-block;
    top: -5px;
}

li .n_account:before {
    content: '';
    background-image: url(../images/account.png);
    background-repeat: no-repeat;
    display: inline-block;
    width: 25px;
    height: 26px;
    margin-right: 15px;
    background-size: auto 24px;
    background-position: center bottom;
}

li .n_account:hover:before {
    content: '';
    background-image: url(../images/account-h.png);
}

li.active .n_account:before {
    content: '';
    background-image: url(../images/account-h.png);
}

li .n_account span {
    position: relative;
    display: inline-block;
    top: -5px;
}

.f-password {
    color: #464646;
    display: inline-block;
    font-weight: 400;
}

.f-10 {
    font-size: 12px;
    font-weight: 600;
}

.txt-gry {
    color: #464646;
}

.sm_link {
    color: #418af0;
    text-decoration: none;
}

.mt-50 {
    margin-top: 50px;
}

.navbar-toggle, .navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: #418af0;
    border: 1px solid #418af0;
    border-color: #418af0 !important;
}

.collapse.in .nav.navbar-nav {
    width: 100%;
}

.navbar-header {
    background-color: transparent;
}

.selected .step_descr {
    color: #3f8bf0;
    font-size: 14px;
    font-weight: 600;
}

a.new_acc {
    transition: all 0.4s cubic-bezier(.25,.8,.25,1);
    background-color: #fff;
    font-size: 1.8rem;
    text-align: center;
    display: block;
    box-sizing: border-box;
    color: #444444;
    border: 2px solid rgba(0,0,0,0.05);
    font-weight: 600;
    padding: 6rem 10px;
}

    a.new_acc i {
        color: #6b6b6b;
        font-size: 6rem;
        margin-bottom: 2rem;
    }
    /*Abhishek 09112017*/
    a.new_acc.selected {
        border: 2px solid #3f8bf0;
        box-sizing: border-box;
    }

    a.new_acc:hover {
        border: 2px solid #3f8bf0;
        box-sizing: border-box;
        transition: all 0.4s cubic-bezier(.25,.8,.25,1);
    }

        a.new_acc:hover i {
            color: #3f8bf0;
        }

.pad_lr-30 {
    padding-left: 30px;
    padding-right: 30px;
}

.pad_lr-0 {
    padding-right: 0px;
    padding-left: 0px;
}

.pad_lr-15 {
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 30px;
}

.mrg_btm-35 {
    margin-bottom: 35px;
}

.col-md-4.text-center:hover {
    position: relative;
    z-index: 5;
}

.form_wizard .panel {
    border: 2px solid rgba(0,0,0,0.05);
    border-radius: 0px;
    position: relative;
}

.panel .list-group-item {
    border: 0px;
}

.panel-pricing {
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -webkit-transition: all .3s ease;
}

    .panel-pricing:hover {
        box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
    }

    .panel-pricing .panel-heading {
        padding: 20px 10px;
    }

        .panel-pricing .panel-heading .fa {
            margin-top: 10px;
            font-size: 58px;
        }

    .panel-pricing .list-group-item {
        color: #444444;
        border-bottom: 0px solid rgba(250, 250, 250, 0.5);
    }

        .panel-pricing .list-group-item:last-child {
            border-bottom-right-radius: 0px;
            border-bottom-left-radius: 0px;
        }

        .panel-pricing .list-group-item:first-child {
            border-top-right-radius: 0px;
            border-top-left-radius: 0px;
        }

    .panel-pricing .panel-body {
        background-color: transparent;
        font-size: 4rem;
        color: #3f8bf0;
        padding: 20px;
        margin: 0px;
        line-height: 45px;
    }

.mid_price {
    border-left: 0px;
    border-right: 0px;
}

.panel:hover {
    -ms-transform: scale(1.05, 1.05); /* IE 9 */
    -webkit-transform: scale(1.05, 1.05); /* Safari */
    transform: scale(1.05, 1.05);
}

.panel-footer {
    background-color: #fff;
}

.panel-body small {
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: 600;
    color: #444444;
}

.form_wizard .stepContainer {
}

.btn_tr {
    display: inline-block;
    text-align: center;
    background-color: transparent;
    border: 1px solid #3f8bf0;
    border-radius: 0px;
    font-style: 14px;
    font-weight: 600;
    width: 90%;
    padding: 15px 10px;
    margin-bottom: 10px;
    transition: all 0.5s ease;
    margin-top: 10px;
    color: #3f8bf0;
    position: relative;
}

.panel:hover .btn_tr {
    background-color: #3f8bf0;
    color: #fff;
    width: calc(100% + 30px);
    margin-left: -15px;
    transition: all 0.5s ease;
    position: relative;
    bottom: -22px;
}

.buttonNext {
    display: inline-block;
    text-align: center;
    background-color: transparent;
    border: 1px solid #3f8bf0;
    border-radius: 0px;
    font-style: 14px;
    font-weight: 600;
    padding: 5px 11px;
    color: #3f8bf0 !important;
}

    .buttonNext:hover {
        background-color: #3f8bf0 !important;
        color: #fff !important;
        border-color: #3f8bf0 !important;
    }

    .buttonNext:focus {
        background-color: #3f8bf0 !important;
        color: #fff !important;
        border-color: #3f8bf0 !important;
    }

label.btn-default {
    text-transform: uppercase;
    padding: 10px 15px;
    color: #444444;
}

    label.btn-default:hover, label.btn-default:focus, label.btn-default.active, label.btn-default.active:hover {
        background-color: #f0f0f0;
        color: #a1a1a1;
        border-color: #d8d8d8;
        box-shadow: none;
    }

.buttonFinish, .buttonPrevious {
    display: none;
}

.actionBar {
    border-top: 0px;
}

@media (max-width: 767px) {
    .nav.navbar-nav {
        width: 100%;
    }

    .nav-tabs > li > a {
        padding: 20px 7px;
        font-size: 16px;
        padding: 20px 7px;
    }

    li .n_account:before {
        width: 28px;
        height: 30px;
        margin-right: 5px;
        background-size: auto 22px;
    }

    li .log:before {
        width: 28px;
        height: 30px;
        margin-right: 5px;
        background-size: auto 22px;
    }

    .wrap.mt-50 h1 {
        margin-top: 0px;
    }
}