﻿/*Assignment Groups BackGrounds Classes */

.bg-blackCow-w {
    background: #4C4646;
    z-index: 11;
}

.bg-battleShipGrey-w {
    background: #848482;
    z-index: 10;
}
.bg-slateBlue-w {
    background: #737CA1;
    z-index: 9;
}
.bg-seaTurtleGreen-w {
    background: #438D80;
    z-index: 8;
}
.bg-antiqueWhite-w {
    background: #FaEBD7;
    z-index: 7;
}
.bg-cooperGreen-w {
    background: #B87333;
    z-index: 6;
}
.bg-darkOrange-w {
    background: #F88017;
    z-index: 5;
}
.bg-grapeFruitRed-w {
    background: #DC381F;
    z-index: 4;
}
.bg-plumVelvet-w {
    background: #7D0552;
    z-index: 3;
}
.bg-neonPink-w {
    background: #F535AA;
    z-index: 2;
}

/*Assignments UserName Style*/
.user1 .userName {
    color: #4C4646;
    font-size: 14px;
}
.user2 .userName {
    color: #848482;
    font-size: 14px;
}.user3 .userName {
    color: #737CA1;
    font-size: 14px;
}.user4 .userName {
    color: #438D80;
    font-size: 14px;
}.user5 .userName {
    color: #FaEBD7;
    font-size: 14px;
}.user6 .userName {
    color: #B87333;
    font-size: 14px;
}.user7 .userName {
    color: #F88017;
    font-size: 14px;
}.user8 .userName {
    color: #DC381F;
    font-size: 14px;
}.user9 .userName {
    color: #7D0552;
    font-size: 14px;
}.user10 .userName {
    color: #F535AA;
    font-size: 14px;
}
/*Assignments Editor User Span*/
.user1-span {
    border-bottom: 1px solid #4C4646;
}
.user2-span {
    border-bottom: 1px solid #848482;
}
.user3-span {
    border-bottom: 1px solid #737CA1;
}
.user4-span {
    border-bottom: 1px solid #438D80;
}
.user5-span {
    border-bottom: 1px solid #FaEBD7;
}
.user6-span {
    border-bottom: 1px solid #B87333;
}
.user7-span {
    border-bottom: 1px solid #F88017;
}
.user8-span {
    border-bottom: 1px solid #DC381F;
}
.user9-span {
    border-bottom: 1px solid #7D0552;
}
.user10-span {
    border-bottom: 1px solid #F535AA;
}
