﻿@model List<ReelaeDataAccessLayer.re_getAttendance_sp_Result>
@if (Model.Count() > 0)
{
    var _isMark = Model.ToList().First().AttendenceID;

    <div class="attendance_connect mrg_b-10">
        @using (Ajax.BeginForm("MarkAttendance", "Attendance", new AjaxOptions { OnBegin = "onMarkAttendanceBegin", OnSuccess = "onMarkAttendanceSucess", OnComplete = "onMarkAttendanceComplete", OnFailure = "onMarkAttendanceFailure" }))
        {
            <div class="table-responsive">
                <div class="bg_white-b">
                    <table class="table table-bordered" id="tblStudents">

                        <tbody>
                            @for (int i = 0; i < Model.Count(); i++)
                            {
                                string Pid = "btnP_" + Model[i].UserID;
                                string Aid = "btnA_" + Model[i].UserID;
                                string hid = "hdn_" + Model[i].UserID;
                                string ddlId = "ddlattedance_" + Model[i].UserID;
                                string rateId = "rate_" + Model[i].UserID;
                                string ratehdnId = "ratehdn_" + Model[i].UserID;
                                string timeId = "timehdn_" + Model[i].UserID;
                                string _rating = "0";
                                string _isDiabled = "";
                                _rating = Model[i].Rating.ToString();
                                if (Model[i].AttendenceMarK == "A")
                                {
                                    _isDiabled = "disabled";
                                }
                                <tr>
                                    <td style="vertical-align: middle;padding-left:15px;width:25%;word-break:break-all">
                                        <a href="javascript:;" class="user-profile pull-left">
                                            @if (Model[i].UserPicUrl == null)
                                            {
                                                <img src=@Url.Content("~/Content/images/student.jpg") alt="..." class="img-circle img-responsive">

                                            }
                                            else
                                            {
                                                <img src="@Url.Content(Model[i].UserPicUrl)" alt="..." class="img-circle img-responsive">
                                            }
                                        </a>
                                        @Model[i].NAME
                                        @Html.HiddenFor(model => Model[i].AttendenceMarK, new { id = hid })
                                        @Html.HiddenFor(model => Model[i].AttendenceID)
                                        @Html.HiddenFor(model => Model[i].UserID)
                                        @Html.HiddenFor(mode => Model[i].Rating, new { id = ratehdnId })
                                        @Html.HiddenFor(model => Model[i].AttendenceTime, new { id = timeId })
                                    </td>
                                    <td style="width:60%">
                                        <a href="#!" class="@((Model[i].AttendenceMarK == "P" || Model[i].AttendenceMarK==null) ? "attendance-button bt_green mrg-l0" : "attendance-button gred_bg mml-0")" id="@Pid" onclick="setActive(this,'@Aid','@hid','P','@ddlId','@rateId','@Model[i].Rating')">Present</a>

                                        <select class="selectpicker dropup attendence-tbl_select" id="@ddlId" @_isDiabled width="css-width">

                                            @if (Model[i].AttendenceTime == "On Time")
                                            {
                                                string dataContent = "<span onclick = \"setTime(" + Model[i].UserID + ",'On Time','" + timeId + "')\">On Time</span>";
                                                <option data-content="@dataContent" value="On Time" selected="selected"></option>
                                            }
                                            else
                                            {
                                                string dataContent = "<span onclick = \"setTime(" + Model[i].UserID + ",'On Time','" + timeId + "')\">On Time</span>";
                                                <option data-content="@dataContent" value="On Time"></option>

                                            }
                                            @if (Model[i].AttendenceTime == "Late")
                                            {
                                                string dataContent = "<span onclick = \"setTime(" + Model[i].UserID + ",'Late','" + timeId + "')\">Late</span>";
                                                <option data-content="@dataContent" value="Late" selected="selected"></option>

                                            }
                                            else
                                            {
                                                string dataContent = "<span onclick = \"setTime(" + Model[i].UserID + ",'Late','" + timeId + "')\">Late</span>";
                                                <option data-content="@dataContent" value="Late"></option>
                                            }
                                            @if (Model[i].AttendenceTime == "Very Late")
                                            {
                                                string dataContent = "<span onclick = \"setTime(" + Model[i].UserID + ",'Very Late','" + timeId + "')\">Very Late</span>";
                                                <option data-content="@dataContent" value="Very Late" selected="selected"></option>

                                            }
                                            else
                                            {
                                                string dataContent = "<span onclick = \"setTime(" + Model[i].UserID + ",'Very Late','" + timeId + "')\">Very Late</span>";
                                                <option data-content="@dataContent" value="Very Late"></option>
                                            }
                                        </select>
                                        <a href="#!" class="@((Model[i].AttendenceMarK == "A") ? "attendance-button bt_green mrg-l0" : "attendance-button gred_bg mml-0")" id="@Aid" onclick="setActive(this,'@Pid','@hid','A','@ddlId','@rateId','@Model[i].Rating')">Absent</a>
                                    </td>
                                    <td style="width:25%;vertical-align:middle">

                                        <div id="@rateId"></div>
                                    </td>
                                </tr>
                                <script>setRating('@rateId', '@_rating', '@Model[i].AttendenceMarK')</script>
                            }

                        </tbody>
                    </table>
                </div>
                @Html.Hidden("formAction", "", new { id = "_actionhdn" })
                @Html.Hidden("_subjectId", "", new { id = "_subjectIdhdn" })
                @Html.Hidden("_date", "", new { id = "datehdn" })
                <input type="submit" value="submit" hidden="hidden" id="btnSumit" />
            </div>

        }

        <div class="clearfix"></div>
    </div>
    <div class="pos_rel">
        <a href="#!" class="btn_blue bt_green mrg-t15 pull-left text-center pad_lr15 mrg-l0" style="min-width: 10px;" onclick="deleteA()" id="#btnDelete">Delete</a>
        <a href="#!" class="btn_blue mml-0 mrg-t15 pull-right text-center pad_lr15" style="min-width: 10px;" onclick="saveA()" id="#btnSave">Save</a>
        @if (_isMark == null)
        {
            <span class="attendance_notice">Attendance is not mark for this day!</span>
        }
        else
        {
            int totalP = Model.ToList().Count(r => r.AttendenceMarK == "P");

            int totalA = Model.ToList().Count(r => r.AttendenceMarK == "A");

            <span class="attendance_notice">Present : @totalP  Absent: @totalA</span>

        }
    </div>
    <div class="clearfix"></div>
    <script>disableMarkOptionDropdown(false);</script>

}
else
{
    <div class="pos_rel">
        <span class="attendance_notice">No members found for attendance</span>
        <script>disableMarkOptionDropdown(true);</script>

    </div>

}
