﻿@model Reelae.Areas.Teacher.Models.AttedanceViewModel
@{
    ViewBag.Title = "Mark Attendance";
    Layout = "~/Areas/Teacher/Views/Shared/_TeachersLayout.cshtml";
    var _user = Model._userinfo;
    var _subjects = Model._Subjects.ToList();

}
@section head{
    <script src="@Url.Content("~/content/teacher/js/Attendance.js")"></script>
    <style type="text/css">
        .width_attendance {
            width: 50px;
        }

        .fa-star {
            cursor: pointer;
        }

            .fa-star:hover {
                color: #fbc42b;
            }
    </style>
}
@section InstitueName{
    @Html.Partial("~/Areas/Admin/Views/Shared/_InstituteSetupHeader.cshtml", _user)
}
@section UserProfile{
    <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
        @if (Model._userinfo.UserPicUrl != null && Model._userinfo.UserPicUrl != "")
        {
            <img src="@Url.Content(Model._userinfo.UserPicUrl)" alt="" />
        }
        Hello, @Reelae.Utilities.CommonUtility.ToTitleCase(Session["Name"].ToString().ToLower()) <span class="fa fa-angle-down"></span>
    </a>

}
<div class="right_col pd_l-0 height_vh t_view_sub" role="main">
    <div class="">
        <div class="col-md-12 col-xs-12 pull-right">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 mrg_t_10 mob-mrg">
                    <div class="dashboard_graph pd_b-0 brd_bottom">
                        <div class="row x_title mrb_b-0">

                            <div class="col-md-12 col-xs-12 text-left lh_30 inn-lh_30 txt_l-blue xs-left">
                                <h2>
                                    Teacher's Attendance Dashboard
                                    <div class="clearfix"></div>
                                    <small class="mrg-l0" id="lblattDate">
                                        Attendance For @DateTime.Now.Date.DayOfWeek @DateTime.Now.Date.ToString("MMM dd, yyyy")
                                    </small>
                                </h2>
                            </div>

                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="gap_30"></div>
                <div class="pad_lr-30">
                    <div class="col-sm-5 col-xs-12">
                        <div class="row">
                            <div class="col-md-12 pad_r15">
                                <div class="bg_white pad_lr15">
                                    <div class="brd-t-green"></div>
                                    <div id='attendanceCalendar' class="calendar_wrap"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-7 col-xs-12">
                        <div class="row">
                            <div class="col-md-12 pad_l15">
                                <div class="bg_l2 pad_lr15">
                                    <div class="brd-t-blu"></div>
                                    <div class="attendance_header">
                                        <div class="row">
                                            <div class="col-md-9">
                                                <div class="row">
                                                    <div class="col-xs-12">
                                                        <div class="form-group">
                                                            <label for="email">Attendance For</label>
                                                            <select class="selectpicker form-control" data-live-search="true" data-size="10" width="css-width" id="ddlSubject" title="Select Subject">
                                                                @foreach (var _subject in _subjects)
                                                                {
                                                                    @*<option data-content="<span></span><span style='cursor:pointer' onclick='getAddStudentView(@_subject.SubjectID)'> @_subject.SubjectName.Trim()</span>" data-tokens="@_subject.SubjectName" ></option>*@
                                                                    <option data-tokens="@_subject.SubjectName" value="@_subject.SubjectID">@_subject.SubjectName</option>
                                                                }
                                                                @*<option data-content="<span class='group_icn bg-blue'></span> Group 1"></option>
                                                                    <option data-content="<span class='group_icn bg-green'></span> Group 2"></option>
                                                                    <option data-content="<span class='group_icn bg-red'></span> Group 3"></option>
                                                                    <option data-content="<span class='group_icn bg-orange'></span> Group 4"></option>
                                                                    <option data-content="<span class='group_icn bg-purple'></span> Group 5"></option>
                                                                    <option data-content="<span class='group_icn bg-blue-sky'></span> Group 6"></option>*@
                                                            </select>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="col-md-3 text-right">
                                                <select class="selectpicker form-control width_auto display_in mrg_l10" id="markOption" disabled width="css-width">
                                                    <option data-content="Mark All As" value="Mark All As"></option>
                                                    <option data-content="Absent" value="Absent"></option>
                                                    <option data-content="Present" value="Present"></option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="bg_tp pad_a10 mrg_t-10 min-h-325" id="tblStudents">

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
</div>

