﻿@model Reelae.Areas.Teacher.Models.AssignmentGraphsAnalysis

<div class="col-md-12 col-sm-12 col-xs-12 mrg_t-40">
    <div class="user_box user_product text-center bg_white">
        <div class="table-responsive">
            <table class="table table-hover tbl_left mb_0 border_none">
                <thead>
                    <tr>
                        <th class="txt_black">@Model.AssignmentName</th>
                    </tr>
                </thead>
            </table>
            <img src="~/content/images/graph.jpg" class="img-responsive">
        </div>
    </div>
</div>
