﻿@model  IEnumerable<ReelaeDataAccessLayer.Assignment>
@{
    var _assignments = Model.ToList();
}
<div class="mad-select" style="margin-left:0px;width:170px;">
    <ul id="ddlAssignment">
        @if (_assignments != null && _assignments.Count > 0)
        {
            int index = 0;
            string firstItem = string.Empty;
            foreach (var _assignment in _assignments)
            {
                if (index == 0)
                {
                    <li data-value="@_assignment.AssignmentID" class="selected" onclick="assignmentClick(@_assignment.AssignmentID)" title="@_assignment.AssignmentName">@_assignment.AssignmentName</li>
                }
                else
                {
                    <li data-value="@_assignment.AssignmentID" onclick="assignmentClick(@_assignment.AssignmentID)" title="@_assignment.AssignmentName">@_assignment.AssignmentName</li>
                }
                index++;
            }
        }
        else
        {
            <li data-value="0" class="selected" onclick="assignmentClick(0)">No assignments yet</li>
        }
    </ul>
</div>
<script>
    $(function () {
        $('#ddlAssignment').children().first().trigger('click');
    });
</script>
