﻿@model Reelae.Areas.Teacher.Models.Assignments
<div class="col-md-6 col-sm-6 col-xs-12 mrg_t-40">
    <div class="user_box user_product text-center bg_white">
        <div class="table-responsive">
            <table class="table table-hover tbl_left mb_0 border_none">
                <thead>
                    <tr>
                        <th class="txt_black">@Model.AssignmentName</th>
                        <th class="text-right"></th>
                    </tr>
                </thead>
            </table>
            <table class="table tbl_left mb_0 mt_22">
                <tbody>
                    <tr>
                        <td class="border_none">Time Tracked</td>
                        <td class="text-right border_none txt_black">@Model.TimeTracked hrs</td>
                    </tr>
                    <tr>
                        <td class="border_none">Students Working (%)</td>
                        <td class="text-right border_none txt_black">@Model.StudentsProgressPercentage</td>
                    </tr>
                    <tr>
                        <td class="border_none">Keyword Used</td>
                        <td class="text-right border_none txt_black">@Model.KeywordUsed</td>
                    </tr>
                </tbody>
            </table>
            <div class="clearfix brd_t mt_22"></div>
            <div class="mtb-25-15">
                <div class="pro_tag">Progress</div>
                <div class="progress tbl_pro">
                    <div class="progress-bar progress-bar-danger" data-transitiongoal="@Model.AssignmentsProgress" aria-valuenow="@Model.AssignmentsProgress" style="width: 0%;"></div>
                </div><span class="pro_lbl text-right">@Model.AssignmentsProgress</span>
            </div>
        </div>
    </div>
</div>
