﻿<style>
    .pin_wrap {
        display: block;
        width: 71%;
    }
</style>

<div class="modal in" id="analyticsAttendanceGraph" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="padding-right: 17px;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="material-icons">clear</i></button>
                <h4 class="modal-title" id="myModalLabel">Attendance Analytics Graph</h4>
            </div>
            <div class="modal-body">
                <div class="pad_lr-30 pin_wrap" id="noticeListDiv">
                    <ul class="nav nav-tabs" role="tablist" id="tabList">
                        <li role="presentation" class="private-board active" id="liPrivate"><a href="#" onclick="getAttendenceDataChart('AttendenceRate')" aria-controls="messages" role="tab" data-toggle="tab">Attendence Rate</a></li>
                        <li role="presentation" class="group-board" id="liGroup"><a href="#" onclick="getAttendenceDataChart('ParticipationRating')" aria-controls="profile" role="tab" data-toggle="tab">Participation Rating</a></li>
                    </ul>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane" id="PrivateDiv"></div>
                        <div role="tabpanel" class="tab-pane" id="GroupDiv"></div>
                        <div role="tabpanel" class="tab-pane" id="PublicDiv"></div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-12 col-sm-12 col-xs-12 mrg_t-10">
                    <div class="user_box user_product text-center bg_white">
                        <div class="table-responsive">
                            <div id="attendenceContainer" style="min-width: 500px; height: 300px; margin: 0 auto"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12 mrg_t-20"></div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<script>
    $(function () {
        getAttendenceDataChart('AttendenceRate');
    });
</script>







