﻿@model Reelae.Areas.Teacher.Models.TeacherDashboardViewModel
<div class="col-md-3 col-sm-6 col-xs-12 mrg_t-40">
    <div class="user_box user_product text-center">
        <div class="user_img"> <img src="~/content/images/pr1.jpg" alt="..." class="img-responsive"> </div>
        <div class="user_name">
            <h3><span id="lblAssignSubCount">@Model.AssignmentSubmissionsCount</span> Submissions</h3>
            <div class="clearfix"></div>
            @Ajax.ActionLink("View Latest", "GetLatestAssignmentSubmissions", new { id = "data" }, new AjaxOptions { HttpMethod = "POST", OnSuccess = "OnSuccessGetLatestAssignmentSubmissions", UpdateTargetId = "lblAssignSubCount", OnFailure = "OnSuccessGetLatestAssignmentSubmissions" })
        </div>
    </div>
</div>
<div class="col-md-3 col-sm-6 col-xs-12 mrg_t-40">
    <div class="user_box user_product text-center">
        <div class="user_img"> <img src="~/content/images/pr2.jpg" alt="..." class="img-responsive"> </div>
        <div class="user_name">
            <h3><span>@Model.AssignmentCount</span> Assignments Done</h3>
            <a href="#!" onclick="onOpenCreateAssignment();">Create Assignment</a>
        </div>
    </div>
</div>
<div class="col-md-3 col-sm-6 col-xs-12 mrg_t-40">
    <div class="user_box user_product text-center">
        <div class="user_img"> <img src="~/content/images/pr3.jpg" alt="..." class="img-responsive"> </div>
        <div class="user_name">
            <h3><span>@Model.StudentsCount</span> Students</h3>
            <a href="#!" onclick="openGroupModal()">Create Group</a>
        </div>
    </div>
</div>
<div class="col-md-3 col-sm-6 col-xs-12 mrg_t-40">
    <div class="user_box user_product text-center">
        <div class="user_img"> <img src="~/content/images/pr4.jpg" alt="..." class="img-responsive"> </div>
        <div class="user_name">
            <h3><span>@Model.MasterKeywordCount</span> Keywords</h3>
            <a href="#!" onclick="getKeywordMasterView()">Add Keyword</a>
        </div>
    </div>
</div>
