﻿
@{
    ViewBag.Title = "StudentCityValue";
    Layout = null;
}
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>

<title>Spline Chart</title>
<script>
        $(document).ready(function () {
            Bindsplinechart();
        });
        function Bindsplinechart() {
            $.ajax({
                type: "POST",
                url: "../Teacher/GetData",
                data: "{}",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                cache: false,
                processdata: true,
                success: function (result) {
                    var json = result;
                    var jsondata = [];
                    var newItem = [];

                    var cityname = [];


                    var data1 = [];
                    var data2 = [];
                    var month1 = [];
                    var city1 = "Johny Fernandiz"
                    var city2 ="Ricky Daniels"
                    data1.push(parseInt(4));
                   // month1.push("Jan");
                    data1.push(parseInt(6));
                   // month1.push("Feb");
                    data2.push(parseInt(1));
                  //  month2.push("Jan");
                    data2.push(parseInt(2));
                  //  month2.push("Feb");
                    //for (var i in result) {
                    //  //  cityname = result[i].cname;
                    //    if (result[i].cityname == "Shimla" ) {
                    //        var series = new Array(parseInt(result[i].values));
                    //        var city1 = result[i].cityname
                    //        data1.push(parseInt(result[i].values));
                    //        month1.push(result[i].monthname);
                    //    }
                    //    else if (result[i].cityname == "Udaypur") {
                    //        var series1 = new Array(parseInt(result[i].values));
                    //        var city2 = result[i].cityname
                    //        data2.push(parseInt(result[i].values));
                    //    }

                    //}



                    // create the chart
                    var chart = new Highcharts.chart('container', {
                        chart: {
                            //  type: 'line'
                            borderColor: '#EBBA95',
                            borderWidth: 2,
                            type: 'line'
                        },
                        title: {
                            text: 'Studenet Avg Marks'
                        },
                        subtitle: {
                            text: 'Studenet Result'
                        },
                        //text: '<div class="lhsTitle"><span style="font-size:65px;color:#20B2AA"> .</span>' + city1 + '</div><div class="rhsTitle"></div>' + '<div class="lhsTitle"><span style="font-size:65px;color:#DA70D6"> .</span>' + city2 + '</div><div class="rhsTitle"></div>''
                        xAxis: {
                             categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
                           // categories: month1,
                            font: 'bold 16px "Trebuchet MS", Verdana, sans-serif'
                        },
                        yAxis: {
                            title: {
                                text: 'Score',
                            },
                            //alternateGridColor: '#FDFFD5'
                        },
                        plotOptions: {
                            line: {
                                dataLabels: {
                                    enabled: true
                                },
                                enableMouseTracking: false
                            }
                        },
                        series: [{
                            name: city1,
                            data: [7.0, 6.9, 9.5, 14.5, 18.4, 21.5, 25.2, 26.5, 23.3, 18.3, 13.9, 9.6],
                            color: '#20B2AA',
                            x: -10,

                            dataLabels: {
                                align: 'high',
                                enabled: true
                            }

                        }, {
                            name: city2,
                            data: [3.9, 4.2, 5.7, 8.5, 11.9, 15.2, 17.0, 16.6, 14.2, 10.3, 6.6, 4.8],
                            color: '#DA70D6',
                            dataLabels: {
                                align: 'high',
                                enabled: true
                            }
                        }]

                    });



                }


            });
        }
</script>

<div class="col-md-12 col-sm-12 col-xs-12 mrg_t-40">
    <div class="user_box user_product text-center bg_white">
        <div class="table-responsive">
            @*<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>*@
            <div id="container" style="min-width: 500px; height: 300px; margin: 0 auto"></div>
            <table class="table table-hover tbl_left mb_0 border_none">
                <thead>
                    <tr>
                        @*<th class="txt_black">Assignment Name</th>*@

                    </tr>
                </thead>
            </table>


        </div>
    </div>
</div>
