﻿@model Reelae.Areas.Teacher.Models.TeacherDashboardViewModel
@{
    ViewBag.Title = "TeacherDashborad";
    Layout = "~/Areas/Teacher/Views/Shared/_TeachersLayout.cshtml";
    string _startDate = DateTime.Now.Date.ToString("MMMM dd, yyyy");
    string _endDate = DateTime.Now.Date.AddMonths(1).ToString("MMMM dd, yyyy");
    var groups = Model.GroupList.ToList();
    string _firstGroup = "0";
    string _firstSubject = "0";
    if (groups != null && groups.Count() > 0)
    {
        _firstGroup = groups[0].GroupID.ToString();
    }
    var _user = Model._userinfo;
    var subjects = Model.SubjectList.ToList();
    if (subjects != null && subjects.Count() > 0)
    {
        _firstSubject = subjects[0].SubjectID.ToString();
    }
}
@section head{
    <script src="@Url.Content("~/content/Teacher/js/teacherGroupMembers.js")"></script>
    <script src="@Url.Content("~/content/Teacher/js/Subjects.js")"></script>
    <script src="@Url.Content("~/Content/Teacher/js/teacherDashboard.js")"></script>
    <script src="@Url.Content("~/Content/Teacher/js/chartUtility.js")"></script>

    <style type="text/css">
        .clsCustomDR {
            position: relative;
            margin-top: 15px;
        }

            .clsCustomDR i {
                color: #ced0da;
            }

            .clsCustomDR span {
                color: #354052;
            }
    </style>


}
@section InstitueName{
    @Html.Partial("~/Areas/Admin/Views/Shared/_InstituteSetupHeader.cshtml", _user)
}
@section UserProfile{
    <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
        @if (Model._userinfo.UserPicUrl != null && Model._userinfo.UserPicUrl != "")
    {
            <img src="@Url.Content(Model._userinfo.UserPicUrl)" alt="" />
        }
        Hello, @Reelae.Utilities.CommonUtility.ToTitleCase(Session["Name"].ToString().ToLower()) <span class="fa fa-angle-down"></span>
    </a>

}
<!-- page content -->
<div class="right_col pd_l-0 height_vh" role="main">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <a href="javascript:void(0)" style="cursor: default;"> <h3>Main</h3></a>
    </div>
    <div class="col-md-10 col-sm-10 col-md-offset-1 col-sm-offset-1 col-xs-12">
        <div class="gap_30"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="dashboard_graph pd_b-0 bg_trans">
                    <div class="row x_title mrb_b-0">
                        <div class="col-md-6 col-sm-4 col-xs-12">
                            <h3>
                                Hello,
                                @if (Model._userinfo.Name != null && Model._userinfo.Name != "")
                                {
                                    <span id="lblTeacherName">@Model._userinfo.Name</span>
                                }
                                else
                                {
                                    <span id="lblTeacherName">Teacher</span>
                                }
                                <div class="clearfix"></div>
                                <small>Welcome to Reelae dashboard</small>
                            </h3>
                        </div>
                        <div class="col-md-6 col-sm-4 col-xs-12 text-center txt_l-blue xs-left mmt-20">
                            <label class="date_lbl" style="position:static; display:block; margin-bottom:15px;">Filter by Date</label>
                            <div class="clearfix"></div>
                            <div id="dateFilterEle" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #969696; border-radius: 4px;">
                                <i class="glyphicon glyphicon-calendar fa fa-calendar"></i> <span>@_startDate - @_endDate</span> <b class="caret"></b>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="" id="divDashboardCounts">
                @Html.Partial("_dashboardCounts", Model)
            </div>
        </div>
        <div class="gap_30"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="dashboard_graph pd_b-0 bg_trans pad_lr-0">
                    <div class="row x_title mrb_b-0">
                        <div class="col-md-6 col-sm-4 col-xs-12">
                            <h3>Analytics &amp; Attendance &nbsp;<a href="#!" onclick="analyticsAttendanceClick()"><i class="fa fa-bar-chart txt_light_blue" aria-hidden="true"></i></a></h3>
                            <div class="">
                                <div class="group select_2">
                                    <div class="mad-select" style="margin-left:0px;width:200px;">
                                        <ul id="ddlSubject">
                                            @if (subjects != null && subjects.Count() > 0)
                                            {
                                                foreach (var item in subjects)
                                                {
                                                    <li data-value="@item.SubjectID" onclick="getAttedenceRate('@item.SubjectID',null,null)" title="@item.SubjectName">@item.SubjectName</li>
                                                }
                                            }
                                            else
                                            {
                                                <li data-value="0">No Subjects Yet</li>
                                            }
                                        </ul>
                                        <input type="hidden" name="selSubjectID" value="@_firstSubject" id="selSubjectID">
                                    </div>
                                </div>
                                @*<div class="xdisplay_inputx form-group has-feedback" style="display:inline-block; margin-left:10px;">
                                        <input type="text" class="form-control has-feedback-left pop_date" style="padding-left:55px;" id="attendanceDate" aria-describedby="inputSuccess2Status3">
                                        <span class="fa fa-calendar form-control-feedback left" aria-hidden="true"></span> <span id="inputSuccess2Status3" class="sr-only">(success)</span>
                                    </div>*@
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12 text-right lh_30 txt_l-blue xs-left mmt-20 pad_l-5">
                            <h3>&nbsp;</h3>
                            <div class="clearfix"></div>
                            @*<a href="#!" class="btn_blue mml-0 text-center" onclick="getAddSubjectView()">Add Subject</a>*@
                            Group <div class="group select_2">
                                <div class="mad-select">
                                    <ul id="ddlGroups">
                                        @if (groups != null && groups.Count() > 0)
                                        {
                                            foreach (var item in groups)
                                            {
                                                <li data-value="@item.GroupID" onclick="groupItemClick(@item.GroupID)" title="@item.GroupName">@item.GroupName</li>
                                            }
                                            <li data-value="@null" onclick="groupItemClick(null)" title="Individual">Individual</li>
                                        }
                                        else
                                        {
                                            <li data-value="0">No Groups Yet</li>
                                        }
                                    </ul>
                                    <input type="hidden" name="selGroupID" class="selected" value="@_firstGroup">
                                </div>
                            </div>
                            <span class="ass_lbl txt_l-blue">Assignment</span> <div id="assignmentDDL" class="group select_2"></div>
                        </div>
                    </div>

                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12 mrg_t-40 pad_r-5">
                <div class="user_box user_product text-center bg_white tbl_left" style="min-height:263px;">
                    <div class="table-responsive" id="divAttendenceRate">

                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 mrg_t-40">
                <div class="user_box user_product text-center bg_white">
                    <div class="table-responsive">
                        <table class="table table-hover tbl_left mb_0 border_none">
                            <thead>
                                <tr>
                                    <th class="txt_black">Assignment Name</th>
                                    <th class="text-right"></th>
                                </tr>
                            </thead>
                        </table>
                        <table class="table tbl_left mb_0 mt_22" style="margin:0;padding:0;">
                            <tbody>
                                <tr>
                                    <td class="border_none">Time Tracked</td>
                                    <td class="text-right border_none txt_black">34 hrs</td>
                                </tr>
                                <tr>
                                    <td class="border_none">Students Working (%)</td>
                                    <td class="text-right border_none txt_black">70%</td>
                                </tr>
                                <tr>
                                    <td class="border_none">Keyword Used</td>
                                    <td class="text-right border_none txt_black">3413</td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="clearfix brd_t mt_22"></div>
                        <div class="mtb-25-15">
                            <div class="pro_tag">Progress</div>
                            <div class="progress tbl_pro">
                                <div class="progress-bar progress-bar-danger" data-transitiongoal="65.3" aria-valuenow="65.3" style="width: 0%;"></div>
                            </div>
                            <span class="pro_lbl text-right">65.3%</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 mrg_t-40">
                <div class="user_box user_product text-center bg_white">
                    <div class="table-responsive">
                        @*<img src="images/graph.jpg" class="img-responsive">*@
                        @*@Html.Partial("_usedKeywordGraph")*@

                        <div class="col-md-12 col-sm-12 col-xs-12 mrg_t-20">
                            <div class="user_box user_product text-center bg_white">
                                <div class="table-responsive">
                                    <div id="container" style="min-width: 500px; height: 300px; margin: 0 auto"></div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="clearfix"></div>
</div>
<div class="clearfix"></div>

<!-- /page content -->
@section PageScript{
    <!--Page Scripts-->
}
























