﻿@model Reelae.Areas.Admin.Models.PinupBoardViewModel
@using Humanizer;


@{
    ViewBag.Title = "Pin-Up Board";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    var _pinupList = Model._pinups.ToList();
    var _user = Model._userinfo;
}
@section head{
    <script src="@Url.Content("~/Content/Admin/js/PinupBoard.js")"></script>
    <style type="text/css">
        #tblPinupBoard .dataTables_scrollHeadInner table tr th:nth-child(1), #tblMemberGrid_wrapper .dataTables_scrollBody table tr td:nth-child(1) {
            width: 30% !important;
            max-width: 30% !important;
            box-sizing: border-box;
        }

        #tblPinupBoard .dataTables_scrollHeadInner table tr th:nth-child(2), #tblMemberGrid_wrapper .dataTables_scrollBody table tr td:nth-child(2) {
            width: 40% !important;
            max-width: 40% !important;
            box-sizing: border-box;
        }

        #tblPinupBoard .dataTables_scrollHeadInner table tr th:nth-child(3), #tblMemberGrid_wrapper .dataTables_scrollBody table tr td:nth-child(3) {
            width: 10% !important;
            max-width: 10% !important;
            box-sizing: border-box;
        }

        #tblPinupBoard .dataTables_scrollHeadInner table tr th:nth-child(4), #tblMemberGrid_wrapper .dataTables_scrollBody table tr td:nth-child(4) {
            width: 20% !important;
            max-width: 20% !important;
            box-sizing: border-box;
        }


        #tblFile .dataTables_scrollHeadInner table tr th:nth-child(1), #tblMemberGrid_wrapper .dataTables_scrollBody table tr td:nth-child(1) {
            width: 40% !important;
            max-width: 40% !important;
            box-sizing: border-box;
        }

        #tblFile .dataTables_scrollHeadInner table tr th:nth-child(2), #tblMemberGrid_wrapper .dataTables_scrollBody table tr td:nth-child(2) {
            width: 20% !important;
            max-width: 20% !important;
            box-sizing: border-box;
        }

        #tblFile .dataTables_scrollHeadInner table tr th:nth-child(3), #tblMemberGrid_wrapper .dataTables_scrollBody table tr td:nth-child(3) {
            width: 20% !important;
            max-width: 20% !important;
            box-sizing: border-box;
        }

        #tblFile .dataTables_scrollHeadInner table tr th:nth-child(4), #tblMemberGrid_wrapper .dataTables_scrollBody table tr td:nth-child(5) {
            width: 20% !important;
            max-width: 20% !important;
            box-sizing: border-box;
        }

        .dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate {
            display: block;
        }

        #tblPinupBoard_filter input {
            border: none;
            font-weight: 400;
        }

        #tblFile_filter input {
            border: none;
            font-weight: 400;
        }

        #Capa_1 {
            fill: #92a1b2;
        }
    </style>
}
@section InstitueName{

    @Html.Partial("_InstituteSetupHeader", _user)

}
@section userProfile{
    <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
        @if (Model._userinfo.UserPicUrl != null && Model._userinfo.UserPicUrl != "")
        {
            <img src="@Url.Content(Model._userinfo.UserPicUrl)" alt="" />
        }
        Hello, @Reelae.Utilities.CommonUtility.ToTitleCase(@Session["Name"].ToString().ToLower().Trim()) <span class="fa fa-angle-down"></span>
    </a>

}
<div class="right_col pd_l-0 height_vh t_view_sub" role="main">
    <div class="">
        <div class="col-md-12 col-xs-12 pull-right">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 mrg_t_10 mob-mrg">
                    <div class="dashboard_graph pd_b-0 brd_bottom">
                        <div class="row x_title mrb_b-0">
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <h3>Pin-Up Board</h3>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12 text-center lh_30 inn-lh_30 txt_l-blue xs-left">
                                <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                     width="18px" height="18px" viewBox="0 0 984 984" style="enable-background:new 0 0 984 984;" xml:space="preserve" class="fourm_heading-icon">
<g>
<path d="M532.5,40c0-22.1-17.899-40-40-40c-22.1,0-40,17.9-40,40v32.7h80V40z" />
<path d="M971.1,189.6c0-33.1-26.9-60-60-60H72.9c-33.1,0-60,26.9-60,60v442.5c0,33.101,26.9,60,60,60h838.2c33.1,0,60-26.899,60-60
    V189.6z" />
<path d="M887,792c0-21-16.1-38.2-36.7-39.9c-1.1-0.1-2.199-0.1-3.3-0.1H721h-90.8h-97.7h-80h-98.7H262.9H137
    c-1.1,0-2.2,0.1-3.3,0.1C113.2,753.8,97,771,97,792c0,22.1,17.9,40,40,40h82.9l-50.1,93c-10.5,19.5-3.2,43.7,16.3,54.2
    c6,3.199,12.5,4.8,18.9,4.8c14.2,0,28-7.601,35.3-21l70.5-131H452.6v112c0,22.1,17.899,40,40,40c22.1,0,40-17.9,40-40V832h140.8
    l70.5,131c7.2,13.399,21,21,35.3,21c6.4,0,12.9-1.5,18.9-4.8c19.5-10.5,26.699-34.7,16.3-54.2l-50.101-93h82.9
    C869.1,832,887,814,887,792z" /></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g>
</svg>
                                @if (_pinupList != null)
                                {
                                    @:  @_pinupList.Count()
                             }
                                else
                                {
                                    @:   0 Topic
                            }
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12 text-right xs-left">
                                @*<div class="search_top">
                                        <i class="material-icons">search</i>
                                        <input type="text" name="" placeholder="Search members...">
                                    </div>*@
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="gap_30"></div>
                <div class="pad_lr-30">
                    <div class="x_panel" style="padding-bottom: 0px;">
                        <div class="x_content">
                            <div class="forum">
                                <table class="table table-striped" style="margin-bottom: 10px;" id="tblPinupBoard">
                                    <thead>
                                        <tr>
                                            <th style="vertical-align:top;width:30%">User</th>
                                            <th style="vertical-align:top;width:40%">Content</th>
                                            <th style="vertical-align:top;width:10%"></th>
                                            <th style="vertical-align:top;width:20%"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (_pinupList != null && _pinupList.Count() > 0)
                                        {

                                            foreach (var _pinup in _pinupList)
                                            {
                                                <tr onclick="getEditMembersView(@_pinup.StudentId)">
                                                    <td>
                                                        @if (_pinup.User != null)
                                                        {
                                                            <ul class="list-unstyled top_profiles scroll-view">
                                                                <li class="media event">
                                                                    <a href="javascript:;" class="user-profile pull-left" style="cursor:default">
                                                                        @if (_pinup.User.UserPicUrl != null && _pinup.User.UserPicUrl != "")
                                                                        {
                                                                            <img src="@Url.Content(_pinup.User.UserPicUrl)" alt="...">
                                                                        }
                                                                        else
                                                                        {
                                                                            if (_pinup.User.AspNetUser.AspNetRoles.First().Name == "Teacher")
                                                                            {
                                                                                <img src="@Url.Content("~/Content/images/teacher_small.jpg")" alt="">
                                                                            }
                                                                            else
                                                                            {
                                                                                <img src="@Url.Content("~/Content/images/student_small.jpg")" alt="">
                                                                            }
                                                                        }
                                                                    </a>
                                                                    <div class="media-body">
                                                                        <a class="title" href="#!" data-toggle="modal" data-target="#myModal11" style="display: inline-block;cursor:default">
                                                                            @_pinup.User.Name
                                                                            <div class="clearfix"></div>
                                                                            <small class="txt_lgry">Created - @string.Format("{0} {1}", _pinup.CreatedDate.Day.Ordinalize(), _pinup.CreatedDate.ToString("MMM yyyy hh:mm tt"))</small>
                                                                            @if (_pinup.ModifiedDate != null)
                                                                            {
                                                                                <div class="clearfix"></div>
                                                                                <small class="txt_lgry">Modified - @string.Format("{0} {1}", _pinup.ModifiedDate.Value.Day.Ordinalize(), _pinup.ModifiedDate.Value.ToString("MMM yyyy hh:mm tt"))</small>
                                                                            }
                                                                        </a>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                        }
                                                    </td>
                                                    <td>@Html.Raw(_pinup.Content)</td>
                                                    <td class="text-right">
                                                        <a href="#!" data-toggle="modal" data-target="#" class="btn_blue mml-0 min_w-155 text-center" onclick="deletePinupConfirmation(@_pinup.PinUpBoardID)">
                                                            <span>Remove</span> <i class="material-icons fourm_heading-icon">delete</i>
                                                        </a>
                                                    </td>
                                                    <td class="text-right">

                                                        <a href="#!" data-toggle="modal" data-target="#" class="btn_blue mml-0 min_w-155 text-center @(_pinup.PinUpBoardFiles.Count()==0?"disable_btn":"")" onclick="@(_pinup.PinUpBoardFiles.Count()>0?"getAttachment("+_pinup.PinUpBoardID+")":"")">
                                                            @_pinup.PinUpBoardFiles.Count() Attachments
                                                        </a>
                                                    </td>
                                                </tr>

                                            }
                                        }
                                        else
                                        {
                                            <tr>
                                                <td colspan="4">
                                                    <label>No pinups found.</label>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
