﻿@model Reelae.Areas.Student.Models.newPinUpBoardViewModel
@{
    string[] _groupIds = null;
    if (Model._pinupBoard.GroupId != null)
    {
        _groupIds = Model._pinupBoard.GroupId.Split(',');
    }
}
<script type="text/javascript">
      @if (Model._pinupBoard.GroupId!=null && Model._pinupBoard.GroupId!="")
      {
          @: showGroupList(true);
                      }
</script>
<div class="modal" id="newNoteModelBox" tabindex="-1" role="dialog" aria-labelledby="newNoteLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="OnSubjectModalReset();"><i class="material-icons">clear</i></button>
                <h4 class="modal-title" id="newNoteLabel">New Note</h4>
            </div>
            @using (Ajax.BeginForm("addNewNote", "PinUpBoard", new { area = "Student" }, new AjaxOptions { HttpMethod = "Post", OnSuccess = "onNoteSucess", OnFailure = "onNoteFailure", OnBegin = "onNoteBegin" }))
            {
                <div class="modal-body">
                    @Html.HiddenFor(model => Model._pinupBoard.PinUpBoardID, new { id = "hdnNoticeId" })
                    <div class="col-sm-10 col-sm-offset-1" style="margin: 0 auto; float: none;">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Note</label><span style="color:red;font-size: 12px;">*</span>
                            <div class="clearfix"></div>
                            @Html.TextAreaFor(model => Model._pinupBoard.Content, new { @class = "form-control brd_radius-4", id = "txt_descr", placeholder = "Add note here", rows = "6" })
                        </div>
                        <div class="gap_20"></div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Visibility</label><span style="color:red;font-size: 12px;">*</span>
                            <div class="clearfix"></div>
                            <div class="mad-select" style="margin-left:0px;width:200px;">
                                <ul id="ddlVisibilty">
                                    <li data-value="Private" onclick="showGroupList(false)">Private</li>
                                    <li data-value="Group" onclick="showGroupList(true)">Group</li>
                                    <li data-value="Public" onclick="showGroupList(false)">Public</li>
                                </ul>
                                @Html.HiddenFor(model => Model._pinupBoard.Visibilty, new { id = "hdn_visibilty" })
                            </div>
                        </div>
                        <div class="gap_20"></div>
                        <div class="form-group" id="divGroup" style="display:none">
                            <label for="exampleInputEmail1">Group</label>
                            <div class="clearfix"></div>
                            <select class="form-control" data-width="100px" multiple="multiple" id="ddlGroup_note">
                                @foreach (var item in Model._groups)
                                {
                                    string _groupName = item.GroupName.Trim();
                                    if (_groupName.Length > 20)
                                    {
                                        _groupName = _groupName.Substring(0, 17) + "...";
                                    }
                                    if (_groupIds != null && Array.IndexOf(_groupIds, @item.GroupID.ToString()) != -1)
                                    {
                                        <option value="@item.GroupID" title="@item.GroupName" selected="selected">@_groupName</option>
                                    }
                                    else
                                    {
                                        <option value="@item.GroupID" title="@item.GroupName">@_groupName</option>

                                    }
                                }
                            </select>
                            @Html.HiddenFor(model => Model._pinupBoard.GroupId, new { id = "hdn_groupId" })
                        </div>
                        <div class="gap_20"></div>
                        <div class="gap_20"></div>
                        <div class="gap_20"></div>

                    </div>
                    <div class="clearfix"></div>
                </div>
                <input type="submit" value="SAVE" class="button_blue button_100">
            }
        </div>
    </div>
</div>
