﻿@model IEnumerable<ReelaeDataAccessLayer.PinUpBoardFile>
@using Humanizer;
@{
    var _attachments = Model.ToList();
}
<div class="row">
    <div class="mrg_t_10">
        <div class="dashboard_graph pd_b-0 brd_bottom">
            <div class="row x_title mrb_b-0">
                <div class="col-md-12 col-xs-12 text-left lh_30 inn-lh_30 txt_l-blue xs-left">
                    <h2>
                        Upload files
                    </h2>
                    <a href="#!" class="btn_blue text-center pull-right" onclick="triggerFileUpload()">Upload New</a>
                    <div class="hiddenfile">
                        <input name="upload" type="file" id="_HttpPostedNoteFile" onchange="UploadNoteFile(@ViewBag.PinupboardId);" multiple />
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="gap_30"></div>
    <div class="col-md-12 side_over">
        <div class="row">
            @if (_attachments.Count() > 0)
            {
                foreach (var _file in _attachments)
                {
                    string divClass = "";
                    string ext = System.IO.Path.GetExtension(_file.FileName);
                    string filename = _file.FileName;
                    string fleUploadId = "_HttpPostedEditNoteFile" + _file.PinUpBoardFileID;
                    if (Path.GetFileNameWithoutExtension(_file.FileName.Trim()).Length > 20)
                    {
                        filename = Path.GetFileNameWithoutExtension(_file.FileName).Substring(0, 15) + "..." + Path.GetExtension(_file.FileName);
                    }
                    <div class="col-xs-12">
                        <div class="hiddenfile">
                            <input name="upload" type="file" id="@fleUploadId" onchange="UploadEditNoteFile(@_file.PinUpBoardFileID,'@fleUploadId',@_file.PinUpBoardID);" />
                        </div>
                        <div class="prod_box text-center">
                            @if (ext == ".zip" || ext == ".rar")
                            {
                                <div class="prod_wrap bg_perp">
                                    <a href="@Url.Content(_file.FileUrl)">
                                        <i class="material-icons file_icn">archive</i>
                                        <span class="file_type-txt">@ext</span>
                                    </a>
                                </div>

                            }
                            else if (ext == ".jpg" || ext == ".png" || ext == ".jpeg")
                            {
                                divClass = "img_datial";
                                <a href="@Url.Content(_file.FileUrl)" target="_blank" class="image_wrapper slide"> <img src="@Url.Content(_file.FileUrl)" alt="..." class="img-responsive"> </a>
                            }
                            else
                            {
                                <div class="prod_wrap bg_m-green">
                                    <a href="@Url.Content(_file.FileUrl)">
                                        <i class="material-icons file_icn">insert_drive_file</i>
                                        <span class="file_type-txt">@ext</span>
                                    </a>
                                </div>

                            }

                            <div class="prod_detail @divClass">
                                <span title="@_file.FileName">
                                    @filename
                                    <div class="clearfix"></div>
                                    <small>Added @string.Format("{0} {1}", _file.CreatedDate.Value.Day.Ordinalize(), _file.CreatedDate.Value.ToString("MMM yyyy"))</small>
                                </span>
                                <span class="dropdown pull-right">
                                    <a href="#!" id="dLabel1" class="material-icons pull-right" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">more_vert</a>
                                    <div class="dropdown-menu" aria-labelledby="dLabel">
                                        <ul>
                                            <li><a href="@Url.Content(_file.FileUrl)" target="_blank"><i class="material-icons">file_download</i> <span>Download</span></a></li>
                                            <li><a onclick="editFile('@fleUploadId')"><i class="material-icons">mode_edit</i> <span>Edit</span></a></li>
                                            <li><a href="#!" onclick="deleteFileConfirmation(@_file.PinUpBoardFileID,'@Url.Content(_file.FileUrl)',@_file.PinUpBoardID,'@_file.FileName')"><i class="material-icons">delete</i> <span>Delete</span></a></li>
                                        </ul>
                                    </div>
                                </span>
                            </div>
                        </div>
                    </div>

                }
            }
            else
            {
                <div class="col-xs-12">
                    <div class="text-center" style="font-size:18px;">No Files</div>
                </div>

            }

        </div>
    </div>
</div>
