﻿@model IEnumerable<ReelaeDataAccessLayer.re_getPinUpBoard_sp_Result>
@using Humanizer;
@{
    var _notes = Model.ToList();
}

<div class="column-count">
    @if (_notes != null && _notes.Count() > 0)
    {
        foreach (var _note in _notes)
        {
            string imageUrl = Url.Content("~/Content/images/student.jpg");
            string divId = "div_" + _note.PinUpBoardID;
            if (_note.UserPicUrl != null)
            {
                imageUrl = Url.Content(_note.UserPicUrl);
            }
        <div class="col-md-4 column-count-item pad_lr-0">
            <div class="notice_board" id="@divId">
                <div class="brd-t-blu"></div>
                <div class="notice_top">
                    <div class="left-col col-xs-7 pad_lr-0">Created - @string.Format("{0} {1}", _note.CreatedDate.Day.Ordinalize(), _note.CreatedDate.ToString("MMM yyyy hh:mm tt"))</div>
                    <div class="right-col col-xs-5 pad_lr-0 text-right">
                        <i class="material-icons edit_icn" onclick="editNote(@_note.PinUpBoardID)">edit</i>
                        <i class="material-icons del_icn" onclick="deleteNoteConfirmation(@_note.PinUpBoardID)">delete</i>
                    </div>
                    <div class="clearfix gap_20"></div>
                    <div class="notice_content_wrap">@_note.Content</div>
                </div>
                <div class="clearfix" style="height:10px;"></div>
                <div class="col-xs-6"><a href="javascript:;" class="user-profile"> <img src="@imageUrl" alt="">@_note.NAME.Trim()</a></div>
                <div class="col-xs-6 text-right attach_link">
                    <a href="javascript:;" onclick="getAttachment(@_note.PinUpBoardID,'@divId')">
                        <i class="material-icons">attachment</i> <span>See Attachments</span>
                    </a>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    }
    }
    else
    {
        <h5>No pin-ups found</h5>
    }
</div>