﻿@model Reelae.Areas.Student.Models.PinUpBoardViewModel
@using Humanizer;
@{
    ViewBag.Title = "Pin-Up Board";
    Layout = "~/Areas/Student/Views/Shared/_StudentLayout.cshtml";
    var _user = Model._userinfo;
    //string _firstItemId = "0";
    //if (_notes != null && _notes.Count > 0)
    //{
    //    _firstItemId = _notes.First().PinUpBoardID.ToString();
    //}
    //else if (_publicNotes != null && _publicNotes.Count > 0)
    //{
    //    _firstItemId = _notes.First().PinUpBoardID.ToString();

    //}
}

@section head{
    <script src="@Url.Content("~/content/Student/js/PinUpBoard.js")"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/css/bootstrap-multiselect.css" rel="stylesheet" />
    <style type="text/css">
        .edit_icn {
            cursor: pointer;
        }

        .del_icn {
            cursor: pointer;
        }
    </style>
    @*<script type="text/javascript">
        var _firstItemId = '@_firstItemId';
        var divId = "div_" + _firstItemId
        getAttachment(_firstItemId, divId);
    </script>*@

}

@section InstitueName{
    @Html.Partial("~/Areas/Admin/Views/Shared/_InstituteSetupHeader.cshtml", _user)
}
@section UserProfile{
    <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
        @if (Model._userinfo.UserPicUrl != null && Model._userinfo.UserPicUrl != "")
        {
            <img src="@Url.Content(Model._userinfo.UserPicUrl)" alt="" />
        }
        Hello, @Reelae.Utilities.CommonUtility.ToTitleCase(Session["Name"].ToString().ToLower()) <span class="fa fa-angle-down"></span>
    </a>

}
<div class="right_col pd_l-0 height_vh t_view_sub" role="main">
    <div class="row">
        <div class="col-md-12 col-xs-12 pull-right pos_static">

            <div class="row">
                <div class="col-md-9 pinup-left">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12 mrg_t_10">
                            <div class="dashboard_graph pd_b-0 brd_bottom">
                                <div class="row x_title mrb_b-0">
                                    <div class="col-md-12 col-xs-12 text-left lh_30 inn-lh_30 txt_l-blue xs-left">
                                        <h2>
                                            Pin-Up Board - Share Your Ideas
                                        </h2>
                                        <a href="#!" class="btn_blue creat_pin text-center pull-right" onclick="getNewNoteView()">Create New</a>
                                    </div>

                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="gap_30"></div>
                        <div class="pad_lr-30 pin_wrap" id="noticeListDiv">
                            <ul class="nav nav-tabs" role="tablist" id="tabList">
                                <li role="presentation" class="private-board active" id="liPrivate"><a href="#" aria-controls="messages" role="tab" data-toggle="tab" onclick="setActiveTab('#PrivateDiv')">Private</a></li>
                                <li role="presentation" class="group-board" id="liGroup"><a href="#" aria-controls="profile" role="tab" data-toggle="tab" onclick="setActiveTab('#GroupDiv')">Group</a></li>
                                <li role="presentation" class="public-board" id="liPublic"><a href="#" aria-controls="home" role="tab" data-toggle="tab" onclick="setActiveTab('#PublicDiv')">Public</a></li>
                            </ul>
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane" id="PrivateDiv"></div>                              
                                <div role="tabpanel" class="tab-pane" id="GroupDiv"></div>                             
                                <div role="tabpanel" class="tab-pane" id="PublicDiv"></div>
                           </div>    
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="col-md-3 pinup-right bg_white-b" id="attachmentDiv">
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
</div>
