﻿@model IEnumerable<ReelaeDataAccessLayer.re_GetSingleChatBody_sp_Result>
@{
    var UserID = Session["UserId"] as int?;
    var curType = "text";
    bool isSent = false;
    bool isUnreadLabelCreated = false;
}
@helper GetFileExtention(string fileName)
{
int lastIndexOfDot = fileName.LastIndexOf('.');
string extension = fileName.Substring(lastIndexOfDot + 1, fileName.Length - lastIndexOfDot - 1).ToLower();
    @extension
}

@helper GetFileType(string type)
{
int lastIndexOfDot = type.LastIndexOf('.');
string extension = type.Substring(lastIndexOfDot + 1, type.Length - lastIndexOfDot - 1).ToLower();

if (extension == "pdf" || extension == "doc" || extension == "docx" || extension == "txt" || extension == "rtf" || extension == "zip" || extension == "rar")
{
        @:doc
    }
    else if (extension == "png" || extension == "jpg" || extension == "jpeg" || extension == "gif" || extension == "tif")
    {
        @:image
    }
    else if (extension == "mp3" || extension == "obb" || extension == "wave")
    {
        @:audio
    }
else if (extension == "mp4" || extension == "avi" || extension == "wmv" || extension == "flv")
{
        @:video
    }
    else
    {
        @:text
    }

}
@foreach (var item in Model)
{
    string addonClass = "";
    string downloadUrl = Url.Action("DownloadFile", "Chat", new { area = "" });
    string timeString = "";
    curType = (item.IsAttachment) ? GetFileType(item.MessageText).ToHtmlString().Trim() : "text";
    bool isUnreadMessages = item.IsRead == 0;

    if (item.FromUserID == UserID)
    {
        addonClass = " bubble_chat-alt white";
        isSent = true;
        timeString = "Delivered";
    }
    else
    {
        isSent = false;
        timeString = "Sent " + item.MessageDate.Value.ToShortTimeString();
    }

    if (isUnreadMessages && !isUnreadLabelCreated)
    {
        isUnreadLabelCreated = true;
        int? _count = ViewBag.UnreadMessagesCount as int?;
        if (_count.HasValue && _count.Value > 0)
        {
            <div class="clearfix"></div>
            <div class="time_bar unread" style="font-weight:bold;color:#000"><span>@(_count) Unread Messages</span></div>
            <div class="clearfix"></div>
        }
    }

    if (curType == "text")
    {
        <div msgToken="@item.MessageID" class="bubble_chat@(addonClass)">
            <i title="remove this message" class="material-icons cancel_chat">cancel</i>
            <p>@Html.Raw(item.MessageText)</p>
            <span class="time">@timeString</span>
        </div>
    }
    else if (curType == "image")
    {
        downloadUrl += "?" + string.Format("fP={0}&fN={1}", item.AttachmentURL, item.MessageText);
        <div msgToken="@item.MessageID" class="bubble_chat@(addonClass)">
            <i title="remove this message" class="material-icons cancel_chat">cancel</i>
            <a class="fileView" target="_blank" href="@Url.Content(downloadUrl)">
                <p><img src="@Url.Content(item.AttachmentURL)" alt="..." class="img-responsive"></p>
                <span class="time">@timeString</span>
            </a>
        </div>
    }
    else if (curType == "video")
    {
        downloadUrl += "?" + string.Format("fP={0}&fN={1}", item.AttachmentURL, item.MessageText);
        <div msgToken="@item.MessageID" class="bubble_chat@(addonClass)">
            <i title="remove this message" class="material-icons cancel_chat">cancel</i>
            <a class="fileView" target="_blank" href="@Url.Content(downloadUrl)">
                <p>
                    <video class="img-responsive" id="thumb">
                        <source src="@item.AttachmentURL" />
                    </video>
                    <span class="time">@timeString</span>
                </p>
            </a>
        </div>
    }
    else if (curType == "audio")
    {
        downloadUrl += "?" + string.Format("fP={0}&fN={1}", item.AttachmentURL, item.MessageText);
        <div msgToken="@item.MessageID" class="bubble_chat@(addonClass)">
            <i title="remove this message" class="material-icons cancel_chat">cancel</i>
            <a class="fileView" target="_blank" href="@Url.Content(downloadUrl)">
                <p>
                    <audio controls>
                        <source src="@item.AttachmentURL" />
                    </audio>
                    <span class="time">@timeString</span>
                </p>
            </a>
        </div>
    }
    else if (curType == "doc")
    {
        downloadUrl += "?" + string.Format("fP={0}&fN={1}", item.AttachmentURL, item.MessageText);
        var fileName = (item.MessageText.Length > 35) ? (item.MessageText.Substring(0, 32) + "...") : item.MessageText;

        <div msgToken="@item.MessageID" class="bubble_chat@(addonClass)">
            <i title="remove this message" class="material-icons cancel_chat">cancel</i>
            <p>
                <a title="@item.MessageText" class="fileView chat_attachment bg_org" target="_blank" href="@Url.Content(downloadUrl)">

                    <i class="material-icons">attachment</i> <span class="attachment_txt "> @fileName</span>
                </a>
                @*<a class="fileView" target="_blank" href="@Url.Content(downloadUrl)">
                        <div class="prod_box text-center">
                            <div class="prod_wrap bg_org slide">
                                <i class="material-icons file_icn">insert_drive_file</i>
                                <span class="file_type-txt">.xls</span>
                            </div>
                            <div class="prod_detail">
                                <span>
                                    @item.MessageText
                                </span>
                            </div>
                        </div>
                    </a>*@
            </p>
            <span class="time">@timeString</span>
        </div>
    }

}
