﻿@model ReelaeDataAccessLayer.re_getAssignmentWorkspaceContent_sp_Result

<div class="usereditwrap @ViewBag.userCls" sid="@Model.StudentID">
    <input type="hidden" name="lastUpdatedOn" value="@Model.ModifiedDate" />
    <input type="hidden" name="hdnUserSN" value="@(string.IsNullOrEmpty(ViewBag.useShortName)?Model.Name.ToUpper()[0]:ViewBag.useShortName)" />
    <input type="hidden" name="hdnUserPicUrl" value="@(string.IsNullOrEmpty(ViewBag.userPicUrl)?"":Url.Content(ViewBag.userPicUrl))" />
    <div class="col-md-2 userName">
        @Model.Name
        <br />
        <small>
            @(Model.WordCount ?? 0) / @ViewBag.PerWordsGoal
        </small>
    </div>
    <div class="col-md-10 editableCon">
        @if (string.IsNullOrEmpty(Model.Content))
        {
            <p placeholder>
                please enter assignment note here
            </p>
        }
        else
        {
            <p>
                @Html.Raw(Model.Content)
            </p>
        }
    </div>
</div>
