﻿
@{
    Layout = null;
    string Themeclass = "nav-md inner-dashboard " + Session["Theme"].ToString();
    string _curPage = ViewBag.PageHeading;
}
<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Student Dashboard</title>
    <link rel="shortcut icon" type="image/png" href="~/favicon.png" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
    <!--New Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i" rel="stylesheet">
    <!-- Bootstrap -->
    <link href="~/content/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/content/css/bootstrap-select.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- NProgress -->
    <link href="~/content/css/nprogress.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="~/content/css/green.css" rel="stylesheet">

    <!-- bootstrap-progressbar -->
    <link href="~/content/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
    <link href="~/content/css/switchery.min.css" rel="stylesheet">
    <!-- bootstrap-daterangepicker -->
    <link href="~/content/css/daterangepicker.css" rel="stylesheet">
    <link rel='stylesheet prefetch' href='https://cdn3.devexpress.com/jslib/17.1.7/css/dx.common.css'>
    <link rel='stylesheet prefetch' href='https://cdn3.devexpress.com/jslib/17.1.7/css/dx.light.css'>

    <!-- Custom Theme Style -->
    <link rel="stylesheet" href="@Url.Content("~/Content/css/jquery.mCustomScrollbar.min.css")">
    <link href="@Url.Content("~/Content/css/style-dash.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/css/media.css")" rel="stylesheet">
    @*<link href="@Url.Content("~/Content/css/autocomplete_style.css")" rel="stylesheet" />*@
    <link href="@Url.Content("~/Content/css/Loader.css")" rel="stylesheet" />
    <!--Custom Styles-->
    <link href="@Url.Content("~/Content/student/css/studentstyles.css")" rel="stylesheet" />
    <link href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" rel="stylesheet">
    <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.8/summernote.css" rel="stylesheet" />


    <style>
        .user_img .img-circle {
            max-height: 100px !important;
            height: 100%;
            min-height: 100%;
        }

        .autocomplete-suggestions {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            border: 1px solid #999;
            background: #FFF;
            cursor: default;
            overflow: auto;
            -webkit-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64);
            -moz-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64);
            box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64);
        }

        .autocomplete-suggestion {
            padding: 2px 5px;
            white-space: nowrap;
            overflow: hidden;
        }

        .autocomplete-no-suggestion {
            padding: 2px 5px;
        }

        .autocomplete-selected {
            background: #F0F0F0;
        }

        .autocomplete-suggestions strong {
            font-weight: bold;
            color: #000;
        }

        .autocomplete-group {
            padding: 2px 5px;
            font-weight: bold;
            font-size: 16px;
            color: #000;
            display: block;
            border-bottom: 1px solid #000;
        }

        .theme-sel-b .setup_icon {
            border-left: 0px solid #fff;
        }
    </style>
    @Scripts.Render("~/bundles/ajaxJS")

    @RenderSection("head", false)
</head>
<body class="@Themeclass">
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title">
                        <a href="@Url.Action("Dashboard", "Student", new { area = "Student" })">
                            @if (Session["Theme"].ToString() == "theme-sel-w")
                            {
                                <img src=@Url.Content("~/Content/images/logo-white.jpg")>
                            }
                            else
                            {
                                <img src=@Url.Content("~/Content/images/logo-theme.png")>
                            }
                        </a>
                    </div>
                    <div class="clearfix"></div>

                    <!-- menu profile quick info -->
                    <div class="profile clearfix"> &nbsp; </div>
                    <!-- /menu profile quick info -->

                    <br />

                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
                            <h3>Menu</h3>
                            <ul class="nav side-menu">
                                @*<li class="active"><a><i class="fa fa-home"></i> Main</a></li>*@
                                @if (_curPage == "Main")
                                {
                                    <li class="active">
                                        <a href="@Url.Action("Dashboard", "Student", new { area = "Student" })"><i class="fa fa-home"></i> Main</a>
                                    </li>
                                }
                                else
                                {
                                    <li>
                                        <a href="@Url.Action("Dashboard", "Student", new { area = "Student" })"><i class="fa fa-home"></i> Main</a>
                                    </li>
                                }
                                @if (_curPage == "Assignments")
                                {
                                    <li class="active">
                                        <a href="@Url.Action("Index", "Assignment", new { area = "Student" })"><i class="fa fa-suitcase"></i> Assignments</a>
                                    </li>
                                }
                                else
                                {
                                    <li>
                                        <a href="@Url.Action("Index", "Assignment", new { area = "Student" })"><i class="fa fa-suitcase"></i> Assignments</a>
                                    </li>
                                }
                                @if (_curPage == "Resource")
                                {
                                    <li class="active"><a href="@Url.Action("Index", "Resource", new { area = "Student" })"><i class="fa fa-file" aria-hidden="true"></i> Resource</a></li>
                                }
                                else
                                {
                                    <li><a href="@Url.Action("Index", "Resource", new { area = "Student" })"><i class="fa fa-file" aria-hidden="true"></i> Resource</a></li>
                                }
                                @if (_curPage == "Pin-Up Board")
                                {
                                    <li class="active">
                                        <a href="@Url.Action("Index", "PinUpBoard", new { area = "Student" })">
                                            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                 width="18px" height="18px" viewBox="0 0 984 984" style="enable-background:new 0 0 984 984;" xml:space="preserve">
<g>
<path d="M532.5,40c0-22.1-17.899-40-40-40c-22.1,0-40,17.9-40,40v32.7h80V40z" />
<path d="M971.1,189.6c0-33.1-26.9-60-60-60H72.9c-33.1,0-60,26.9-60,60v442.5c0,33.101,26.9,60,60,60h838.2c33.1,0,60-26.899,60-60
    V189.6z" />
<path d="M887,792c0-21-16.1-38.2-36.7-39.9c-1.1-0.1-2.199-0.1-3.3-0.1H721h-90.8h-97.7h-80h-98.7H262.9H137
    c-1.1,0-2.2,0.1-3.3,0.1C113.2,753.8,97,771,97,792c0,22.1,17.9,40,40,40h82.9l-50.1,93c-10.5,19.5-3.2,43.7,16.3,54.2
    c6,3.199,12.5,4.8,18.9,4.8c14.2,0,28-7.601,35.3-21l70.5-131H452.6v112c0,22.1,17.899,40,40,40c22.1,0,40-17.9,40-40V832h140.8
    l70.5,131c7.2,13.399,21,21,35.3,21c6.4,0,12.9-1.5,18.9-4.8c19.5-10.5,26.699-34.7,16.3-54.2l-50.101-93h82.9
    C869.1,832,887,814,887,792z" /></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g>
</svg>
                                            Pin-Up Board
                                        </a>
                                    </li>
                                }
                                else
                                {
                                    <li>
                                        <a href="@Url.Action("Index", "PinUpBoard", new { area = "Student" })">
                                            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                 width="18px" height="18px" viewBox="0 0 984 984" style="enable-background:new 0 0 984 984;" xml:space="preserve">
<g>
                                            <path d="M532.5,40c0-22.1-17.899-40-40-40c-22.1,0-40,17.9-40,40v32.7h80V40z" />
                                            <path d="M971.1,189.6c0-33.1-26.9-60-60-60H72.9c-33.1,0-60,26.9-60,60v442.5c0,33.101,26.9,60,60,60h838.2c33.1,0,60-26.899,60-60
    V189.6z" />
                                            <path d="M887,792c0-21-16.1-38.2-36.7-39.9c-1.1-0.1-2.199-0.1-3.3-0.1H721h-90.8h-97.7h-80h-98.7H262.9H137
    c-1.1,0-2.2,0.1-3.3,0.1C113.2,753.8,97,771,97,792c0,22.1,17.9,40,40,40h82.9l-50.1,93c-10.5,19.5-3.2,43.7,16.3,54.2
    c6,3.199,12.5,4.8,18.9,4.8c14.2,0,28-7.601,35.3-21l70.5-131H452.6v112c0,22.1,17.899,40,40,40c22.1,0,40-17.9,40-40V832h140.8
    l70.5,131c7.2,13.399,21,21,35.3,21c6.4,0,12.9-1.5,18.9-4.8c19.5-10.5,26.699-34.7,16.3-54.2l-50.101-93h82.9
    C869.1,832,887,814,887,792z" /></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g>
</svg>
                                            Pin-Up Board
                                        </a>
                                    </li>
                                }
                                @*<li><a href="javascript:void(0);"><i class="fa fa-comments-o" aria-hidden="true"></i> Pin Up Board</a></li>*@
                                <li class="@(_curPage=="Forum"?"active":"")">
                                    <a href="@Url.Action("Index", "Forum", new { area = "" })"><i class="material-icons">chat</i>Forum</a>
                                </li>
                                <li class="@(_curPage=="Milestones"?"active":"")"><a href="@Url.Action("Index", "MileStones", new { area = "Student" })"><i class="material-icons">flag</i> Milestones</a></li>
                                @if (_curPage == "Notice Board")
                                {
                                    <li class="active"><a href="@Url.Action("Index", "NoticeBoard", new { area = "Student" })"><i class="material-icons">desktop_mac</i> Notice Board</a></li>
                                }
                                else
                                {
                                    <li><a href="@Url.Action("Index", "NoticeBoard", new { area = "Student" })"><i class="material-icons">desktop_mac</i> Notice Board</a></li>
                                }
                                <li class="@(_curPage=="Message"?"active":"")">
                                    <a href="@Url.Action("Index", "Message", new { area = "Student" })"><i class="fa fa-comments-o"></i> Message</a>
                                </li>

                            </ul>
                        </div>
                    </div>
                    <!-- /sidebar menu -->

                </div>
            </div>
            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <nav>
                        <div class="nav toggle"> <a id="menu_toggle"><i class="fa fa-bars"></i></a> </div>
                        @*<div class="dis_in mrg_l-15 mrg_t-10 txt_dblue">
                                <h2>@ViewBag.PageHeading</h2>
                            </div>*@
                        <div id="dashboardClickEle" class="setup_icon" data-toggle="modal" data-target="#myModal">

                            @RenderSection("InstitueName", true)

                        </div>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="">
                                @RenderSection("UserProfile", true)
                                <ul class="dropdown-menu dropdown-usermenu pull-right">
                                    <li>@Html.ActionLink("Profile", "ProfileSetup", "UserProfile", new { area = "" }, null)</li>
                                    <li><a href="@Url.Action("LogOff","Home", new { area="" })"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
                                </ul>
                            </li>
                            <li role="presentation" class="dropdown"> <a href="javascript:;" class="dropdown-toggle info-number"> <i class="fa fa-bell-o" aria-hidden="true"></i> <span class="badge bg-noti">4</span> </a> </li>
                            <li role="presentation" class="dropdown"> <a href="javascript:;" class="dropdown-toggle info-number"> <i class="fa fa-comments-o" aria-hidden="true"></i> <span class="badge bg-chat">6</span> </a> </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- /top navigation -->
            <!-- page content -->
            @RenderBody()
            <!-- /page content -->
        </div>
    </div>
    <!--Scripts-->
    <div class="circle_loader" id="divLoader" style="display:none;">
        <div class="circle__item">
            <svg class="circle__spinner" viewBox="0 0 50 50">
                <circle class="path" cx="25" cy="25" r="20" fill="none" stroke="#93bfec" stroke-width="1"></circle>
            </svg>
        </div>
    </div>
    <!-- jQuery -->
    <script src="~/content/js/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="~/content/js/bootstrap.min.js"></script>
    <script src="~/content/js/bootstrap-select.min.js"></script>
    <!-- FastClick -->
    <!-- NProgress -->
    <script src="~/content/js/nprogress.js"></script>
    <!-- bootstrap-progressbar -->
    <script src="~/content/js/bootstrap-progressbar.min.js"></script>
    <!-- iCheck -->
    <script src="~/content/js/icheck.min.js"></script>
    <script src="~/content/js/jquery.tagsinput.js"></script>

    <!-- DateJS -->
    <script src="~/content/js/date.js"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="~/content/js/moment.min.js"></script>
    <script src="~/content/js/daterangepicker.js"></script>
    <script src="~/content/js/switchery.min.js"></script>
    <script src='https://cdn3.devexpress.com/jslib/17.1.7/js/dx.all.js'></script>
    <!-- Custom Theme Scripts -->
    <script src="~/content/js/custom.min.js"></script>
    <script src="@Url.Content("~/Content/Student/js/studentUtility.js")"></script>
    <script src="~/Content/js/jquery.autocomplete.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.8/summernote.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/js/bootstrap-multiselect.min.js"></script>
    <script src="~/Content/js/jquery.mCustomScrollbar.concat.min.js"></script>
    @RenderSection("ChattingJs", false)
    <script type="text/javascript">
        jQuery(function ($) {
            //$('.user_box.user_product a').click(function () {
            //init_daterangepicker_range();
            // });

            function init_daterangepicker_range() {
                if ("undefined" != typeof $.fn.daterangepicker) {
                    console.log("init_daterangepicker_range");
                    var a = function (a, b, c) {
                        console.log(a.toISOString(), b.toISOString(), c), $("#reportrange2 span").html(a.format("MMMM D, YYYY") + " - " + b.format("MMMM D, YYYY"))
                    },
                        b = {
                            startDate: moment().subtract(29, "days"),
                            endDate: moment(),
                            minDate: "01/01/2012",
                            maxDate: "12/31/2015",
                            dateLimit: {
                                days: 60
                            },
                            showDropdowns: !0,
                            showWeekNumbers: !0,
                            timePicker: !1,
                            timePickerIncrement: 1,
                            timePicker12Hour: !0,
                            ranges: {
                                Today: [moment(), moment()],
                                Yesterday: [moment().subtract(1, "days"), moment().subtract(1, "days")],
                                "Last 7 Days": [moment().subtract(6, "days"), moment()],
                                "Last 30 Days": [moment().subtract(29, "days"), moment()],
                                "This Month": [moment().startOf("month"), moment().endOf("month")],
                                "Last Month": [moment().subtract(1, "month").startOf("month"), moment().subtract(1, "month").endOf("month")]
                            },
                            opens: "left",
                            buttonClasses: ["btn btn-default"],
                            applyClass: "btn-small btn-primary",
                            cancelClass: "btn-small",
                            format: "MM/DD/YYYY",
                            separator: " to ",
                            locale: {
                                applyLabel: "Submit",
                                cancelLabel: "Clear",
                                fromLabel: "From",
                                toLabel: "To",
                                customRangeLabel: "Custom",
                                daysOfWeek: ["Su", "Mo", "Tu", "We", "Th", "Fr", "Sa"],
                                monthNames: ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"],
                                firstDay: 1
                            }
                        };
                    $("#reportrange2 span").html(moment().subtract(29, "days").format("MMMM D, YYYY") + " - " + moment().format("MMMM D, YYYY")), $("#reportrange2").daterangepicker(b, a), $("#reportrange2").on("show.daterangepicker", function () {
                        console.log("show event fired")
                    }), $("#reportrange2").on("hide.daterangepicker", function () {
                        console.log("hide event fired")
                    }), $("#reportrange2").on("apply.daterangepicker", function (a, b) {
                        console.log("apply event fired, start/end dates are " + b.startDate.format("MMMM D, YYYY") + " to " + b.endDate.format("MMMM D, YYYY"))
                    }), $("#reportrange2").on("cancel.daterangepicker", function (a, b) {
                        console.log("cancel event fired")
                    }), $("#options1").click(function () {
                        $("#reportrange2").data("daterangepicker").setOptions(b, a)
                    }), $("#options2").click(function () {
                        $("#reportrange2").data("daterangepicker").setOptions(optionSet2, a)
                    }), $("#destroy").click(function () {
                        $("#reportrange2").data("daterangepicker").remove()
                    })
                }
            }

            // /////
            // MAD-SELECT
            var madSelectHover = 0;
            $(".mad-select").each(function () {
                var $input = $(this).find("input"),
                    $ul = $(this).find("> ul"),
                    $ulDrop = $ul.clone().addClass("mad-select-drop");
                $(this)
                  .append('<i class="fa fa-chevron-down" aria-hidden="true"></i>', $ulDrop)
                  .on({
                      hover: function () { madSelectHover ^= 1; },
                      click: function () { $ulDrop.toggleClass("show"); }
                  });
                // PRESELECT
                $ul.add($ulDrop).find("li[data-value='" + $input.val() + "']").addClass("selected");
                // MAKE SELECTED
                $ulDrop.on("click", "li", function (evt) {
                    evt.stopPropagation();
                    $input.val($(this).data("value")); // Update hidden input value
                    $ul.find("li").eq($(this).index()).add(this).addClass("selected")
                      .siblings("li").removeClass("selected");
                });
                // UPDATE LIST SCROLL POSITION
                $ul.on("click", function () {
                    var liTop = $ulDrop.find("li.selected").position().top;
                    $ulDrop.scrollTop(liTop + $ulDrop[0].scrollTop);
                });
            });;
            // CLOSE ALL OPNED
            $(document).on("mouseup", function () {
                if (!madSelectHover) $(".mad-select-drop").removeClass("show");
            });

            if (gInfo) {
                gInfo.LogoutUrl = '@Url.Action("LogOff","Home",new { area="" })';
            }
            //onresize
            window.onresize = setContainersHeight;
        });

        // MAD-SELECT
        function initMadSelect(containerEle, putDisable) {
            containerEle.each(function () {
                var $input = $(this).find("input"),
                    $ul = $(this).find("> ul"),
                    $ulDrop = $ul.clone().addClass("mad-select-drop");
                $(this)
                  .append('<i class="fa fa-chevron-down" aria-hidden="true" style="cursor:pointer"></i>', $ulDrop)
                  .on({
                      hover: function () { madSelectHover ^= 1; },
                      click: function () {
                          if (!putDisable)
                              $ulDrop.toggleClass("show");
                      }
                  });
                // PRESELECT
                $ul.add($ulDrop).find("li[data-value='" + $input.val() + "']").addClass("selected");
                // MAKE SELECTED
                $ulDrop.on("click", "li", function (evt) {
                    evt.stopPropagation();
                    $input.val($(this).data("value")); // Update hidden input value
                    $ul.find("li").eq($(this).index()).add(this).addClass("selected")
                      .siblings("li").removeClass("selected");
                });
                // UPDATE LIST SCROLL POSITION
                if (!putDisable) {
                    $ul.on("click", function () {
                        var liTop = $ulDrop.find("li.selected").position().top;
                        $ulDrop.scrollTop(liTop + $ulDrop[0].scrollTop);
                    });
                }
            });
        }
    </script>
    <script>
        (function ($) {
            $(window).on("load", function () {
                $(".notice_content_wrap").mCustomScrollbar({
                    theme: "dark-3",
                    autoHideScrollbar: true
                });
            });
        })(jQuery);
    </script>
    @RenderSection("PageScript", false)
    @RenderSection("RTAssignmentJs", false)
    <!--Modals Container Divs -->
    <div id="noticeCommentdiv"></div>
    <div id="noteDiv"></div>
    <div id="newtopicDiv"></div>
    <div id="resourceViewDescriptionDiv"></div>
    <div id="editComment"></div>
    <div id="markDoneMilestone"></div>

    <div class="modal" id="genericAlertBox" style="z-index:1111111111 !important" tabindex="-1" role="dialog" aria-labelledby="genericAlertBoxModalLabel">
        <div class="modal-dialog" role="document" style="width:420px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="btnCloseModal"><i class="material-icons">clear</i></button>
                    <h4 class="modal-title" style="color:#fff" id="genericAlertBoxModalLabel">Alert Message</h4>
                </div>
                <div class="modal-body">
                    <div class="col-sm-10 col-sm-offset-1" style="margin: 0 auto; float: none;">
                        <p class="popup_txt" style="text-align: center;font-weight: 600;">Perfect! Now teacher can interact with students attendance in his dashboard.</p>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <div class="modal" id="removeConfirmationModalBox" tabindex="-1" role="dialog" aria-labelledby="removeConfirmationModalBoxLabel">
        <div class="modal-dialog" role="document" style="width:500px;">
            <div class="modal-content" style="width:500px;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="material-icons">clear</i></button>
                    <h4 class="modal-title" id="removeConfirmationModalBoxLabel">Alert Message</h4>
                </div>
                <div class="modal-body">
                    <div class="col-sm-10 col-sm-offset-1" style="margin: 0 auto; float: none;">
                        <p class="popup_txt" style="text-align: center;font-weight: 600;word-wrap: break-word;"><span id="message"></span></p>
                    </div>
                </div>
                <div class="clearfix"></div>
                <a href="#!" id="submitAlert" class="modal-footer">
                    Yes
                    <div class="clearfix"></div>
                </a>
            </div>
        </div>
    </div>
</body>
</html>
