﻿@model Reelae.Models.UserViewModel

@*@model Reelae.Models.RegisterViewModel*@

<div class="modal" id="addUserModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <input type="hidden" id="userRole" value="" />
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="material-icons">clear</i></button>
                <h4 class="modal-title">@ViewBag.Role</h4>
            </div>
            <div class="modal-body">
                <div class="col-sm-10 col-sm-offset-1" style="margin: 0 auto; float: none;">
                    <div class="form-group">
                        <label for="userEmail">Email</label>
                        <div class="clearfix"></div>
                        <input type="text" class="form-control brd_radius-4" name="userEmail" id="userEmail" placeholder="Type your Email">
                    </div>
                    <div class="gap_20"></div>
                    <div class="form-group">
                        <label for="userName">Name</label>
                        <div class="clearfix"></div>
                        <input type="text" class="form-control brd_radius-4" id="userName" name="userName" placeholder="Type your Name">
                    </div>
                    <div class="gap_20"></div>
                    <div class="form-group">
                        <label for="userPassword">Password</label>
                        <div class="clearfix"></div>
                        <input type="text" class="form-control brd_radius-4" id="userPassword" name="userPassword" placeholder="Type your Password">
                    </div>
                    <div class="gap_20"></div>
                    <div class="form-group">
                        <label for="userConPassword">Confirm Password</label>
                        <div class="clearfix"></div>
                        <input type="text" class="form-control brd_radius-4" id="userConPassword" name="userConPassword" placeholder="Confirm Your Password">
                    </div>
                </div>
            </div>
            <a href="#!" onclick="addUserByInstitution('@Url.Action("")')" data-toggle="modal" data-target="#addUserModal" class="modal-footer">
                Submit
                <div class="clearfix"></div>
            </a>
            <div class="clearfix"></div>
        </div>
    </div>
</div>



