﻿@model IEnumerable<ReelaeDataAccessLayer.re_getStudentAssignment_sp_Result>
@{
//var studentAssignmentList = Model.ToList();
//var CurrentDate = System.DateTime.Now;
}
<script type="text/javascript">
    @*arrayStudentAssignments =@Html.Raw(Json.Encode(studentAssignmentList.Select(r => new { value =  r.AssignmentName }).ToList()))*@
</script>

<style>
    .dataTables_wrapper, .dataTables_wrapper, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate {
        display: block;
    }

    .dataTables_length {
        display: none;
    }

    .width_130 {
        width: 130px;
    }

 .dataTable > thead > tr > th[class*="sort"]:after{
    content: "" !important;
}
</style>
@*<input type="hidden" id="gridRowCount" value="@studentAssignmentList.Count" />*@
<div class="pad_lr-30 assignment-grid_tbl">
    <div class="x_panel">
        <div class="x_content">
            <div class="table-responsive">
                <table class="table" id="studentAssignmentGrid">
                    <thead>
                        <tr>
                            <th>Assignment</th>
                            <th>Open Date</th>
                            <th>Due Date</th>
                            <th>Leader</th>
                            <th>Group</th>
                            <th>Status</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>

                </table>
            </div>
        </div>
    </div>
</div>