﻿@model Reelae.Areas.Student.Models.StudentAssignmentViewModal
@{
    ViewBag.Title = "Student Assignment";
    Layout = "~/Areas/Student/Views/Shared/_StudentLayout.cshtml";
    var userinfo = Model._userinfo;
    var CurrentDate = DateTime.Now;
}
@section head{
    <script src="@Url.Content("~/Content/Student/js/assignment.js")"></script>
}
@section InstitueName{
    @Html.Partial("~/Areas/Admin/Views/Shared/_InstituteSetupHeader.cshtml", userinfo)
}
@section UserProfile{
    <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
        @if (userinfo != null && userinfo.UserPicUrl != null)
        {
            <img src="@Url.Content(userinfo.UserPicUrl)" alt="" />
        }
        Hello, @Reelae.Utilities.CommonUtility.ToTitleCase(Session["Name"].ToString().ToLower()) <span class="fa fa-angle-down"></span>
    </a>

}
<!-- page content -->
<div class="right_col pd_l-0 height_vh t_view_sub" role="main">
    <div class="">
        <div class="col-md-12 col-xs-12 pull-right">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 mrg_t_10 mob-mrg">
                    <div class="dashboard_graph pd_b-0 brd_bottom">
                        <div class="row x_title mrb_b-0">
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="group select_2 tbl_select head_drop">
                                    
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12 text-center lh_30 txt_l-blue xs-left">
                                @*3 Submissions*@
                                <span id="count"></span> Assignments
                            </div>

                            <div class="col-md-4 col-sm-6 col-xs-12 text-right xs-left">
                                <div class="search_top">
                                    @*<a onclick="getsearchCreateAssignment()" style="cursor:pointer;"><i class="material-icons">search</i></a>
                                    <input type="text" name="" placeholder="Search assignments..." id="autocompleteCreateAssignment" autocomplete="off" onkeypress="searchCreateAssignment(event)">*@
                                    <a style="cursor:default;"><i class="material-icons">search</i></a>
                                    <input type="text" name="" placeholder="Search assignments..." id="autocompleteCreateAssignment" autocomplete="off">
                                </div>
                            </div>
                           

                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="gap_30"></div>
                <div id="gridResult">

                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<div class="clearfix"></div>

<script>
    $(function () {
        assignmentStudentGrid(0);
    });
    function callGroupFilter(id) {
        assignmentStudentGrid(id);
    }

</script>
