﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reelae</title>
    <link rel="shortcut icon" type="image/png" href="~/favicon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet" />
    <!--New Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i" rel="stylesheet">
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/css/media.css">
    <link href="@Url.Content("~/Content/css/Loader.css")" rel="stylesheet" />
    <style type="text/css">
        .message {
          color:  #a94442;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="col-md-12 wrap">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><img src="@Url.Content("~/Content/images/logo.jpg")" alt="Logo"></a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav pull-right">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#about">Pricing</a></li>
                    <li><a href="#contact">About Us</a></li>
                    <li>@Html.ActionLink("Login", "login", "Home", new { id = "l" }, null)</li>
                    <li>@Html.ActionLink("Sign Up", "login", "Home", new { id = "s" }, null)</li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>
    <div class="container wrap mt-50">
        @RenderBody()
    </div>

    <div class="circle_loader" id="divLoader" style="display:none;">
        <div class="circle__item">
            <svg class="circle__spinner" viewBox="0 0 50 50">
                <circle class="path" cx="25" cy="25" r="20" fill="none" stroke="#93bfec" stroke-width="1"></circle>
            </svg>
        </div>
    </div>
    <!--Generic Alert Box-->
    <div class="modal" id="genericAlertBox" tabindex="-1" role="dialog" aria-labelledby="genericAlertBoxModalLabel">
        <div class="modal-dialog" role="document" style="width:420px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="btnCloseModal"><i class="material-icons">clear</i></button>
                    <h4 class="modal-title" style="color:#fff" id="genericAlertBoxModalLabel">Alert Message</h4>
                </div>
                <div class="modal-body">
                    <div class="col-sm-10 col-sm-offset-1" style="margin: 0 auto; float: none;">
                        <p class="popup_txt" style="text-align: center;font-weight: 600;">Perfect! Now teacher can interact with students attendance in his dashboard.</p>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!-- jQuery -->
    <script src="~/Content/js/jquery.min.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <!--Common Utility-->
    <script src="@Url.Content("~/Content/admin/js/adminutility.js")"></script>
    @RenderSection("custom_scripts", false)
</body>
</html>
