﻿@model IEnumerable<ReelaeDataAccessLayer.re_GetSingleChatBody_sp_Result>
@{
    var UserID = Session["UserId"] as int?;
    var curType = "text";
    bool isSent = false;
    bool isUnreadLabelCreated = false;
}
@helper GetFileExtention(string fileName)
{
int lastIndexOfDot = fileName.LastIndexOf('.');
string extension = fileName.Substring(lastIndexOfDot + 1, fileName.Length - lastIndexOfDot - 1).ToLower();
    @extension
}

@helper GetFileType(string type)
{
int lastIndexOfDot = type.LastIndexOf('.');
string extension = type.Substring(lastIndexOfDot + 1, type.Length - lastIndexOfDot - 1).ToLower();

if (extension == "pdf" || extension == "doc" || extension == "docx" || extension == "txt" || extension == "rtf" || extension == "zip" || extension == "rar")
{
        @:doc
    }
    else if (extension == "png" || extension == "jpg" || extension == "jpeg" || extension == "gif" || extension == "tif")
    {
        @:image
    }
    else if (extension == "mp3" || extension == "obb" || extension == "wave")
    {
        @:audio
    }
else if (extension == "mp4" || extension == "avi" || extension == "wmv" || extension == "flv")
{
        @:video
    }
    else
    {
        @:text
    }

}

<div class="row">
    <div class="col-md-9 chat_width wdt_m_250 pull-right">
        <div id="chatActiveUserArea" class="chat_box-heading">
        </div>
        <div id="chatMessageBox" class="chat_box-wrap col-md-12">
            @foreach (var item in Model)
            {
                string addonClass = "";
                string downloadUrl = Url.Action("DownloadFile", "Chat", new { area = "" });
                string timeString = "";
                curType = (item.IsAttachment) ? GetFileType(item.MessageText).ToHtmlString().Trim() : "text";
                bool isUnreadMessages = item.IsRead == 0;

                if (item.FromUserID == UserID)
                {
                    addonClass = " bubble_chat-alt white";
                    isSent = true;
                    timeString = "Delivered";
                }
                else
                {
                    isSent = false;
                    timeString = "Sent " + item.MessageDate.Value.ToShortTimeString();
                }

                if (isUnreadMessages && !isUnreadLabelCreated)
                {
                    isUnreadLabelCreated = true;
                    int? _count = ViewBag.UnreadMessagesCount as int?;
                    if (_count.HasValue && _count.Value > 0)
                    {
                        <div class="clearfix"></div>
                        <div class="time_bar unread" style="font-weight:bold;color:#000"><span>@(_count) Unread Messages</span></div>
                        <div class="clearfix"></div>
                    }
                }

                if (curType == "text")
                {
                    <div msgToken="@item.MessageID" class="bubble_chat@(addonClass)">
                        <i title="remove this message" class="material-icons cancel_chat">cancel</i>
                        <p>@Html.Raw(item.MessageText)</p>
                        <span class="time">@timeString</span>
                    </div>
                }
                else if (curType == "image")
                {
                    downloadUrl += "?" + string.Format("fP={0}&fN={1}", item.AttachmentURL, item.MessageText);
                    <div msgToken="@item.MessageID" class="bubble_chat@(addonClass)">
                        <i title="remove this message" class="material-icons cancel_chat">cancel</i>
                        <a class="fileView" target="_blank" href="@Url.Content(downloadUrl)">
                            <p><img src="@Url.Content(item.AttachmentURL)" alt="..." class="img-responsive"></p>
                            <span class="time">@timeString</span>
                        </a>
                    </div>
                }
                else if (curType == "video")
                {
                    downloadUrl += "?" + string.Format("fP={0}&fN={1}", item.AttachmentURL, item.MessageText);
                    <div msgToken="@item.MessageID" class="bubble_chat@(addonClass)">
                        <i title="remove this message" class="material-icons cancel_chat">cancel</i>
                        <a class="fileView" target="_blank" href="@Url.Content(downloadUrl)">
                            <p>
                                <video class="img-responsive" id="thumb">
                                    <source src="@item.AttachmentURL" />
                                </video>
                                <span class="time">@timeString</span>
                            </p>
                        </a>
                    </div>
                }
                else if (curType == "audio")
                {
                    downloadUrl += "?" + string.Format("fP={0}&fN={1}", item.AttachmentURL, item.MessageText);
                    <div msgToken="@item.MessageID" class="bubble_chat@(addonClass)">
                        <i title="remove this message" class="material-icons cancel_chat">cancel</i>
                        <a class="fileView" target="_blank" href="@Url.Content(downloadUrl)">
                            <p>
                                <audio controls>
                                    <source src="@item.AttachmentURL" />
                                </audio>
                                <span class="time">@timeString</span>
                            </p>
                        </a>
                    </div>
                }
                else if (curType == "doc")
                {
                    downloadUrl += "?" + string.Format("fP={0}&fN={1}", item.AttachmentURL, item.MessageText);
                    var fileName = (item.MessageText.Length > 35) ? (item.MessageText.Substring(0, 32) + "...") : item.MessageText;

                    <div msgToken="@item.MessageID" class="bubble_chat@(addonClass)">
                        <i title="remove this message" class="material-icons cancel_chat">cancel</i>
                        <p>
                            <a title="@item.MessageText" class="fileView chat_attachment bg_org" target="_blank" href="@Url.Content(downloadUrl)">

                                <i class="material-icons">attachment</i> <span class="attachment_txt "> @fileName</span>
                            </a>
                        </p>
                        <span class="time">@timeString</span>
                    </div>
                }
            }
        </div>
        <div class="clearfix"></div>
        <div class="chat_bottom-wrap">
            <textarea id="chatInputArea" class="form-control"></textarea>
            <div class="txt-ar-content">
                <div class="ar_block"> <i class="fa fa-folder-open-o" aria-hidden="true"></i><a href="#" class="browseButton"> Add files</a></div>
                <div class="ar_block brd-none smiley_wrap">
                    <a id="addSmiliesLnk" href="#" data-toggle="popover" data-placement="top" data-html="true" data-content='<div class="smiley-box"><img title=":ang" src="/content/emoticons/angel.png"><img title=":aln" src="/content/emoticons/alien1.png"><img title=":thk" src="/content/emoticons/tease.png"><img title=":slp" src="/content/emoticons/angry.png"><img title=":blnk" src="/content/emoticons/blanco.png"><img title=":zip" src="/content/emoticons/zip_it.png"><img title=":bor" src="/content/emoticons/boring.png"><img title=":bsy" src="/content/emoticons/busy.png"><img title=":tp" src="/content/emoticons/clock.png"><img title=":cool" src="/content/emoticons/cool.png"><img title=":czy" src="/content/emoticons/crazy.png"><img title=":cry" src="/content/emoticons/cry.png"><img title=":blush" src="/content/emoticons/blush.png"><img title=":stop" src="/content/emoticons/dnd.png"><img title=":flwr" src="/content/emoticons/flower.png"><img title=":heart" src="/content/emoticons/heart.png"><img title=":geek" src="/content/emoticons/geek.png"><img title=":gift" src="/content/emoticons/gift.png"><img title=":ill" src="/content/emoticons/ill.png"><img title=":love" src="/content/emoticons/in_love.png"><img title=":file" src="/content/emoticons/text_file.png"><img title=":kiss" src="/content/emoticons/kissy.png"><img title=":laugh" src="/content/emoticons/laugh.png"><img title=":mail" src="/content/emoticons/mail.png"><img title=":music2" src="/content/emoticons/music2.png"><img title=":whst" src="/content/emoticons/not_guilty.png"><img title=":please" src="/content/emoticons/please.png"><img title=":info" src="/content/emoticons/info.png"><img title=":sad" src="/content/emoticons/sad.png"><img title=":silly" src="/content/emoticons/silly.png"><img title=":slps" src="/content/emoticons/speechless.png"><img title=":srpd" src="/content/emoticons/surprised.png"><img title=":music1" src="/content/emoticons/music1.png"><img title=":wink" src="/content/emoticons/wink.png"><img title=":grin" src="/content/emoticons/xd.png"></div>'><i class="fa fa-smile-o" aria-hidden="true"></i>Add Smilies</a>
                </div>
                <div class="ar_block">
                    <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
                    <a class="" style="cursor:pointer;" id="chatSendBtn">Send</a>
                </div>
                <div id="chkSent" class="ar_block brd-none pull-right" style="color: #000;font-weight: bold;"> Press Enter to send <i class="fa fa-check-square-o fa-square-o mrg_left-5" aria-hidden="true"></i> </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>



