﻿@model  Reelae.Models.ChangePasswordViewModel
@using (Ajax.BeginForm("ChangePassword", "UserProfile", new AjaxOptions { HttpMethod = "Post", OnSuccess = "onPasswordSucess", OnFailure = "onPasswordFailure", OnBegin = "return ValidateFields();" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })


    <div class="form-group">
        <label for="Email">Current Password</label>
        @Html.PasswordFor(model => model.OldPassword, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label for="Email">New password</label>
        @Html.PasswordFor(model => model.NewPassword, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label for="Email">Confirm new password</label>
        @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control" })
    </div>
    @*<input type="button" class="button_blue" onclick="ValidateFields();" value="Change Password" />
        <input id="submitChangePasword" style="display:none;" type="submit" data-toggle="modal" class="modal-footer" value="" />*@
    <div class="clearfix"></div>
    @*<input value="Submit" class="button_blue button_100" type="submit" />*@
    <input type="submit" value="Submit" class="button_blue col-sm-6 width_2-btn marg_l-20">
    @Html.ActionLink("Cancel", "Cancel", "", new { @class = "button_blue btn_no col-sm-6 width_2-btn pull-right marg_r-20" })
}
