﻿@model ReelaeDataAccessLayer.User
@using (Ajax.BeginForm("SaveProfile", "UserProfile", new AjaxOptions { HttpMethod = "Post", OnSuccess = "onProfileSucess", OnFailure = "onProfileFailure", OnBegin = "return ValidateProfileFields();" },new { @id="divUserProfile" }))
{
    <div class="logo_wrapper">
        <div class="upload_logo">
            @if (Model.UserPicUrl != null)
            {
                <img src="@Url.Content(Model.UserPicUrl)" alt="..." class="img-responsive" id="imgUserPic">

            }
            else
            {
                <img src="" alt="..." class="img-responsive" id="imgUserPic">

            }
        </div>
        <div class="hiddenfile">
            <input name="upload" type="file" id="FileUpload1" onchange="UploadPic();" />
        </div>
        @Html.HiddenFor(model => model.UserPicUrl)
        @Html.HiddenFor(model => model.UserID)
        <a href="#!" class="gr_btn brd_radius-4" onclick="triggerFileUpload()">Upload New</a>
        <a href="#!" class="red_btn brd_radius-4" onclick="DeletePic()">Delete</a>
    </div>
    <div class="clearfix"></div>
    <div class="gap_30"></div>
    <div class="form-group">
        <label>Name</label><span style="color:red;font-size: 12px;">*</span>
        <div class="clearfix"></div>
        @Html.TextBoxFor(model => model.Name, new { maxlength = "25", @class = "form-control brd_radius-4", onchange = "onChangeValidate(this)" })
    </div>
    <div class="gap_20"></div>
    <div class="form-group">
        <label>Surname</label>
        <div class="clearfix"></div>
        @Html.TextBoxFor(model => model.Surname, new { maxlength = "25", @class = "form-control brd_radius-4", onchange = "onChangeValidate(this)" })
    </div>
    <div class="gap_20"></div>
    <div class="form-group">
        <label>Email</label>
        <div class="clearfix"></div>
        @Html.TextBoxFor(model => model.Email, new { maxlength = "256", @class = "form-control brd_radius-4", onchange = "onChangeValidate(this)" })
    </div>
    <div class="gap_20"></div>
    <div class="form-group">
        <label>Location</label>
        <div class="clearfix"></div>
        @Html.TextBoxFor(model => model.Location, new { maxlength = "50", @class = "form-control brd_radius-4" , onchange = "onChangeValidate(this)" })
    </div>
    <div class="gap_20"></div>
    <div class="form-group">
        <label>Website</label>
        <div class="clearfix"></div>
        @Html.TextBoxFor(model => model.Website, new { maxlength = "256", @class = "form-control brd_radius-4" , onchange = "onChangeValidate(this)" })
        <span style="color:red;font-size: 12px;">*Website should contain "http://" or "https://"</span>
    </div>
    <div class="gap_20"></div>
    <div class="form-group">
        <label>Bio</label>
        <div class="clearfix"></div>
        @*@Html.TextAreaFor(model => model.BIO, new { @class = "form-control brd_radius-4" })*@
        <textarea class="form-control brd_radius-4" cols="20" id="BIO" name="BIO" rows="6" maxlength = "150" onchange="onChangeValidate(this)" style="resize: none;">@Model.Bio</textarea>
    </div>
    <div class="gap_20"></div>
    @*<a href="#!" class="bottom_btn mrg-lbr-20">Save Changes</a>*@
    <input type="submit" value="Save Changes" class="button_blue col-sm-6 width_2-btn marg_l-20">
    @Html.ActionLink("Cancel", "Cancel", "", new { @class = "button_blue btn_no col-sm-6 width_2-btn pull-right marg_r-20" })
    <div class="clearfix"></div>
}
