﻿@model IEnumerable<ReelaeDataAccessLayer.NoticeBoardFile>
@using Reelae.Utilities
@{
    var _files = Model.ToList();
}
<div class="modal" id="noticeFilesModal" tabindex="-1" role="dialog" aria-labelledby="noticeFilesModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="material-icons">clear</i></button>
                <h4 class="modal-title" id="commentLabel">Attached Files</h4>
            </div>
            <div class="modal-body">
                @if (_files != null && _files.Count() > 0)
                {

                    <table class="table table-striped" style="margin-bottom: 10px;" id="tblFile">
                        <thead>
                            <tr>
                                <th style="vertical-align:top;width:40%">Name</th>
                                <th style="vertical-align:top;width:20%">Type</th>
                                <th style="vertical-align:top;width:20%">Size</th>
                                <th style="vertical-align:top;width:20%"></th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var _file in _files)
                            {
                                string _fileType = _file.FileType;
                                if (_file.FileType.Contains("octet-stream"))
                                {
                                    _fileType = ".zip";
                                }
                                else if (_file.FileType.Contains("sheet"))
                                {
                                    _fileType = "sheet";
                                }
                                else if (_file.FileType.Contains("application"))
                                {
                                    _fileType = "document";
                                }
                                string fileSize = Convert.ToString(Math.Round(Convert.ToDouble(_file.FileSize) / 1024 / 1024, 2));

                                <tr>
                                    <td>
                                        <a href="@Url.Content(_file.FileUrl)" target="_blank">
                                            @_file.FileName
                                        </a>
                                    </td>
                                    <td>@_fileType</td>
                                    <td>@fileSize MB</td>
                                    <td class="text-right">
                                        <a href="#!" data-toggle="modal" data-target="#" class="btn_blue mml-0 min_w-155 text-center" onclick="deleteNoticeFileConfirmation (@_file.NoticeBoardFileId,'@_file.FileName',@_file.NoticeBoardId,'@_file.FileUrl')">
                                            <span style="vertical-align:top;">Remove</span> <i class="material-icons">delete</i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <div class="col-sm-10 col-sm-offset-1" style="margin: 0 auto; float: none;">
                        <p class="popup_txt" style="text-align: center;font-weight: 600;">No files are attached.</p>
                    </div>
                }
            </div>
            <a href="#!" class="modal-footer">
                Close
                <div class="clearfix"></div>
            </a>
            <input type="hidden" value="@_files.Count()" id="hdn_totalFiles" />
        </div>
    </div>
</div>
