﻿@model IEnumerable<ReelaeDataAccessLayer.StudentNoticeBoardAction>
@using Reelae.Utilities
@{
    var _allComments = Model.ToList();
}
<div class="modal" id="comment" tabindex="-1" role="dialog" aria-labelledby="commentLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="material-icons">clear</i></button>
                <h4 class="modal-title" id="commentLabel">All Comments</h4>
            </div>
            <div class="modal-body">
                @if (_allComments != null && _allComments.Count > 0)
                {
                    foreach (var _comment in _allComments)
                    {
                        TimeSpan span = DateTime.Now.Subtract(_comment.CreatedDate);
                        string picSrc = Url.Content("~/Content/images/student.jpg");
                        string _time = CommonUtility.getTimeDuration(span.Minutes);

                        if (_comment.User.UserPicUrl != null && _comment.User.UserPicUrl != "")
                        {
                            picSrc = Url.Content(_comment.User.UserPicUrl);
                        }
                        <div class="notice_bottom">
                            <ul class="list-unstyled top_profiles scroll-view">
                                <li class="media event">
                                    <a href="javascript:;" class="user-profile pull-left">
                                        <img src="@picSrc" alt="">
                                    </a>
                                    <div class="media-body">
                                        <span class="user_name-span">
                                            <a class="title" href="#">@_comment.User.Name</a>
                                            <div class="clearfix"></div>
                                            <p> <small class="txt_lgry">@_time Ago</small> </p>
                                        </span>

                                        <span class="user_icon-span">
                                            <i class="material-icons delete_icn" onclick="RemoveCommentConfirmation(@_comment.NoticeBoardActionID)" title="Remove Comment">delete</i>
                                        </span>

                                    </div>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                            <p>@_comment.Content</p>

                        </div>
                    }
                }
                else
                {
                    <span>No Comments</span>
                }
                <div class="clearfix"></div>
            </div>
            <a href="#!" class="modal-footer">
                Close
                <div class="clearfix"></div>
            </a>
        </div>
    </div>
</div>
