﻿@model Reelae.Areas.Admin.Models.NoticeBoardViewModel
@using Humanizer;
@{
    ViewBag.Title = "Notice Board";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    var _notices = Model.noticeBoard.ToList();
    var _user = Model._userinfo;
}
@section head{
    <script src="@Url.Content("~/Content/Admin/js/NoticeBoard.js")"></script>
    <style type="text/css">
        #tblNoticeBoard .dataTables_scrollHeadInner table tr th:nth-child(1), #tblMemberGrid_wrapper .dataTables_scrollBody table tr td:nth-child(1) {
            width: 20% !important;
            max-width: 20% !important;
            box-sizing: border-box;
        }

        #tblNoticeBoard .dataTables_scrollHeadInner table tr th:nth-child(2), #tblMemberGrid_wrapper .dataTables_scrollBody table tr td:nth-child(2) {
            width: 10% !important;
            max-width: 10% !important;
            box-sizing: border-box;
        }

        #tblNoticeBoard .dataTables_scrollHeadInner table tr th:nth-child(3), #tblMemberGrid_wrapper .dataTables_scrollBody table tr td:nth-child(3) {
            width: 10% !important;
            max-width: 10% !important;
            box-sizing: border-box;
        }

        #tblNoticeBoard .dataTables_scrollHeadInner table tr th:nth-child(4), #tblMemberGrid_wrapper .dataTables_scrollBody table tr td:nth-child(4) {
            width: 20% !important;
            max-width: 20% !important;
            box-sizing: border-box;
        }

        #tblNoticeBoard .dataTables_scrollHeadInner table tr th:nth-child(5), #tblMemberGrid_wrapper .dataTables_scrollBody table tr td:nth-child(5) {
            width: 10% !important;
            max-width: 10% !important;
            box-sizing: border-box;
        }

        #tblNoticeBoard .dataTables_scrollHeadInner table tr th:nth-child(6), #tblMemberGrid_wrapper .dataTables_scrollBody table tr td:nth-child(5) {
            width: 10% !important;
            max-width: 10% !important;
            box-sizing: border-box;
        }

        #tblNoticeBoard .dataTables_scrollHeadInner table tr th:nth-child(7), #tblMemberGrid_wrapper .dataTables_scrollBody table tr td:nth-child(5) {
            width: 10% !important;
            max-width: 10% !important;
            box-sizing: border-box;
        }


        .dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate {
            display: block;
        }

        #tblForum_filter input {
            border: none;
            font-weight: 400;
        }
    </style>
}
@section InstitueName{

    @Html.Partial("_InstituteSetupHeader", _user)

}
@section userProfile{
    <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
        @if (Model._userinfo.UserPicUrl != null && Model._userinfo.UserPicUrl != "")
        {
            <img src="@Url.Content(Model._userinfo.UserPicUrl)" alt="" />
        }
        Hello, @Reelae.Utilities.CommonUtility.ToTitleCase(@Session["Name"].ToString().ToLower().Trim()) <span class="fa fa-angle-down"></span>
    </a>

}
<div class="right_col pd_l-0 height_vh t_view_sub" role="main">
    <div class="">
        <div class="col-md-12 col-xs-12 pull-right">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 mrg_t_10 mob-mrg">
                    <div class="dashboard_graph pd_b-0 brd_bottom">
                        <div class="row x_title mrb_b-0">
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <h3>Forum</h3>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12 text-center lh_30 inn-lh_30 txt_l-blue xs-left">
                                <i class="material-icons fourm_heading-icon">chat</i>
                                @if (_notices != null)
                                {
                                    @_notices.Count()
                                }
                                else
                                {
                                    @: 0
                                }

                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12 text-right xs-left">
                                @*<div class="search_top">
                                        <i class="material-icons">search</i>
                                        <input type="text" name="" placeholder="Search members...">
                                    </div>*@
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="gap_30"></div>
                <div class="pad_lr-30">
                    <div class="x_panel" style="padding-bottom: 0px;">
                        <div class="x_content">
                            <div class="forum">
                                <table class="table table-striped" style="margin-bottom: 10px;" id="tblForum">
                                    <thead>
                                        <tr>
                                            <th style="vertical-align:top;width:20%">User</th>
                                            <th style="vertical-align:top;width:10%">Subject</th>
                                            <th style="vertical-align:top;width:10%">Content</th>
                                            <th style="vertical-align:top;width:20%">URL</th>
                                            <th style="vertical-align:top;width:10%"></th>
                                            <th style="vertical-align:top;width:10%"></th>
                                            <th style="vertical-align:top;width:10%"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (_notices != null && _notices.Count() > 0)
                                        {
                                            string[] URLs = null;
                                            foreach (var _notice in _notices)
                                            {
                                                if (_notice.url != null && _notice.url != "")
                                                {
                                                    URLs = _notice.url.Split(',');
                                                }
                                                <tr onclick="getEditMembersView(@_notice.User.UserID)">
                                                    <td>
                                                        @if (_notice.User != null)
                                                        {
                                                            <ul class="list-unstyled top_profiles scroll-view">
                                                                <li class="media event">
                                                                    <a href="javascript:;" class="user-profile pull-left" style="cursor:default">
                                                                        @if (_notice.User.UserPicUrl != null && _notice.User.UserPicUrl != "")
                                                                        {
                                                                            <img src="@Url.Content(_notice.User.UserPicUrl)" alt="...">
                                                                        }
                                                                        else
                                                                        {
                                                                            if (_notice.User.AspNetUser.AspNetRoles.First().Name == "Teacher")
                                                                            {
                                                                                <img src="@Url.Content("~/Content/images/teacher_small.jpg")" alt="">
                                                                            }
                                                                            else
                                                                            {
                                                                                <img src="@Url.Content("~/Content/images/student_small.jpg")" alt="">
                                                                            }
                                                                        }
                                                                    </a>
                                                                    <div class="media-body">
                                                                        <a class="title" href="#!" data-toggle="modal" data-target="#myModal11" style="display: inline-block;cursor:default">
                                                                            @_notice.User.Name
                                                                            <div class="clearfix"></div>
                                                                            <small class="txt_lgry">Created - @string.Format("{0} {1}", _notice.CreatedDate.Day.Ordinalize(), _notice.CreatedDate.ToString("MMM yyyy hh:mm tt"))</small>
                                                                            @if (_notice.ModifiedDate != null)
                                                                            {
                                                                                <div class="clearfix"></div>
                                                                                <small class="txt_lgry">Modified - @string.Format("{0} {1}", _notice.ModifiedDate.Value.Day.Ordinalize(), _notice.ModifiedDate.Value.ToString("MMM yyyy hh:mm tt"))</small>
                                                                            }
                                                                        </a>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                        }
                                                    </td>
                                                    <td>@_notice.Subject</td>
                                                    <td>@Html.Raw(_notice.Content)</td>
                                                    <td>
                                                        @if (URLs != null && URLs.Length > 0)
                                                        {
                                                            for (int ind = 0; ind < URLs.Length; ind++)
                                                            {
                                                                string LinkText = "Link " + (ind + 1) + " : ";
                                                                @LinkText
                                                                <a class="break_txt" href="@URLs[ind].ToString()" target="_blank">@URLs[ind].ToString()</a>
                                                            }
                                                        }
                                                        else
                                                        {

                                                            @:   No links

                                                        }
                                                    </td>
                                                    <td class="text-right">
                                                        <a href="#!" data-toggle="modal" data-target="#" class="btn_blue mml-0 min_w-155 text-center" onclick="RemoveNoticeConfirmation (@_notice.NoticeBoardID,'@_notice.Subject')">
                                                            <span>Remove</span> <i class="material-icons fourm_heading-icon">delete</i>
                                                        </a>
                                                    </td>
                                                    <td class="text-right">
                                                        <a id="btnfile_@_notice.NoticeBoardID" href="#!" data-toggle="modal" data-target="#" class="btn_blue mml-0 min_w-155 text-center  @(_notice.NoticeBoardFiles.Count()==0?"disable_btn":"")" onclick="@(_notice.NoticeBoardFiles.Count()>0?"getFiles("+_notice.NoticeBoardID+")":"")">
                                                            @_notice.NoticeBoardFiles.Count() Files
                                                            <i class="fa fa-paperclip" aria-hidden="true"></i>
                                                        </a>
                                                    </td>
                                                    <td class="text-right">
                                                        <a href="#!" data-toggle="modal" data-target="#" class="btn_blue mml-0 min_w-155 text-center @(_notice.StudentNoticeBoardActions.Count()==0?"disable_btn":"")" onclick="@(_notice.StudentNoticeBoardActions.Where(r=>r.Content!=null).Count()>0?"getComments("+_notice.NoticeBoardID+")":"")">
                                                            @_notice.StudentNoticeBoardActions.Where(r=>r.Content!=null).Count() Comments
                                                            <i class="fa fa-reply" aria-hidden="true"></i>
                                                        </a>
                                                    </td>
                                                </tr>

                                            }
                                        }
                                        else
                                        {
                                            <tr>
                                                <td colspan="4">
                                                    <label>No topics found.</label>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>