﻿@model ReelaeDataAccessLayer.MileStone
<div class="modal" id="milestoneStatusModelBox" tabindex="-1" role="dialog" aria-labelledby="milestoneStatusLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="material-icons">clear</i></button>
                <h4 class="modal-title" id="milestoneStatusLabel">@Model.MileStoneName</h4>
            </div>
            @using (Ajax.BeginForm("saveMilestoneStatus", "MileStones", new { area = "Student" }, new AjaxOptions { HttpMethod = "Post", OnSuccess = "onSaveStatusSucess", OnFailure = "", OnBegin = "" }))
            {
                <div class="modal-body">
                    @Html.HiddenFor(model => Model.MileStoneID)
                    <div class="col-sm-10 col-sm-offset-1" style="margin: 0 auto; float: none;">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Current Status</label><span style="color:red;font-size: 12px;">*</span>
                            <div class="clearfix"></div>
                            <div class="mad-select" style="margin-left:0px;width:300px;" id="StatusSelect">
                                <ul id="ddlStatus">
                                    <li data-value="2">In Progress</li>
                                    <li data-value="3">Done</li>
                                </ul>
                                @Html.HiddenFor(model => Model.MilesStoneStatus)
                            </div>
                        </div>
                        <div class="gap_20"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <input type="submit" value="SAVE" class="button_blue button_100">
            }
        </div>
    </div>
</div>
