﻿@model IEnumerable<ReelaeDataAccessLayer.MileStone>
@{
    var milestones = Model.ToList();
}
<div class="modal" id="markDoneModelBox" tabindex="-1" role="dialog" aria-labelledby="markDoneLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="material-icons">clear</i></button>
                <h4 class="modal-title" id="markDoneLabel">Mark Done</h4>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table jambo_table bulk_action mb_0">
                        <thead>
                            <tr class="headings">
                                <th class="bulk-actions" colspan="5"> <a class="antoo" style="color:#7f8fa4; font-weight:400;"> ( <span class="action-cnt"> </span> ) </a></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var milestone in milestones)
                            {
                                <tr class="even pointer">
                                    <td class="a-center "><input type="checkbox" class="flat" name="table_records"></td>
                                    <td class="name">@milestone.MileStoneName</td>

                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <input type="submit" value="SAVE" class="button_blue button_100">
            @Html.Hidden("hdn_count",milestones.Count())
        </div>
    </div>
</div>
