﻿@model Reelae.Areas.Student.Models.newMilestoneViewModel
@{
    var _members = Model.Memebers.ToList();
}
<div class="modal" id="newMilestoneModelBox" tabindex="-1" role="dialog" aria-labelledby="newMilestoneLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="material-icons">clear</i></button>
                <h4 class="modal-title" id="newMilestoneLabel">New Milestone For @ViewBag.AssignmentName</h4>
            </div>
            @using (Ajax.BeginForm("addNewMilestone", "MileStones", new { area = "Student" }, new AjaxOptions { HttpMethod = "Post", OnSuccess = "onMilestoneSucess", OnFailure = "onMilestoneFailure", OnBegin = "onMilestoneBegin" }))
            {
                <div class="modal-body">
                    @Html.Hidden("AssignmentDueDate")
                    @Html.HiddenFor(model => Model.milestone.MileStoneID)
                    <div class="col-sm-10 col-sm-offset-1" style="margin: 0 auto; float: none;">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Milestone Name</label><span style="color:red;font-size: 12px;">*</span>
                            <div class="clearfix"></div>
                            @Html.TextBoxFor(model => Model.milestone.MileStoneName, new { @class = "form-control brd_radius-4", id = "txt_name", placeholder = "Add milestone name here", maxlength = "100" })
                        </div>
                        <div class="gap_20"></div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Task Description</label><span style="color:red;font-size: 12px;">*</span>
                            <div class="clearfix"></div>
                            @Html.TextAreaFor(model => Model.milestone.TaskDescription, new { @class = "form-control brd_radius-4", id = "txt_descr", placeholder = "Add task description here", rows = "6", maxlength = "5000" })
                        </div>
                        <div class="gap_20"></div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Start Date</label><span style="color:red;font-size: 12px;">*</span>
                            <div class="clearfix"></div>
                            <div class="controls">
                                <div class="row">
                                    <div class="col-md-12 xdisplay_inputx form-group has-feedback">
                                        @Html.TextBoxFor(model => Model.milestone.StartDate, new { @class = "form-control brd_radius-4 has-feedback-left pop_date", id = "txt_sdate", aria_describedby = "spanAddSubjectStartDate" })
                                        <input name="hdn_StartDate" id="hdn_StartDate" type="hidden" value="@Model.milestone.StartDate" />
                                        <span class="fa fa-calendar form-control-feedback left" aria-hidden="true"></span>
                                        <span id="spanStartDate" class="sr-only">(success)</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Due Date</label><span style="color:red;font-size: 12px;">*</span>
                            <div class="clearfix"></div>
                            <div class="controls">
                                <div class="row">
                                    <div class="col-md-12 xdisplay_inputx form-group has-feedback">
                                        @Html.TextBoxFor(model => Model.milestone.endDate, new { @class = "form-control brd_radius-4 has-feedback-left pop_date", id = "txt_edate", aria_describedby = "spanAddSubjectStartDate" })
                                        <input name="hdn_DueDateTime" id="hdn_DueDateTime" type="hidden" value="@Model.milestone.endDate" />
                                        <span class="fa fa-calendar form-control-feedback left" aria-hidden="true"></span>
                                        <span id="spanDueDate" class="sr-only">(success)</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="gap_20"></div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Assign to</label><span style="color:red;font-size: 12px;">*</span>
                            <div class="clearfix"></div>
                            <div class="mad-select" style="margin-left:0px;width:300px;" id="MemberSelect">
                                <ul id="ddlMember">
                                    @foreach (var _member in _members)
                                    {
                                        <li data-value="@_member.MemberId"><a href="javascript:;" class="user-profile"> <img src="@(_member.UserPicUrl==null?Url.Content("~/Content/images/student.jpg"):Url.Content(_member.UserPicUrl))" alt="">@_member.NAME.Trim()</a></li>
                                    }
                                </ul>
                                @Html.HiddenFor(model => Model.milestone.StudentId)
                            </div>
                        </div>
                        @Html.HiddenFor(model=>Model.milestone.AssignmentID)
                        <div class="gap_20"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                    <input type="submit" value="SAVE" class="button_blue button_100">
            }
        </div>
    </div>
</div>
