﻿@model Reelae.Areas.Student.Models.MilestonesViewModel
@{
    ViewBag.Title = "Milestones";
    Layout = "~/Areas/Student/Views/Shared/_StudentLayout.cshtml";
    var _user = Model._userinfo;
    var _assignments = Model.assignments.ToList();
    string curAssignemnt = "0";
    if (_assignments != null && _assignments.Count() > 0)
    {
        curAssignemnt = Url.RequestContext.RouteData.Values["id"] != null ? Url.RequestContext.RouteData.Values["id"].ToString() : _assignments.First().AssignmentID.ToString();
    }
    int? _CurstudentId = Session["UserId"] as int?;


}
@section head{
    <script src="@Url.Content("~/content/Student/js/Milestones.js")"></script>
    <script>
        var _CurstudentId = '@_CurstudentId';
    </script>
    <style>
        .user-profile img {
            height: 22px;
            width: 22px;
            position: relative;
            top: -2px;
        }

        .mad-select li {
            height: 27px;
        }

        /*.dx-scheduler-timeline .dx-scheduler-header-panel-cell, .dx-scheduler-timeline .dx-scheduler-date-table-cell {
            width: 100px;
        }*/

        /*.dx-scheduler-header-panel-cell {
            width: 1400px !important;
        }*/
    </style>
}

@section InstitueName{
    @Html.Partial("~/Areas/Admin/Views/Shared/_InstituteSetupHeader.cshtml", _user)
}
@section UserProfile{
    <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
        @if (Model._userinfo.UserPicUrl != null && Model._userinfo.UserPicUrl != "")
        {
            <img src="@Url.Content(Model._userinfo.UserPicUrl)" alt="" />
        }
        Hello, @Reelae.Utilities.CommonUtility.ToTitleCase(Session["Name"].ToString().ToLower()) <span class="fa fa-angle-down"></span>
    </a>

}
<!-- page content -->
<div class="right_col pd_l-0 height_vh bg_white pd_b-0" role="main">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 mrg_t_10 mob-mrg">
            <div class="dashboard_graph pd_b-0 brd_bottom">
                <div class="row x_title mrb_b-0">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <h3 style="float:left; padding-right:10px;">Milestones</h3>
                        <div id="dateFilterEle" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #969696; border-radius: 4px;float:left;display:block">
                            <i class="glyphicon glyphicon-calendar fa fa-calendar"></i> <span></span> <b class="caret"></b>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6 col-xs-12 text-right xs-left pad_r25">
                        <div class="mad-select" style="margin-left:0px;width:200px;">
                            <ul id="ddlMember">
                                @if (_assignments != null && _assignments.Count() > 0)
                                {
                                    foreach (var _assignment in _assignments)
                                    {
                                        <li data-value="@_assignment.AssignmentID" onclick="milestone(@_assignment.AssignmentID)">@_assignment.AssignmentName</li>
                                    }
                                }
                                else
                                {
                                    <li data-value="0">No assignments yet</li>
                                }
                            </ul>
                            <input type="hidden" name="selAssignment" id="selAssignment" value="@curAssignemnt">
                        </div>
                        <a href="#!" class="btn_blue mml-0 min_w-155 text-center" onclick="getNewMilestoneView(@_assignments.Count())">+ Add Milestone</a>
                    </div>

                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="dx-viewport demo-container">
        <div id="scheduler"></div>
    </div>
    <div class="clearfix"></div>
</div>
<!-- /page content -->
