﻿@model IEnumerable<ReelaeDataAccessLayer.Assignment>
@{
    string[] BGC = { "s-bg-dblue", "s-bg-green", "s-bg-lblue", "s-bg-pink" };
}
<div id="divActiveAssignments" class="col-md-12 col-sm-12 col-xs-12 mrg_t-40">
    <div class="user_box user_product text-center bg_white">
        <div class="table-responsive">
            <table class="table table-hover tbl_left text-center mb_0 border_none">
                <thead>
                    <tr>
                        <th class="txt_black text-center">Active Assignments</th>
                    </tr>
                </thead>
            </table>
            <div class="col-md-12 pad-a-20 bg_light-2">
                <div class="row">
                    @if (Model.Count() > 0)
                    {
                        int cuIndex = 0;
                        foreach (var assignment in Model)
                        {
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="user_box user_product user_student text-center">
                                    <div class="user_img"> <div class="@(BGC[(cuIndex++)%3])"><img src="~/content/images/rocket.png" alt="..." class=""></div> </div>
                                    <div class="user_name text-left">
                                        <h3>@assignment.AssignmentName</h3>
                                        <div class="clearfix"></div>
                                        <div class="stu_detail">
                                            <span class="sm_txt">Working Now</span>
                                            <div class="clearfix"></div>
                                            @Html.Action("AssignmentMembersProfilePic", new { assignmentid = assignment.AssignmentID })
                                            @*<img src="~/content/images/img.jpg" class="img-responsive img-circle sm_img"> <img src="~/content/images/img.jpg" class="img-responsive img-circle sm_img">*@
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        <div class="col-md-12 col-sm-12 col-xs-12" style="text-align:center">No Active Assignments</div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
