﻿@model  Reelae.Areas.Student.Models.StudentDashboardViewModal

@{
    ViewBag.Title = "Student Dashboard";
    Layout = "~/Areas/Student/Views/Shared/_StudentLayout.cshtml";
    var _user = Model._userinfo;

}
@section head{
    <script>
        //global Inforamtions
        $(function () {
            gInfo.DashboardObj = {};
            gInfo.DashboardObj.FilterStartDate = '@Model.FilterStartDate';
            gInfo.DashboardObj.FilterEndDate = '@Model.FilterEndDate';
        })
    </script>
    <script src="@Url.Content("~/Content/Student/js/studentdashboard.js")"></script>
}
@section InstitueName{
    @Html.Partial("~/Areas/Admin/Views/Shared/_InstituteSetupHeader.cshtml", _user)
}
@section UserProfile{
    <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
        @if (Model._userinfo.UserPicUrl != null && Model._userinfo.UserPicUrl != "")
        {
            <img src="@Url.Content(Model._userinfo.UserPicUrl)" alt="" />
        }
        Hello, @Reelae.Utilities.CommonUtility.ToTitleCase(Session["Name"].ToString().ToLower()) <span class="fa fa-angle-down"></span>
    </a>

}
<!-- page content -->
<div class="right_col pd_l-0 height_vh" role="main">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <a href="javascript:void(0)" style="cursor: default;"> <h3>Main</h3></a>
    </div>
    <div class="col-md-10 col-sm-10 col-md-offset-1 col-sm-offset-1 col-xs-12">
        <div class="gap_30"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="dashboard_graph pd_b-0 bg_trans">
                    <div class="row x_title mrb_b-0">
                        <div class="col-md-6 col-sm-4 col-xs-12">
                            <h3>
                                Hello,
                                @if (!string.IsNullOrEmpty(Model._userinfo.Name))
                                {
                                    <span id="lblTeacherName">@Model._userinfo.Name</span>
                                }
                                else
                                {
                                    <span id="lblTeacherName">Student</span>

                                }
                                <div class="clearfix"></div>
                                <small>Welcome to Reelae dashboard</small>
                            </h3>
                        </div>
                        <div class="col-md-6 col-sm-4 col-xs-12 text-center txt_l-blue xs-left mmt-20">
                            <label class="date_lbl" style="position:static; display:block; margin-bottom:15px;">Filter by time</label>
                            <div class="clearfix"></div>
                            <div id="dateFilterEle" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #969696; border-radius: 4px;">
                                <i class="glyphicon glyphicon-calendar fa fa-calendar"></i> <span>December 30, 2014 - January 28, 2015</span> <b class="caret"></b>
                            </div>
                            @*<div id="dateFilterEle" class="clsCustomDR pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #969696; border-radius: 4px;">
                                <font class="date_lbl" style="position:static; display:block; margin-bottom:15px;">Filter by time</font>
                                <div class="clearfix"></div>
                                <i class="glyphicon glyphicon-calendar fa fa-calendar"></i> <span>December 30, 2014 - January 28, 2015</span> <b class="caret"></b>
                            </div>*@
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <!--Add Customized Sections-->
            @foreach (var item in Model.DashboardItems)
            {
                if (item.ItemName == "ActiveAssignment" && item.IsEnabled)
                {
                    <div id="divActiveAssignmentsContainer">
                        @Html.Partial("_ActiveAssignments", Model.Assignments)
                    </div>
                    <div class="gap_30"></div>
                }
            }
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!-- /page content -->