﻿@model ReelaeDataAccessLayer.re_getUserDetails_sp_Result
<div class="modal" id="editMemberModalBox" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="material-icons">clear</i></button>
                <h4 class="modal-title" id="myModalLabel">Edit Detail</h4>
            </div>

            @using (Ajax.BeginForm("SaveEditMember", "Member", new { area = "Admin" }, new AjaxOptions { HttpMethod = "Post", OnSuccess = "onEditSucess", OnFailure = "onEditFailure", OnBegin = "onEditBegin" }))
            {
                <div class="modal-body">
                    <div class="col-sm-10 col-sm-offset-1" style="margin: 0 auto; float: none;">
                        <div class="user_img col-xs-12 col-sm-12 text-center" style="margin-top: 0px;">
                            @if (Model.UserPicUrl != null)
                            {
                                <img src="@Url.Content(Model.UserPicUrl)" alt="..." class="img-circle img-responsive">
                            }
                            else
                            {
                                if (Model.type.StartsWith("T"))
                                {
                                    <img src="@Url.Content("~/Content/images/teacher.jpg")" alt="..." class="img-circle img-responsive">

                                }
                                else
                                {
                                    <img src="@Url.Content("~/Content/images/student.jpg")" alt="..." class="img-circle img-responsive">

                                }
                            }
                        </div>
                        <div class="form-group">
                            <label>Member Code</label>
                            <div class="clearfix"></div>
                            @Html.TextBoxFor(model => model.UserCode, new { @readonly = "readonly", @class = "form-control brd_radius-4", style = "background-color: #fff;font-weight:bold;", @id = "editmemberCode", onchange = "onChangeValidate(this)", maxlength = "25" })
                        </div>
                        <div class="form-group">
                            <label>Name</label>
                            <div class="clearfix"></div>
                            @Html.TextBoxFor(model => model.Name, new { @class = "form-control brd_radius-4", placeholder = "Name", style = "background-color: #fff;", @id = "editmemberName", onchange = "onChangeValidate(this)", maxlength = "25" })
                        </div>
                        <div class="gap_20"></div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email</label>
                            <div class="clearfix"></div>
                            @Html.TextBoxFor(model => model.Email, new { @class = "form-control brd_radius-4", placeholder = "Email", style = "background-color: #fff;", @id = "editmemberEmail", onchange = "onChangeValidate(this)", maxlength = "100" })
                        </div>
                        <div class="gap_20"></div>
                        <div class="gap_20" style="height: 1px;"></div>
                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    @Html.CheckBoxFor(model => model.isEnabled, new { @class = "flat" })
                                    @Html.HiddenFor(model => model.UserMemberShipID)
                                    @Html.HiddenFor(model => model.type)
                                    @Html.HiddenFor(model => model.UserID)
                                    Activate
                                </label>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <input type="submit" value="Finish" class="button_blue button_100">
            }
        </div>
    </div>
</div>
