﻿@model IEnumerable<ReelaeDataAccessLayer.re_getInstituteMembers_sp_Result>
@{
    var _membersList = Model.ToList();
    string type = string.Empty;
    if (_membersList.Count > 0)
    {
        type = _membersList.FirstOrDefault().type;
    }
    int activeCount = _membersList.ToList().Where(r => r.isEnabled == true).Count();
    int inactiveCount = _membersList.ToList().Where(r => r.isEnabled == false).Count();
}

<style>
    .dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate {
     display: block; 
}
</style>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12 mrg_t_10 pad_lr-0">
        <div class="dashboard_graph pd_b-0">
            <div class="row x_title mrb_b-0">
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <h3>@type</h3>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 text-center lh_30 txt_l-blue xs-left">
                    <i class="fa fa-user-o" aria-hidden="true"></i> @_membersList.Count() Members
                    @*<div class="clearfix"></div>*@
                    ( @activeCount Active and @inactiveCount Inactive)
                </div>

            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="pad_lr-30" data-simplebar="init" style="height: 400px;max-width: 100%;" id="divMembersGrid">
        @*<div class="simplebar-track vertical" style="visibility: visible;"><div class="simplebar-scrollbar" style="top: 2px; height: 68px;"></div></div>
        <div class="simplebar-track horizontal" style="visibility: hidden;"><div class="simplebar-scrollbar"></div></div>*@
        @*<div class="simplebar-scroll-content" style="margin-right: -20px;padding-right: 20px">*@
            <div class="simplebar-content">

                <div class="x_panel" style="padding-bottom: 0px;  margin-top: 30px;">
                    <div class="x_content">
                        @*<div class="table-responsive">*@
                        <div class="">
                            <table class="table table-striped" style="margin-bottom: 10px;" id="tblMemberGrid">
                                <thead>
                                    <tr>
                                        @*<th>type</th>*@
                                        <th style="vertical-align:top;">Member Code</th>
                                        <th style="vertical-align:top;">Name</th>
                                        <th style="vertical-align:top;">Email</th>
                                        @*<th style="white-space: nowrap;">Join Date</th>*@
                                        <th style="vertical-align:top;">Status</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        if (_membersList != null)
                                        {
                                            if (_membersList.Count() > 0)
                                            {
                                                foreach (var _member in _membersList)
                                                {
                                                    <tr onclick="getEditMembersView(@_member.UserID)">
                                                        <td>
                                                            @(string.IsNullOrEmpty(_member.UserCode) ? "" : _member.UserCode)
                                                        </td>
                                                        <td>
                                                            <ul class="list-unstyled top_profiles scroll-view">
                                                                <li class="media event">
                                                                    <a href="javascript:;" class="user-profile pull-left">
                                                                        @if (_member.UserPicUrl != null && _member.UserPicUrl != "")
                                                                        {
                                                                            <img src="@Url.Content(_member.UserPicUrl)" alt="...">
                                                                        }
                                                                        else
                                                                        {
                                                                            if (ViewBag.Id == 1)
                                                                            {
                                                                                <img src="@Url.Content("~/Content/images/teacher.jpg")" alt="">
                                                                            }
                                                                            else
                                                                            {
                                                                                <img src="@Url.Content("~/Content/images/student.jpg")" alt="">
                                                                            }
                                                                        }
                                                                    </a>
                                                                    <div class="media-body">
                                                                        <a class="title" href="#!" data-toggle="modal" data-target="#myModal11" style="padding-top: 12px; display: inline-block;" style="cursor:default">@_member.Name @_member.Surname</a>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                        </td>
                                                        <td>@_member.Email</td>
                                                        @if (_member.isEnabled)
                                                        {
                                                            @*<td class="pos-rel"><a href="#!" class="sm_btn btn_org mrg_t-4" data-toggle="modal" data-target="#" style="width:65px;">Active</a> </td>*@
                                                            <td style="width:20%" class="pos-rel"><a href="#!" class="sm_btn btn_green mrg_t-4" data-toggle="modal" data-target="#" style="width:65px;">Active</a> </td>
                                                        }
                                                        else
                                                        {
                                                            @*<td class="pos-rel"><a href="#!" class="sm_btn btn_green mrg_t-4" data-toggle="modal" data-target="#" style="width:65px;">Inactive</a> </td>*@
                                                            <td style="width:20%" class="pos-rel"><a href="#!" class="sm_btn btn_org mrg_t-4" data-toggle="modal" data-target="#" style="width:65px;">Inactive</a> </td>
                                                        }
                                                        <td class="text-right">
                                                            <a href="#!" data-toggle="modal" data-target="#" class="btn_blue mml-0 min_w-155 text-center">Edit</a>
                                                        </td>
                                                    </tr>

                                                }
                                            }
                                            else
                                            {
                                                <tr>
                                                    <td colspan="4">
                                                        <label>No members are found.</label>
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        @*</div>*@
    </div>
    <div class="clearfix"></div>
</div>
