﻿@model Reelae.Areas.Teacher.Models.TeacherViewSubmissionsSection

@{
    ViewBag.Title = "Assignments Submissions";
    Layout = "~/Areas/Teacher/Views/Teacher/TeacherDashboard.cshtml";
}

<!-- page content -->
<div class="right_col pd_l-0 height_vh t_view_sub" role="main">
    <div class="">
        <div class="col-md-12 col-xs-12 pull-right">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 mrg_t_10 mob-mrg">
                    <div class="dashboard_graph pd_b-0 brd_bottom">
                        <div class="row x_title mrb_b-0">
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="group select_2 tbl_select head_drop">
                                    <div class="mad-select">
                                        <ul>
                                            <li data-value="1">Option 1</li>
                                            <li data-value="2 foo">Option 2</li>
                                            <li data-value="3 bar">All Groups</li>
                                            <li data-value="4">Option 4</li>
                                            <li data-value="6">Option 6</li>
                                            <li data-value="7">Option 7</li>
                                            <li data-value="8">Option 8</li>
                                        </ul>
                                        <input type="hidden" name="myOptions" value="3 bar">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12 text-center lh_30 txt_l-blue xs-left">
                                3 Submissions
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12 text-right xs-left">
                                <div class="search_top">
                                    <i class="material-icons">search</i>
                                    <input type="text" name="" placeholder="Search members...">
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="gap_30"></div>
                <div class="pad_lr-30">
                    <div class="x_panel">
                        <div class="x_content">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Assignment</th>
                                            <th>Submission Date</th>
                                            <th>Submission Due Date</th>
                                            <th>Submitted by</th>
                                            <th>Attendace</th>
                                            <th>Status</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                Theme
                                                <div class="clearfix"></div>
                                                <small class="txt_lgry">Title</small>
                                            </td>
                                            <td>29th Jan, 17</td>
                                            <td>
                                                13th Nov, 17
                                                <div class="clearfix"></div>
                                                <small class="txt_red">Overdue</small>
                                            </td>
                                            <td>
                                                <ul class="list-unstyled top_profiles scroll-view">
                                                    <li class="media event">
                                                        <a href="javascript:;" class="user-profile pull-left"> <img src="~/content/images/img.jpg" alt=""> </a>
                                                        <div class="media-body">
                                                            <a class="title" href="#">Norman Hammond</a>
                                                            <p>
                                                                <small class="txt_lgry">My Lovely Group</small>
                                                            </p>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </td>
                                            <td class="t-min-w_205">

                                                <div id="thumbcarousel" class="carousel slide" data-interval="false">
                                                    <div class="carousel-inner">
                                                        <div class="item active">
                                                            <div class="thumb bg_green">ME</div>
                                                            <div class="thumb bg_blue">AK</div>
                                                            <div class="thumb bg_orange">TY</div>
                                                            <div class="thumb bg_green">NU</div>
                                                        </div><!-- /item -->
                                                        <div class="item">
                                                            <div class="thumb bg_blue">AD</div>
                                                        </div><!-- /item -->
                                                    </div><!-- /carousel-inner -->
                                                    <a class="left carousel-control" href="#thumbcarousel" role="button" data-slide="prev">
                                                        <span class="material-icons">keyboard_arrow_left</span>
                                                    </a>
                                                    <a class="right carousel-control" href="#thumbcarousel" role="button" data-slide="next">
                                                        <span class="material-icons">keyboard_arrow_right</span>
                                                    </a>
                                                </div>


                                            </td>
                                            <td class="pos-rel t-min-w_150">
                                                <a href="#!" class="sm_btn btn_org mrg_t-4">Open</a> <i class="fa fa-bar-chart pull-right txt_lgry pull-right icon_tbl" aria-hidden="true"></i>
                                            </td>
                                            <td class="mx-w-325">
                                                <a href="#!" class="btn_blue mml-0 min_w-155 text-center">Add Subject</a>
                                                <div class="group select_2 tbl_select">
                                                    <div class="mad-select">
                                                        <ul>
                                                            <li data-value="1">Option 1</li>
                                                            <li data-value="2 foo">Option 2</li>
                                                            <li data-value="3 bar">Action</li>
                                                            <li data-value="4">Option 4</li>
                                                            <li data-value="6">Option 6</li>
                                                            <li data-value="7">Option 7</li>
                                                            <li data-value="8">Option 8</li>
                                                        </ul>
                                                        <input type="hidden" name="myOptions" value="3 bar">
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>


                                        <tr>
                                            <td>
                                                Theme
                                                <div class="clearfix"></div>
                                                <small class="txt_lgry">Title</small>
                                            </td>
                                            <td>29th Jan, 17</td>
                                            <td>
                                                13th Nov, 17
                                                <div class="clearfix"></div>
                                                <small class="txt_red">Overdue</small>
                                            </td>
                                            <td>
                                                <ul class="list-unstyled top_profiles scroll-view">
                                                    <li class="media event">
                                                        <a href="javascript:;" class="user-profile pull-left"> <img src="~/content/images/img.jpg" alt=""> </a>
                                                        <div class="media-body">
                                                            <a class="title" href="#">Norman Hammond</a>
                                                            <p>
                                                                <small class="txt_lgry">My Lovely Group</small>
                                                            </p>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </td>
                                            <td class="t-min-w_205">

                                                <div id="thumbcarousel" class="carousel slide" data-interval="false">
                                                    <div class="carousel-inner">
                                                        <div class="item active">
                                                            <div class="thumb bg_green">ME</div>
                                                            <div class="thumb bg_blue">AK</div>
                                                            <div class="thumb bg_orange">TY</div>
                                                            <div class="thumb bg_green">NU</div>
                                                        </div><!-- /item -->
                                                        <div class="item">
                                                            <div class="thumb bg_blue">AD</div>
                                                        </div><!-- /item -->
                                                    </div><!-- /carousel-inner -->
                                                    <a class="left carousel-control" href="#thumbcarousel" role="button" data-slide="prev">
                                                        <span class="material-icons">keyboard_arrow_left</span>
                                                    </a>
                                                    <a class="right carousel-control" href="#thumbcarousel" role="button" data-slide="next">
                                                        <span class="material-icons">keyboard_arrow_right</span>
                                                    </a>
                                                </div>


                                            </td>
                                            <td class="pos-rel t-min-w_150">
                                                <a href="#!" class="sm_btn btn_org mrg_t-4">Open</a> <i class="fa fa-bar-chart pull-right txt_lgry pull-right icon_tbl" aria-hidden="true"></i>
                                            </td>
                                            <td class="mx-w-325">
                                                <a href="#!" class="btn_blue mml-0 min_w-155 text-center">Add Subject</a>
                                                <div class="group select_2 tbl_select">
                                                    <div class="mad-select">
                                                        <ul>
                                                            <li data-value="1">Option 1</li>
                                                            <li data-value="2 foo">Option 2</li>
                                                            <li data-value="3 bar">Action</li>
                                                            <li data-value="4">Option 4</li>
                                                            <li data-value="6">Option 6</li>
                                                            <li data-value="7">Option 7</li>
                                                            <li data-value="8">Option 8</li>
                                                        </ul>
                                                        <input type="hidden" name="myOptions" value="3 bar">
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>



                                        <tr>
                                            <td>
                                                Theme
                                                <div class="clearfix"></div>
                                                <small class="txt_lgry">Title</small>
                                            </td>
                                            <td>29th Jan, 17</td>
                                            <td>
                                                13th Nov, 17
                                                <div class="clearfix"></div>
                                                <small class="txt_red">Overdue</small>
                                            </td>
                                            <td>
                                                <ul class="list-unstyled top_profiles scroll-view">
                                                    <li class="media event">
                                                        <a href="javascript:;" class="user-profile pull-left"> <img src="~/content/images/img.jpg" alt=""> </a>
                                                        <div class="media-body">
                                                            <a class="title" href="#">Norman Hammond</a>
                                                            <p>
                                                                <small class="txt_lgry">My Lovely Group</small>
                                                            </p>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </td>
                                            <td class="t-min-w_205">

                                                <div id="thumbcarousel" class="carousel slide" data-interval="false">
                                                    <div class="carousel-inner">
                                                        <div class="item active">
                                                            <div class="thumb bg_green">ME</div>
                                                            <div class="thumb bg_blue">AK</div>
                                                            <div class="thumb bg_orange">TY</div>
                                                            <div class="thumb bg_green">NU</div>
                                                        </div><!-- /item -->
                                                        <div class="item">
                                                            <div class="thumb bg_blue">AD</div>
                                                        </div><!-- /item -->
                                                    </div><!-- /carousel-inner -->
                                                    <a class="left carousel-control" href="#thumbcarousel" role="button" data-slide="prev">
                                                        <span class="material-icons">keyboard_arrow_left</span>
                                                    </a>
                                                    <a class="right carousel-control" href="#thumbcarousel" role="button" data-slide="next">
                                                        <span class="material-icons">keyboard_arrow_right</span>
                                                    </a>
                                                </div>


                                            </td>
                                            <td class="pos-rel t-min-w_150">
                                                <a href="#!" class="sm_btn btn_green mrg_t-4">Checked</a> <i class="fa fa-bar-chart pull-right txt_green pull-right icon_tbl" aria-hidden="true"></i>
                                            </td>
                                            <td class="mx-w-325">
                                                <a href="#!" class="btn_blue mml-0 min_w-155 text-center">Add Subject</a>
                                                <div class="group select_2 tbl_select">
                                                    <div class="mad-select">
                                                        <ul>
                                                            <li data-value="1">Option 1</li>
                                                            <li data-value="2 foo">Option 2</li>
                                                            <li data-value="3 bar">Action</li>
                                                            <li data-value="4">Option 4</li>
                                                            <li data-value="6">Option 6</li>
                                                            <li data-value="7">Option 7</li>
                                                            <li data-value="8">Option 8</li>
                                                        </ul>
                                                        <input type="hidden" name="myOptions" value="3 bar">
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<div class="clearfix"></div>    
<!-- /page content -->
