﻿@model IEnumerable<ReelaeDataAccessLayer.re_TeacherViewSubmission_sp_Result>
@{
//var teacherAssignmentList = Model.ToList();
//var CurrentDate = System.DateTime.Now;
//string[] _attendance = null;
}
<style>
    .dataTables_wrapper, .dataTables_wrapper, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate {
        display: block;
    }

    .dataTables_length {
        display: none;
    }
</style>

<script type="text/javascript">
    @*arrayAssignments = @Html.Raw(Json.Encode(teacherAssignmentList.Select(r => new { value =  r.AssignmentName }).ToList()))*@
    arrayAssignments = null;
</script>
@*<input type="hidden" id="gridRowCount" value="@teacherAssignmentList.Count" />*@
<div class="pad_lr-30">
    <div class="x_panel">
        <div class="x_content">
            <div class="table-responsive">
                <table class="table" id="viewAssignmentGrid">
                    <thead>
                        <tr>
                            <th>Assignment</th>
                            <th>Submission Date</th>
                            <th>Submission Due Date</th>
                            <th>Submitted by</th>
                            <th>Attendace</th>
                            <th>Status</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    
                </table>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    jQuery(function ($) {
        $('.close').click(function(){
            $('#removeConfirmationModalBox').hide();
        });
    });
</script>


