﻿@model Reelae.Areas.Teacher.Models.ViewSubmissionViewModel

@{
    ViewBag.Title = "Assignments";
    Layout = "~/Areas/Teacher/Views/Shared/_TeachersLayout.cshtml";
    var _user = Model._userinfo;
    var groups = ViewBag.groups;
}


@section InstitueName{
    @Html.Partial("~/Areas/Admin/Views/Shared/_InstituteSetupHeader.cshtml", _user)
}
@section UserProfile{
    <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
        @if (Model._userinfo.UserPicUrl != null && Model._userinfo.UserPicUrl != "")
        {
            <img src="@Url.Content(Model._userinfo.UserPicUrl)" alt="" />
        }
        Hello, @Reelae.Utilities.CommonUtility.ToTitleCase(Session["Name"].ToString().ToLower()) <span class="fa fa-angle-down"></span>
    </a>

}


@{
    var CurrentDate = System.DateTime.Now;

        <!-- page content -->
    <div class="right_col pd_l-0 height_vh t_view_sub" role="main">
        <div class="">
            <div class="col-md-12 col-xs-12 pull-right">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12 mrg_t_10 mob-mrg">
                        <div class="dashboard_graph pd_b-0 brd_bottom">
                            <div class="row x_title mrb_b-0">
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <div class="group select_2 tbl_select head_drop">
                                        <div class="mad-select">
                                            <ul id="ddlGroup">
                                                <li data-value="" class="selected" onclick="callGroupFilter(@null)" title="All Groups">All Groups</li>
                                                <li data-value="" onclick="callGroupFilter(-1)" title="Individual">Individual</li>
                                                @if (groups != null && groups.Count > 0)
                                                {
                                                    foreach (var grp in groups)
                                                    {
                                                        <li data-value="@grp.Id" onclick="callGroupFilter(@grp.Id)" title="@grp.Value">@grp.Value</li>
                                                    }
                                                }
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-12 text-center lh_30 txt_l-blue xs-left">
                                    <span id="count"></span> Submissions
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-12 text-right xs-left">
                                    <div class="search_top">
                                        <a style="cursor:default;"><i class="material-icons">search</i></a>
                                        <input type="text" name="" placeholder="Search assignments..." id="autocompleteViewSubmission" autocomplete="off">
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="gap_30"></div>
                    <div id="gridResult">

                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
}
<input type="hidden" id="selectedGroupId" value="null" />
<script>
    $(function () {
        ViewAssignmentGrid(0);
    });

    function callGroupFilter(id) {
        $('#selectedGroupId').val(id);
        ViewAssignmentGrid(id);
    }
</script>