﻿@model ReelaeDataAccessLayer.Subject
<div class="modal" id="SubjectModelBox" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="OnSubjectModalReset();"><i class="material-icons">clear</i></button>
                <h4 class="modal-title" id="myModalLabel">Subject</h4>
            </div>
            @using (Ajax.BeginForm("AddSubject", "GroupMembers", new { area = "Teacher" }, new AjaxOptions { HttpMethod = "Post", OnSuccess = "onSubjectSucess", OnFailure = "onSubjectFailure", OnBegin = "onSubjectBegin" }))
            {
                <div class="modal-body">
                    @Html.HiddenFor(model => model.SubjectID, new { id = "hdn_subid" })
                    <div class="col-sm-10 col-sm-offset-1" style="margin: 0 auto; float: none;">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Subject Name</label><span style="color:red;font-size: 12px;">*</span>
                            <div class="clearfix"></div>
                            @Html.TextBoxFor(model => model.SubjectName, new { maxlength = "50", @class = "form-control brd_radius-4", id = "txt_SubjectName", placeholder = "Type subject name here", onchange = "onChangeValidate(this)" })
                        </div>
                        <div class="gap_20"></div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Description</label>
                            <div class="clearfix"></div>
                            @Html.TextAreaFor(model => model.Description, new { maxlength = "250", @class = "form-control brd_radius-4", id = "txt_descr", onchange = "onChangeValidate(this)" })
                        </div>
                        @*New field added Subject Code*@
                        @*<div class="form-group">
                                <label for="exampleInputEmail1">Subject Code</label>
                                <div class="clearfix"></div>
                                @Html.TextAreaFor(model => model.SubjectCode, new { @class = "form-control brd_radius-4", id = "txt_SubjectCode", placeholder = "Type Subject Code here", onchange = "onChangeValidate(this)" })
                                @Html.HiddenFor(model => model.SubjectID, new { id = "hdn_subid" })
                            </div>*@
                        @*New field Added Subject Start Date*@
                        <div class="form-group">
                            <label for="exampleInputEmail1">Subject Start Date</label>
                            <div class="clearfix"></div>
                            <div class="controls">
                                <div class="row">
                                    <div class="col-md-12 xdisplay_inputx form-group has-feedback">
                                        @*<input type="text" class="form-control has-feedback-left pop_date" id="stuAttandanceDate" placeholder="Select Date" aria-describedby="inputSuccess2Status3">*@
                                        @Html.TextBoxFor(model => model.StartDate, new { @class = "form-control brd_radius-4 has-feedback-left pop_date", id = "txt_SubjectStartDate", placeholder = "Type Subject Start Date here", aria_describedby = "spanAddSubjectStartDate" })
                                        <input name="hdn_SubjectStartDate" id="hdn_SubjectStartDate" type="hidden" value="@Model.StartDate" />
                                        <span class="fa fa-calendar form-control-feedback left" aria-hidden="true"></span> <span id="spanAddSubjectStartDate" class="sr-only">(success)</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @*New Field Added Subject End Date*@
                        <div class="form-group">
                            <label for="exampleInputEmail1">Subject End Date</label>
                            <div class="clearfix"></div>
                            <div class="controls">
                                <div class="row">
                                    <div class="col-md-12 xdisplay_inputx form-group has-feedback">
                                        @Html.TextBoxFor(model => model.EndDate, new { @class = "form-control brd_radius-4 has-feedback-left pop_date", id = "txt_SubjectEndDate", placeholder = "Type Subject End Date", aria_describedby = "spanAddSubjectEndDate" })
                                        <input name="hdn_SubjectEndDate" id="hdn_SubjectEndDate" type="hidden" value="@Model.EndDate" />
                                        <span class="fa fa-calendar form-control-feedback left" aria-hidden="true"></span> <span id="spanAddSubjectEndDate" class="sr-only">(success)</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <input type="submit" id="addSubjectModalSubmit" style="display:none;" value="SAVE" class="button_blue button_100">
                <button type="button" data-toggle="modal" onclick="OnSubjectSaveClick();" class="modal-footer">
                    SAVE
                    <div class="clearfix"></div>
                </button>
            }
        </div>
    </div>
</div>
