﻿@model List<Reelae.Areas.Teacher.Models.AssignStudentViewModel>
<style>
    .dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate {
     display: block; 
}

</style>

@if (Model.Count() > 0)
{
<table id="tblmembers" class="table table-striped" style="margin-bottom: 50px;border: 1px solid #eee;">
    <thead>
        <tr>
            <th style=""><input type="checkbox" style="vertical-align:middle;" onchange="onAssignMemberHeaderCheckChange(this)" class="hdChk" /></th>
            <th>Name</th>
            <th style="vertical-align:middle;">Email</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Count; i++)
        {
            <tr>
                <td>@Html.CheckBoxFor(model => Model[i].isSelect, new {value= Model[i].userId, style = "vertical-align:middle", onchange = "onAssignMemberChildCheckChange(this,"+Model[i].userId+")" })</td>

                <td>
                    <ul class="list-unstyled top_profiles scroll-view">
                        <li class="media event">
                            <a href="javascript:;" class="user-profile pull-left">
                                @if (Model[i].userPicUrl != null)
                                {
                                    <img src="@Url.Content(Model[i].userPicUrl)" alt="">
                                }
                                else
                                {
                                    <img src="@Url.Content("~/Content/images/student.jpg")" alt="">

                                }
                            </a>
                            <div class="media-body">
                                <a class="title" href="#" style="padding-top: 8px; display: inline-block;">@Model[i].Name</a>
                                @Html.HiddenFor(model => Model[i].userId)
                            </div>
                        </li>
                    </ul>
                </td>
                <td style="vertical-align:middle;word-break: break-all;">@Model[i].Email</td>
            </tr>
        }
    </tbody>
</table>
}
else
{
    <label style="text-align: center;font-size: 14px;width: 100%;margin-top: 10px;" id="lblMsz">No members found.</label>

}