﻿@model IEnumerable<ReelaeDataAccessLayer.re_getStudent_AddtoGroup_sp_Result>
@{
    var members = Model.ToList();
}
@if (members.Count() > 0)
{
    <table id="tblmembersTeacher" class="table table-striped" style="margin-bottom: 50px;border: 1px solid #eee;">
        <thead>
            <tr>
                <th style=""><input type="checkbox" style="vertical-align:middle;" onchange="onAssignMemberHeaderCheckChange(this)" class="hdChk" /></th>
                <th>Name</th>
                <th style="vertical-align:middle;">Email</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in members)
            {
                <tr>
                    <td>@Html.CheckBox("chkSubMember", new { style = "vertical-align:middle", onchange = "onAssignMemberChildCheckChange(this)" })</td>
                    <td>
                        <ul class="list-unstyled top_profiles scroll-view">
                            <li class="media event">
                                <a href="javascript:;" class="user-profile pull-left">

                                    @if (user.UserPicUrl != null)
                                    {
                                            <img src="@Url.Content(user.UserPicUrl)" alt="">
                                    }
                                    else
                                    {
                                        <img src="@Url.Content("~/Content/images/student.jpg")" alt="">

                                    }
                                    </a>
                                    <div class="media-body">
                                        <a class="title" href="#" style="padding-top: 8px; display: inline-block;">@user.NAME</a>
                                        @Html.HiddenFor(model => user.UserID, new { @class = "clsUserID" })
                                    </div>
</li>
                        </ul>
                    </td>
                    <td style="vertical-align:middle;word-break: break-all;">@user.Email</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <label style="text-align: center;font-size: 14px;width: 100%;margin-top: 10px;" id="lblMsz">No more members are found.</label>

}

