﻿@model List<Reelae.Areas.Teacher.Models.AssignStudentViewModel>
@{
    var _students = Model.ToList();
}
<script type="text/javascript">
    var arrayAddStudents = @Html.Raw(Json.Encode(_students.Select(r => new { value =  r.Name, data = r.Email }).ToList()))
</script>
<div class="modal" id="addStudentsModalBox" tabindex="-1" role="dialog" aria-labelledby="addStudentsModalLabel">
    <div class="modal-dialog" role="document">
        @using (Ajax.BeginForm("AddStudents", "GroupMembers", new AjaxOptions { OnSuccess = "onAddStudentsuccess", OnFailure = "onAddStudentFailure", OnBegin = "onAddStudentBegin" }))
        {

            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="resetDropdown()"><i class="material-icons">clear</i></button>
                    <h4 class="modal-title">Add Member</h4>
                </div>
                <div class="modal-body" style="max-height: 400px; overflow-y: visible;padding:0px !important">
                    @*@if (Model.Count > 0)
                        {*@
                    <div class="col-sm-12" style="margin: 0 auto; float: none;">
                        <div class="x_panel" style="padding-bottom: 0px; border:0px;padding-left:0px !important;padding-right:0px !important">
                            <div class="x_content">
                                @*<div class="search_top">
                                        <a onclick="getsearchAddStudent()" style="cursor:pointer;"><i class="material-icons">search</i></a>
                                        <input type="text" name="" placeholder="Search members..." id="autocompleteAddStudent" autocomplete="off"  onkeypress="searchAddStudent(event)">
                                    </div>*@
                                @*<div class="table-responsive" style="max-height: 300px;overflow-y: auto;" id="tblAddStudents">*@
                                <div class="table-responsive" id="tblAddStudents">
                                    @Html.Partial("_addStudentList", _students)
                                </div>
                            </div>
                        </div>
                    </div>
                    @*}
                        else
                        {
                            <div class="col-sm-10 col-sm-offset-1" style="margin: 0 auto; float: none;">
                                <div class="form-group">
                                    <label style="text-align: center;font-size: 14px;width: 100%;margin-top: 10px;" id="lblMsz">No more members found.</label>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        }*@

                </div>
                <input type="hidden" name="subjectId" id="hdn_subjectId" value="" />
                <input type="hidden" name="selectedItem" id="hdn_selectedItem" value="" />
                <div class="gap_20"></div>
                @if (Model.Count > 0)
                {
                    <input type="submit" id="btnSave" value="SAVE" class="button_blue button_100" onclick="return onClickSubmitButton(event)">
                }
            </div>
        }
    </div>
</div>


