﻿@model IEnumerable<ReelaeDataAccessLayer.re_getStudent_AddtoGroup_sp_Result>
@{
    var members = Model.ToList();
}
<script type="text/javascript">
    var arrayAddGroupStudents = @Html.Raw(Json.Encode(members.Select(r => new { value =  r.NAME, data = r.Email}).ToList()))
</script>
<style>
    .dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate {
     display: block; 
}    
</style>

<div class="modal" id="assignMemberGroupModal" tabindex="-1" role="dialog" aria-labelledby="assignMemberGroupModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="material-icons">clear</i></button>
                <h4 class="modal-title" id="assignMemberGroupModalLabel">Add Member</h4>
                <input type="hidden" id="hdn_selGroupID" value="@ViewBag.GroupID" />
            </div>
            @*<div class="modal-body" style="max-height: 350px; overflow-y: visible;padding:0px !important">*@
            <div class="modal-body" style="max-height: 450px; padding:0px !important">
                @*@if (members.Count() > 0)
            {*@
                <div class="col-sm-12" style="margin: 0 auto; float: none;">
                    <div class="x_panel" style="padding-bottom: 0px; border:0px;padding-left:0px !important;padding-right:0px !important">
                        <div class="x_content">
                            @*<div class="search_top">
                            <a onclick="getsearchAddGroupStudent(@ViewBag.GroupID)" style="cursor:pointer;"><i class="material-icons">search</i></a>
                            <input type="text" name="" placeholder="Search members..." id="autocompleteAddGroupStudent" autocomplete="off" onkeypress="searchAddGroupStudent(@ViewBag.GroupID,event)">
                        </div>*@
                            <div class="" style="max-height: 400px;" id="tblAddGroupStudent">
                                @Html.Partial("_addGroupStudentList", members)

                            </div>
                        </div>
                    </div>
                </div>
                @*}
            else
            {
                <div class="col-sm-10 col-sm-offset-1" style="margin: 0 auto; float: none;">
                    <div class="form-group">
                        <label style="text-align: center;font-size: 14px;width: 100%;margin-top: 10px;" id="lblMsz">No more members are found.</label>
                        <div class="clearfix"></div>
                    </div>
                </div>
            }*@
                <input type="hidden" name="userRole" id="hdn_userRole" value="" />
                <input type="hidden" name="subjectId" id="hdn_subjectId" value="" />
            </div>
            <div class="gap_20"></div>
            @if (members.Count() > 0)
            {
                <input id="btnAssignMemberGroupSubmit" style="display:none;" value="Save" class="button_blue button_100" type="submit" />
                <input value="Save" class="button_blue button_100" type="button" onclick="onValidateAssignMember(this);" />
                <div class="clearfix"></div>
                <div class="clearfix"></div>

            }
        </div>
    </div>
</div>

