﻿@model IEnumerable<ReelaeDataAccessLayer.re_getTeacherGroup_sp_Result>
@{
    string[] groupBGC = { "sub_l_gry", "sub_l_green", "sub_l_blue" };
    var _groups = Model.ToList();
}

@helper GetNameByLength(string Name)
{
if (string.IsNullOrEmpty(Name))
{
        <span class="subject_txt">Name</span>
}
else
{
    if (Name.Length > 20)
    {
            <span class="subject_txt" title="@Name">@(Name.Substring(0, 17) + "...")</span>
    }
    else
    {
            <span class="subject_txt">@(Name)</span>
    }
}
}
<div class="modal" id="addGroupModal" tabindex="-1" role="dialog" aria-labelledby="addGroupModalLabel">
    <div class="modal-dialog" role="document" style="max-width:480px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="material-icons">clear</i></button>
                <h4 class="modal-title" id="addGroupModalLabel">Add Member To Group</h4>
                <input type="hidden" id="hdn_SubjectID" value="@ViewBag.SubjectId"/>
            </div>
            <div class="modal-body">
                <div class="col-sm-10 col-sm-offset-1" style="margin: 0 auto; float: none;">
                    <div class="form-group">
                        <label class="small_txt"><i class="fa fa-info-circle" aria-hidden="true"></i> In order to add a member, please choose a group from the list below </a></label>
                        <div class="clearfix"></div>
                    </div>
                    <div class="gap_20"></div>
                    <div class="gap_20"></div>
                    <div class="form-group">
                        <label for=""></label>
                        <div class="clearfix"></div>
                        <div id="groupLists" class="carousel slide" data-interval="false">
                            <div class="carousel-inner">
                                @if (_groups.Count() > 0)
                                {
                                    int cuIndex = 0;
                                    <div class="item active">
                                        <div class="row">
                                            @foreach (var group in _groups)
                                            {
                                                <div class="col-xs-4 text-center groupitem" style="cursor:pointer;" onclick="OnMultipleSelectGroup_subject(this)">
                                                    @*<img src="~/content/images/sub2.jpg" class="img-responsive dis-in-img mainImg">*@
                                                    <div class="subject_sl @(groupBGC[(cuIndex++) % 3]) mainImg">@group.GroupIntialName</div>
                                                    <img src="~/content/images/sub1.jpg" style="display:none; max-width:80px; max-height:80px; margin:0 auto;" class="img-responsive dis-in-img selImg">
                                                    <div class="clearfix"></div>
                                                    @*<span class="subject_txt" title="@group.GroupName">@group.GroupName</span>*@
                                                    @GetNameByLength(group.GroupName)
                                                    <span style="display:none;" class="group_id">@group.GroupID</span>
                                                </div>
                                            }
                                            <!-- /item -->
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div>No Groups Found</div>
                                }
                                <!-- /carousel-inner -->
                            </div>
                            <a class="left carousel-control" href="#groupLists" role="button" data-slide="prev"> <span class="material-icons">keyboard_arrow_left</span> </a> <a class="right carousel-control" href="#groupLists" role="button" data-slide="next"> <span class="material-icons">keyboard_arrow_right</span> </a>
                        </div>
                    </div>
                    <div class="gap_20"></div>
                    <div class="gap_20"></div>
                    <div class="gap_20"></div>
                    <div class="gap_20"></div>
                    
                    <div class="form-group" style="text-align:center">
                        <label class="small_txt"><i class="fa fa-info-circle" aria-hidden="true"></i> Not group yet ? Please <a style="cursor:pointer;color:#33a9f1;" onclick="getNewGroupView(@ViewBag.SubjectId)">create new</a></label>
                        <div class="clearfix"></div>
                    </div>
                    <div class="gap_20"></div>
                </div>
                <div class="clearfix"></div>
            </div>
            <a href="javascript:void(0);" onclick="validateAddGroup()" class="modal-footer" data-toggle="modal">
                Finish
                <div class="clearfix"></div>
            </a>
        </div>
    </div>
</div>
