﻿@model IEnumerable<ReelaeDataAccessLayer.re_getGroupMembers_sp_Result>
@{
    IEnumerable<ReelaeDataAccessLayer.re_getGroupMembers_sp_Result> groupMembers;
    if (Model != null)
    {
        groupMembers = Model.ToList();
    }
    else
    {
        groupMembers = new List<ReelaeDataAccessLayer.re_getGroupMembers_sp_Result>();
    }
}
<div class="simplebar-track vertical" style="visibility: visible;"><div class="simplebar-scrollbar" style="top: 2px; height: 68px;"></div></div>
<div class="simplebar-track horizontal" style="visibility: hidden;"><div class="simplebar-scrollbar"></div></div>
<div class="simplebar-scroll-content" style="margin-right: -20px;padding-right: 20px">
    <div class="simplebar-content">
        @if (groupMembers.Count() > 0)
        {
            foreach (var _student in groupMembers)
            {
                string _studentName = _student.Name;
                if (_student.Name.Length > 40)
                {
                    _studentName = _studentName.Substring(0, 38) + "...";
                }
                <div class="col-md-3 col-sm-6 col-xs-12 mrg_t-40">
                    <div class="user_box text-center">
                        <div class="user_img profile_pic" onclick="getStudentProfile(@_student.UserID)" style="cursor:pointer">
                            @if (_student.UserPicUrl == null || _student.UserPicUrl == "")
                            {
                                <img src=@Url.Content("~/Content/images/student.jpg") alt="..." class="img-circle img-responsive">

                            }
                            else
                            {
                                <img src=@Url.Content(_student.UserPicUrl) alt="..." class="img-circle img-responsive">
                            }
                        </div>
                        <div class="user_name" onclick="getStudentProfile(@_student.UserID)" style="cursor:pointer">
                            <h3 class="memberName" title="@_student.Name">@_studentName</h3>
                        </div>
                        <div style="cursor:pointer" class="user_btn t_group">
                            <a onclick="MemberRemoveFromGroup(@_student.UserID,@ViewBag.GroupID,this)"><i class="material-icons">delete</i> Remove From Group</a>
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <div class="col-xs-12 mrg_t-40">
                <h3 style="width:100%;text-align:center">No members found.</h3>
            </div>
        }
    </div>
</div>
