﻿@model IEnumerable<ReelaeDataAccessLayer.re_getGroupMembers_sp_Result>
@{
    IEnumerable<ReelaeDataAccessLayer.re_getGroupMembers_sp_Result> groupMembers;
    if (Model != null)
    {
        groupMembers = Model.ToList();
    }
    else
    {
        groupMembers = new List<ReelaeDataAccessLayer.re_getGroupMembers_sp_Result>();
    }

}
<script type="text/javascript">
    var arrayGroupStudents = @Html.Raw(Json.Encode(groupMembers.Select(r => new { value =  r.Name, data = r.Email}).ToList()));
</script>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12 mrg_t_10 pad_lr-0">
        <div class="dashboard_graph pd_b-0">
            <div class="row x_title mrb_b-0">
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <h3>
                        <a href="#" onclick="openGroupModal(@ViewBag.GroupID,'',@groupMembers.Count())" id="GroupName"></a>
                    </h3>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 text-center lh_30 txt_l-blue xs-left">
                    <i class="fa fa-user-o" aria-hidden="true"></i> <span id="memberCount">@groupMembers.Count()</span> Members
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 text-right xs-left">
                    <div class="search_top">
                        <a onclick="getsearchGroupStudent(@ViewBag.GroupID)" style="cursor:pointer;"><i class="material-icons">search</i></a>
                        <input type="text" name="" placeholder="Search members..." id="autocomplete_groups" onkeypress="searchGroup(@ViewBag.GroupID,event)">
                    </div>
                    <span class="add_btn pluse_icon pull-right"><a title="Add Member" href="javascript:void(0)" onclick="getStudentsAddGroupView(@ViewBag.GroupID,@ViewBag.SubjectID)"></a></span>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="pad_lr-30" id="studentList" data-simplebar="init" style="height: 320px;max-width: 100%;">
        @Html.Partial("_groupStudentList", groupMembers)
    </div>
</div>

