﻿@model ReelaeDataAccessLayer.Group
<div class="modal" id="createGroupSubject" style="z-index:111111 !important" tabindex="-1" role="dialog" aria-labelledby="createGroupSubjectLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="material-icons">clear</i></button>
                <h4 class="modal-title" id="createGroupSubjectLabel">New Group</h4>
            </div>
            @using (Ajax.BeginForm("CreateGroupSubject", "GroupMembers", new AjaxOptions() { HttpMethod = "POST", OnSuccess = "OnSuccessCreateGroupSubject", OnFailure = "OnFailureCreateGroupsubject",OnBegin= "return OnBeginCreateGroupSubject();" }))
            {
                <div class="modal-body">
                    @Html.Hidden("SubjectId")
                    <div class="col-md-10 col-md-offset-1">
                        <div class="form-group">
                            <label for="txt_GroupName">Name</label><span style="color:red;font-size: 12px;">*</span>
                            <div class="clearfix"></div>
                            @Html.TextBoxFor(model => model.GroupName, new { maxlength = "50", @class = "form-control brd_radius-4", id = "txt_GroupName", placeholder = "Type group name here", onchange = "onChangeValidate(this)" })
                        </div>
                        <div class="gap_20"></div>
                        <div class="form-group">
                            <label for="txt_GroupDescription">Description</label>
                            <div class="clearfix"></div>
                            @Html.TextAreaFor(model => model.Description, new { maxlength = "150", @class = "form-control brd_radius-4", id = "txt_GroupDescription", placeholder = "Type group description here", onchange = "onChangeValidate(this)" })
                        </div>
                        <div class="gap_20"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <input value="SAVE" class="button_blue button_100" type="submit" />
            }
        </div>
    </div>
</div>
