﻿@model Reelae.Areas.Teacher.Models.SubjectMemberViewModel
<div class="simplebar-track vertical" style="visibility: visible;"><div class="simplebar-scrollbar" style="top: 2px; height: 68px;"></div></div>
<div class="simplebar-track horizontal" style="visibility: hidden;"><div class="simplebar-scrollbar"></div></div>
<div class="simplebar-scroll-content" style="margin-right: -20px;padding-right: 20px">
    <div class="simplebar-content">
        @if (Model._subjectStudents != null && Model._subjectStudents.Count() > 0)
        {
            foreach (var _student in Model._subjectStudents)
            {
                string _studentName = _student.Name;
                if(_student.Name.Length>40)
                {
                    _studentName = _studentName.Substring(0, 38) + "...";
                }
                <div class="col-md-3 col-sm-6 col-xs-12 mrg_t-40">
                    <div class="user_box text-center">
                        <div class="user_img profile_pic" onclick="getStudentProfile(@_student.UserID)" style="cursor:pointer">
                            @if (_student.UserPicUrl == null)
                            {
                                <img src=@Url.Content("~/Content/images/student.jpg") alt="..." class="img-circle img-responsive">

                            }
                            else
                            {
                                <img src="@Url.Content(_student.UserPicUrl)" alt="..." class="img-circle img-responsive">
                            }
                        </div>
                        <div class="user_name" onclick="getStudentProfile(@_student.UserID)" style="cursor:pointer">
                            <h3 title="@_student.Name">@_studentName</h3>
                        </div>
                        <div class="user_btn user_btn-multi t_group">
                            <a href="javascript:void(0);" onclick="openAddToGroupView('@_student.UserID','@ViewBag.SubjectId')" title="Add to group"><i class="material-icons">add</i></a>
                            <a href="javascript:void(0);" onclick="removeStudentFromSubject('@_student.UserID','@_student.Name')" title="Remove Student"><i class="material-icons">delete</i></a>
                        </div>
                    </div>
                </div>
            }
        }
        @if (Model._subjectGroups != null && Model._subjectGroups.Count() > 0)
        {
            foreach (var _group in Model._subjectGroups)
            {
                string _groupName = _group.GroupName;
                if (_group.GroupName.Length > 40)
                {
                    _groupName = _group.GroupName.Substring(0, 38) + "...";
                }
                <div class="col-md-3 col-sm-6 col-xs-12 mrg_t-40">
                    <div class="user_box text-center">
                        <div class="user_img profile_pic" style="cursor:default">
                            <img src="~/Content/images/group.jpg" alt="..." class="img-circle img-responsive">
                        </div>
                        <div class="user_name" style="cursor:default">
                            <h3 title="@_group.GroupName">@_groupName</h3>
                        </div>
                        <div class="user_btn user_btn-multi t_group">
                            @*<a href="javascript:void(0);" onclick="openAddToGroupView('@_student.UserID')"><i class="material-icons">add</i></a>*@
                            <a href="javascript:void(0);" onclick="removeGroupFromSubject('@_group.GroupID', '@_group.GroupName')" title="Remove Group"><i class="material-icons">delete</i></a>
                        </div>
                    </div>
                </div>
            }
        }
        @if (Model != null && Model._subjectStudents != null && Model._subjectGroups != null && Model._subjectGroups.Count() == 0 && Model._subjectStudents.Count() == 0)
        {
            <div class="col-xs-12 mrg_t-40">
                <h3 style="width:100%;text-align:center">No members or groups found.</h3>
            </div>
        }
    </div>
</div>
