﻿@model Reelae.Areas.Teacher.Models.SubjectMemberViewModel
@{
    var _students = Model._subjectStudents.ToList();
    var _groups = Model._subjectGroups.ToList();
}
<script type="text/javascript">
    var arrayStudents = @Html.Raw(Json.Encode(_students.Select(r => new { value =  r.Name, data = r.Email }).ToList().Concat(_groups.Select(g=>new { value=g.GroupName, data= "G_"+ g.GroupID.ToString() }).ToList())))
</script>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12 mrg_t_10 pad_lr-0">
        <div class="teacher_subject_wrapper pd_b-0">
            <div class="row x_title mrb_b-0"> 
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <h3><a id="SubjectName" href="#" onclick="getAddSubjectView(@ViewBag.SubjectId)"></a></h3>
                    <input type="hidden" value="@ViewBag.SubjectId" id="SubjectId" />
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 text-center lh_30 txt_l-blue xs-left">
                    <i class="fa fa-user-o" aria-hidden="true"></i> <span id="memberCount">@Model._subjectStudents.Count()</span> Members @Model._subjectGroups.Count() Groups
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 text-right xs-left teacher_subject-search">
                    <div class="search_top">
                        <a onclick="getsearchStudent()" style="cursor:pointer;"><i class="material-icons">search</i></a>
                        <input type="text" name="" placeholder="Search members..." id="autocomplete">
                    </div>
                    @*<span class="add_btn pluse_icon pull-right" id="addStudent"><a href="#!" onclick="getAddStudentView()"></a></span>*@
                   
                    @Html.Hidden("SubjectId")
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 text-right xs-left">
                    <div class="mad-select pull-right">
                        <ul id="ddlAdd">
                            <li data-value="1 sel" class="selected">Please Select</li>
                            <li data-value="Student" onclick="getAddStudentView()">+ Add Student</li>
                            <li data-value="Teacher" onclick="getAddGroupView(@ViewBag.SubjectId)">+ Add Group</li>
                        </ul>
                        <input type="hidden" name="myOptions" value="1 sel" id="ddlOption">
                    </div>
                    </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="pad_lr-30" id="studentList" data-simplebar="init" style="height: 320px;max-width: 100%;">
        @Html.Partial("_StudentList", Model)
    </div>
    <div class="clearfix"></div>
</div>
