﻿@model Reelae.Areas.Teacher.Models.GroupsMemeberViewModel

@{
    ViewBag.Title = "Group Members";
    Layout = "~/Areas/Teacher/Views/Shared/_TeachersLayout.cshtml";
    var _assignedSubjects = Model.Subjects.ToList();

    var _assignedLatestSubjects = Model.LatestSubjects.ToList();//get latest subject list
    var _assignedArchivedSubjects = Model.ArchiveSubjects.ToList();//get latest archive list

    var _assignedGroups = Model.Groups.ToList();
    string curSubject = "";
    string curGroup = "";
    string curItem = "";
    if (_assignedLatestSubjects.Count() > 0)
    {
        curSubject = Url.RequestContext.RouteData.Values["id"] != null ? Url.RequestContext.RouteData.Values["id"].ToString() : _assignedLatestSubjects.First().SubjectID.ToString();
    }
    if (Request.QueryString["cur_item"] != null && Request.QueryString["id"] != null)
    {
        curItem = Request.QueryString["cur_item"].ToString();
       curGroup  = Request.QueryString["id"].ToString();
    }
    var _user = Model._userinfo;

}
@section head{
    <!--Styles-->
    <style>
        #studentList .user_name {
            word-wrap: break-word;
        }

        [data-simplebar] {
            position: relative;
            z-index: 0;
            overflow: auto;
            -webkit-overflow-scrolling: touch;
        }

        [data-simplebar=init] {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            overflow: hidden;
        }

        .simplebar-scroll-content {
            overflow-x: hidden;
            overflow-y: auto;
            max-width: 100%;
            width: 100%;
            box-sizing: content-box;
        }

        .simplebar-content {
            overflow-x: hidden;
            overflow-y: hidden;
            box-sizing: content-box;
        }

        .simplebar-track {
            z-index: 1;
            position: absolute;
            right: 0;
            bottom: 0;
            width: 11px;
        }

        .simplebar-scrollbar {
            position: absolute;
            right: 2px;
            border-radius: 7px;
            min-height: 10px;
            width: 7px;
            opacity: 0;
            -webkit-transition: opacity .2s linear;
            transition: opacity .2s linear;
            background: #000;
            background-clip: padding-box;
        }

        .simplebar-track:hover .simplebar-scrollbar {
            opacity: .5;
            -webkit-transition: opacity 0 linear;
            transition: opacity 0 linear;
        }

        .simplebar-track .simplebar-scrollbar.visible {
            opacity: .5;
        }

        .simplebar-track.horizontal {
            left: 0;
            width: auto;
            height: 11px;
        }

        .simplebar-track.vertical {
            top: 0;
        }

        .horizontal.simplebar-track .simplebar-scrollbar {
            right: auto;
            top: 2px;
            height: 7px;
            min-height: 0;
            min-width: 10px;
            width: auto;
        }

        #GroupName:hover {
            color: #14c673;
        }

        #SubjectName:hover {
            color: #14c673;
        }
    </style>
    <!--Scripts-->
    <script src="@Url.Content("~/content/teacher/js/Subjects.js")"></script>
    <script src="@Url.Content("~/content/teacher/js/teacherGroupMembers.js")"></script>
    <script type="text/javascript">
        var archiveButtonClick = "No";
        $(document).ready(function () {
            var _cursubject = '@HttpUtility.JavaScriptStringEncode(curSubject)';
            var _curItem = '@HttpUtility.JavaScriptStringEncode(curItem)';
            var _curGroup = '@HttpUtility.JavaScriptStringEncode(curGroup)';
            if (_curItem != "" && _curGroup != "") {
                var _li = "lig_" + _curGroup;
                try {
                    $("#" + _li).find("a")[0].click();
                } catch (e) {

                }
            }
            else if (_cursubject != "") {
                    var _li = "li_" + _cursubject;
                    try {
                        $("#" + _li).find("a")[0].click();
                    } catch (e) {

                    }
                }
            
            else {
                $("#ulSubjects li:first").find("a")[0].click();
            }
            setContainersHeight();
            $(document).on('keypress', '#autocomplete', function (e) {
                if (e.keyCode == 13) {
                    e.preventDefault();
                    // detect the enter key
                    getsearchStudent();
                }
            });
            $('#archiveList>ul>li').click(function () {
                archiveButtonClick = "Yes";
            });
            $('#latestList>ul>li').click(function () {
                archiveButtonClick = "No";
            });
            $(document).on('click', '#latestList>a,#archiveList>a', function (event) {
                var curEle = $(event.currentTarget).parent();
                if (curEle.attr('id') == "latestList" || curEle.attr('id') == "archiveList") {
                    if (curEle.hasClass('active') && !curEle.find('>ul>li:first').hasClass('active')) {
                        curEle.find('>ul>li:first>a').trigger('click');
                    }
                }
            });
        })
    </script>
}
@section InstitueName{
    @Html.Partial("~/Areas/Admin/Views/Shared/_InstituteSetupHeader.cshtml", _user)
}
@section UserProfile{
    <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
        @if (Model._userinfo.UserPicUrl != null && Model._userinfo.UserPicUrl != "")
        {
            <img src="@Url.Content(Model._userinfo.UserPicUrl)" alt="" />
        }
        Hello, @Reelae.Utilities.CommonUtility.ToTitleCase(Session["Name"].ToString().ToLower()) <span class="fa fa-angle-down"></span>
    </a>

}
<!-- page content -->
<div class="right_col pd_l-0 height_vh" role="main">

    <i class="fa fa-chevron-left  s_col hide_cl" aria-hidden="true" style="cursor:pointer"></i>
    <i class="fa fa-chevron-right s_col show_cl" aria-hidden="true" style="cursor:pointer"></i>
    <div class="col-md-3 left_col wdt_25 brd-lr-gry dis_pan" id="pan_show">

        <div class="left_col scroll-view">
            <div class="clearfix"></div>
            <!-- menu profile quick info -->
            <div class="profile profile2 clearfix">
                &nbsp;
            </div>
            <!-- /menu profile quick info -->
            <br />
            <div class="main_menu_side hidden-print main_menu main_menu2">
                <div class="menu_section scrollPart">
                    <div class="subject_top-heading clearfix">
                        <a href="javascript:void(0)" style="cursor: default;"> <h3>Group Members</h3></a>
                    </div>
                    <h3>
                        Subject
                        <span class="add_btn pull-right"><a href="#!" onclick="getAddSubjectView(0)"></a></span>
                    </h3>
                    <div data-simplebar="init" style="height: 320px;max-width: 100%;margin-top:10px;">
                        <div class="simplebar-track vertical" style="visibility: visible;"><div class="simplebar-scrollbar" style="top: 2px; height: 68px;"></div></div>
                        <div class="simplebar-track horizontal" style="visibility: hidden;"><div class="simplebar-scrollbar"></div></div>
                        <div class="simplebar-scroll-content" style="margin-right: -20px;padding-right: 20px">
                            <div class="simplebar-content simplebar-content-100">
                                <div id="sidebar-menu" class="main_menu_side hidden-print main_menu main_menu2">
                                    <div class="menu_section">
                                        <ul class="nav side-menu mg_t_0">
                                            <li class="active" id="latestList">
                                                <a id="latest"><i class="fa fa-folder-o" aria-hidden="true"></i> Latest </a>
                                                <ul class="nav child_menu inner_nav" id="ulSubjects" style="display:block;">

                                                    @if (_assignedLatestSubjects.Count > 0)
                                                    {
                                                        foreach (var item in _assignedLatestSubjects)
                                                        {
                                                            string _subjectName = item.SubjectName;
                                                            if (item.SubjectName.Trim().Length > 25)
                                                            {
                                                                _subjectName = item.SubjectName.Substring(0, 23) + "...";
                                                            }
                                                            else
                                                            {
                                                                _subjectName = item.SubjectName;
                                                            }
                                                            <li id="li_@item.SubjectID">
                                                                <a onclick="getSubjectStudents('@item.SubjectID','@item.SubjectName',this,'l',event);" title="@item.SubjectName">
                                                                    <i class="fa fa-folder-o" aria-hidden="true">
                                                                    </i> @_subjectName
                                                                    <i class="material-icons delete_icn" onclick="deleteSubjectConfirmation(@item.SubjectID,'@item.SubjectName')" title="Remove subject">delete</i>
                                                                    <span class="badge bg_light pull-right"> @item.TotalMemberCount</span>
                                                                </a>

                                                            </li>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        <li><a> No subjects Yet  </a></li>
                                                    }
                                                </ul>
                                            </li>
                                            <li id="archiveList">
                                                <a id="archive"><i class="fa fa-folder-o" aria-hidden="true"></i> Archive</a>
                                                <ul class="nav child_menu inner_nav" id="ulSubjects">
                                                    @if (_assignedArchivedSubjects.Count > 0)
                                                    {
                                                        foreach (var item in _assignedArchivedSubjects)
                                                        {
                                                            string _subjectName = item.SubjectName;
                                                            if (item.SubjectName.Trim().Length > 34)
                                                            {
                                                                _subjectName = item.SubjectName.Substring(0, 30) + "...";
                                                            }
                                                            else
                                                            {
                                                                _subjectName = item.SubjectName;
                                                            }
                                                            if (curSubject == item.SubjectID.ToString())
                                                            {
                                                                <li class="selected" id="li_@item.SubjectID">
                                                                    <a onclick="getSubjectStudents('@item.SubjectID','@item.SubjectName',this,'a',event);" title="@item.SubjectName">
                                                                        <i class="fa fa-folder-o" aria-hidden="true">
                                                                        </i> @_subjectName
                                                                        <span class="badge bg_light pull-right"> @item.TotalMemberCount</span>
                                                                    </a>
                                                                </li>
                                                            }
                                                            else
                                                            {
                                                                <li id="li_@item.SubjectID">
                                                                    <a onclick="getSubjectStudents('@item.SubjectID','@item.SubjectName',this,'a',event);" title="@item.SubjectName">
                                                                        <i class="fa fa-folder-o" aria-hidden="true"></i>@_subjectName
                                                                        <span class="badge bg_light pull-right"> @item.TotalMemberCount</span>
                                                                    </a>
                                                                </li>
                                                            }
                                                        }
                                                    }
                                                    else
                                                    {
                                                        <li><a> No subjects Yet  </a></li>
                                                    }
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="menu_section scrollPart">
                    <h3>Your Groups <span class="add_btn pull-right"><a href="javascript:void(0)" onclick="openGroupModal()"></a></span></h3>
                    <div data-simplebar="init" style="height: 320px;max-width: 100%;margin-top:10px;">
                        <div class="simplebar-track vertical" style="visibility: visible;"><div class="simplebar-scrollbar" style="top: 2px; height: 68px;"></div></div>
                        <div class="simplebar-track horizontal" style="visibility: hidden;"><div class="simplebar-scrollbar"></div></div>
                        <div class="simplebar-scroll-content" style="margin-right: -20px;padding-right: 20px">
                            <div class="simplebar-content simplebar-content-100">
                                <ul class="nav side-menu nav_side2" id="ulGroups">
                                    @if (_assignedGroups != null)
                                    {
                                        if (_assignedGroups.Count() > 0)
                                        {
                                            foreach (var item in _assignedGroups)
                                            {
                                                string _groupName = item.GroupName;
                                                if (item.GroupName.Trim().Length > 34)
                                                {
                                                    _groupName = item.GroupName.Substring(0, 30) + "...";
                                                }
                                                <li title="@item.GroupName" style="cursor:pointer" onclick="getGroupStudents('@item.GroupID','@item.GroupName',this);" id="lig_@item.GroupID">
                                                    <a>
                                                        <i class="fa fa-folder-o" aria-hidden="true"></i> @_groupName
                                                        <i class="material-icons delete_icn" onclick="deleteGroupConfirmation(@item.GroupID,'@item.GroupName')" title="Remove group">delete</i>
                                                        <span class="badge bg_light pull-right"> @item.TotalMemberCount</span>
                                                    </a>
                                                </li>
                                            }
                                        }
                                        else
                                        {
                                            <li class="noData"><a> No Groups Yet </a></li>

                                        }
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-9 pull-right" id="pan_hide">
    </div>
    <div class="clearfix"></div>
</div>

<!-- /page content -->
