﻿@using Reelae.Areas.Teacher.Models
@model IEnumerable<AssignmentMemberViewModal>

@if (Model != null && Model.Count() > 0)
{
    int _index = 0;
    foreach (var member in Model)
    {
        <tr>
            <td class="text-center" style="width: 50px;">
                <div class="radio dis_in">
                    <label>
                        <input type="radio" class="flat" name="iCheckMember" value="@member.MemberId">
                    </label>
                </div>
            </td>
            <td>
                <ul class="list-unstyled top_profiles scroll-view">
                    <li class="media event">
                        <a href="javascript:;" class="user-profile pull-left"> <img src="@(string.IsNullOrEmpty(Url.Content(member.MemberPicUrl))?Url.Content("~/content/images/student.jpg"):Url.Content(member.MemberPicUrl))" alt=""> </a>
                        <div class="media-body">
                            <a class="title" href="#!" data-toggle="modal" data-target="#myModal11" style="padding-top: 12px; display: inline-block;">@member.MemberName</a>
                        </div>
                    </li>
                </ul>
            </td>
        </tr>
    }
}
else
{
    <tr class="noData">
        <td colspan="2" class="text-center" style="width: 50px;">
            <div class="radio dis_in">
                <label>
                    No Members Found.
                </label>
            </div>
        </td>
    </tr>
}

