﻿@model IEnumerable<ReelaeDataAccessLayer.re_TeacherAssignmentList_sp_Result>
@{
//var teacherAssignmentList = Model.ToList();
//var CurrentDate = System.DateTime.Now;
}

<style>
    .dataTables_wrapper, .dataTables_wrapper, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate {
        display: block;
    }

    .dataTables_length {
        display: block;
    }
    .width_130{
        width:130px;
    }
    #assignmentGrids_filter
    {
         display: none;
    }
</style>


<script type="text/javascript">
    @*arrayCreateAssignments = @Html.Raw(Json.Encode(teacherAssignmentList.Select(r => new { value =  r.AssignmentName }).ToList()))*@
    arrayCreateAssignments = null;
</script>

@*<input type="hidden" id="gridRowCount" value="@teacherAssignmentList.Count" />*@
<input type="hidden" id="groupId" value="" />
@*<div class="pad_lr-30 assignment-grid_tbl">
        <div class="x_panel">
            <div class="x_content">
                <div class="table-responsive">
                    <table class="table" id="assignmentGrid">
                        <thead>
                            <tr>
                                <th>Assignment</th>
                                <th>Open Date</th>
                                <th>Due Date</th>
                                <th>Leader</th>
                                <th>Group</th>
                                <th>Status</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>

                    </table>
                </div>
            </div>
        </div>
    </div>*@



<div class="pad_lr-30 assignment-grid_tbl">
    <div class="x_panel">
        <div class="x_content">
            <div class="table-responsive">
                <table class="table" id="assignmentGrids">
                    <thead>
                        <tr>
                            <th>Assignment</th>
                            <th>Open Date</th>
                            <th>Due Date</th>
                            <th>Leader</th>
                            <th>Group</th>
                            <th>Status</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>

                </table>
            </div>
        </div>
    </div>
</div>


<script>
    $(function(){     
        $('.close').click(function(){
            $('#removeConfirmationModalBox').hide();
        });
    });
</script>



